doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles/style.css")
    title= 'Über den Lexikon-Roman | Lexikon-Roman'
  body
    main
      article#ueber-den-lexikon-roman
        h2 Über den Lexikon-Roman
        p
          | Das 
          em Lexikon einer sentimentalen Reise zum Exporteurtreffen in Druden
          |  ist vom Standpunkt des Literaturwissenschaftlers nichts anderes als die Methode der »Mosaiktechnik« in Literatur übertragen. (Klappentext zur Erstausgabe 1970)
          br
          | Mittels »Hauptstrang und Umfeld« dieser »Sentimentalen Reise« möge sich die Welt des sentimentalen Exporteurs dem interessierten Leser öffnen: Das vorhandene Material »alphabetisch geordnet ... Wie in einem Lexikon«, der »Möglichkeitenroman«, das »Spiel, das nicht nach einmaligem Gebrauch ausgespielt ist«, so der Autor in seiner »Gebrauchsanweisung«, vollendet sich erst im Kopf des Lesers. Oder auch nicht, denn: »In vorgeschriebener Reihenfolge vorgeschriebene Blicke zu werfen, ist hingegen klassische Lektüre oder vortauwetterlicher Osttourismus.« ...
        p
          em Aleatorische Textverwertung
          br
          | nannte Andreas Okopenko das Prinzip seines Romans vor 20 Jahren.
          br
          em Die Vorwegnahme des Prinzips Hypertext –
          br
          | die (hier: Roman-)Welt in chunks (Bruchstücke) von Informationen zu zerlegen, 
          em links
          |  (Verbindungen) zwischen diesen Stücken zu schaffen und dem Anwender freizustellen, welche Informationen er wie miteinander verknüpfen will – nennen wir es heute.
        p
          | Was also liegt näher, als das Nachblättern dieses in Lexikonartikeln vorliegenden Assoziationsmaterials in heute technisch mögliche Voraussetzungen zu übertragen? Kein Blättern im Buch unterbricht mehr die einmal begonnene Assoziationskette, ein Klick mit der Maus auf den assoziierbaren Text , das Bild, (später auch: Film, Töne) läßt die Grenzen zwischen den verschiedenen Textstellen und Darstellungsformen, die der Computer bietet (und künftig sicher noch mehr unterstützt) verschwimmen: die multimediale Präsentation künstlerischen Ausdrucks zeigt und erzeugt hier zugleich Phantasien im Betrachter ohne ihn zu gängeln. (In künftigen Versionen wird es ihm auch möglich sein, die Geschichte durch seine Teilnahme zu erweitern, ja selbst andere Leser oder den Autor selbst zu einer Auskunft, einer Stellungnahme zu bewegen – und das elektronische Buch könnte selbständig eine Nachricht an andere Benützer absetzen, wenn die technischen Voraussetzungen dazu bestehen...)
        p
          | Der Leser braucht sich nicht zu fürchten, sich in Details seines Navigierens zu verlieren: Der Hauptstrang der Erzählung, dargestellt auf einer 
          strong Landkarte
          | , ermöglicht es ihm, den kürzesten Weg der vorgestellten Reise zu nehmen (der Erzählstrang führt von 
          strong &rarr; Hauptstichwort
          |  zu Hauptstichwort), sei es, um diesem zu folgen, sei es, um ihn wiederum an beliebiger Stelle zu verlassen (der Leser sucht sich ein 
          strong &rarr; Nebenstichwort
          |  (die mit Pfeilen gekennzeichneten Wörter sind Einstieg in den assoziierbaren Text) und verläßt so den »vorgegebenen« Weg).
        p
          | Der Computer übernimmt gleichzeitig die Funktion des Lesezeichens, indem er die besuchten Stationen, Rundreisen, »Abzweigungen« in der 
          strong Liste der besuchten Stichwörter
          |  der Reise »notiert«. Möchte der Leser an völlig anderer Stelle fortsetzen, trifft er seine Auswahl aus der alphabetisch geordneten (alle Lexikoneintragungen enthaltenden) 
          strong allgemeinen Stichwortliste
          |  oder scrollt sich wiederum anhand der Landkarte zu neuen Abenteuern.
        br
        p
          | Wolfgang, Alfgard und Franz
          br
          | © Libraries of the Mind 1990-1993