extends ../../templates/layout
block page-vars
  - const title = "A"
block main
  article#a
    h2.inline-title A.
    p
      | Sie sind es gewohnt, ein Buch — unter Umgehung des Vorwortes — von vorn nach hinten zu lesen. Sehr praktisch. Aber diesmal schlagen Sie, bitte, zur 
      a.small-caps(href="gebrauchsanweisung.html") Gebrauchsanweisung
      |  zurück, denn ohne die werden Sie das Buch nicht zum Roman machen. Ja: dieses Buch müssen erst Sie zum Roman machen. Im neuen Theater spielt das Publikum mit. Warum nicht im neuen Roman?