extends ../../templates/layout
block page-vars
  - const title = "Aberdeen"
block main
  article#aberdeen
    h2.inline-title Aberdeen.
    p
      | Jermilka, Jessica, Jentchen spielen öfters das Spiel
    p.poetry
      | Denkst du manchmal, Josephin',
      br
      | an die Katz von Aberdeen?
    p
      | Hierbei wird ihnen traurig zumute, weil Aberdeen so weit weg ist und eine grausame Katzenverwertungsindustrie hat; die abgehäuteten Kätzchen müssen ihre Anmut im Wolf lassen und werden zu 
      span.small-caps Abercat
      |  — 
      span.small-caps Das beste für ihre Mieze
      | .
