extends ../../templates/layout
block page-vars
  - const title = "Achselhöhle"
block main
  article#achselhoehle
    h2.inline-title Achselhöhle.
    p
      | Motivanalytisch ergiebiger Frauenbestandteil: nischig, drüsig, haarig, polstrig, noch dazu an Einmündungsstelle von Extremitäten in den Rumpf.
    p
      | Bezüglich Haarbewuchs: Schmucksignale — sagt Dr. Scheuer — und Duftzerstäuber. »Je nach der Farbe des Haares wechselt der Duft unbegrenzt, seine Skala erstreckt sich über die ganze Klaviatur des Geruchsinstrumentes bis hinauf zu den eindringlichen Krisen von Flieder und Holunder, und er erinnert manchmal an den süßlichen Geruch von Fingern, die eben eine Zigarette gehalten haben. Keck und manchmal erschlaffend bei der Brünetten und Schwarzen, scharf und stechend bei der Rothaarigen, ist die Achselhöhle bei der Blondine berauschend wie süßer Wein.« (Leipzig, 1933.)
    p
      | Umsonst banden sich die unternehmungslustigen Mädchen des Mittelalters nicht Pfefferkuchen in die Achsel, und die Jünglinge durften dann würzig frühstücken, was zu ungeheurer Treue führte.
    p
      | Umsonst sind die Achselhöhlen nicht die Heimstatt der phallischen, hypersensiblen (±1.10
      sup -2 
      | °K) Fieberthermometer, deren quickmetallenen Saft sie in ihrer Brutofenwärme hochschießen lassen.
    p
      | Es gibt auch männliche Achselhöhlen. In die wird zuzeiten die Blutgruppe eingeschnitten, damit der Körper nach Bajonett und Granate noch einmal zurechtgeflickt werden könne.
