extends ../../templates/layout
block page-vars
  - const title = "Affirmative Dichtung"
block main
  article#affirmative-dichtung
    h2.inline-title Affirmative Dichtung.
    p
      | 
      em Buuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuh!
      |  rief Peter Hamm aus einer Zuhörerschaft, der ich eine lange lyrische 
      em Liebeserklärung an die Welt
      |  vorlas. Denn, hatte er am Vortag ex cathedra verkündet, die Zeit für Lyrik ist aus; Poet, Get Your Gun!; schlag das Establishment in die Pfanne; wenn du einen Wasservogel schönfindest, leistest du Kiesinger & Nixon Vorschub; (Brecht noch hatte, milder, festgestellt, daß 
      em ein Gespräch über Bäume
      |  
      span.small-caps fast
      |  
      em ein Verbrechen ist, weil es ein Schweigen über so viele Untaten einschließt
      | , und hielt, daß er 
      em der Liebe achtlos pflegte und die Natur ohne Geduld sah
      | , noch für einen finsterzeitlichen 
      span.small-caps Mangel
      | .) Auch das hübschverpackte sozialkritische Gedicht, fand Hamm, wäre nutzlos geworden; sobald etwas auf den Regalen im Selbstbedienungsladen steht, ist es von der Repression toleriertes und darum klassenkämpferisch wertloses Konsumgut; schmachvoll für den Künstler, die Narrenfreiheit zu nützen; politisch eingreifen kann er heut nur mehr mit Transparent, Hungerstreik, Granate; übrigens hätte das Gedicht auch seine psychoanalytische Ventilfunktion eingebüßt, denn den Sex kann heut jeder von uns, frei und so viel er will, 
      em direkt 
      | verpuffen.
    p
      | Soweit das Buh, eines der vielen Marcuse-Geräusche unserer Tage. Daß die Herrschenden mit und ohne Künstler 
      em gleich 
      | sicher sitzen, daß sie die idyllische Sonntagslandschaft fördern, um dem Kanonenfutter ein attraktiveres Übungsgelände hinstellen zu können, daß Kultur, Freizeit, Seele, Liebe, Freundschaft als Ventil für die Sehnsüchte begrüßt werden, die sonst den imperialistischen Lok-Kessel sprengen könnten, ist leider wahr. Daß aber jeder Polier, der seinen Kumpeln ein Bier zahlt, ein Verräter am Klassenkampf ist, denn gut beraten müßte er sie blauprügeln, um darzustellen, wie unmenschlich das vorrevolutionäre Zeitalter ist; daß jede APO-Studentin, die ihrem APO-Studenten eine gute Gefährtin ist, liquidiert gehörte, weil sie mit dem Irrlicht einer privaten Gutartigkeit das Finster der öffentlichen Bösartigkeit verunkenntlicht; daß jeder, der Tiere nicht quält, Eltern nicht killt, Freunde nicht anzeigt, Fragende nicht anschreit, Lahme nicht umwirft, ein Unmensch ist, weil er den revolutionswichtigen Haß abdämpft; daß der Zahnarzt, solange die Welt nicht erneuert ist, Eiter einplombieren, der Schuster Stolperschuhe machen, der Lehrer Idioten heranziehen, der Brauer ins Bier brunzen müßte, daß keine kleinste Insel im Meer des Ekels, des Schadens, der Angst, der Gemeinheit übrigbleiben dürfte; daß eine komplette Hölle modelliert werden müßte, um uns wohlgenährte Sklaven endlich mit der Entschlossenheit hungernder Chinesen 
      em auf zum letzten Gefecht 
      | losrennen zu lassen; daß eine Welt gebaut werden müßte, vor deren Schrecknissen jeder Flammenwerfertod, jedes an den Ohren Aufgehängtwerden, jede lebenslange Gefangenschaft im Verhörkeller zum Zuckerl ersüßen würde:
      span.spaced  das mache ich nicht mit
      | ; dazu ist mir die seit Kindertagen vorgefundene Welt auch unter zweifelhaften Kapitänen zu lieb.
    p
      | Also: Trotz Vietnam; trotz Biafra; trotz Tschechoslowakei; trotz Griechenland. Irland, Spanien; trotz atomarer, bakteriologischer, chemischer und diplomatischer Ost-West-Hochrüstung, trotz Terror in der Ionosphäre und am Meeresgrund; trotz Niggerlynch, Mafia, Studentenschlachten; trotz Alt- und Neukolonialismus Ausbeutung, Hunger, Bevölkerungs- und Bildungsexplosion, Spionage, Manipulation, Korruption; trotz all dem, dessen Spiegelung in meinen Hörspielen Alptraum, Sadismus oder auch Vernichtungsschlacht gegen die Gleichgültigkeit genannt wird; trotz Buh und einem Arm, der langsam The Gun gegen meinen Revisionistennacken hebt:
    p
      | ... wieder eine Liebeserklärung an die Welt; ein ganz mit Frieden vollgestopfter kapitalistischer Chemiekaufmann J. fährt an einem 100% blauen Vorhundstagswerktag unter lauter Feiernden auf einem Schiff, auf dem nicht das geringste Schrecknis passiert guckend, essend und frauenbeseufzend zu einem besoffenen Gewinnspannentreffen in das idyllische Neutralenstädtchen Druden.
