extends ../../templates/layout
block page-vars
  - const title = "Allwissender Erzähler"
block main
  article#allwissender-erzaehler
    h2.inline-title Allwissender Erzähler.
    p
      | Menschen dürfen Nashörner werden, aus Köpfen dürfen Spiralfedern dringen, Rechts- und Links-Stereo dürfen in verschiedenen Zeitaltern stehen, aber: der allwissende Erzähler sei todeswürdig, denn er könne in der Natur nicht nachgewiesen werden. So hängt mich Illusionisten halt, ihr Illusionisten.
