extends ../../templates/layout
block page-vars
  - const title = "Annie"
block main
  article#annie
    h2.inline-title Annie.
    p
      | Sie steht an den Marterpfahl gebunden, ein perfekter Schurke aus dem Visagistensalon Barclay mit schurkenschnurrbart 22.3.A in Acapulcoschwarz (einem verdichteten Tiefdunkelblau) hat ihr gerade mit vorgeglühter Blechpeitsche ein männlich-grobes Mal über die weiblich-zarten Brüste geschmort und strafft nach der Anstrengung seine goldengegürtete Schurkenhose nach. Die Retter sind fern. Annie macht erschreckte Kulleraugen, denn das mit der Peitsche hat sie sehr erschreckt. Sie hat auch schön eingefallene Wangen, an der tiefsten Stelle ist etwas Acapulcoschwarz verteilt, denn sie leidet sehr unter dieser erschreckenden Todesstunde. Das Gesichtchen ist wie mit dem Flügelstaub von Kohlweißlingen eingemehlt, ganz zerbrechlich, nach rettenden Männermuskeln rufend, auf Ledernackenherz hoffend. Ihr Mund zuckt Angst vor der eigenen Körperlichkeit.
    p
      | Ja, auch ihr Rock ist malerisch zerrissen; war nur Messer, nur Brandpeitsche zu Besuch? oder gab es Unmoral??
