extends ../../templates/layout
block page-vars
  - const title = "Anwendung der Rot-Überlegungen auf ein Kleid"
block main
  article#anwendung-der-rot-ueberlegungen-auf-ein-kleid
    h2.inline-title Anwendung der Rot-Überlegungen auf ein Kleid.
    p
      | Das Kleid trägt gelb, grün, blaue Längsstreifen in verschiedenen Verteilungen; raffiniert löst die üppige Frau am Gasttisch das Problem des 
      a.arrow(href="fehlen-von-rot.html") Fehlens von Rot
      | , indem sie das Rot zart in ihren Wangen und massiv in ihrem Oralflitterwochenmund anreichert, so alle Aufmerksamkeit dorthin ziehend: Farberfüllung gibt es dort und nur dort, und schon folgt den Stielaugen der ganze Schneck und schon saugt der Rottrichter ihn ein.
