extends ../../templates/layout
block page-vars
  - const title = "Arcimboldi"
block main
  article#arcimboldi
    h2.inline-title Arcimboldi
    p
      | ist der Oberschutzpatron von J.s Exporteurreise, da sie aus diffusen Einzelinformationen zusammengeklittert ist wie Arcimboldis Visagen aus unorganisiertem Gemüse? Nein, ich widersage dem Manierismus und seiner modischen Macht; apage! Meine Gesichter sind nicht aus Zwiebel und Kohl montiert, sondern aus Weichteilen, Knochen, Muskeln, Adern, Bindegewebe, Nerven, Haut, Parfumerien etc. Daß diese Strukturen unter Mikroskop, Skalpell, Röntgenlicht fremd und gewimmlig aussehen, daß ihre Wiedergabe in Trickphotos, Spektren und Diagrammen an Manier gemahnt, ist verständlich.
    p
      | Vom Manierismus unterscheidet mich hier wie überall, daß es mir um die Sache geht und nicht um den Radius meiner Pfauenräder; daß ich jeweils den einfachsten Weg einer Darstellung wähle (wenn er nicht die treffliche Kürze eines Abschneiders hat, liegts an der Kompliziertheit der Welt); ein Formelbildner kann nie Manierist sein — auch wenn die Formeln zweihundert Terms haben; die einzigen Allotria, die ich treibe — meine Mini-Essays —, treibe ich aus dem Recht auf Notwehr, wie es jedem zugestanden wird, der, siehe oben, keinen Oberschutzpatron hat.
