extends ../../templates/layout
block page-vars
  - const title = "Arnica"
block main
  article#arnica
    h2.inline-title Arnica.
    p
      | Heißt du Arnica?, fragte der Chemiekaufmann J. die Gelbsüchtige auf Seite 98. Die Frage kam ihm einen Augenblick lang logisch vor. Arnicas leichtzerbrechliches Gesichtchen, ganz matt gestäubt, sah zartumränderten Blicks aus einer filigranen Fülle champagnefarbenen durchsichtigen Haars hervor. Das grellblaue Kleid färbte den ziegelroten feinen Mund (die Unterlippe war etwas-küßbarer-geschminkt). In den gelben Puder kam raffinierterweise nicht nur Orange, sondern auch etwas Grünlich, wie die Verfärbung der Hühnerleber nahe der Galle. J. gefiel der Gedanke, den Überschuß gelben Puders von Arnica behutsam abzuschütteln; der Rest haftete und war schon eine Schicht Körper wie der Flügelstaub bei Schmetterlingen; in dieser Schicht war Arnicas Gesicht mit dem Mentholgesicht des Liebhabers mischbar.
