extends ../../templates/layout
block page-vars
  - const title = "Auen im allgemeinen"
block main
  article#auen-im-allgemeinen
    h2.inline-title Auen im allgemeinen.
    p
      | Wenn einmal (zB um 7.58) die Auen, die traurigen Auen, die auch an einem Vorhundstag traurigen, sogar mit ein paar blauen Kerzenblumen verziert traurigen Auen, die wieder nur in Auen, manchmal baumige, manchmal strauchige, krautige und dann wieder baumige Auen fortlaufen, die Donau lang fortlaufen, neuen grüngrauen Auen, Donauauen, traurigen, entgegen stromauf-laufen, wenn einmal diese Auen, manche mit braun-verschlammten Auufersteinen, manche mit befaulpelzten Ausandufern, auftauchen, die traurigen farbarmen grünen Grauufer, mit Auweiden und Aukraut, viel Graukraut, Grausand und dann und wann Grausamkeiten (der Lokalaugenscheine nach letztem vergeblichem Dauerlauf durch die Au der Raubauflauerer und nach letztem verspätetem Aufklauben durch die Auaufpasser, die Auzillenpolizei, und die Cilli zuhaus heult sich die Augen aus, warum mußte der Kauz in den Augau? wie auf den Augapfel wollte die blaugraue Frau auf ihn aufpassen, und jetzt fault sein Baumwollbauch in der Jauche), wenn die Auen einmal auftauchen, dann laufen sie und laufen, kaum eine Schnaufpause brauchend, neben Strom und Schiff stromauf und hören nichtmehr auf.
    p
      | Sie versauern dem Kaufmann die Schau aus der Donau, das Eintauchen in die 
      em Welt der ungebrochenen Erscheinungen
      | , scheinen ihm oft traurig, grauslig, dann einmal flau, dann wieder mau und vor allem zeitraubend, so daß er sich, wie wir sehen werden, der Verkaufsschlauheit, Beschaulichem oder den Frauen zuwenden wird.
    p
      | Auen sind ungenau wie Nebelgebrau, trotz da und dort präzisen Wiesen und scharfumrissenen Mädchen und Fraun und dann und wann einem sich bräunenden Faun.
    p
      | 
      a.arrow.main-route(href="nach-dem-auftauchen-der-auen.html") Nach dem Auftauchen der Auen
      | .
