extends ../../templates/layout
block page-vars
  - const title = "Auen"
block main
  article#auen-1
    h2.inline-title Auen 1.
    p
      | Schlammschlamm. Matsch. Paatz. 
      a.arrow(href="gaatsch.html") Gaatsch
      | . Ein nackter Fuß tritt auf den oliv Gaatsch, drückt ihn ein, noch tiefer ein, noch sind Fuß und Gaatsch zwei, aber jetzt reißt die Haut des Gaatsches ein, und der flüssigere Gaatsch erströmt sich über den reingewesenen Fuß. Zehen, Rist, Knöchel, alles steckt jetzt im Gaatsch, tief im Gaatsch, und nicht anders als schwer begaatscht kommt es wieder aus dem Gaatsch heraus. Dieses weiche Kneten des Fußes im Gaatsch, dieser Widerstand beim Heraussteigen aus dem Gaatsch, dieses volle Eingeschmiertsein mit Gaatsch, so windelinfantil, so geborgen, so diluvial. (Höhlenlehm, Parnpas-Ton, Löß, Torfmoor; Mammut gaatschtretend, Frosch gaatschspritzend, Aff gaatschschmeissend.) Ein Fuß gaatscht den anderen. Zwei begaatschte Männerfüße begaatschen zwei noch weiße Frauenfüße; die Frau lacht und zieht den Mann mit sich in beintiefen Gaatsch.
  article#auen-2
    h2.inline-title Auen 2.
    p
      | Einer frisiert sich mit Donauwasser, hat dann Viecher im Haar.
  article#auen-3
    h2.inline-title Auen 3.
    p
      | Der zwölfjährige Caro Coenluir streift durch die Au, scheut nicht Irrpfade, Schmerzenkessel, Abfallkloaken. Er lernt Gegenstände, Eigenhaut, Liebe. Er findet genug, um sich wundzubrennen, zu stolpern, zu röten, zu fremdkörpern, um zu wutzeln, zu schlürfen, zu grausen, Nasses, Käsähnliches, Entflammbares, um sich von oben bis unten zu mustern, um zu stinken, zu kneten, zu kosten, zu zerlegen, ungeschickt zu sein, zu rennen, zu verheddern, hineinzutreten, sich in Männer zu fühlen, Mädchengeruch kennenzulernen, Insekten drin aufzubewahren, faschings damit zu schrecken, zu tauschen, abzuliefern, zu basteln, geohrfeigt zu werden, reich zu werden, blaß zu werden, geschwollene Lippen zu kriegen sich anzustecken, Lehrer zu werden, Durchfall zu kriegen, mutlos werdend sich mutig zu fühlen.
  article#auen-4
    h2.inline-title Auen 4.
    p
      | Am Geröllweg klebend ein zum Arschputzen verwendeter Brief; dem Aufheber augenfällig: »Mein Sohn, der Haudegen« und »Mein Aufzug ist immer bereit«.
  article#auen-5
    h2.inline-title Auen 5.
    p
      | 
      a.arrow(href="verwahrloste-fischerin.html") Verwahrloste Fischerin
      | .
  article#auen-6
    h2.inline-title Auen 6.
    p
      | 
      a.arrow(href="wildenten.html") Wildenten
      | .
  article#auen-7
    h2.inline-title Auen 7.
    p
      | 
      a.arrow(href="fischer.html") Fischer
      | .
  article#auen-8
    h2.inline-title Auen 8.
    p
      | 
      em Das Liebeslager.
      | 
    p
      | Daß einmal rausgetane Watte nicht wieder reingetan wird, Erdnußpastillenpapier nicht bei der Erdnußfabrik wieder abgegeben, Holzstäbchenkohle nicht für den Grill daheim mitgenommen wird, kleinfingerlange Stechohrenschlüpfer, die in Hemd und Bluse kaputtgingen, nicht bestattet werden, die leere Schminktube wie das zusammengelegene Gras voll Kettenrauchstummeln zur Erinnerung an den verschiedenen Glückstag hinterbleiben sollen, ist leidlich verständlich.
    p
      | Warum aber liegen Strümpfe und Unterwäsche herum? Was hat sich da abgespielt? Warum gabs kein Anziehn danach? Kugelige Gebüsche, Sträucher mit unscharfen Grenzen, verzweigte Wege, was habt ihr gesehen? Wie hielten sie sich untergefaßt? War seine Stimme voll anderer Lüste als ihre? Ihre Dreckhaufen lagen noch einträchtig nebeneinander: hell und dunkel. Aber dann? Wie denkt man darüber im blau-gelben Plastikzelt 
      span.small-caps Polizei
      | ?
  article#auen-9
    h2.inline-title Auen 9.
    p
      | Eine dicke Matrone gewöhnt sich ans Wasser, wie an einen neuerworbenen Pensionisten: sie steht zunächst wadennaß reitet es viele Male mit ihren Schinken, eh sie es beschwimmt.
  article#auen-10
    h2.inline-title Auen 10.
    p
      | Ein käppchenbedeckter Schmetterlingfänger. Sein Weiß, sein Stangennetz, sein Schmetterlingtäschchen, wie lustig er rennend die Büsche trennt, wie rüstig er 75 ist.
    p.poetry
      | Ja, wer ein Spannbrett zuhause hat,
      br
      | halali,
      br
      | der wird das Leben noch lange nicht satt,
      br
      | halalo.
  article#auen-11
    h2.inline-title Auen 11.
    p
      | In der Gestrüpplichtung zwei abgestellte Autos: ein braunstein-rotes, ein rotkraut-blaues. Die Uferböschung herabhängend, ein großes gelb-grünes Tuch, 
      a.arrow(href="maennlich.html") männlich
      |  frottierend, darauf zwei Sitzmänner. Auf einem gelb-roten Tuch basteln die zwei zugeordneten Frauen ein 
      a.arrow(href="picknick.html") Picknick
      | . Sie haben die Kleider ins Auto getan und zeigen ihre mehr wirtschaftlichen als erotischen Frauenkörper. Die Männer haben Hemden und Hosen ins Auto getan und zeigen ihre mehr urlauberischen als erotischen Männerkörper. Die zwei zugeordneten Kinder sind nackt und spielen zum Schiff herüber Männeken piss. Die Farb-Summe der Bikinis und männlichen Schwimmhosen ist: 3 Blau, 4 Weiß, 2 Rot, 1 Braun, I Gelb. Die Summe des Fleisches ist (vgl. Benn, D-Zug): 1 Frauenbraun, 1 Männerrosa, 1 Frauenorange, 1 Männerbraun, 2 Kinderkhaki. Die Picknicker winken den Schiffahrern Viel Vergnügen und riefen nach Sardinen und harten Eiern. In Thermosflaschen halten sie kalten Kaffee, in Einsiedegläsern warmen Kartoffelsalat. Pfiffig entkamen sie an diesem Werktag den Büros. Es ist hier in der flimmrigen Au fast so schön wie in Caorle.
  article#auen-12
    h2.inline-title Auen 12.
    p
      | Am Geröllweg: eine in Draht gefesselte, dann über dem Lagerfeuer verkohlte Schlange.
  article#auen-13
    h2.inline-title Auen 13.
    p
      | 200 kg Superman tauchten. Das Wasser schrie vor Verdrängung.
  article#auen-14
    h2.inline-title Auen 14.
    p
      | 
      em Uferbesteinung: 
      | Viel Geröll. Quader mit gelben, blauen, violetten Adern. Ins senkrechte Ufer gutgeschnittener Lehmgang. Gelbliche Platten aufgeschüttet zum Böschen. Flachsandstrand. Sehr nah: kohlschwarz bemoostes Steinufer, mehrere Lagen Au dahinter. Rundsteine, unterwaschen von Wasser und Schlammlake, manche bedeckt mit dickem braunem 
      a.arrow(href="gaatsch.html") Gaatsch
      | . Ufer-Stein: aus Pflanzen, überkalkt, überschlämmt.
  article#auen-15
    h2.inline-title Auen 15.
    p
      | Ein Vagabunden-Denkmal in der Au: ein Strauch, ein Baum. (: Erst strauchelt man, dann baumelt man.)
  article#auen-16
    h2.inline-title Auen 16.
    p
      | Ein Dicker in weißem Ruderleibchen lackt eine weißrote Uferleuchte, winkt echauffiert.
  article#auen-17
    h2.inline-title Auen 17.
    p
      | Eine rosalockige Bikini-Susi, die grüne Badetuch- Anakonda um den Hals.
  article#auen-18
    h2.inline-title Auen 18.
    p
      | 
      em Die Auläuferin. 
      | Was war ihr geblieben? Kugelige Gebüsche, einzelne richtige Bäume, Sträucher mit unscharfen oberen Grenzlinien, verzweigte Wege in Auen und Auesauen hinein, angekohlt Holzstäbchen (jene geschälten, die, als wärs ein Sägewerk, überall herumlagen); Stahltrossen waren ihr geblieben, ein geschrumpfter entrindeter Baumstumpf, ein Lehmgang in den Uferstein, eintauchende schräge Bäume, Treibholz, tauchende Gebüsche, eingetauchtes Unkraut; ein verrottetes Holzbrücklein war ihr geblieben, ein Brennesselkessel im freundlicheren Land hinter der Aukulisse, ein zerlegener Grasplatz mit Lippenrot-Zigaretten einer kleinen Transistorlöterin und der Riesen-Kot-Zigarre eines Superman. Verirrungsmöglichkeiten waren ihr geblieben, das wars.
    p
      | Sie war 45, aber der angelesene Was-war-ihr-gebliebenGedanke saß wie eine Milbe in ihr und verdarb sie. Auf dem verrotteten Holzbrücklein stand sie auch ein wenig und wippte, flüchtig auf Kitzel und Schmerz des Einsturzes hoffend.
  article#auen-19
    h2.inline-title Auen 19.
    p
      | Laß dich nicht täuschen, enttäuschen, Chemiekaufmann, hinter der hier endlosen traurigen Au, nur einige Kilometer landeinwärts, tröstet ein Städtchen, in dem die 
      em lebensfördernde Wärme 
      | gelbgestrichener Häuser inmitten vielen Grüns optimale 
      a.arrow(href="entwicklungen.html") Entwicklungen
      |  junger Mädchen ermöglicht und die Erinnerung an den unglücklichen kleinen Emil Ettlow 
      a.arrow(href="huehner.html") Hühnern
      |  und 
      a.arrow(href="katze.html") Katzen
      |  schwerverflüchtbar anhaftet. Jermilka, Jessica und Jentchen haben sich seines 
      a.arrow(href="eichhoernchen.html") Eichhörnchens
      |  angenommen. Doch schon stichts, wenn ich jenes Städtchen aufbaue, wie eine 500-Tonnen-Stornoanzeige in mein Exporteurgehirn, bohrt tief ins Vegetative, ich lasse das Städtchen fallen wie ein Stück Glut und kehre in die wenigstens niemandige, von allem Leid freigestorbene
    .offset-right
      | Au
    p
      | zurück.
