extends ../../templates/layout
block page-vars
  - const title = "Auflockerung im allgemeinen"
block main
  article#auflockerung-im-allgemeinen
    h2.inline-title Auflockerung im allgemeinen.
    p
      | Um 11.10 zeigt das Logbuch eine Auflockerung der Aulandschaft durch Weinhänge, Felder, Festlandbäume, die jeweils durchschimmern und mittels der gelbgrün färbenden Sonne einen raffinierten Hintergrund abgeben. Klar, daß auch Hügel nicht fehlen. So treibt man in die 
      a.arrow.main-route(href="mittagserwartung.html") Mittagserwartung
      | .
