extends ../../templates/layout
block page-vars
  - const title = "Außenvögel"
block main
  article#aussenvoegel
    h2.inline-title Außenvögel
    p
      | (aus einer Illustrierten):
    p
      | 
      span.small-caps Speisekarte für Vogerln
      | 
    p
      | Ein Vogelhäuschen allein macht hungrige Vögel noch nicht glücklich. Es muß auch etwas Nahrhaftes hineinkommen. Beachten Sie folgende Speisekarte:
    ul
      li Blau- u. Kohlmeisen: Hanfkörner, Sonnenblumen, Meisenring, Futterglocken.
      li Rotkehlchen: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken, zerkleinerte Äpfel.
      li Sperlinge: Meisenring, Futterglocke, Hirse, Sämereien, ölg. Haferflocken.
      li Amseln: Getrocknete Beeren, Talg, Flomen, ölgetränkte Haferflocken.
      li Buchfink: Sonnenblumen, Hanfkörner, Hirse u. Sämereien.
