extends ../../templates/layout
block page-vars
  - const title = "Autostraße an den Terrassenhügeln"
block main
  article#autostrasse-an-den-terrassenhuegeln
    h2.inline-title Autostraße an den Terrassenhügeln.
    p
      | So, jetzt nehmt mich, jetzt habt ihr meine volle Aufmerksamkeit, Bundesbahnpensionist, der sich die in der Bretagne, in Wolhynien und Südkärnten geübten Waden nachölt, Krakeelerin, die schon der dritten Neufreundin die Prachtgeschichte vom zu teuer bezahlten Roßleberkäs erzählt, Gemüsefrau, deren 
      em heroischen 
      | schwarzrot-grünen Büstenhalter noch immer kein Bordkavalier ausgewunden hat, und — apropos Büste und Halten — vor allem Barbara, der ich, wie ich ungerührten Gemütes sehe, bei Wahrung der von Treuherzigen geforderten Treue allmählich sich verdickende und bläuende Krampfadern streicheln müßte; 
    p 
      | wenn ihr wüßtet, in welchem fernen Balkennebel mein Treusein müßiggeht und Bereitschaftsdienst schiebt, ihr Ahnungslosen von Bord, mit denen ich mich gleich wieder in Nachmittagsgespräche einlassen werde, um an euerm Ankunftvergnügen ankunftvergnügt teilzuhaben, denn wie bald sind wir schon in Druden bei meinen Exporteuren, vielleicht Exporteurinnen und der gemiederten Kellnerin und dem kellerkühlen grünen oder gelben Wein und dem Schatten, nach diesem Brutofen endlich Schatten, 
    p 
      | wozu steckt man mich in den Brutofen, ich bin ausgebrütet, entwickelt, entfaltet, bald könnt ihr mich wieder zusammenfalten, rückwickeln und in den entgegengesetzten Ofen schieben; nicht wahr, 
    p 
      | du unentwegt mir beim Denken zuschauendes Biest, mit dem leergetarnten allesergründenden Blick und dem haselnußteilenden Lachen, neunjähriges,
    .align-center
      | wie heißt du?
    p
      | »Ulli.« Und (um sie zu ärgern) gehst du schon in die Schule? »In die vierte Klasse!« Und »Wir sollen einen Aufsatz über die Donau schreiben. Früher hab ich Aufsätze gut geschrieben, aber in letzter Zeit hab ich nachgelassen, ich weißnichtwieso.« Bei so einem langen Leben, kann ich mir nicht verkneifen, schreibt sich jeder einmal aus. »Das ist wahrscheinlich nicht der Grund«, sagt Ulli, (»ich weiß, daß ich noch jung bin«, setzt sie in Klammern hinzu, eine Spur kühler), »aber unsere Lehrerin sagt Schreibt über den Zoo, schreibt über ferne Länder, schreibt über, schreibt über, und was soll man tun, wenn man nicht im Zoo war und keine fernen Länder gesehen hat?« Ulli verlangt meine Zustimmung.
    p
      | Siehst du, sage ich ihr, dort (denn an den Terrassenhügeln kleben vereinzelt Häuser) kommt das 
      a.arrow(href="haus-mit-dem-standard-mariandl.html") Haus mit dem Standard-Mariandl
      | . »Wo kommt das Haus mit dem Standardmariandl?« Dort, in Westnordwest, nähert es sich; das weiße Haus. »Dann sagen Sie 
      em gleich
      | , in Westnordwest! Ich kann nicht sehen, wo Sie da mit Ihrem Finger herumfuchteln.« Ah, der parallaktische Fehler stört dich?, entmutige ich sie. »Ah, wie heißt das? Das ist so wie bei der Uhr, nicht wahr?, die kann man auch nie genau ablesen: weil zwischen Zeiger und Zifferblatt so ein Zwischenraum ist, nicht wahr? Ich hab mir schon oft gedacht, es muß doch dafür ein Wort geben. Ich möchte für alles die Wörter wissen, verstehn Sie?« Ich kann dich sehr gut verstehen. »Weil, wissen Sie, mir liegt sehr viel dran, daß mich die Leute versteehn. Es gibt soviel Leute, die mich nicht verstehn.« Die unverstandene Ulli, sage ich. »Ja, ich bin wirklich eine unverstandene Ulli. Vorhin am Hinterdeck ein Mann sagt zu mir, ob ich 
      em das Hundi 
      | seh und ob ich 
      em ein Zucki 
      | will. Ich möcht nicht wissen, ob der nicht glaubt, daß ich mich noch anmach. Dabei darf ich nächstes Jahr schon ins Gymnasium gehn.« Da wirst du Algebra lernen, schrecke ich sie. »Och, auf Algebra freu ich mich schon, das ist, wo man mit Buchstaben rechnet, nicht?, da kann man eine Rechnung für immer ausrechnen, man braucht immer nur andere Ziffern einsetzen, nicht? Ist das so?« Genau. Ich hab die Algebra auch sehr gern, lüg ich. »Ich hab gleich gewußt, daß wir zusammenpassen«, sagt Ulli; »Sie sind so schön ernst gewesen vorhin.« Ernst sein ist doch nicht schön, sag ich. »Ich hab nicht gern Leute, die fort nur lachen«, sagt Ulli; »soo lustig ist ja das Leben auch wieder nicht.« Also, ich genieße das Vertrauen der unverstandenen Ulli. »Ja, ganz !« (Ungeduldig :) »Nein, 
      em ohne 
      | Spaß!!« Sie wird etwas betreten. Was hast du denn? »Ich denk so gern nach, in letzter Zeit. Wissen Sie was? Wir könnten viel miteinander nachdenken ... Aber das wird nicht gehen.« Warum nicht? »Weil wir nicht beisammbleiben können! Meine Mutti sagt, ich darf erst mit sechzehn heiraten, das ist noch so lang!« Wo ist deine Mutti? »Och, das hat gar keinen Sinn, daß Sie mit ihr reden. Sie erlaubt nicht, daß mich wer liebhat außer ihr. Ich werd eine alte Schachtel bleiben; na ja, Schicksal.« Sie schlenkert davon; einmal dreht sie sich noch um und schneidet mir eine kopfhängerische Grimasse.
    p
      | Während der Nachmittagsgespräche, die nun trotz Ulli endlich stattfinden müssen, behalte man die Bruthitze aus dem lückenlosen Schmelzofenblau, die Terrassenhügel hinter der Autostraße, die durch Gast- und Rasthäuser aufgemuntert wird, kleine Steinbrüche, den allgemeinen Flaschen- und Harmonikadudel, einzelne Klebehäuschen der Weinkultur im Auge, mische nachschlagend etwa: mehrere 
      a.arrow(href="nachmittagsgespraeche.html") Nachmittagsgespräche
      | , einige 
      a.arrow(href="gasthaeuser.html") Gasthäuser
      |  und dazu ein oder zwei 
      a.arrow(href="wasserereignisse.html") Wasserereignisse
      | . Man 
      a.arrow(href="erproben.html") erprobe
      | , ob das Ulligespräch nicht 
      em nach 
      | den gewählten Gesprächen wirkungsvoller gewesen wäre, versetze es also ans Ende dieses Abschnittes, wo um 14.10 
      a.arrow.main-route(href="loewenfass.html") Löwenfaß
      |  sich nähert.
