extends ../../templates/layout
block page-vars
  - const title = "B. Ø."
block main
  article#b-oe
    h2.inline-title B. Ø.
    p
      | »O Nachtdörfer, Schönheit, Verschwendung«, schrieb einer, dem es wehtat, daß »seitlich der Straße, im Unkraut, das man jetzt riecht« ein Fluß rann, »den jetzt in der Kälte niemand sonst sieht«.
    p
      | Das Erlebnis hat recht. So auch sind von der Nackten (in der Mitte trägt sie natürlich statt der Wahrheit einen Zensurplüschhund, er hat nicht einmal Zunge und Schwänzchen) zwar erdbeereisfarbene Kegelbrüste mit brombeereisfarbenen Höfen und einer harmlos draufgemalten Margerite in den Leserblick gestellt, verschwendet bleibt aber die achtlos weggehängte Reithose, die einen ganzen Luxusgirlsonntag im Extrakt birgt; »birgt« — denn das Girl heißt Birgit; birg »it«, Birgit!; aber ja, my boy Chemiekaufmann!
    p
      | Wäre ich ein Reporter, ich würde nicht dieses in jedem Eissalon erhältliche, in jeder Parfumerie druckreif zu machende Gesicht interviewen, sondern die weggehängte Reithose, das Mädchen im Mädchen, ihre weggehängte Wahr- und Kindheit. Aber das wußte der Magazinmann ohnehin, und der Dichter von »Nachtdörfer, Schönheit, Verschwendung« glaubte naiv an die Oberschwelligkeit der Werbung.
