extends ../../templates/layout
block page-vars
  - const title = "Backstube"
block main
  article#backstube-1
    h2.inline-title Backstube 1.
    p
      | Zero Zobiak erschrak, denn von der hohen Backstubengalerie herunter kam statt des weichen Bäckermädchens eine greise Hexe. Sie ließ den Buben im unklaren darüber, ob sie ihn ergreifen und in den Brotteig stecken wollte oder ob sie ihn bloß wie jeden Lausbub haßte. Zero Zobiak brachte vor Zittern den Zipp seines Geldtäschchens nicht auf. Die Hexe griff in ein hohes Fach des Regals: Fenchelbrot. Ihre Hände waren ganz eingemehlt. Er drückte den warmen 
      a.arrow(href="brotlaib.html") Brotlaib
      |  an seine Hemdbrust und rannte davon. Ein Klingelzug klingelte am Ausgang. »Guten Tag!«, schimpfte die Hexe dem Nichtgrüßer nach.
  article#backstube-2
    h2.inline-title Backstube 2.
    p
      | Die Backstube zeichnet sich durch ihre Weite aus. Man betritt sie, das Glockenspiel erklingt, die Pudel ist wohl nahe, aber sie steht frei im Raum, und rechts und links und hinten ist freier Raum, und überhaupt ist der ganze Raum frei und weit, und nur ganz hinten perspektivisch klein ein Türlein weist auf einen anderen Raum, und steht das Türlein einmal offen, sieht man, daß jener Raum ganz frei ist und ganz weitläufig und rechts ein Türlein hat, durch das man vielleicht in ein kühles Mehllager, vielleicht aber in die Flammen des Backofens kommt.
