extends ../../templates/layout
block page-vars
  - const title = "Barbara"
block main
  article#barbara-1
    h2.inline-title Barbara 1.
    p
      | Genau 100 kg schwer ist sie nur, wenn sie, im roten Schafwollkleid, mit den hellblau pantoffelten Babyfüßen auf die Badezimmerwaage steigt. Wenn sie wie heute ein Fähnchen anhat, ist sie um die Differenz leichter. Wenn sie gar, von Yoghurt und Pflaumen durchgeputzt, in einem Hochgefühl von Federgewichtigkeit der Wanne entstiegen, vor Ungeduld unabgetrocknet die Waage bestapft, liest sie, besonders wenn sie den Kopf etwas rechtsneigt, beglückt »96« oder sogar nur »95,5«. Dann läuft sie — es kann vorkommen: immer noch naß — ins Vorzimmer vor den Ankleidespiegel, tätschelt ihre weißen wulstigen Oberschenkel, dreht sich etwas herum, um ein wenig das Profil ihres Körpers mitzukriegen, zieht den schönbenabelten imposanten Bauch ein und tätschelt sich dann die im Spiegel sichtbare Gesäßbacke. Sie findet alles insgesamt nicht übel und verführt ihr beobachtendes Ich durch einen jener anmutigen vielversprechenden Blicke, als wäre es ein lebenslustiger Witwer.
    p
      | Es kann weiters vorkommen, daß sie sich immer noch unabgetrocknet — nur das Gesicht zuvor ins Handtuch tupfend — die Lesezirkelmärchenaugen aus Schwarz und zweierlei Blau verpaßt, die allen gepolsterten Gesichtchen redaktionell empfohlen werden, hernach mit dem stets außenverschmierten Lippenstift (echte Goldhülse, ewig nachfüllbares Geschenk eines Zwiebelhändlers) eine rotkäppchenrote fette Kußtüte malt und so aufgerüstet nochmals ins Vorzimmer vor ihre Kritikerblicke rennt. Dann ist sie meist so zufrieden, daß sie, kehlig einen Hit trällernd, im rosa Bademantel landeinwärts stapft — in ihre 
      em Königin der Küchen
      | ® — und sich den Lieblingshappen — ein weiches Brot mit Entenschmalz — schmiert. Dazu mag sie gern Schwarzbier.
  article#barbara-2
    h2.inline-title Barbara 2.
    p
      | Nur Feinde sagen, sie hätte 120 kg. In Wahrheit sieht sie selbst im Miniröckchen schmackig aus, und ihre Waden zeigen, zwar fleischig und bläulichschimmernd, die gutgedrechselte Flaschenform. Barbara ist Schalterbeamtin und macht den Umgang mit dem Amt zur Lust. Sieht man ihre Vorder- und ihre Hinterseite, weiß man gar nicht, wofür man sich entscheiden würde; »Kopf und Adler« dienen hier gut. Mittwochs darf Barbara schon mittag nach Hause gehen, aber sie tut es nicht, sie setzt sich vielmehr in die nahe Luxuskonditorei. Wenn Schlagobers ihr aus dem roten runden Mund aufs rosa Kostümchen träuft, auf das enge gespannte Röckchen ganz oben, stürzen mittwochfreie Beamte mit und ohne Schläfengrau herbei und zücken ihre Servietten, um das Kostümchen zu retten. Sie gurrt einen kehligen Dank und schenkt Tuschblicke. Sie hat rotes Haar, jenen Rubinwald, den 
      em durchscheinendes 
      | Sonnenlicht zu einem Gestrüpp metallroter Fäden und 
      em auffallendes 
      | Sonnenlicht zu einem Helm aus spiegelndem rotem Glas macht. Da dieser Ton nur künstlich erzielt werden kann, ist er kein leises kosmetisches Schwindelchen, sondern eine aufgelegte Herausforderung, besonders an einer weißlichen fetten Frau. (Von der Möglichkeit, daß Reiz, der den Urwaldmenschen torklig macht, vom Zivilisationsbarbaren teilnahmslos ausgeübt und aufgenommen wird, sei zur Ehrenrettung der Europäiden hier abgesehen.) Barbara planscht gern in einer Wanne, klemmt den Badeschwamm, bürstet sich Brüste und Schenkel und singt ein amtgängiges Lied.
  article#barbara-3
    h2.inline-title Barbara 3.
    p
      | Ihr Gewicht schwankt zwischen 105 und 115 kg, nun schon viele Jahre lang, und daher traut sie sich, Berge von Fett, Knödeln und Torten zu essen, und weil sie Erfolg in der Liebe hat, spottet sie mit den Fettbespöttlern munter und ohne Komplexe mit. Sie ist sogar überzeugt davon, daß jene Art Männer, die sie am meisten zufriedenstellen, die Luxuspolsterung der Gefährtin wertschätzen, und oft schieben sie ihr einen Schokoriegel in den Mund, damit sie so schön dick bleibe oder nach Tunlichkeit zunehme. Barbaras Gesicht ist von Zufriedenheit gezeichnet, denn solche Zufriedenheit ist nicht selbstverständlich und wird einem nicht ohne Tatkraft geschenkt. Sie ist Sekretärin in einem Zoo und liebt Tiere, weil sie die günstigste Zeit für die Erstschwangerschaft vertändelt hat und jetzt schon wahrscheinlich keine Kinder ertändeln wird. Sie tanzt gern, weil sie gern schwitzt, und malt aus sich gern abenteuerliche Frauen, nicht nur wegen des Erfolgs, sondern auch aus Affinität zu fetten Stiften und Cremen. Wenn ihre Ohrläppchen nicht eitern, hängt sie gern lange Korallenschnüre daran. Hätte sie einen Säugling, würde sie schweineselig lächeln — drei, vier Kinnwülste gewinnend — und ihn mit orange, gelb, grün, blau und rosa Gummibällen unterhalten. Sie ist, wie manche fette Frauen, mehr zahnarztfaul als zahnarztfeig und behilft sich gegen Löcher und Schmerzen mit Zungendruck, Luftsaugen und Einziehn der Wange. Überhaupt bildet das Material ihres Gesichts die reichsthaltigen Landschaften und Zielpunkte. Ihre ins Doppelkinn schmelzenden Wangen ersetzen Schüchternen die Kußbrüste. Die Brüste selbst liegen meist in kopfgroßen Miederkörben. Ihr fettiges Haar malträtiert sie in allen Pastellfarben; wenn sie heuer gut abbrennt wird sie das selten zu sehende Kalkweiß tragen, das ihr parisflüchtiger Friseur tatsächlich mit einer Art bröckligem Kalk als einer der wenigen zustandebringt. Sie sonnt sich oft in voller Bekleidund Bemiederung, zeigt den Begierigen aber freisinnig die erregende obere Grenze der Strümpfe. Sie tanzt nicht nur gern, sondern auch erstaunlich rasch; dem Tiereinkäufer macht es Spaß, wenn sie im Büro neue Reizwäsche vortanzt, mit grellblauem Schleier-Hemdchen (mini) durch gekonnte Steißstöße nekkisch wedelnd oder in puderrosa Bettbikini bis zur Verzückung um die eigene Achse trampelnd.
    p
      | Wenn sie nach Herzenslust ißt, wird ihr Gesicht noch einmal so dick — was zunächst niemand für möglich hält. Danach — in Kuhwiesenträgheit verdauend, zurückgelehnt — gibt sie das Gelände ihres üppigen Halses für etwaige Küsse frei. Bei Flutkatastrophen und Flugzeugabstürzen kann sie richtig bekümmert dreinschauen. Kurz, Barbara ist jener schwarzblauen Stempelung wert die ein witziger Schlachtkommissär ihrer schlafenden Hinterbacke einmal in der Mittagspause angedeihen ließ: »Ia Mastmädchen«. (
      a.arrow(href="mastmaedchen.html") Mastmädchen
      | .)
  article#barbara-4
    h2.inline-title Barbara 4.
    .rahmen
      | Raum zum Einkleben
      br
      | Ihres vollschlanken
      br
      | Lieblings-Pin-ups
      br
