extends ../../templates/layout
block page-vars
  - const title = "Barock"
block main
  article#barock
    h2.inline-title Barock.
    p
      | Gewisse Reize des Barockschrifttums will ich nicht leugnen: die »Herzhaftigkeit« (wie sie sonst ja nur ⁂-Suppenwürze aufweist), die gebirgsbildende Eruptivkraft der Sprache (die zu manchen Zeiten hingegen, säuberlich ins Erdinnere verschlossen lediglich der Wärmung unserer Füße dient), den Mut zum Einfall und seiner erschöpfenden Durchunddurchführung, den Mut zur Monstrenzeugung und dergleichen.
    p
      | Unter dem Einfluß von Artmann, Essayisten und universeller Mummenschanzbewegung (eine echte Restauration dürfte der Stilmöbel-für-Alle-Kult gottlob ja doch nicht sein) ist der Barockschrieb heute sehr gefragt geworden, und da hört sich das Vergnügen auf. Nicht nur hat jede Neu-Proklamation einer erledigten Entwicklungsstufe etwas vom Jungmädchenspielen der Matronen sondern auch führt die Barockmanier vom Jagdpfad der Information in die Langeweile der Redundanz.
    p
      | »Die Natur«, schreibt Herbert Cysarz in seiner Studie über das Barock, »wird zum beschnittenen und bestückten Lustgarten, der Garten zum geputzten Saal, ja zum Theater mit Kulissen und Prospekt, zum Museum der dekorativen Künste. Das äußere Menschenbild gleicht einer Puppe in zeremoniösem Staat. Die sinnlich so kalten Bilder weisen nicht in die irrationale, unerdenkliche Wirklichkeit zurück, sie bilden allegorische Figuren, die die Sinnlichkeit zur Zeichensprache des Gedankens — nach barocker Schätzung: erheben (wir würden eher sagen: entseelen).«
    p
      | Daß meine oft proklamierte Protokollheftführung, mein Hartan-den-Dingen, mein Gewilltsein, mich von der einströmenden »unerdenklichen Wirklichkeit« überwältigen zu lassen, die extremmögliche Antibarockstellung ist, liegt auf der Hand, so leicht die Fülligkeit und Verästelsucht, Monstrosität und Rabulistik etwa dieses Romans den flüchtigen Leser und Denker zum Trugvergleich mit dem Barock führen mögen.
    p
      | Siehe auch 
      a.arrow(href="labyrinth.html") Labyrinth
      |  und 
      a.arrow(href="arcimboldi.html") Arcimboldi
      | .
