extends ../../templates/layout
block page-vars
  - const title = "Befreiung der Aussicht"
block main
  article#befreiung-der-aussicht
    h2.inline-title Befreiung der Aussicht.
    p
      | Gut, wir stürzten uns in die Erscheinungen, vorsatzgetreu, richteten unsere Optik auf die 
      em ungebrochenen Dinge
      | , als saugten die einem Schneck die Stielaugen raus oder preßte ein Kind die Nase ans Wirtshausfenster. Wir sprachen mit niemand, ließen das Auftragsbuch drin und sahen im ganzen Verladeland nur einmal die 
      a.arrow(href="dynamit-attentaeter.html") Dynamit-Attentäter
      | .
    p
      | Was aber tun, wenn eines der ungebrochenen Dinge, zB die 
      em Befreiung der Aussicht
      | , neben seinem Freudewert für jetzt
    p
      | (raus aus der Leut- und Material-Schinderei in die große Bläue und Grüne, die Riesen-Langsamkeit und den täglichen Sonntag; zu Nebenwassern, Hügeln, Dörfchen; Wasserereignissen; zu Kellerstädtchen, wo schwarz-weiß-gold-gekleidete Exporteure, umströmt von gemiederten Kellnerinnen, jetzt unendlich lang nicht exportieren werden)
    p
      | einen Vergangenheitswert hat,
    p
      | uns einen bittern Geschmack in den Mund pflanzt, uns mit dem Zwanzigjährigen 
      em (halb so Alten!) 
      | gleichsetzt, für den sich
    p
      | an dieser Stelle vom Ausflug-Ufer aus plötzlich die 
      a.arrow(href="leere.html") Leere
      |  auftat?
    p
      | Um 7.38 aber war die Brücke passiert, der Chemiekaufmann J. ermannte sich (wurde tatsächlich wieder zum Mann, der seine diversen Leeren mit geschäftlichen Nahzielen dekorieren konnte, mit unverbrauchbar lockenden Lokalen und dem unausspielbaren Um und Auf wechselnder Frauen) und freute sich junghündisch an dem ersten 
      a.arrow.main-route(href="paddelclub-haus.html") Paddelclub-Haus
      | , das zu einer ganz anderen Welt überleitete.
