extends ../../templates/layout
block page-vars
  - const title = "Befund"
block main
  article#befund
    h2.inline-title Befund.
    p
      | Vgl. Hans Weigel über die Wienerin: 
      em Wenn sie versucht, das Fremdwort »Liebe« im Wienerischen einzuführen, wird sie scheitern.
