extends ../../templates/layout
block page-vars
  - const title = "Begeisterung"
block main
  article#begeisterung
    h2.inline-title Begeisterung.
    p
      | Da zumindest eine Sorte guter Geister die Welt verlassen hat, mag niemand mehr begeistert sein, es sei denn, unter Persönlichkeits-Chemolyse. Ich bilde eine Ausnahme, wenn ich auch nicht weiß, woher ich meinen Bedarf an Plusgeistern decke, und trauere der Begeisterung meiner Mitmenschen nach. Mich begeistern Leute, Umgebungen, Genüsse, Erkenntnisse, Formulierungen, mein Gefühl von Hiersein, kurz, ich bin ein Vertreter der 
      a.arrow(href="affirmative-dichtung.html") affirmativen Dichtung
      | . Selbst als Essayist steige ich nie in die Niederungen blasierten Verrisses um des blasierten Verrisses willen, sondern ich sage, wenn mich etwas banal erfreut, banal Ja und liebkose noch das Gute am Schlechten. Mag sein, die lang eingeatmete slowakische Landluft (
      a.arrow(href="kuhdreck.html") Kuhdreck
      | ) hat mir geschadet, in dem Sinn, daß ich die Phänomene wörtlichnehme und ein Obstblütentag oder ein warmer Regen mich affirmativstimmen. Mag sein, ich habe immer noch zuwenig Cafékaffee getrunken, bin vom Cafetabak nicht zuendegebeizt und von der Cafelethargie nicht endgültig zugekotzt worden. Selbst ein Cafe kann mich heute noch freuen, mit bunten Lichtwellen und 
      a.arrow(href="nickel.html") Nickel
      | , so bodenständig bin ich geblieben.
    p
      | Damit begründe ich, daß ich meine Exporteurfahrt so sonntagsmalerisch, so trinchenhefthaft, so arnoschmidtpatzig anlege. Alles ist für mich blankgeputzt wie am ersten Tag und angeschissen wie zum ersten Mal. Ich komme aus dem Staunen nicht raus. Ungern aber gefaßt nehme ich dafür in einer so spannenden wie gelangweilten Welt die Einsamkeit des Psychoexoten auf mich.
