extends ../../templates/layout
block page-vars
  - const title = "Begründung für den Artikel Körper"
block main
  article#begruendung-fuer-den-artikel-koerper
    h2.inline-title Begründung für den Artikel Körper.
    p
      | Die Mini-Essays dieses Romans begründete ich (
      a.arrow(href="arcimboldi.html") Arcimboldi
      | ) mit Notwehr. Notwehr meint vor allem Wehr in der Not des Mißverstehens. Wo liegt die Möglichkeit des Mißverstehens im Sex? Kritiker meiner Vorprosa lehrten es mich: die Möglichkeit liegt in der denaturierten Denkmode unserer Zeit; die Integration des Geschlechtlichen ist passe Liebe als integraler Komplex von Geschlechts- und Persönlichkeitsakzeption des Partners ist nicht nur nomenklatorisch zu Schrott geworden; wenn ich den Abbau der Liebe zu linearem Spaß, den Mißbrauch der Liebe zum Prestigeerwerb als »Giftluft« registrierte, schüttelten diese Kritiker den Kopfersatz; sprachen von unbewältigter Beziehung zum Geschlecht; die Angesteckten diagnostizierten den Gesunden (gut, daß Kritiker wenigstens nicht zwangsbehandeln und euthanasieren dürfen); da sie mich also allmählich einer unbewältigten Beziehung zum 
      em Menschen
      | geschlecht nahebrachten, habe ich das Recht auf Notwehr auch ihnen gegenüber verdient.
