extends ../../templates/layout
block page-vars
  - const title = "Beißzange"
block main
  article#beisszange
    h2.inline-title Beißzange.
    p
      | »Da is er ghockt, der Ratz, dürft verheirat gwesen sein, hat ein Manndl gmacht, aber war schon hin. Ich hab ein Beißzangen gnommen und ihm am Mist tragen.«
