extends ../../templates/layout
block page-vars
  - const title = "Bergklebesiedlung"
block main
  article#bergklebesiedlung-1
    h2.inline-title Bergklebesiedlung 1.
    p
      | Die Häuschen, steil übereinandergeschachtelt, sind ein Alpengarten. Im Haus 
      span.small-caps Hauswurz
      |  wohnt eine Neidige, die dem Haus 
      span.small-caps Steinbrech
      |  in die Schornsteinöffnung schaut, ob nicht ein paar Mäuse zum Selchen aufgehängt sind, im Haus 
      span.small-caps Steinbrech
      |  wohnt ein Sittenrichter, der dem Haus 
      span.small-caps Katzenpfötchen
      |  in die Dachluke schaut. Im Haus 
      span.small-caps Katzenpfötchen
      |  leeren sie hämisch den Mist tief auf den Balkon des Hauses 
      span.small-caps Günsel
      |  hinunter.
  article#bergklebesiedlung-2
    h2.inline-title Bergklebesiedlung 2.
    p
      | Die Häuschen, steil übereinandergeschachtelt, sind nicht senkrecht zum Berghang, sondern senkrecht zur Planetenoberfläche gebaut. Wären sie senkrecht zum Berghang gebaut, würden die Menschen, da der Berg keine separate Anziehungskraft hat, aus Türen und Fenstern rollen, ihr Haushaltsgerät hinter ihnen her, und die Häuschen wären bald leergepoltert. Die Ofenflammen im Winter aber würden in den Berg hinein brennen, allmählich den Stein erweichen, und unter dem Stein hervor käme das feuerflüssige Erdinnere zutage und würde die Umgebung mit roten Ausbrüchen schrecken.
  article#bergklebesiedlung-3
    h2.inline-title Bergklebesiedlung 3.
    p
      | Aber jedes der übereinandergeschachtelten Häuschen ist anders. Bis in die Bewohnerinnen hinein. Frau Dostal läßt die trocknende Wäsche in die Fenster der zehn Meter tieferen Frau Radelmann tropfen, beschwert sich über das Türenschlagen in der modern gebauten Bergklebevilla der Frau Drexler, dreißig Meter unter der Frau Radelmann, während der zwanzig Meter unter der Frau Drexler schräg in den Berg gebaute Weinkeller der Frau Winter durch seine Gärgase die fünfzig Meter tiefer gelegene Frau Rezacek beunruhigt, die eigens wegen ihrer Bronchitis in die frische Blätterluft des Klebeberges gezogen ist.
    p
      | Von der Vielfalt der roten blauen grünen weißgrünen braunen gelbroten lila tiefvioletten Blumenwelt und ihren Minz Nelken Rosen Saft Insekten Spritzmittel Tierdungdüften gar nicht zu reden und von den so verschiedenen Mittagssteaks schnitzeln laibchen und braten.
  article#bergklebesiedlung-4
    h2.inline-title Bergklebesiedlung 4.
    p
      | Über Schweizerhäusern, Glaswürfeln, Einheitsflach- und Einheitsschrägdachhäuschen, zugerankten Villen, Bungalows und Schreberhüttchen, über Weglein, Büschen, Pools, Hecken, Rondellen, Gittern, Zäunen, Stromfallen, Lehmmauern. Kaninchennetzen steht sogar ein alles überschauendes 
      a.arrow(href="natur-hotel.html") NATUR-HOTEL
      | . Von seinem Eckbalkon aus sieht man Frau Rezacek durch die Arme der Frau Drexler gehen, ihr einen Schrägschnitt des Weinkellers der Frau Winter in die Achselhöhle stopfend, gründurchgittert geht dieser Frauensalat zwischen den trocknenden Hosenbeinen der Frau Dostal vor sich, von der kleineren Schulterkante der rosendurchwehten Frau Radelmann kurzzeitig verstellt, und ein gelber Köter, der manchmal zwischenspringt, ist entweder ein zwei Terrassen aufwärts springender Riesenhund der zweittiefsten Bewohnerin oder ein drei Terrassen abwärts springender Zwerghund der unterm Hotel dachenden Altlehrerinnenvilla.
