extends ../../templates/layout
block page-vars
  - const title = "Bestimmungsbuch"
block main
  article#bestimmungsbuch
    h2.inline-title Bestimmungsbuch.
    p
      | Überraschende Verwandlung schlampiggesehener buntgrüner Dekoration (na, BaumWieseRosen) in Strukturenspuk, vielfach, schwierig und fremd wie Takelage oder Wälzlager-Katalog. Spirre: rispiger Blütenstand, bei dem die unteren Blütenzweige die oberen übergipfeln; Schraubel und Wickel: Blütenstand, bei dem immer wieder der einzige Seitensproß den Hauptsproß übergipfelt; Scheinquirl: mehrere sitzende oder sehr kurzgestielte Blüten in den Achseln gegenständiger Blätter.
    p
      | Saum. Schlund. Gaumen. Platte. Nagel. Krönchen. Blattspreiten: borstenförmig, pfriemenförmig, nadelig, lanzettlich, linealisch, schwertförmig, keilförmig, spatelig, länglich, eiförmig, elliptisch, schildförmig, rautenförmig, nierenförmig, verkehrtherzförmig, pfeilförmig, spießförmig, handförmig-gelappt, handförmig eingeschnitten, gefingert, fußförmig, paarig gefiedert, leierförmig fiederschnittig, Blattrand gesägt, doppelt gesägt, gezähnt, doppelt gezähnt, dornig gezähnt, fein gekerbt, gekerbt, spitz gekerbt, ausgeschweift, ausgebuchtet, schrotsägerandig.
    p
      | Aufwertung eines Straußes Wiesenblumen zu einem Zahnräderhaufen, einer Tischplatte voll frischer Leichen, auf die der Anatom freudig losspringt, einem Briefmarkenaufkauf, der durchsortiert gelupt und auf Zahn, Druckstock und Wasserzeichen geprüft werden will. Knien und Kriechen in Grassaft und Ameisenketchup intellektuelles Äsen und Heuen, Erkennen von Klebrigkeit, Querrunzlung, Milchgehalt, Gleichsetzung des hier und jetzt Gewachsenen, Duftenden, Ausgerupften mit der linkischen, flächigen, altväterlich verstrichelten Buchillustration, Freude auf Längsschnitt, essenzige Pressung, womöglich nächtliche EinfärbungsMikroskopic.
    p
      | Und der Schock, wenn der Laie unterm Buntpapier, das Blütenfarben anzeigt, erstmals 
      em braunes 
      | findet. Und 
      em grünes
      | . Braune und grüne Blumen!
