extends ../../templates/layout
block page-vars
  - const title = "Betonlager"
block main
  article#betonlager
    h2.inline-title Betonlager.
    p
      | 4 &times; 28 Reihen Betonreifen, 18 &times; 23 Reihen Betonquader, 9 &times; 26 Reihen Betonzylinder, 8 &times; 18 Reihen Betonkugeln (mit denen wurden Janitscharen erschossen), 4 Schüttkegel Betonstaub, 6 Schüttkegel Betongrus (jeder Schüttkegel hat einen materialspezifisch gleichen Böschungswinkel). Beton besteht aus Sand, Wasser und Zement, Zement aus Kalkstein, Ton und Kies, die unter Gelbglut im Drehofen vereinigt werden, freiliegende Zementglut ist ein teuflisch gelb(-glühend)er Quader, das Kühlsystem besteht aus heißen Flammen, rasselklirrend fällt zusammengebackener grünlicher Klinker in die Zementmühle und wird zu 
      a.arrow(href="wauss.html") waußem
      |  Zementstaub zerkreischt, Brotmehl für den Wolf mit den sieben Geißlein.
    p
      | Getarnte Steinmetze gehen auf dem betonkalten Lagerplatz umher und legen die Werkstücke aus Beton mustrig ins Gelände aus, appetitlich hellgrau wie ein Mäusemarkt, ohne organchemisches Geschwätz, Stein nach Wunsch. Ich möchte, sagt nach dieser Werbeaktion jeder Reisende, in ein Betongrab. Gelände abgesteckt, Zählen stückweise, einfaches Leben wie in der Rechenfibel, sogar die Elementarbausteine übertreffend, die ja seit neuem Bruchteile absplittern können (0.85 eines Bausteins ist nichts mehr, womit man seine Kirche bauen kann), also: 10 Stück Schutt, 20 Stück Schutt, backe backe Betonkuchen, die Betonmutter hat gerufen, eins und eins sind zwei und eins sind drei ad infinitum betonicum.
