extends ../../templates/layout
block page-vars
  - const title = "Bier"
block main
  article#bier-1
    h2.inline-title Bier 1.
    p
      | Als er das Malz hopfte, surrten die Verteilungsräder. Ausquellender Schaum spuckte ihm vor die Füße, in die muffelnde Lacke, in der er watete. Prost, sagte er, die Kornflasche zwischen die Zähne setzend. Bier konnte er längst nicht mehr ausstehen.
  article#bier-2
    h2.inline-title Bier 2.
    p
      | Das Bier war wirklich wahr, so unvorstellbar es bei dem Hundstagsmarsch gewesen sein mochte.
    p
      | Aber es verdampfte, kaum daß es über die Kehle war. Da trank er noch einen Schluck und regelte dann den Zufluß so, daß ständig etwas den Gaumen eiste; fünfundzwanzig Minuten später war wieder die Sonnenstraße da, der Flüssigkeitsspuk vorbei, der Durst teufelte wieder, nur ein Gaumen von Hopfen, eine Galle von einem Gaumen, war zurückgeblieben.
  article#bier-3
    h2.inline-title Bier 3.
    p
      | Zugsgarnituren und abgemaulte Biergläser klirren. Dieselloköl und Biersatz stinken genüßlich. Fremdarbeiterkaros und Lidschwärze der Bahnhofsprostituierten signalisieren. Warmer Bierschaum rasierschmiert mein Fettkinn, Reisekoffer tritt meinen Schweißfuß. Erzstaub schmeckt nach Fremdkörper, Biertümpel nach allen Bahnhöfen meines Lebens.
  article#bier-4
    h2.inline-title Bier 4.
    p
      | Mytilla Mitil tupfte sich behutsam die biernassen Lippen, obwohl das fliederfarbene Wachs ohnehin schon abgegessen war. Die Studenten waren bei näherem Hinsehen alle fad, wie Zahlenkolonnen eines balneometeorologischen Berichts oder Prospekte unbegehrter Maschinen. Es wäre mir ein leichtes, dachte Mytilla, hier einen Anfang zu setzen; warum sollte bei uns keine ordnungsgemäße eheeinleitende Beziehung einrichtbar sein, wenn wir nur zur rechten Zeit die Spielregeln von Mimik und Wortkleister einhalten, uns auch wohl ein bißchen frei geben und ein bißchen generationsbewußt. Wir werden Kerzenleuchter aus Polenkristall haben und die preiswerten Drehkreuzfauteuils, sobald Peters Praxis nur läuft. Mytilla Mitil verhinderte in Wahrheit mit glücklicher Anti-C'est-la-vie-Routine jede Eheanbahnung an diesem und vielen anderen Abenden und legte den Kern ihrer Lustperson einstweilen, yoga-präzis, in den Anti-Mann Bier, in die Einswerdung mit dem gutgekühlten kohlensäurestechenden aromatisch ausgewogenen Trendelag Export.
