extends ../../templates/layout
block page-vars
  - const title = "Biographische Übung"
block main
  article#biographische-uebung
    h2.inline-title Biographische Übung.
    p
      | Man prüfe, wieviele von den gymnasialnahen Mädchen aus der Jugend des 70jährigen Affentheater-Zitierers sehr wohl »Einzige« hätten sein können und was die Gründe dafür sind, daß sie es a) nicht oder b) in anderen Aspekten geworden sind. Man prüfe sodann, ob jene gymnasialnahen Mädchen in ihrem Alter ebenso guten oder schlechten Grund zu einer Analogfeststellung, den Mann betreffend, haben mögen und wenn nicht, dann warum nicht. Man prüfe weiters das gegenwärtige und verschiedene zukünftige Gesellschaftssysteme auf günstige Abweichungen von jenen pessimistischen Statements. Man verweile schließlich nur bei genügender Dickhäutigkeit länger im Prüfsaal, denn bald quarren gutgeschiedene Kritiker los, man beschäftige sich mit wenig anderem als der Partnerwahl, also einem Problem, das im Leben ganz und gar keine Rolle spiele.
