extends ../../templates/layout
block page-vars
  - const title = "Blaugrüner Liegestuhl"
block main
  article#blaugruener-liegestuhl
    h2.inline-title Blaugrüner Liegestuhl.
    p
      | Im Vorgarten eines Bauernhäuschens liegt ein vierbeinegrätschender Frosch auf dem Rücken: die Tochter, in die Stadt verdingt und verheiratet, jetzt auf Sonnungsurlaub, ein unauffälliger, aber stadtzu gespannter,: vektoriell aufgeladener blaugrüner Badeanzugkonspekt.
