extends ../../templates/layout
block page-vars
  - const title = "Blaue Trichter"
block main
  article#blaue-trichter
    h2.inline-title Blaue Trichter.
    p
      | Encore Edibelbek, der Bub, hatte zuhaus eine Spielzeugmühle (durch die er 
      a.arrow(href="spinat.html") Spinat
      | , Erde und sogar tote Vögel drehte) und einen blaulackierten Fabriktrichter, zehn bis fünfzehn Meter hoch, auf der Autostrecke vor seinem Heimatdorf. Die Autofahrten von Fabriknest zu Fabriknest waren ein Gemisch von Jubel und Angst (
      a.arrow(href="kreissaege.html#kreissaege-3") Kreissäge 3
      | ), aber bei dem grellblauen Trichter gab es keine Angst, nur Jubel. Encore wußte in irgend einer fastabgeschalteten Ganglienzelle, daß das Leben nicht immer aus so einem allesbefriedigenden Grellblau bestehen würde, eingebettet in Grellgrün und das blassere aber durchsonnte Hellblau des Sommerhimmels. Darum lebte er in den Vormittag hinein und schrie, wenn er die paar Dutzend Male im Leben an dem grellblauen Trichter vorbeifuhr, vorbehaltlos sein Begrüßungslied. Daß es kein Haus, kein Schlot war, sondern ein unverständlicher Trichter, trug zu dem Reiz gewiß bei.
