extends ../../templates/layout
block page-vars
  - const title = "Blechchristus"
block main
  article#blechchristus
    h2.inline-title Blechchristus.
    p
      | Die Wirren, die seit dem Konzil nicht zur Ruh kommen. Ein Jungkaplan dichtet das Spiritual vom Blechchristus am Feldrand:
    p.poetry
      | Die Tauben scheißen Christus an,
      br
      | doch Christus bleibt der Schmerzensmann,
      br
      | hej, hej, Kyrieleison .....
    p
      | »Die Tauben« scheinen ihm schön doppelsinnig. Das Lied wird einmal gejazzt, von der Pfarrjugend, mit viel Vergnügen. Niemand weiß recht, was mit dem Jungkaplan geschehen soll. Das Lied bleibt jedenfalls einstweilen suspendiert.
