extends ../../templates/layout
block page-vars
  - const title = "Bordabenteuer"
block main
  article#bordabenteuer-1
    h2.inline-title Bordabenteuer 1.
    p
      | Ein Ehepaar schwerer Popos pfadfinderte durch die Gänge. Die müßten doch überall Pfeile hinmalen!, wer sich da nicht auskennt, macht sich dreimal an!, verhieß der Gatte. Stell dir vor, variierte die Gattin, s ist Herbst und einer hat Süßmost getrunken; eine Katastrophe! Sie verhallten, mächtige Breitseite, Popo an Popo in plumper Vertraulichkeit.
  article#bordabenteuer-2
    h2.inline-title Bordabenteuer 2.
    p
      | (Zwei Hinterdeck-Freundinnen:)
    .indexed-grid
      .grid-index 1:
      .grid-text Riech zu meinem Strumpf.
      .grid-index 2
      .grid-text (riecht): Pfui Teufel!
      .grid-index 1:
      .grid-text Na,nichtwahr?
      .grid-index 2
      .grid-text (nimmt ihren Brustball aus dem einteiligen Badeanzug heraus, um ihn abzuwaschen, weil ihr Marmelade hinein geflossen ist). 
      .grid-index J.: 
      .grid-text Schön warm heute, meine Damen, was?
      .grid-index 1: 
      .grid-text Sagen wir ihm, er soll sich nicht umsonst bemühen?
      .grid-index 2: 
      .grid-text Ja, Monsieur, wir sind schon in besten Händen!
      .grid-index J.: 
      .grid-text Achgottachgott, wie schad!
  article#bordabenteuer-3
    h2.inline-title Bordabenteuer 3.
    p
      | Der Bikini war blau und rot, also: schön; außerdem winzig, das Mädchen gut 
      a.arrow(href="braun.html") braun
      | , ihr Becken breit genug, um zwischen Taille und Hüfte ein ausladendes Trapez darzustellen. Aber dieses Trapez war aus einem Brett geschnitten. Was nützte da, daß nur jener schmale Schutzstreifen, der immer hinuntergerutscht aussieht, die Nacktheit störte?
    p
      | Ich weiß schlanke Ware zu schätzen, antwortete J. dem Sklavenhändler, aber an diesen Knochen zerschlage ich mir 
      em meine
      | , sehen Sie? Und sehen Sie das häßlich Puppengelenkhafte dieser zu magern Schultern, Ellbogen und Knie? Er bog den Unterarm des Mädchens zweimal mißbilligend auf und ab. In den fleischarmen Oberarm stach er kennerhaft seinen Daumen. Au weh, sagte das Mädchen. Wehleidiger Indianer, sagte J., bewußt das Maskulinum gebrauchend. Der Büstenhalter wurde nur ein schlampiges Wenig zur Seite gezogen, Bubenbrust, sagte J., anpatschend; wie erwartet! Er ließ das Mädchen die blau-roten Körbchen selbst wieder zurechtrücken. Sie verlor ein wenig die Geduld und zeigte J. die magere Zunge. Nein, sagte J. zum Sklavenhändler, einen Bikini ohne Mädchen drin drehst du mir nicht an. So ein flachliegender Stoff ist wie ... Da er Kaufmann war, fand er keinen passenden Vergleich und fluchte.
    p
      | (Okopenko etwa hätte gesagt, so ein unzerwölbter Bikini ist wie ein Gedicht voll lauter Abstractis oder Pseudoconcretis, zB:
    .raum
      br
      br
      | (Raum zum Einkleben eines Gedichtes voll
      br
      | lauter Abstractis oder Pseudoconcretis)
      br
      br
      br
      br
    .align-right )
  article#bordabenteuer-4
    h2.inline-title Bordabenteuer 4.
    p
      | Der Kleine, so hört man, geht nur aufs Klo, wenn seine größere Schwester mitgeht. Die junge Frau mit sehnigem Pflichtgesäß (vgl. 
      a.arrow(href="gesaess.html#gesaess-3") Gesäß 3
      | ) sagt stirnrunzelnd zum Mann: »Das ist nur eine blöde Gewohnheit.« Denn sie haßt alle sexuellen Begründungen.
  article#bordabenteuer-5
    h2.inline-title Bordabenteuer 5.
    p
      | Darf ich Ihnen dieses Vogelhaar entfernen?, frage ich einen älteren Herrn, der seinen Rock um die Schultern geschlagen trägt. Ach, vielen Dank, sagt er.
  article#bordabenteuer-6
    h2.inline-title Bordabenteuer 6.
    p
      | Darf ich Ihnen dieses Vogelhaar entfernen?, frage ich ein blaublusen-überzogenes Bikinimädchen, deren vor mir gehende Rückenansicht mit champagnefarbenem Zopfgeflecht mich animiert. Och, danke, sagt sie. Ich zwicke etwas von ihrer Bluse weg. Bleiben Sie!, sagt sie in diesem Moment, Sie haben ein Eichhörnchen im linken Ohr, darf ichs Ihnen wegblasen? Die Vorderansicht des Mädchens aber trägt eine lange hagere Nase, ein fadwinkeliges Lächeln und hautige ausgezerrte Lider. Ich setze meine Wanderschaft nach sehr kurzem Höflichkeitserweis fort.
  article#bordabenteuer-7
    h2.inline-title Bordabenteuer 7.
    p
      | Fürchten Sie nicht, daß Ihr Schwester l ins Wasser fällt, wenn es so allein herumläuft?, frage ich ein schwänzendes Schulmädchen mit glänzendblauem Schwarzhaar, das It. STERNAnzeige zum Zärtlichsein einlädt. Ah, meine Tochter ist brav, sagt das Schulmädchen. Die Sylvi kann man den ganzen Tag allein rumlaufen lassen, fügt der Mann des Schulmädchens hinzu.
  article#bordabenteuer-8
    h2.inline-title Bordabenteuer 8.
    p
      | Kenne ich Sie nicht von der Musikertagung in Lüttich?, fragt mich am Selbstmörderauswurf eine teigige Fünfzigjährige. Ich entschließe mich, kein Musiker zu sein, wehre aber ihre Entschuldigungen mit der karitativen Notlüge ab, ich würde indessen wetten, sie vom Tierhändlerkongreß in Mailand zu kennen. Mit viel Liebenswürdigkeit gehen der eingemehlte Teig und ich auseinander.
  article#bordabenteuer-9
    h2.inline-title Bordabenteuer 9.
    p
      | Ich rette ein schönes Mädchen die wegen unglücklicher Liebe in die Schiffsschraube springen wiil, und lasse sie abwechselnd kastanienrote Schaflöckchen, einen herzförmigen Mund, silberblonde Zöpfe und leidgebläute Schlafpuppenlider haben. Schließlich schlage ich mit der gefalzten gestrigen Zeitung eine echte Wespenkönigin ins Wasser.
  article#bordabenteuer-10
    h2.inline-title Bordabenteuer 10.
    p
      | Ich errege einiges Aufsehen, indem ich in einen schönen roten Automaten beiße. Was treibt der da?, fragt ein guttrainiertes braunes Sportmädchen ein anderes, laut, damit ichs höre. Zahnübungen, sage ich. Die Mädchen lachen. Zugegeben, es sieht komisch aus, sage ich in einer Beißpause, aber sich nicht genieren, gehört 
      em auch 
      | zu Karate. Geh, das ist ein Karatekämpfer, sagt das eine Mädchen zu dem anderen. Nix für uns, so sportliche Herren, gehn wir, sagt das andere. Wann macht dein Fritz die Kochprüfung?, setzen sie ihr Gespräch fort.
  article#bordabenteuer-11
    h2.inline-title Bordabenteuer 11.
    p
      | 
      a.arrow(href="madigmachen.html") Madigmachen
      |  von Anknüpfversuchen.
    p
      | Bordabenteuer 12. Sie! Genosse! Was war das Freitag vonwegen »Zwangsbeschlüsse«? — Bitte?, sagt J. — Sie haben mir doch noch Donnerstag im Hauptausschuß — J. wendet sich dem Genossen zu. Jössas, entschuldigen Sie!, sagt der Genosse, ich hab Sie für den Wewerka gehalten; Sie fahren nicht zufällig zur »Arbeitereinheit«? Nein, zum Exporteurtreffen. — Der Genosse ist grußlos weg. An seiner Stelle liegt etwas Donauwasser.
