extends ../../templates/layout
block page-vars
  - const title = "Brausepulver"
block main
  article#brausepulver
    h2.inline-title Brausepulver.
    p
      | Auf der Zunge eine chemische Reaktion zu vollziehen, freut jeden Buben. Kauft ihm deshalb 
      span.small-caps Sternheim-
      | Brause, mit dem lustigen Glitzereffekt, erhältlich in jeder Drogerie. Schärft ihm ein, daß er das Kristallpulver und das gelbe (rote, grüne) mehligere im Trinkglas voll Wasser vereinigen soll, denn dann wird er die Pulver justament roh schlecken. Er wird sich seiner gelben (roten, grünen) Zunge freuen, vor allem aber des Aufbrausens im Mund, so wie er ja auch gern Taschenlampenbatterien mit der Zunge kurzschließt, weil das so gut sauer und nach Funken schmeckt. Wenn er erwachsen wird und man fordert ihm eines Tages durch Anlegen der Elektroden an die Zunge Geständnisse ab, wird er sich wehmütigen Schmunzelns an die selige Kinderzeit erinnern.
