extends ../../templates/layout
block page-vars
  - const title = "Braun"
block main
  article#braun-1
    h2.inline-title Braun 1.
    p
      | »Aber das ist eine ganz andere Haut. Seit wir in Caorle waren, werd ich ein bissel braun. Nein, das hängt mit der Haut nicht zusamm. Mich juckts, weil Blonde werden nicht braun.«
  article#braun-2
    h2.inline-title Braun 2.
    p
      | Alphard Mutz freute sich, als er auf seiner Haut, mit der er nun 15 Jahre bespannt war, noch und noch das Braun speichern konnte, von dem es hieß, daß es die Gesundheit sei. Alphard Mutz hatte damals, ein Jahr nach Kriegsende, Sorge, in einer Lungenheilstätte verdämmern zu müssen. Selbst wenn man dort ein ideales Mädchen fand, auf den elegischen Bänken zwischen Forsythien oder Hundsrosen, störte der stetige Husten, und der Gedanke, daß wir nie hinauskommen würden, außer durch das Prosektur-Tor, machte unsere Liebe sehr traurig.
    p
      | Auch ich kann braun werden, sagte Alphard Mutz zu Pippi; auch ich werde den Mädchen gefallen, vielleicht sogar deiner Erika. (Pippi wäre später sehr froh gewesen, denn Erika wurde irgendwann Pippis mürrische Frau.)
    p
      | Alphard Mutz lag genießerisch auf der Wiese, die Viecher stachen ihn mit Halmen und Gräsern um die Wette, sein Oberkörper brannte unbehemdet, sein Unterkörper kaumbehost, Schicht auf Schicht und nun schon unschälbar brannte Alphard zum schönen Mann. Alphard peitschte sich mit großen Blättern, denn er glaubte, alles, was brennt, bräunt, und aus ähnlichem Aberglauben besprühte er sich aus einer Wasserflasche. Rechts hinten lag die Dorpat-Anlage mit dem zarten Säggeräusch, das nurmehr Musik war, vor den Blicken lagen die Tevinker Berge mit all den Markierungen (blau, grün und rot) für die Füchse, in der Schultasche steckten ein Trockeneibrot und ein Weltallroman, aber beide interessierten den 15jährigen Schönheitsritualiker derzeit nicht.
  article#braun-3
    h2.inline-title Braun 3.
    p
      | 
      span.small-caps Beneidenswert braun durch Solicer
      | . Beneidenswert, sich so sorgenlos bräunen zu können. Haben Sie den Urlaub gut überstanden?, Sie sind ja beneidenswert braun! Petra warf einen wohlgefälligen Blick auf Ralphs beneidenswert braunen Rücken. Du bist ja beneidenswert braun, sagte der alte Sozialdemokrat zu seinem Freund, dem NPD-Abgeordneten Blau. Beneidenswert braun liegt das 
      span.small-caps Nivea
      | -Baby in seinen Windeln.
  article#braun-4
    h2.inline-title Braun 4.
    p
      | (Vice versa:) Eartha — sie hieß wie die große Kitt — legte die vierte Schicht Bleichpaste auf, die sie rassisch emanzipieren sollte, wenigstens im Vergnügungsleben von Blackville. Man war zwar nicht in Rhodesien, aber auch in den Staaten gab es noch Bedarf an Mitteln, die die Haut allmählich weißätzten. Die Entkräuslung des Haars war dagegen ein Kinderspiel, Eartha war längst eine rot- und glatthaarige Schönheit. Das Weiß der gebleichten Haut würde wundervoll dazu passen, und vom Natural Look, der den Wunschtyp der farbigen Bevölkerung allmählich umprägte, war die etwas altmodische Jungkeramikerin nicht zu überzeugen.
