extends ../../templates/layout
block page-vars
  - const title = "Brotlaib"
block main
  article#brotlaib
    h2.inline-title Brotlaib.
    p
      | Erstarrtes Ergebnis von teigiger Gärung und Feuer, Fernverwandter der Lava. Milchnussiges von grünem Getreide, eßbarer Staub in der gruftgewölbigen Mühle, Puder für 
      em Bäckers Esel
      | , im Backofen gefundene Katze (sie liebte die Wärme ..), in Brotteig werden ganze Fische eingebacken, sich mit Sauerteig einschmieren, das Durchkrachen des Messers durch den frischrausgezogenen mehlgestäubten 5-Kilo-Laib, die eingebackenen Firmenzeichen, das Kreuzzeichen des Bauern, wenn die Schnitte vom Bauerntisch auf die Bauerndiele fällt, die ersten Brotlaibe stellten Brüste dar, je schwerer, desto besser, das Klatschen auf den Teiglaib, Kannibalismus: einen Leib essen, hoc est corpus meum (»hocuspocus«), einen zuvielgekauften Brotlaib in den Mülleimer stecken, bunte Brote haben sich nicht durchgesetzt, altes Brot den 
      a.arrow(href="pferde.html") Pferden
      |  verfüttern (schau, wie schön es danke sagt!), mit Schwarzbrotbröseln Schnecken panieren, aus Schwarzbrot und Honig Kwass ergären, mit Brotschmolle Pläne sauberradieren, sich eine Brotmaske auflegen, einen Brotwagen umschmeißen, den Schwarzbrotpreis stützen, in der 
      a.arrow(href="backstube.html") Backstube
      |  das Brotregal auswischen.
