extends ../../templates/layout
block page-vars
  - const title = "Brücken der Erwachsenen"
block main
  article#bruecken-der-erwachsenen
    h2.inline-title Brücken der Erwachsenen.
    p
      | Beim Einsturz einer Brücke klatscht sehr viel Fahrzeugeisen ins Wasser. Der Verkehr einer Großstadt rinnt unerwartet ins Flußbett aus. Viele Pläne fallen ins Wasser. Besonders eindrucksvoll ist es, wenn Züge, die rauchende Lokomotive voran, eisern ins Wasser hangen.
