extends ../../templates/layout
block page-vars
  - const title = "Brücke"
block main
  article#bruecke
    h2.inline-title Brücke.
    p
      | Es gibt zweierlei Brücken:
    ol
      li die Ozeanbrücke. Ihr »Oooooooze aaaaaaan!« dröhnender Vanadinstahl überdröhnt den ganzen Ozean, den sie überspannt; meist den riesigen Pazifik. Von ihrem Gedröhn werden alle Matrosen, die unter ihr durchmüssen, taub. Sie wölbt sich zehntausend Meter hoch über dem Meer, kommt aber zugleich so tief herab, daß die Füße, die in Todesangst über ihre schütteren Traversen laufen, unmittelbar über unserem Gesicht trampeln. Aufwärtsschauend fällt man in die Mächtigkeit der Brücke: Stahlstreben werk, in diese Richtung wächst es unermeßlich –
      li die Flüßchenbrücke. Optischer Merksatz: Sie liegt immer im Sonnenschein und an Flüßchen. Akustischer Merksatz: Sie geht gebückt und auf Krücken, denn sie hat Brüche im Rücken; (und wartet auf Brotbröckel, die ihr gute Kinder, namentlich Brigitten, bringen). 
    p —
    p
      | Ferner gibt es die 
      a.arrow(href="bruecken-der-erwachsenen.html") Brücken der Erwachsenen
      | .
    p
      | Die Erwachsenenbrücke von Kaufmann J. kann, aus bestimmten Perspektiven, zu bestimmten Zeiten, vor allem, wenn sie unversehens dasteht, die fürchterliche Verwandschaft mit Brücke 1 nicht verleugnen. Heute steht sie groß, aber aufgeräumt, im Sonnenputz. Kaufmann J. ernennt sie zur Stadtschönheit: sie macht ihm Lust, der Stadt zu entkommen. Und siehe da, auf der Brücke liegt schon ein 
      a.arrow.main-route(href="kuhdreck.html") Kuhdreck
      | .
