extends ../../templates/layout
block page-vars
  - const title = "Bunte Stühle"
block main
  article#bunte-stuehle-1
    h2.inline-title Bunte Stühle 1.
    p
      | Auf bunten Stühlen sitzende Menschen werden bunt, wie auf Farbrastern gesiebte. Dieses fade braungekleidete braunhaarige, braunblickende Mädchen wird auf blauem Stuhl das gänzlich blaue Mädchen, das jeder wünscht. Das bläßliche Kind auf rotem Sessel wird zum Abenteuer eines roten Kindes. Was brauchen wir da noch Grün und Gelb? Aber zu allem Überfluß setzt sich ein grämlicher Pensionist auf gelben Draht, und schon bekommt er ein gelbes Schicksal, van Gogh wird es malen, und der leere grüne Sessel beschämt nun endgültig das weniggrüne Gras.
  article#bunte-stuehle-2
    h2.inline-title Bunte Stühle 2.
    p
      | Wenn Sie Drahtstühle nachschlagen wollen, suchen Sie, bitte, wo anders. Hier ist die Rede von Holzstühlen. Erinnern Sie sich an die Freude des Bunten, aus Ihrem Leben oder Artikeln, die Sie schon nachgeschlagen haben. Bedenken Sie die Freude, die es dem ersten Menschen bereitete, wenn er sich nicht vor grünen, braunen, khaki oder gelben Stühlen und Bänken sah, sondern vor blauen oder roten. Laubsägefreuden, Märchenbuchfreuden, Buntlebkuchenfreuden wurden wach. Nichtmehr Blumen allein, auch Holzlack durfte bunt sein, Versprechen einer Welt, die immer bunter werden würde. Und heute im Zeitalter der Poly-Harze und Mini-Kleidchen hat sich dieses Versprechen erfüllt.
  article#bunte-stuehle-3
    h2.inline-title Bunte Stühle 3.
    p
      | Bunte Drahtstühle, Drahtbänke. Freundliche Welt auf bunten Telephondrähten, aus denen sie in den Zentralen schwarze, rote und blaue Pudel mit weißen, gelben und lila Beißkörben und mausen, nilgrünen und orange Schwänzen fertigen.
    p
      | Befreiung der Welt aus dem Zwang der grünen, braunen und wespennestfarbenen Bänke, zunehmende Durchbuntung des Gesichtskreises.
    p
      | Freilich gehn immernoch düsterfarbene Moden reihum, aber unaufhaltsam wird erstmal die Buntwalze der totalen Visualmöglichkeit unsern Planeten überrollen, ehe nach Ausverschwendung der Kohlen und Öle die farbarme SilicoLetztzeit anbricht.
  article#bunte-stuehle-4
    h2.inline-title Bunte Stühle 4.
    p
      | Bunte Metallsitze. Sitzen auf farbigen Tasten. Wer weiß, was jede bedeutet. Was dein buntsitzendes Gesäß alles für Signale auslöst.
  article#bunte-stuehle-5
    h2.inline-title Bunte Stühle 5.
    p
      | Jeder Mensch hat eine Lieblingsfarbe. Meine ist:
    p
      | Lindgrün
    p
      | Grellrot
    p
      | Leuchtendblau
    p
      | Milchblau
    p
      | Stiefmütterchenviolett
    p
      | Kunstharzorange
    p
      | Zitroneneisweiß
    p
      | usw.
    p
      | Gehen wir zumindest das Spektrum durch:
    ul
      li Purpur purpurroter Zwetschken (eingesprenkelt violetter Verrat und Wespengelb)
      li Karmin eines vom jungen Mischhund im Überschwang zerbissenen Marktmädchenlippenstiftes
      li Zinnober einer zinnoberroten Diplomatentasche aus atomriechendem Gazellenleder
      li Orangerot einer durch Filter veränderten orangegelben Orange
      li Orange einer orange Mekerbrennerflammenfärbung und des orange Pullovers eines fürs Farbfernsehen orangegeschminkten Mekerbrennertechnikers
      li Orangegelb bestimmter Affensteiße
      li Dottergelb, das sumpfdotterfarbene Kleidchen meiner ersten Freundin, der vierjährigen Tanja, heute meiner profundesten Erinnerung, in der Sumpfwaldlichtung mit der stets kaffeeriechenden Thermosflasche nahe dem Blauen Trichter
      li Schwefelgelb, wie zündete ich die Lager Kristallschwefels an um zu ermitteln, ob ihre Tintung zum Schwefelflammenblau ideal passe
      li Gelbgrün, magische Warmkaltfarbe, Welthälften versöhnung: Erdwasservegetation gegen Energiesonne im durchleuchteten Graswald
      li Arsengrün, Farbe der pinselleckenden Lebensliebe
      li Blaugrün mächtiger Textilhüften in Nachtdurchhäusern, allmählich verdünstend das Parfum Vert-bleu
      li 
        | Blau, die Tausende unausliebbaren Blau, Garantie der Planetenbewohnbarkeit, Farbe der 
        em Extro
        | vertierten
      li 
        | Violettblau: 
        a.arrow(href="leuchtendes-blau.html") Leuchtendes Blau
      li 
        | Violett: Niemand will violette Glühbirnen, violette Landes farben, violette Tiere. Freudenschock, (trotz Ermischbarkeit der Farbe) Violett im Blech- 
        a.arrow(href="malkasten.html") Malkasten
        |  zu sehen. Orange-Violett-Harmonie in den Buntstifthänden eines Kleinstklassenlehrers. Das Methylviolett unserer Tintenväter wird hier zum durchsichtigen Fest. Ostereier violettkochen, violette Kalkschalen im Überschwang aufessen. 
    p Und eine Stichprobe aus den sogenannten Totfarben:
      ul
        li Grau wie Grisettchen und Mäusetaschenlampen. 
    p In all diesen Farben streicht meine Stühle.
  article#bunte-stuehle-6
    h2.inline-title Bunte Stühle 6.
    p
      | Wollen wir dem Verschönerungsverein mit seinem Farbenfimmel ein Schnippchen schlagen? Ja, sagte der Zwölfjährige: wir fahren Kahn, ersaufen in bunten Farbsprudeln, liegen dann als kreuz und quer verfärbte Wasserleichen an der Uferpromenade, bumm-das-wird-lustig!
  article#bunte-stuehle-7
    h2.inline-title Bunte Stühle 7.
    p
      | Man fühle sich in die Düsternis alter Hubertusmäntel, Gemälde, alten Reisigs, alter Zollinspektoren, alter Brautschicksale und trete unvermittelt, wie durch eine Düse, in die Buntgegenwart. Hier huldige man dem Entspannungs- und Trinkgenuß, lasse sich zB in die gehmüden Ohren ein buntes Zischgetränk blasen. Zwar ist Cola heute noch braun, aber es wird eines bunten Tages auch grellblau, mohnrot und drachengrün in drei übereinanderschwimmenden Schichten geliefert werden.
  article#bunte-stuehle-8
    h2.inline-title Bunte Stühle 8.
    p
      | Man sage sich: So rot wie der Mohn, in den ich keine Europameister- und keine Kinderfäuste geballt, sondern nur traurige Belämmertenblicke geworfen habe, weil eine dünngemütige Sylvi nicht die rare Mytilla Mitil war, und wie stark rotblühte er an der weggelegten fahlrostroten Autoachse, und die Zeit würde bis zu meinem Lebensende zuendevergehen; so rot kanns kein Freiberuflicher treffen und so blau wie die genaugemessene Dickschicht Wassers im Hydrographenpraktikum und so blau wie die Barockdeckenzuckerbrühe, so blau wie die Erde, die erst vom Mond aus schön wird. Und so grün wie das Kupfersalz, das ich in Butter mischte, um mich mit einem farbfrohen Biß in dicken Fettbelag aus der Welt zu schaffen, aber da kam Myra Metelli, und die irrste Etappe der Menschheitsgeschichte begann, gelb wie die Küken etcetc.
  article#bunte-stuehle-9
    h2.inline-title Bunte Stühle 9.
    p
      | Zero Zobiak, der Bub, ging im Kurort, wo seine Familie sich krankbadete, er aber keine Schwimmgelegenheit fand, nicht eher heim, als daß er alle Farben der Stühle abgesessen hatte. Eine ungeahnte Affinität verband ihn hierbei, ihm nur als Lackliebe merklich, mit Myra Metelli.
  article#bunte-stuehle-10
    h2.inline-title Bunte Stühle 10.
    p
      | Die einzigen Maler der Welt waren die Fauvisten, sagte Caro Coenluir. Und einige Tachisten, sagte sein minderjähriger Adept. Caro gab ihm dafür eine demokratische Ohrfeige, eine solche also, die der Adept, wenn er seinerseits einmal im Recht sein sollte, Caro zurückzahlen durfte. Die Fauvisten haben, ergänzte Caro Coenluir (mild und gar nicht mehr strafend), die ganze Welt in den Farben dieser bunten Stühle zu malen begonnen. Aber sie sind nicht weit gekommen, entgegnete der Adept schüchtern; leider, fügte er eifrig, um eine zweite demokratische Ohrfeige abzuwehren, hinzu.
