extends ../../templates/layout
block page-vars
  - const title = "Burg"
block main
  article#burg-1
    h2.inline-title Burg 1.
    p
      | Burgbrunnen. Gurgelnd. Grundlos. Was klafft, mißt man in Klaftern. Man fällt minutenlang schachtabwärts. Rufen Sie UHU hinein. 600 türkische Gefangene haben mit ihren Leibern den Brunn in den Felsen geschlagen. Der Brunn war der Wasserofen, in den die politischen Gegner mundtotgesenkt wurden. Hören Sie, jetzt kommt das UHU zurück. Hier können Sie, meine Damen, noch wirklich zu Grunde gehen. Lebendig, elendig. Die Ketten aus der Folterkammer sind dreißigmal zu kurz, um Sie aus dem gruftfrischen Wasser zurückzuholen. Die Seilhaspel ist ein leeres Versprechen. Wie manchmal Wasserratten heraufklimmen, ist rätselhaft.
    p
      | Die vorige Reisegesellschaft hatte hier Pech. Eine junge Dame ist beim Uhuschreien über das feuchte Moos ausgeglitscht und in die Schachtöffnung gefallen. Ihr Begleiter hat sich darauf im Torturensaal eingeschlossen, man weiß nicht, welchen Weg er dort genommen hat. Wer will das schwarze Verlies sehen? Sind Sie gut zu Fuß? Dort soll man noch die Selchschreie hören. Und binden Sie diesen Rußschutz über Ihre Kleidung, zehn Schilling das Stück. Danke. Ob wir wieder heraufkommen, steht in Gottes Hand. Die anderen Herrschaften, bitte, können einstweilen im Burgkeller einen guten Schluck Weiß- oder Rotwein nehmen.
  article#burg-2
    h2.inline-title Burg 2.
    p
      | Können wir mit unserem Ford bis zur Folterkammer hinauf? Ich bedaure, das ist nicht möglich. Die Wege könnten auch endlich verbreitert werden. Die Wege wären breit genug. Aber? Die Eiserne Jungfrau oben ist empfindlich, sie verträgt nicht Motorenlärm, ihre Nägel lockern sich. Vielleicht dürfte man ihr eine Kleinigkeit auf neue Nägel widmen? Ja, dann — Na sehn Sie: ein guter Ford macht jeden Ort. Danke verbindlichst, küß die Hände, gnä Frau, gute Fahrt, Herr Doktor, viel Vergnügen.
  article#burg-3
    h2.inline-title Burg 3.
    p
      | Durch die Schießscharten photographierte man ins Land hinunter. Unten fuhr ein Bauer ein landwirtschaftliches Gerät. Es war gelb, rot oder blau. Die Burg hinten sonnte sich ihren grauen Pelz. Das Gegenwärtige war immer interessanter als das Vergangene, wenn auch beide im Gesamtplan gleich lebendig waren (sind, sein werden). Sehen wir aber klar, sagte 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      | , daß das eine Härte zu den Vergangenen bedeutet, also ein Opfer an Güte. Eine Tötung der Toten, variierte ihr Begleiter und kam sich ebenbürtig vor.
  article#burg-4
    h2.inline-title Burg 4.
    p
      | Vom jenseitigen Ufer grüßt Schloß, die letzte Ruhestätte des im Jahre, etwas weiter erhebt sich auf hohem Felsen eine Ruine mit massigen Mauerquadern; es ist der. Er war einst der Sitz der Grafen von, die nicht nur sondern auch. Dessen großartiger Prachtbau auf mehr als Meter das Landschaftsbild weithin beherrscht, bietet sich nicht nur als dar, sondern bewahrt auch in seinen und seiner viele Schätze. Es ist steingewordene Geschichte. Auf diesem Fels stand das römische und später die des Ungarnfürsten, die vom erstürmt und zu seiner Residenz erwählt wurde. Hier wohnte der gastliche, der und ihrem Gefolge auf dem Zug in das aus güldenen Bechern den kredenzte.
  article#burg-5
    h2.inline-title Burg 5.
    p
      | Aufgabe an den reimenden Leser, das nach wie vor gut sichtbare
      br
      br
    .align-center
      | Fräulein am Söller
      br
      br
    p
      | mit Hilfe eines Böllers vor der Völlerei eines Völlers zu bewahren. (Der Autor soll dem Leser nicht jede Arbeit wegnehmen.)
  article#burg-6
    h2.inline-title Burg 6.
    p
      | Grobe Steine: Schwerstgewichtsport. Mit gekrümmter Rechtspfot und Linkspfot geformte Trommel, breite Steintrommel, der Turm. (Tausend mal tausend Tonnen. Trumm.) Rohe Löcher: die kleinen Fenster, zum Schießund Ersticken groß genug. Der jähe Steinabfall: mühloser Selbstmord wandabwärts, dabei in Sonnenlicht, Blumen- und Rankengeruch; naturerfüllte Sterbefabrik; Ritter u. dgl. mußten da stürmen; Alptraum senkrechter Kriegführung; auf klammernde Hände kochheißes Pech; der Sturzschrei. Oder wenn die Zugbrücke hochschnoll: lauter Reiterstandbilder schwarzhageln runter. Im Scheinwerferstrahl der Festspielillumination. In Ruinenzimmer regnet es herein. Sie tragen noch den Zerstörungsruß. Er wird alljährlich mit einer Pfanne brennenden Naphthalins erneuert. Ein Witzbold hängte in die Kemenate einen unterwegs gefundenen Bettbikini. Aber das Burgfräulein (
      a.arrow(href="burg.html#burg-5") Burg 5
      | ) rächte sich und ließ den Boden nachgeben. Ruinen sind sehr begehrt; man arbeitet schon an ihrer Massenherstellung.
