extends ../../templates/layout
block page-vars
  - const title = "»Caffeehaus«"
block main
  article#caffeehaus
    h2.inline-title »Caffeehaus«.
    p
      | Das C in deutscher Schrift und ungekonnt verziert. Die zwei F weit auseinander, das E dem H sehr nahe. Beim Eintritt Glockenkling: Üb immer Treu und Redlichkeit. Spiel nicht Stoß mit Deines Nächsten Hausfrau. Der Marmor ist überall schründig und an manchen Tischen durch Plastik ersetzt. Sie können einen Kaffee machen, der nicht nur durchs Haus duftet, sondern nach Kaffee auch schmeckt. (Eine Kunst, der J. trotz besten Maschinen und trotz Kakaozusatz nicht nahekommt; siehe auch 
      a.arrow(href="espresso.html#espresso-2") Espresso 2
      | .) Die Tischchen werden viel gewaschen, aber der Fetzen riecht nach Altersheim. In den Holzsesselchen kann man sich einzwicken.
    p
      | Die Cafetiere liebt den Außenefeu und beschneidet ihn. Es gibt Fliegen in sieben verschiedenen Größen, außerdem Pferdfliegen und Bremsen. Milch fließt reichlich und böckelt, aber die glattgekämmte Tochter sagt, daß Böcke keine Milch geben. Daß Rührei manchmal unversehens zum Grillhühnchen wird, hält sie hingegen für biologisch möglich, wenn es auch Fernfahrer wütendmacht. Sommergäste haben das Cafe bald durchforscht und finden es von da an trostlos. Selten verirrt sich eine Fahrerbraut hierher: dann hat sie pralle Hosen, Metallgürtel und gelbes Haar; nach ihrem Parfum lüftet man, damit die Milch wieder böckle. Snobs von Pensionisten leben hier zuende. Für sie hält man sonntags ein Schweizer Blatt.
    p
      | Das Cafe möchte gern auf einem Marmorhügel stehen und Kurgäste haben. Eine Juke-box kommt ihm nicht herein. Einheimisch-Langhaarige werden zum Friseur verschickt. Kinder aber bekommen Drops und Lutschstäbe. Hinter einer spanischen Wand sitzt die Cafetière im Negligé und schreibt die Steuererklärung.
