extends ../../templates/layout
block page-vars
  - const title = "Chemiewerk"
block main
  article#chemiewerk
    h2.inline-title Chemiewerk.
    p
      | Es steht, eine böse, dicke Fata morgana, plötzlich da, in der gleichförmigen Flußbegleitlandschaft. Es dampft aus erlaubten Ventilen und unerlaubten Fugen: es wird in irgend einer Stunde explodieren, das ganze System hochhäuserhoher Öfen und Töpfe eine Bombe. Einstweilen spielen die Schiffskinder mit den Schüttkegeln glänzendgroben grellgelben Schwefels. Einstweilen glühen gelbrote Glutluken durch Fenster oder raschgeschlossene Hallentüren. Aus einer Halle flakkert es blauweiß: sie ist ein einziger Schweißbrenner. Fenster sind mit weißem Pulver beschlagen. Die ganze Luft der Umgebung ist ozonisiert und geätzt. Die Ödkräuter in weitem Umkreis sind braun und schmieren. Rohrleitungen — dünne bunte — oder dicke aluglänzende Riesen-Ofenrohre mit Knien und Abzweigern verbinden die eigenbrödlerischen Gebäude. Jedes gebäudet anders. Klötze der verschiedensten Formen und Größen. Lagerbunker, Türme, Werkhallen, mit vielen eingeschlagenen Fensterwaffeln. Häuser, als Sortierer und Krane in einfachen Farben entpuppt: dottergelb, blau, orange, pfefferonirot, blau. Saugzüge orkanen. Wärme bläst mächtige Wärmehauben auf: Rippenatmer aus Aluminiumblech. Freistehend: Kessel, Öfen, Gerüste hinfällige Gleichgewichte aus gebogenen Riesenrohren. Monsterspielzeuglandschaft, brodelnd. 
      em Wieviel Wärmeeinheiten gibt ein verfeuerter Mensch, wieviel Gramm Spurenelemente gewinnt man durch Veraschung von hundert Frauen im Gebläse? Wieviel Schilling Ersparnis bedeutet der Einsatz von Kinderskalps statt Schimpansenfellen zur Heptacystin-Erzeugung? 
      | Es arbeitet ohne Arbeiter. Es ist ein marsiges Urviech. Es geht vorbei, weicht einer Halde dann wieder gleichförmiger Flußbegleitlandschaft, macht auf Beruhigung, wird unansehnliches Städtchen und allmonatlicher Handelspartner.
