extends ../../templates/layout
block page-vars
  - const title = "CP"
block main
  article#cp-computer-proletariat
    h2.inline-title CP, Computer-Proletariat.
    p
      | Ich sehe schwere Zeiten voraus, jammert der Ingenieur. Durch die zweite industrielle Revolution, die Vollautomatisierung, werden bald nur noch hochqualifizierte Spezialisten einen Platz an der Sonne haben. Auch der Durchschnitt der heutigen Gymnasiasten wird nicht gescheit genug sein, um zum Zug zu kommen. Es wird eine Führungsschicht geben, in der Höchstbegabung als Norm verlangt wird, und ein breites Computer-Proletariat, ich nenne es CP, in dem auch ein großer Teil des heutigen 
      em oberen Managements 
      | versinken wird. Glauben Sie mir!: ich hätte selbst Schwierigkeiten, sagen wir, die Volumsberechnung eines Ellipsoids, an sich keine Hexerei, in Algol oder Fortran oder sonst ein Computerchinesisch umzudenken. Da helfen Ihnen die eleganten Schulformeln nämlich gar nicht. Sie wissen vielleicht, es werden jetzt sehr die Rechentricks primitiver Völker eingesetzt; der Computer ist eine Art Idiot; man muß ihm die Fragen schrecklich primitiv stellen. Und jetzt denken Sie, wie hell einer sein muß, um diesem Idioten eine ganze vollautomatische Betriebsleitung anzudressieren oder die Energieverteilung eines ganzen Kontinents.
    p
      | Das CP wird nur noch für die Kanalreinigung etcetera gebraucht werden, glauben Sie mir! Aber auch Kanäle gibt es nicht so viele, daß man beispielsweise 90% der Wiener hineinstecken kann. Einzige Lösung — Vordruck aus dem Computer —: Herrn und Frau Soundso! Melden Sie sich, bitte, am Soundsovielten um soundsoviel Uhr bei der Teppenvernichtungsstelle. Vernichtungsgebühr Schilling soundso sowie Personaldokumente und sorgfältig ausgefüllte Totenscheine (erhältlich in jeder Trafik) sind mitzubringen. Die Oberste CP-Raumplanung.
    p
      | Was glauben Sie, was das für böses Blut machen wird! Die Weltrevolution wird nicht von Rußland oder von China kommen, auch nicht von den unterentwickelten Völkern, die haben doch in ein paar Jahren die gleichen Zoress wie wir. Nein, ich sehe die Katastrophe im CP. Ich habe mit ein paar Freunden eine Schätzung aufgezogen: wir rechnen, in groben Zahlen, drei Viertel der Welt werden vernichtet werden. Fragt sich, wer siegt: die Masse, die dann praktisch die ganze Zivilisation zerstören wird und auf Steinzeitniveau wieder anfangen muß, oder — die hochorganisierte Intelligenzdiktatur. Eines steht jedenfalls fest: Vae victis!
