extends ../../templates/layout
block page-vars
  - const title = "Debitorenbuchhalterin"
block main
  article#debitorenbuchhalterin
    h2.inline-title Debitorenbuchhalterin.
    p
      | Sie sitzt an dem wasserdurchlüfteten Büronachmittag im Büro, der Chef hat ihr erlaubt, eine gelinde Umstellung des Raumes vorzunehmen. Sie liegt an der Sonne Oberitaliens, zwei Papagalli küssen ihre Augendeckel, es leuchten ihre Aktendeckel, nicht grün, weiß, rot, sondern nil, elfen, blaukraut, sie liebt fingernd die Hängekartei und das erfolgreiche Mahnen. Ihr Lieblingslied ist:
    p.poetry
      | Ich bin Debitorenbuchhalterin,
      br
      | schnack, schnack, Debitorenbuchhalterin
      br
      | in der kaiserlich welschen Armee.
    p
      | Zuhause hängen, wie in Eliot's Waste Land III., ihre trocknenden Unterwäschlein im sinkenden Sonnenlicht, das hat ein autoritärer Anglistikstudent ihr aufgetragen. Ihr Handelsenglisch ist gut, aber in der Debitorenbuchhaltung nicht zu gebrauchen, denn die Kunden schulden deutschsprachig. Sie hat die Kontenauszüge bis Fe— schon gemacht, morgen hofft sie von Fi— bis Hou— zu kommen. Sie liebt irgendwie ihre Arbeit, irgendwie das Leben, irgendwie die Männer. Meinungsbefrager über die Grenzen dieser Genauigkeit weist sie geläufig ab.
