extends ../../templates/layout
block page-vars
  - const title = "Deck"
block main
  article#deck-1
    h2.inline-title Deck 1.
    p
      | Vorderdeck. 
      em Die kühle Brise. 
      | In dieser Morgenstunde alles im Schatten. Dankbar die bewußtlebenden Menschen, dafür, daß es an Sonnentagen Schatten gibt; im System der perfekten Bratpfanne, die aus diesem Schiff heut noch werden würde, nichtfunktionierende Stellen, Zufluchten; wenn die Sonne mit jedem Strahl die Haut schon abschürfen würde, immer noch kühle, brisige, wasserstaubsprühende Stellen.
    p
      | Dankbar aber nahmen auch die Kamele im Palmschatten Platz: Ausflügler mit Rucksack, Trampeltiere sogar mit zwei; schlugen sich sogleich um beste Plätze und Klappstühle. Klappstühle verloren gern die Feder und sackten mit den schweren Lasten zusammen: den muffigen Popos der Pensionistinnen in drei Dirndln übereinander, den mürrischen Hinterteilen der Männer, die im Moment des Eintritts in den Ruhestand noch rasch in den höheren Dienstrang aufgerückt waren. Solche trugen Salonlederhosen, Stutzen, Bergschuhe, als müßten sie um die Brathühner, die am Ende warteten, erst in einsame Granitwände steigen. Unentwegte Mästerinnen mit sehr mütterlichen Gesichtern, mehreren Kinnen übereinander, wickelten gleich Lebensmittel aus, Rohstoffe und Fertigwaren, und begannen sie, unter Rede und Gegenrede, den Männern in die Rachen zu schieben. Sie sagten zu ihnen Papschi, und die sagten zu ihnen Mamschi, jede Mamschi also war ihre eigene Großmutter, und das schon 30 Ehejahre lang. J. war versucht, dem landeskundlichen 
      a.arrow(href="befund.html") Befund
      |  rechtzugeben: 
      em diese Stadt ist keine Stadt der Liebe;
      |  auf die kurzen Späße von Wollen und Bekommen folgt unheimlich früh die lebenslange Sulz; Moorochsen, Kuh neben sich, der Sumpf spritzt ihnen bis an die Keulen, sie schlenkern ein wenig mit den Schweifen, Idyll, die benachbarten Keulen, im Abendsonnenschein von hinten gesehen, sie berühren einander nur aus Unaufmerksamkeit; dann und wann ein dumpfes Muuuh; und die Ausnahmen leben vom Wehtun; eine Stadt, wie geschaffen zum Alleinbleiben. Die Mädchen der Walachei hingegen, hieß es neulich im Radio, sind durchwegs Liebesgöttinnen. Wie sieht es auf dortigen Vorderdecks aus? Ich muß einmal irgendein Sulfat und mich dorthin exportieren; bevor ich zu alt bin.
    p
      | Diese Gedanken liegen auf der Folie des 
      em reizvollen weißen Tuns am Ufer 
      | (
      a.arrow(href="stationsgebaeude-wasserseitig.html") Stationsgebäude, wasserseitig
      | ). Die Gedanken verändern das Stationsgebäude im Sinn einer Überbelichtung; das Objekt wird ein helles, grelles Farbdiapositiv ewigen Sommers werden.
    p
      | Weil die Abfahrtzeit nah war, suchte sich J. sein Wo, einen schattigen Tischplatz am offenen Fenster, stark wasserhaltig (man überfliege zur Einnässung 
      a.arrow(href="wasser.html") Wasser
      |  oder 
      a.arrow(href="einmarsch-ins-schiff.html") Einmarsch ins Schiff
      | ), im gedeckten 
      em 
        a.arrow(href="mittelteil.html") Mittelteil 
      | zwischen Vorder- und Hinterdeck.
  article#deck-2
    h2.inline-title Deck 2.
    p
      | Hinterdeck. Noch überwiegt die Wasserfrische, aber schon stichts auch von oben und beglückt unsere Bikinimädchen mit der Gewißheit, heute schrecklich 
      a.arrow(href="braun.html") braun
      |  zu werden; gar nicht mehr als Mensch erkennbar, nein, schon wie ein Umkehrphoto; Braun-schwarz schwärzester 
      a.arrow(href="zigarre.html") Zigarren
      | ; anfängliches 
      a.arrow(href="schweinchenrosig.html") Schweinchenrosig
      |  nur dort, wo für den Boyfriend der Bikini fällt, aber weißgesilbertes Haar und zinkoxydweißer Mund (hartnäckig gegen alle Modewandel seit 1960 verteidigt, denn Weiß ist immer noch das Aufregendste zu schwarzem Teint; die ersten kleinen Kopenhagnerinnen, die die weißen Lippen erfanden, drückten sich einfach Zahnpaste auf den Mund).
    p
      | Dankbar schmiegen sich die bewußtgenießenden in die Liegestühle, ölnaß auf die erfolgbringende Marter wartend, die acht Stunden hautverändernder Schmore. Eine trinkt Juice aus einem künstlichen Zitronenball, »solangs kalt ist«, kommentiert sie. Sie hat grobe Füße entblößt, könnte Mittelstürmer sein, nur wäre dessen Nagel nicht verschrumpelt und schriee nicht dieses 
      a.arrow(href="jung.html") junge
      |  Zyklam, das wie ein Zuckerl in den Mund gesteckt werden will. Eine Ähnliche malt sich mit solchem Zyklam langsam die Ziffern 007 im Halbkreis um den bloßen Nabel; sie behauptet zu einem schwitzenden neugierigen Senior, daß diese Ziffern dann auf der dunklen Haut weißbleiben; Sie werden lachen, ich habe mir jeden Bondfilm angesehen, sagt der Senior; dann ruft seine Frau, sie wäre schon weit voraus.
    p
      | Mir aber, denkt J., ist es schon jetzt hier zu heiß. Er hat ein feines Seidenhemd an, fürs 
      a.arrow(href="exporteur.html") Exporteur
      | -Treffen, mit schweren gedrehten goldenen Manschettenknöpfen. Im Schwimmbad läßt es sich nicht vermeiden, das Hemd abzulegen, auf einem Verkehrsmittel aber scheut er sich davor; seine Brust ist zwar braun, doch fast haarlos; und seit er gelesen hat, daß achtzig Prozent der Frauen starkbehaarte Männer vorziehen und weitere acht Prozent noch mittelmäßig behaarte, ja, daß in den USA Perückenmacher neuerdings Zweitfrisuren für die männliche Brust herstellen, die reißend Absatz finden, leidet er — fast wie ein schlechtdimensioniertes Mädchen — an einem Brustminderwertigkeitskomplex.
    p
      | J.s Optik wildschweint zum einstweiligen Abschied unterschiedlos über das wenig unterschiedene Fleisch der Einzelnen, unterscheidet viel eher mitten durch das Gemädchen Hügel von Mulden, Sonnenöl von Schweißtröpfchen auf den sorgfältig blankgeätzten Pölsterchen unterm Arm. Er bettet diesen Kannibalenmarkt dann in das 
      em reizvolle weiße Tun am Ufer ein 
      | (
      a.arrow(href="stationsgebaeude-wasserseitig.html") Stationsgebäude, wasserseitig
      | ) .
    p
      | Er spielt sentimental: Der muntere Sex verkleinert sich im Weitwinkelobjektiv, danebentreten Exporteurkäfig, Sinnforschungszentrum und Altkaufmannsverwertung, die ernsteren Sehenswürdigkeiten seiner Inside-Stadt.
    p
      | Die Abfahrtzeit ist nahe, darum sucht sich J. sein Wo, einen schattigen Tischplatz am offenen Fenster, stark wasserhaltig (man überfliege zur Einnässung 
      a.arrow(href="wasser.html") Wasser
      |  oder 
      a.arrow(href="einmarsch-ins-schiff.html") Einmarsch ins Schiff
      | ), im gedeckten 
      a.arrow.main-route(href="mittelteil.html") Mittelteil
      |  zwischen Hinter- und Vorderdeck.
