extends ../../templates/layout
block page-vars
  - const title = "Deformation"
block main
  article#deformation
    h2.inline-title Deformation.
    p
      | Während der Sadomasochismus lt. Freud vom Todestrieb, lt. Adler von der polarisierten Ich-Umwelt-Beziehung herrührt, gibt es einen Eingriffstrieb gegenüber eigenem wie fremdem Körper, der 
      em freundlicber 
      | Beziehung zu danken ist. Diesem Eingriffstrieb folgten die Inder, als sie kunstvolle Muster in die Frauenhaut bissen, die Urmenschen, als sie sich erstmals Zierwunden beibrachten, ihm folgen die Mädchen, die sich von schönem Blond auf schönes Rot umfärben und wieder zurück, und ihm folgen die College-Boys, die ihre College-Girls mit Schlamm zuschmieren. Den Variationslüsternen zuliebe baut sich der Bodybuilder Pakete ein, bis er keinem Menschen mehr gleichschaut, und für jenes unselige Starlet begann der Kundendienst damit, sich zu einem anderen Lebewesen namens Monroe emporzuoperieren.
    p
      | Das Behandeln des Körpers macht ihn erst sichtbar und fühlbar. Unter vermeintlichen Sadisten wird es manche geben, die das Schöne von feiner Frauenhaut erst apperzipieren, wenn sie eingeschnitten ist und frisches Blut über sie läuft. Dem Araber (
      a.arrow(href="mastmaedchen.html") Mastmädchen
      | ) wird es lang nicht so viel Spaß machen, wenn er auf den Heiratsmarkt geht und sich ein Tonnenweib heimbringt, als wenn er ein zierliches Mädchen erwirbt und ihr nun zweistündlich dicke Breie in den Mund kleckst, so daß sie in kurzen Wochen zur Monsterbraut aufquillt. Und auch diesem Mädchen wird jedes Schlingen und jedes Selbstbefühlen lustvoll sein, und wenn der schenkelweite Armreif ihr endlich paßt, wird sie ihren Körper — das selbstgebastelte Paarbett — geradezu narzißtisch lieben.
