extends ../../templates/layout
block page-vars
  - const title = "Dicke Leute"
block main
  article#dicke-leute
    h2.inline-title Dicke Leute.
    p
      | Ein zeitungbeliefernder Diagonalleser meiner Erzählungen stellte irrtümlich fest, bei mir fänden sich nur zweierlei Frauen: ätherisch-schwesterliche Mädchen und gefräßig-dumme Fettweiber. Dieser Kritiker wird jetzt platzen: von dem Fett, das ich diesmal in mein Buch investiere. Barbara ist dick, die Serviererin dick, eine Menge Fahrgäste dick, und sogar der absichtlichen Frauenmast ist ein Artikel gewidmet. Liegt es am sozialistischen Realismus, der mich zwingt, unser Prosperitätsfett uneingemiedert nachzubilden? Liegt es an der eigenen Figur, für deren Überhandnehmen der Autor ängstlich Parallelen rundherum sucht? Liegt es an einer unbewältigten Nichtzubewältigenden? Hat der Autor für sich die Niederländer entdeckt? Will er aszetisch die Welt geißeln, Striemen ziehen über das Bauchfleisch — den Sitz der Völl- und Hurerey Babels?
    p
      | Ich lasse das Antworten sein. Wenn ich auch sage: »ich habe bloß das, was grad dawar, gezeichnet« — ob es stimmt, wissen ja doch nur die Diagonalleser.
    p
      | Aber eine Unterstellung muß ich schon aus Selbsthöflichkeit abwehren: daß ich dicke oder gefräßige Leute für dumm oder unliebenswürdig halte.
    p
      | Gewiß 
      em studiert ein voller Bauch nicht 
      | immer 
      em gern, 
      | gewiß greift eine körperliche Schwerfälligkeit und Bequemlichkeit gelegentlich aufs Denken über, gewiß verbindet sich in Barbara philiströse Mittelmäßigkeit unlösbar mit einem typischen, erotisch gar nicht so erfolglosen Habitus, gewiß beobachtete jene Journalistin richtig, die ein gehäuftes Auftreten von Rund in den Siedlungen und Vergnügungsstätten des neuen Kleinmittelstandes (sie sagte »proles«; Marx, verzeih ihr!) vermerkte; gewiß investiert dieser Stand einen höheren Prozentsatz vom Einkommen in Nahrung, vor allem im Viel an Nahrung; und einen geringeren in musealem Prestige; gewiß gibt es unter Vornehmerzogenen eine ästhetische Tradition der Zerbrechlichkeit; aber steht ein sozialer Status, ein museales Prestige für klug und liebenswert?; gewiß hindern allein schon die obligatorischen nervösen Magengeschwüre den Musterintellektuellen am Fressen; gewiß kann das Grauen edle Schlünde zum Grausen bringen und ihre Besitzer melancholisch schlankhalten; aber: es kann laut Rilke auch zur Flucht in den Napf führen: »Dann aß er. Wie ein Knecht zu Mittag ißt.« Und jetzt käme die Liste der freßvitalen und der fettleibigen Geisteshelden; die aus oder ohne Grauen, munter oder tragisch, viel oder teuer, fest oder flüssig geschlemmt haben, die Mast- oder Drüsenverblähten, die Dichter, Herrscherinnen, Denker, Wissenschaftlerinnen, aber auch all die unberühmt klugen und liebenswerten Damen und Herren des Speckadels, die unserem Alltag ihr optisch-geistiges Gewicht einzudrücken versuchen.
    p
      | Daß ich die 
      em erotischen 
      | Möglichkeiten des Üppigen mit aller Sorgfalt würdigte, das Fleisch nicht mit der Geißel streichelte, ist wohl überhaupt sichtbar; außer vielleicht für jene, die von Freundschaft und Sorgfalt ästhetische Verklärung verlangen; die selbst ihren Pudel noch desodorieren; ich hab ihn hundelnd lieber.
    p
      | Zuletzt: wenn ich 
      a.arrow(href="fetischist.html") Fetischist
      |  bin, so: ein universaler. Also braucht Ihr Magersten unter meinen Leserinnen nicht entmutigt zu sein oder zum Mehlmilchbrei (
      a.arrow(href="mastmaedchen.html") Mastmädchen
      | ) überzugehen; ihr habt um kein Dekagramm weniger Chancen, von mir ins Herz geschlossen zu werden, wenn Ihr nur sonst süß seid.
