extends ../../templates/layout
block page-vars
  - const title = "Die Heterogene"
block main
  article#die-heterogene
    h2.inline-title Die Heterogene.
    p
      | Ihr Körper ist schlank, selbst die Oberschenkel, die in der Eröffnungsgeste das Eröffnete verdecken, wodurch das Journal höchstens in Österreich beschlagnahmbar wird, verzichten auf animalisierende Mächtigkeit. Die Brüste fallen nicht ins Gewicht. Das Gesicht aber staut die Kernung eines übernährten Frauenkörpers, ist also Fettfetischisten Trost und Zentrum, mischt den geekelten, mühsamen, quetschenden Ausdruck der Schmalzbehinderten mit der Frechheit, dem Stechblick, der Tropflippenträgheit billiger Straßenmädchen. Eine Nachahmung des Betts Ludwig des Soundsovielten macht die Frau, die eben irgendwie beschaffen ist, irgendwie beschaffen muß sie ja sein, zu einem vollwertigen Ding des Herrenjournals.
