extends ../../templates/layout
block page-vars
  - const title = "Die mit der Tulpe"
block main
  article#die-mit-der-tulpe
    h2.inline-title Die mit der Tulpe.
    p
      | Sollte wirklich alles schon dagewesen sein? Der haarkünstlerische Vorgang, den Chemiekaufmann J. als Halbwüchsiger mit viel Staunen in einer Wochenschau gesehen hatte, spielte sich nun, nach einer Generation, wieder ab. Das Modell Mathilda, töchterlich ähnlich dem damaligen Modell, bekam vom Starfriseur nach Dachgleiche des Kunstwerks eine frische Tulpe ins Haar gesteckt, und nun wurde das ganze mit einem schwarzen Lack zur Einheit gepinselt. Wie damals kam J. flüchtig die Lust, das überzüchtete, doch irgendwie anmutige Architektürchen durch eine elementare Bettkatastrophe zu zerstören. Was sonst als der entropische Trieb, höhere Ordnungen zum Chaos zurückzubauen, sollte durch solche Eintagskunstwerke wie Haarbauten oder domnachbildende Torten angesprochen werden? Unbezahlbarer Moment: quer durchs Mittelschiff sägt das Tortenmesser, der Zuckerguß splittert, die ersten Brösel fallen aufs Tablett.
