extends ../../templates/layout
block page-vars
  - const title = "Die Rote im roten Trikot mit rotem Popo"
block main
  article#die-rote-im-roten-trikot-mit-rotem-popo
    h2.inline-title Die Rote im roten Trikot mit rotem Popo.
    p
      | Man mag sie, weil sie den Kopf ertappend nach dem Beschauer wendet; doch tut sie dies nicht abstrafend, sondern wissend um menschliche Wünsche, freundlich, sogar einladend; wenn auch nicht schon herausfordernd. Das Trikothöschen ist extrem kurz und schnürt die Schinken ein (auch am Rollschinken erhöht die Schnürung ja den Appetit). Die Breite, die dadurch betont wird (durch die Photoperspektive ein zweites und durch das lebendige Rot des Trikots ein drittes Mal, während von der Weiße des Fleisches als viertem Mittel zugunsten animierender Rotbräune Abstand genommen wurde), verheißt daß es nötig sei, sich mit dieser Prachtfrau sehr kräftig zu beschäftigen; optische Täuschung durch Zentimeter, deren jeder zusätzliche groß von »Bewältigung« daherredet, so wie man glaubt, daß eine Jause mit einem Professor das Gehirn besonders anstrengen wird.
