extends ../../templates/layout
block page-vars
  - const title = "Die mit den Schlafaugen"
block main
  article#die-mit-den-schlafaugen
    h2.inline-title Die mit den Schlafaugen.
    p
      | Wie sehr, sagt Alphard Mutz rückerinnernd, hätten wir (ich, der kleine Zero Zobiak und der mittelgroße Encore Edibelbek) unsere Schlafpuppen, mit denen wir, ehe man uns an den Koala-Bären gewöhnte, schliefen, geliebt, wenn sie wie diese Kitty Durban die ganzen Lider, von den Wimpern bis zu den Brauenbögen hinauf, mit diesem Nachtschwarz ausgefüllt getragen hätten. Wir hätten gesagt: Wenn eine Tag und Nacht nur mit Männern liegt und die Haut ihrer Lider allmählich ganz durchscheinend wird und Schicht für Schicht die gestockte Enttäuschung blau, violett, grauschwarz sich ablagert, nie wird sie diese Summe verrotteter Verheißung anhäufen, die der Chefkosmetiker McLoy mit einem einzigen unerregten Pinselschwang vom 
      span.small-caps Black
      | -Tiegel auf die Mädchenhaut transportiert. Er kriegt gezahlt, und fünftausend Leser erkennen sich in französischen Duft und chinesische Seide gewickelt. Fünftausend Kitty Durbans seufzen kaum hörbar ihre entzückte Ergebung ins Leserbett, und ihre schwarzen Lider warten, blankgeküßt zu werden.
    p
      | (Schwarz ist die Farbe von Metall, von Schwere; ist darum für die Herstellung von Illusionen der Trägheit, des folgenschweren Entschlusses, des Hypnotisiertseins etc optimal geeignet; mittelalterliche Damen zerstörten mit Antisyphilisquecksilber das Weiß ihrer Zähne, und symptomatisch schnell wurde eine Gesundenmode daraus. Wenn McLoy Kitty 
      em Schwarz 
      | aufhäuft, legt er ihr Totenmünzen auf die Augen; dabei ist Dornröschen ja nur tiefkühltot.)
