extends ../../templates/layout
block page-vars
  - const title = "Diensthäuschen"
block main
  article#diensthaeuschen-1
    h2.inline-title Diensthäuschen 1.
    p
      | Inventartafel unter Glas:
    ul.no-bullets-padding
      li ... kg Ruß
      li ... Blumen
      li ... exakte Zäune
      li ... Drahtgitter gg. Bahn
      li .1. Selbstmörderfangkorb
      li ... Signalstangen
      li .1. Matrone
    p 
      | Herrn ..... Karl Schappleitner ....., Dienstrang ............., zur getreuen Verwahrung und Instandhaltung übergeben. Für die Direktion: Mampel m.p., Kappl m.p.
    p
      | Die unausgefüllten Positionen des Inventariums und vor allem der leergelassene Dienstrang kränken den ordnungsliebenden Häuschenisten, und er schreibt in seiner Freizeit immer an einer aufrüttelnden Eingabe in o.a. Sache an die der hierortigen Dienststelle übergeordnete dortamtliche diesbezügliche Unterhauptabteilungsleitung z. H. d. Herrn Vizesekretär Ägid Moppl.
  article#diensthaeuschen-2
    h2.inline-title Diensthäuschen 2.
    p
      | Etwas Gemüse, Dillidyll, die großen gelb-grünen Dolden, Dolden am Drahtgitter gegen die Bahn, Dienstdrahtdolden, in Fenstern aber und am Hausfuß die vorgeschriebenen bunten Blumen, die It. Diensterlaß dralle Diensthausmannsfrau aus der Gießkanne rieselnd, Dilldienstkost und Blumenkohl kochend, an geeigneten Tagen auch Kriechgurken einlegend, die kleinen gelb-grünen Gurken in so große grün-weiße Gurkengläser, und nie steht im Widerspruch zu Dill-, Draht- und Blumendienst ein in die Sonne schauendes Kleinkind, im Gras sitzend, Grassaft pressend, Gras schuhharkend und mit dicken Beinen Gras dreschend.
  article#diensthaeuschen-3
    h2.inline-title Diensthäuschen 3.
    p
      | Zunächst 
      a.arrow(href="diensthaeuschen.html#diensthaeuschen-1") Diensthäuschen 1
      |  und 
      a.arrow(href="diensthaeuschen.html#diensthaeuschen-2") Diensthäuschen 2
      | . Dann Korrektiv: »Nicht hierin enthalten die Lebensenttäuschung des männlichen Insassen, die Anfangsfreude an seiner Bestallung und seiner Frau, die frühe Resignation der Frau über Ort, Ruß und Mann, die Paradiesperspektive des Gärtchens für einen Jungurlauber, der sein Unglück in der Stadtkarstwand hängengelassen hat, die Höllenperspektive des selbstgenügsamen Häuschens für eine Jungangestellte (die noch hoch- und weitwill, 
      em am Amazonas nacktschenklig mit dem 
      span.small-caps Suomi-
      span.small-caps Woods-
      em Junior frische Piranhas grillen);
      |  der Blick vom Häuschen zum Wassernixwasser der erstaunte Blick des Wassernixes auf Quader- und Kratzland-Idyll im Drahtgehege. Wo haben Sie Ihre Hühnchen, wo Ihre Kaninchen? Woraus besteht Ihre Bibliothek? Was hat Ihre dralle Frau für Liebesträume? Wo beziehen Sie Ihr Heroin? Frau dralle Frau wird Ihr Gatte vor der Pensionierung sterben, und werden Sie da gerade die Akklimatisation eines Rhododendrons versuchen? (Sie verstehen, rot-grüne Pflanzenrhomben werden durch Ihr Gitter in den Lampenkarussell-Lärm des nahen Volksfestes schneiden; und das Türwehen bringt erratische Luft aus dem gänzlich andern und jungen Ort, aus dem Sie zur Zeit marsroter Hoffnungen kamen.)«
