extends ../../templates/layout
block page-vars
  - const title = "Dynamit-Attentäter"
block main
  article#dynamit-attentaeter
    h2.inline-title Dynamit-Attentäter.
    p
      | Dynamit-Attentäter sind typische Dynamit-Attentäter. Sie schlendern in eine Kaschemme, blinzeln sich beim Eintritt zu, kauen an einem Zünder, hüsteln anzüglich, begrüßen sich — wenn nur die Kellnerin zuhört — mit Spreng Heil!, drücken sich nur in Kilogramm TNT aus, zeigen einander ihre Sprengwunden und polizeilichen Brandnarben, teilen die Landschaft in Planquadrate, brummen unhörbar »Du nimmst dir C 5 — ich geh auf D 4«, schwärzen sich das Gesicht mit Korkruß, die weißen Zähne blitzen nur so, sie lesen in Zeitungen am liebsten die Anschlagsmeldungen, haben alle Chemie studiert, telephonieren in Nachtklosetten, sagen von einem schönen Mädchen »Das ist eine brisante Katz!«, schleichen in Steinbrüchen hinter die Sprengfahne und stopfen sich die Taschen mit plastischem Sprengstoff voll, detonieren gelegentlich, wenn sie im Rausch hinfallen, wünschen sich, die Politik möge nie aufhören, und der liebe Gott hat immer noch ein Einsehen gehabt und sie hört tatsächlich nicht auf.
