extends ../../templates/layout
block page-vars
  - const title = "Edelnaschwerk"
block main
  article#edelnaschwerk-1
    h2.inline-title Edelnaschwerk 1.
    p
      | ZB die berühmten H⁂-Bonbons: grünes Marzipan – grün!, die traditionelle Giftfarbe, Kupfer, Arsen, immer an lockend falschem Platz für die Färbung von Lebensmitteln (selbst wenn man weiß, es ist heute ein zahmer Teerfarbstoff, der bloß Leberkrebs hervorruft); eine Ausnahme: jemandes Großvater erzählte, die Sächelchen würden mit Spinatwasser gekocht, pfui! (
      a.arrow(href="spinat.html") Spinat
      | ); auch von 
      a.arrow(href="brausepulver.html") Brausepulvern
      |  naschte ich grünes am allerliebsten, so wie mich die grünen Krampusse am meisten höllischstimmten.
  article#edelnaschwerk-2
    h2.inline-title Edelnaschwerk 2.
    p
      | ZB Krachbonbons. Auf dem Cellophansäckchen steht »Besonders gut im Theater. Mmmmm!«. Romeo, Heesters in der Hauptrolle, krach!, mmmmm! Zerging in Dunst das heilge Römsche Reich, krach!, mmmmm! Das Schwein am Spieß wird schreien wie das Schwein am Spieß, krach!, mmmmm!
  article#edelnaschwerk-3
    h2.inline-title Edelnaschwerk 3.
    p
      | ZB (für solche, die es eilig haben, zur Hauptlinie zurückzukehren; denn es ist nicht jedermanns Lust, die verzögernde Wirkung des Details zu genießen, so wenig das von der Hauptsache unterschieden sein mag; in ein Tor einzutreten, nur um in eine Tür einzutreten, durch die man ein Fenster sieht, das gegen ein Vis-à-vis-Tor mit einem Durchblick auf ein geöffnetes Fenster geöffnet ist, durch das man einen Dampfer sieht, der einen Chemiekaufmann nach Druden tragen soll) Grillage.
  article#edelnaschwerk-4
    h2.inline-title Edelnaschwerk 4.
    p
      | ZB grünes Waldmeister-Eis, in weißen Jasminhonig eingegossen (in Kühlhaltepackung vertrieben). (Zu »grün«: 
      a.arrow(href="edelnaschwerk.html#edelnaschwerk-1") Edelnaschwerk 1
      | .) Mit Jasmin ein Lebensmittel zu parfumieren, ist ein leicht perverses Beginnen, das aber bei Halbwüchsigen viel Anklang findet: sie kommen sich beim Lutschen anrüchig, mondän, intellektuell vor, namentlich seit eine Firma für intime Hygiene die Geruchlosigkeit ihrer Erzeugnisse gegen Jasmindüfte eingetauscht hat; Jasmin ist-natürlich—schwül, zugleich aber, was nicht jeder weiß, kühl wie Leinen, vielleicht auch nur durch die Tatsache, daß er oft im erkaltenden Abend gerochen wird und glatte weiße Blütenblätter hat. »Weißer Honig« ist genauso pervers, wie jede Bienengewerkschaft einhellig-empört feststellen wird, und Waldkräuter für Eis zu versaften, schließlich ebenso; es ist, als führte man ein Reh an der Leine.
  article#edelnaschwerk-4
    p
      | 
      b.inlineTitle Edelnaschwerk 5.
      |  ZB gefüllte Bierkrüge aus Zuckerguß und Gelee. Der Reiz des Unerwarteten, wenn offensichtliches Pils im Moment des Zungenkontaktes in Orangenkonfekt umschlägt. (So wie die Wachtelschenkel beim Gelage jenes römischen Senators erst im Mund zu dem Fisch wurden, aus dem sie modelliert waren.)
    p
      | Auch die Freude, das stets gefürchtete 
      em Glas
      |  einmal mit Butz und Stingel aufessen zu können.
    p
      | Von dem Vergnügen des strenggehaltenen Dreijährigen, wie die Erwachsenen Bier trinken zu dürfen, ganz abgesehen. (Ich selbst durfte schon als kleines Kind Bier trinken, ja, bekam noch vor der ersten Muttermilch Champagner, was nach Ansicht von Tiefenforschern zum Engramm einer manischen Überhöhung des Saugerlebnisses führen mußte.)
