extends ../../templates/layout
block page-vars
  - const title = "Eichhörnchen"
block main
  article#eichhoernchen
    h2.inline-title Eichhörnchen.
    p
      | Auch Autoren, Komponisten und Verhaltensforscherinnen halten sich Eichhörnchen. Diese gleichungsknackenden Zähne! Diese rostbuschigen Schwänze ! Geschwindigkeit, Geklettre, Geschmiege. Das Zimmer ein Wald, nichts unbeschädigt. Beim Milchkauf stets zuerst ans Eichtier denken, es eicht uns gründlich, das Hörnchen, ehe es uns zum Freund ernennt. Wozu hält man es? Verhaltensforscherinnen — gut. Aber Komponisten und Autoren? (
      a.arrow(href="motive-fuer-den-erwerb-eines-eichhoernchens.html") Motive für den Erwerb eines Eichhörnchens
      | .)
