extends ../../templates/layout
block page-vars
  - const title = "Einmarsch ins Schiff"
block main
  article#einmarsch-ins-schiff
    h2.inline-title Einmarsch ins Schiff.
    p
      | Über schwankende Planken (die Konstruktion aus Pfahlbauernzeit wird absichtlich nicht erneuert, denn nichts gibt innigeren Kontakt zum ersäufenden Wasser als morsches, mit wenig Eisen gestütztes, schwingendes Holz; dies seemännische Fluidum will kein Wasserausflügler missen)
    p
      | hochhin über zwölf, dreizehn Flußrand-Fische (Meister im Geschicklichkeitsschwimmen, allen Angeln, Netzen und Reusen der Hunderte Stromkilometer, den fischenden Schadensbeamten, Fischkahnbesitzern, den Bärtigen, Strolchen, 
      a.arrow(href="verwahrloste-fischerin.html") verwahrlosten Fischerinnen
      | , entronnen; nicht in Butter gebacken, bleu, paniert, grilliert, an einem alten Schürhaken im Teufelsfeuer gedreht, der Nachtgefährtin serviert, dem alten Raunzer übern Schädel geschlagen, im Gestrüpp vom Sträfling roh mit Haut und Schwanz gefressen; silberschillernd vorbeigleitend oder silber plus blau, wie die Lidschminke der Cleopatra von Gänserndorf; oder olivgelb und braun wie Schlammwasser von Pumpenexpeditionen; und ab und zu etwas ganz Räuberisches Schlankes Schwarzes, ein Stehmesser des Flußreiches, schwimmer-amputierend, tauchertödlich, wie vor 15.000 Jahren)
    p
      | vorbei am Kartenzwicker, am Kettenrassler, am Scheuerbuben
    p
      | in loser Gemeinschaft mit anderen Plankentramplern
    p
      | 'rein ins Trojanische Pferd.
    p
      | Und schon: Reiseführer? Ansichtskarten? Warme Küche ab 11 h. Cola und das neue 
      span.small-caps Ciss
      |  (endlich mit »gebremster Süße«) aus dem roten Automaten, mit Starletbild als Draufgabe (auf roten flachen Plastikknopf gepreßt, zum Annähen ans Ohr oder an die Hosentür).
    p
      | Treppauf, wie durch eine Großmütterkredenz,
    p
      | durch einen gedeckten Gang mit Glasblick auf die SchulmodellMaschinen — noch still —, jeder Teil versilberlackt, sogar die derben teerschwarzen Kabel, — betrieben gewiß mit reinem Olivenöl, von Maschinisten in blühweißen Spitalmäntelchen,
    p
      | endlich ins Freie: an 
      a.arrow.main-route(href="deck.html") Deck
      | .
