extends ../../templates/layout
block page-vars
  - const title = "Eissalon"
block main
  article#eissalon
    h2.inline-title Eissalon.
    p
      | Große Ventilatoren verhindern, daß zuviele Fliegen ins Eis fallen. Vor ein paar Sommern hatten sämtliche Mädchen, die die hohen Hocker ritten, buntmetallene Fingernägel. Die Abfallkörbe, auf denen 
      span.small-caps Bitte
      | ! steht, sind fast leer, dafür sind die Gäßchen voll Eisglitsch und Pappknüll. Vorigen Sommer verkauften Schülerinnen einander hier Pillen. Liebende stecken zwei Trinkhalme in was Sauteures und saugen gemeinsam. Die bunten Platten müssen erneuert werden. Ein Treibriemen wird spätestens nächsten Sommer jemand ums Ohr fliegen. Grünes Eis (
      a.arrow(href="edelnaschwerk.html#edelnaschwerk-4") Edelnaschwerk 4
      | ) ist jetzt sehr beliebt. Echte Sirupe stehen als Rohmaterial zur Schau. Ein Tankstellenmädchen greift in die Overalltasche und drückt sich Senf ins Eis. Abends gibt es rote Beleuchtung auf den nassen Boden und noch mehr Fliegen; das Eindringen der bunten 
      em Kaulquäppchen
      |  erfolgt: Waffeltüten und Knusperröllchen brechen in ihren Zähnen. Auf Eis wird man noch mehr durstig. Der Mann mit der Kochmütze, der jede Weile in den tiefen Gefriertopf greift, hat schon ganz weiße Unterarme. Er knallt den plumpen Deckel wieder drauf. 
      em Verdirb dir nicht den Magen.
      |  Draußen prügeln Leute Ziegen heim. Der WallnerMichel zeigt Stutzi selbstgeknipste Pornos. Nächstes Jahr wird die Schwiegertochter eine fahlleuchtende Musicbox einstellen. 
      em Marmortischchen waren halt ganz was anders. 
      | Übernächsten Sonntag ist Kirtag. Tanzen, Affen schießen, 
      a.arrow(href="leuchtendes-blau.html") leuchtendblaue
      |  Tücher kaufen und nachts vor den gesperrten Buden stehen, das ersetzt den besten Kalender. Beim Bundesheer kannst dich tätowieren lassen, sagt ein Anwärter. Sei nicht so teppert, sagt ein wissender Dritter. Die Kühlflüssigkeit rotiert im geschlossenen System. Für das Streicheln ihres rostroten Haarteils trenzt Linda Michi einen Bananeneiskuß. Die Tür ist offen, damit Fliegen reinkönnen. Die Schlapfen, Stöckelschuhe und Hügeltreter sind voll weißem Staub. Selten löst ein Hockermädchen hier geometrische Aufgaben. Die Lausbuben tragen sämtlich Eigennamen. Der Eissalonbesitzer liebt die Verlagerung der Tropen in sein Städtchen.
