extends ../../templates/layout
block page-vars
  - const title = "Eklektizismus"
block main
  article#eklektizismus
    h2.inline-title Eklektizismus.
    p
      | Solange niemand beanstandet, daß Ralph Waldo Emerson, Karl Kraus oder Arthur Rimbaud jeweils ihre Nasen, Augenfarben, Grundsprachen mit Tausenden anderen geteilt haben, also die häufig vorkommende Nase A, die noch häufiger vorkommende Irisnuance B und den immer noch häufig genug vorkommenden Cliquenjargon C verwendet haben, um ihre 
      em dann doch
      |  Einzigartigkeit in die Welt einzuzeichnen, solange nicht Kritiker das Alphabet nach einmaligem Gebrauch wegschmeißen, so lange beanstande ich an keinem Schriftsteller die Verwendung der Sprach und Baumöglichkeiten anderer. So lange bitte ich aber auch, mich mit dem Vorwurf des Plagiats zu verschonen, wenn ich kurze Sätze wie Klabund, lange wie Gütersloh, traurige wie Storm, lustige wie Arno Schmidt, Konglomerate wie die Expressionisten, Ellipsen wie George, Farben wie die Fauves, Farben wie Magritte, Farben wie Renoir und Schlagzeuge wie Orff einsetze. Trotz Einverleibung von Eigenheiten — ganz wenigen oder ganz vielen — der Prosaisten
    ul.no-bullets-padding
      br
      li Adler (Alfred)
      li Artmann
      li Benn
      li Borchert
      li Brecht
      li Broch
      li Butor
      li Cysarz
      li Doderer
      li Dos Passos
      li Freud
      li Gide
      li Hartlaub
      li Heißenbüttel
      li Hemingway
      li Höke
      li Hömberg
      li Huber (Poldi)
      li Jirgal
      li Joyce
      li Jünger
      li Kafka
      li Kein
      li Kierkegaard
      li Klabund
      li Kräftner
      li Kraus
      li Marker
      li Mayröcker (konservative Periode)
      li Michaux
      li Okopenko
      li Papini
      li Proust
      li Rilke
      li Saint-Exupery
      li Schenzinger
      li Schmidt (Arno)
      li Serna
      li Stifter
      li Storm
      li Wohmann
      li Wolfe
      li u. v. a.
      br
    p
      | und vieler Eigenheiten von Lyrikern, Malern, Programmmusikern, Naturwissenschaftern und Schulmädchen ist meine Exporteurfahrt so sehr Eigentum eines meiner Tage, daß schon alle anderen für sie aufgewendeten Tage wie Diebe dastehen.
    p
      | Die Elster, die Menschen Glasscherben, Nähzeug und chirurgisches Kleinmaterial entlehnt, funktioniert es auch um, macht keine Glaserwerkstätte, Boutique und kein Transplantatorium draus, sondern eine ganz eigenständige Freudenstatt für sich und Gleichgesinnte. Das ist der Unterschied zwischen uns Substantialisten und euch Formalisten.
