extends ../../templates/layout
block page-vars
  - const title = "Element X"
block main
  article#element-x-1
    h2.inline-title Element X 1.
    p
      | 
      a.arrow(href="haeuschen.html") Häuschen
      | .
  article#element-x-2
    h2.inline-title Element X 2.
    p
      | 
      a.arrow(href="haeuschen.html") Häuschen
      | . Veraltete Pädagogen schrecken es: Sei brav, sonst kommen die Schwarzdecker.
  article#element-x-3
    h2.inline-title Element X 3.
    p
      | 
      a.arrow(href="haeuschen.html") Häuschen
      |  mit Emailschild 
      a.arrow(href="scharfer-hund.html") Scharfer Hund
      | !
  article#element-x-4
    h2.inline-title Element X 4.
    .indexed-grid
      .grid-index a)
      .grid-text Zartlavendelblaue Schaumstoffplatten werden entladen? :In einen dunklen braunen Lagerschuppen.
      .grid-index b) 
      .grid-text In einen dunklen braunen Lagerschuppen werden entladen? :Zartlavendelblaue Schaumstoffplatten.
  article#element-x-5
    h2.inline-title Element X 5.
    p
      |
      span.small-caps Idealwäscherei
      | . Hier kann man sich seine Ideale waschen lassen. Im Hof der 
      span.small-caps Idealwäscherei
      |  füttert ein dicker weicher tätowierter Mann in Schlosserhosen ein auf »Mecki« ansprechbares weißes Lebewesen. Die 
      span.small-caps Idealwäscherei
      |  hat auch eine Autowerkstätte für die Autos 
      span.small-caps Idealwäscherei
      | . Aus dieser Autowerkstätte stinkt es nach Leim. Betonbröckel liegen haufenweise umher. Die dicken alten Dampfwäscherinnen waschen nur in weißen Höschen, aber ihr Dampfdienstraum ist gegen Straßeneinblicke öfters durch ein großes weißes Brett geschützt.
  article#element-x-6
    h2.inline-title Element X 6.
    p
      |Eine Brückenwaage, über die ein junger Wanderer wandert. Der Wanderer singt:
    p.poetry
      | Ich will keinen Landregen,
      br
      | denn da kann ich nicht brandlegen.
    p
      | Aus seinem grünen Rucksack schauen drei schmutzigbraune Fackeln.
  article#element-x-7
    h2.inline-title Element X 7.
    p
      | Eine Erd- oder Baustoffmulde. Ein Koch oder Kalkauswäger singt hier in der Arbeitspause ein altsässiges Lied:
    p.poetry
      | Der Mond denkt über die Begründung nach,
      br
      | warum er abnehmen soll.
      br
      | Beim Hausratz hinterm Käse
      br
      | liegt eine Hypothese,
      br
      | doch die ist anspruchsvoll,
      br
      | so jung und anspruchsvoll.
  article#element-x-8
    h2.inline-title Element X 8.
    p
      | 
      em Eisenstangenlager einer Baustelle, sonnenglühend.
      |  Eisenstangen, drahtbartbewachsen, leicht durchgebogen. Noch ehe verwendet, verrostet; ihren gelben Puder verstäubend. Konventionellen Bombenangriffen manchmal standhaltend; zur Erinnerung an ein Schlafzimmer schief in die Luft ragend.
    p
      | Vgl. 
      a.arrow(href="roststangenlager.html") Roststangenlager
      | .
  article#element-x-9
    h2.inline-title Element X 9.
    p
      | Eine Espresso-Tankstelle, dazu ein Häuschen aus jenen rassefremden rotvioletten Ziegeln, ja, ganz aus diesen rotvioletten Ziegeln, und ganz isoliert, in seinem artigen Vorgarten mit Tankstelle und Häuschen, ganz isoliert, grüngepflegt, isoliert, mit allen übrigen Städtchenbewohnern zerstritten, grün-rotviolettgepflegtes Ehepaar, ganz isoliert daliegend.
    p
      | Das Espresso an der Landstraße eine gute Idee. Hier kann man eine leichtflüchtige 
      a.arrow(href="orangeblonde.html") Orangeblonde
      | , Strohblonde, Strichblonde, Rauchblonde, Rotviolette, 
      a.arrow(href="ultraviolett.html") Ultraviolette
      |  aus einem Pannenauto bei espressofarbenem 
      a.arrow(href="espresso.html") Espresso
      |  großstädtern und dennoch sofort wieder unter Maimohn bis Maiskolben sein. Es hat auch einige halbkomplizierte Automaten für einfache Dinge, denn die Inhaberin sagt richtig: »Die jungen Leute spielen gern mit halbkomplizierten Automaten. Und wenn es bloß nötig ist, einige Münzen hintereinander einzuwerfen, schon fühlen sie sich wie am Schaltbrett eines Düsenbombers.«
  article#element-x-10
    h2.inline-title Element X 10.
    p
      | 
      a.arrow(href="bezirksgericht.html") Bezirksgericht
      | , eingebettet in viel hell bis mittel Grün, in das sich die Eingegitterten, nach Genehmigung eines Sehnsuchtscheins, hinaussehnen dürfen.
  article#element-x-11
    h2.inline-title Element X 11.
    p
      | 
      a.arrow(href="stadtbibliothek.html") Stadtbibliothek
      | .
  article#element-x-12
    h2.inline-title Element X 12.
    p
      | Arkaden mit Rathaus, drinunten Kartoffel mit Grillfisch. (An hellem Tag in einem dunklen Keller sitzen, bei 40 Watt je Fisch, diese souveräne Mißachtung des Tageslichts, diese Licht-Askese. 
      em Wer säuft, weiß, warum. 
      | Weinkarte! Franzhauser Kabinet — S 500.— der Liter. Warum nicht gleich Menschenopfer. Billigstes Getränk: zusammengefegter Bierschaum in der Schwemme. Wer lichtschwänzt, weiß, warum.)
  article#element-x-13
    h2.inline-title Element X 13.
    p
      | Grüne Bude, Ausläufer eines Marktplatzes. Der ist steinig, mitten auf ihm aber wachsen Pilze. Eßbare, doch seltene, darum bleiben sie ungepflückt.
  article#element-x-14
    h2.inline-title Element X 14.
    p
      | Torbogen-Haus mit Durchblick zu ferner 
      a.arrow(href="landkonditorei.html") Landkonditorei
      | .
  article#element-x-15
    h2.inline-title Element X 15.
    p
      | Torbogen-Haus mit Durchblick zu fernem 
      a.arrow(href="eissalon.html") Eissalon
      | .
  article#element-x-16
    h2.inline-title Element X 16.
    p
      | Torbogen-Haus mit Durchblick zu fernem 
      a.arrow(href="kraemer.html") Krämer
      | .
  article#element-x-17
    h2.inline-title Element X 17.
    p
      | Eine Apotheke. (Sogar für die Urlauber, die hier
    ul.no-bullets-padding
      li a) wohnen, 
      li b) in Krankheit oder 
      li c) Langeweile vorbeispazieren.) 
    p
      | An der Apotheke die alten arroganten Thermometer, die nicht höher als 50 Grad zeigen. In einem heißen Sommer werden sie eher zerplatzen als zugeben, daß auch 57 Grad möglich sind.
  article#element-x-18
    h2.inline-title Element X 18.
    p
      | Selbst hier ein 
      span.small-caps Konsum
      | , aber verfremdet durch Wurstverkost. Die Verkäuferin schneidet eine Stange zusammen und teilt die Wurstscheibchen aus, an Bauersmann, Bauersfrau und die vier nach Größe geordneten Bauerskinder; die Bewursteten nehmens wie Hostien.
  article#element-x-19
    h2.inline-title Element X 19.
    p
      | Das nach Brandmarkung ärarischer Möbel und dem freien Werktag eines Dienstmädchens riechende großgrüngittrige Bürgermeisterhaus. 
    p 	
      | Frau Bürgermeister leitet das Wohlfahrtskomitee zur Alkoholisierung der Affen. Ihr Sohn ist Spazierer für eine große Schuhfabrik. Ihr Hund ist durch wollüstiges Schlagen auf die Schnauze zugeschwollen. Ihr Schwager bildet sich ein, daß ausgeschlüpfte Wespen im Magen umherfliegen können; aber es begann nur in seinem Mund eine haarige Fliege zu summen — eine schwarze, mit sperrigen Beinen und klebrigen Füßen; er wurde verrückt. Der Bürgermeister selbst ist Amateur-Geologe; Sie Steingeschwätz!, beschimpft er die Menschheit.
  article#element-x-20
    h2.inline-title Element X 20.
    p
      | Ebenerdiges Haus, sauber weiß, mit echtem Dach!, grün-exakt eingegittert. Weil man in diesem Moment 60 Grad zu der Gittertür steht, wird das Haus eine Dorf-Volksschule der Kindheit, schmerzhaft klar wägt man Messing und rauft mit dem weißgrünen W. zum Schutz der schwarzbraunen Z. Eine Winkeländerung funktioniert das Haus zu einem Einfamiliendings um, vor dem nunauch eine Familie spaziert, sehr jung, der Mann trägt einen Dreijährigen, und die Frau, tatsächlich eine Schwarzbraune, und wie 60% der Schwarzbraunen ähnlich der kleinen Z., schiebt im Kinderwagen ein Einjährig-Unfreiwilliges. 
    p 	
      | Kinderwagen! Welcher Kinderwagen darf eine 
      span.small-caps Fledermaus
      |  im Wappen führen?! Ein Fehlgriff von Anfang an, denn bald wird das Kind auf Hausmauern entführt, schuluntüchtig, »ufflu«-flüsternd, zur Ehe ungeeignet, die Einlenkendsten noch sagen »Der Karren ist verfahren«, aber was wird er erst sein späteres Leben lang leiden, ehe ihn eine große Fledermaus —
    p
      | Schwamm drüber, kleine Z., und denk, es ist einfach der Neid der Z.-losen J.s.
  article#element-x-21
    h2.inline-title Element X 21.
    p
      | Eine verstaubte, verbraungraute Volks- und Hauptschule, in die viele 90jährige gehen, aber auch Kinder aus einem heutigen, kleinstädtischen, ganz speziellen GrasSteinstufen-Tag, der absolut nichtidentisch mit einem heimischen Großstadttag mancher Leser und des Autors ist. Hier und heute diktiert Lehrer Kräutenfettel allgemeinbildende 
      a.arrow(href="schreibuebung.html") Schreibübungen
      | .
  article#element-x-22
    h2.inline-title Element X 22.
    p
      | Torbogen-Haus mit Durchblick auf eine jener verzichtreichen Straßen aus lauter ebenerdigen Häusern. Die Häuser sind hochgiebelig und weiß (oder bunt oder schmutzig), sie haben entweder einen schmalschmalen Gehsteig, auf dem manchmal ein fensterverrammelnder Telegraphenmast Schädel rammt, oder eine Melancholie namens Vorgartenzaun oder Zaunvorgarten. Manche Häuser verstecken innen ganze Welten, topfreiche Spielplätze von Höfen, baumreiche Grellschattengassen zu heimlichen Werkstätten hin, ein bodenlang verkitteltes Mütterchen sieht nach, ob der Rohling drin schon den Hund an die Sense angelötet hat, bei Regen wird die Städtchenstraße 
      a.arrow(href="gaatsch.html") Gaatsch
      | , bei noch mehr Regen schwimmen auf ihr Boote.
    p
      | Wer hier wohnt, dem wächst mit ihrem Unkraut San Francisco oder jenes bretonische Parallelstädtchen allmählich zu. Auch in der Wahl von Beruf und Hausgenoß wird er mehr und mehr eingeengt, auf das wenige Vorhandene verwiesen, wie auf Gulyas und Beuschel in einer kleinen Schenke. Noch dazu sterben, gebären und verlieben-sich immer wieder Leute auf und an dieser Straße, und das gibt ihr vollends etwas Mitleidweckendes.
    p
      | Kein Gegenargument die zwei einzelnen stolperloch- und telegraphenkraut-grabenden Arbeiter: der eine trotz Nacktsonne weißlich, mit sehnigen ausgemergelten blaurosa Beinen, der andere gebräunt, aber seine Röntgenwirbelsäule sticht weiß vom Hautbraun ab; und er trägt ein Silberkreuz als Halsamulett.
  article#element-x-23
    h2.inline-title Element X 23.
    p
      | 
      span.small-caps Xaver Yermil Zeisig, Vogelhändler. 
      | Wie lange die Eltern nachdachten, ehe sie einen Zweitnamen mit Ypsilon fanden. Yermil verkauft auch Vogelpfeifen und den verbotenen Leim. Seine Tür hat ein Glockenspiel mit einigen Messingstäben, aber die vorüberlaufenden Schulbuben, die ihn eines Dezemberspätnachmittags erschlagen werden, um ihm seinen Stolz, die eingekäfigte Meerkatze, zu rauben, werden das Glockenspiel aushängen. Jetzt denkt Yermil lieber noch nicht an diesen längsten Tag. Munter bedient er einen rastenden Weinreisenden: »Sechs Vögel haben wir noch. Zwei diese synthetischen, und die anderen Natur.« Der Weinreisende hat eine mehrstöckige Zwiebeltürmchenvilla gekauft »für alle Vögel, die es gibt«. Er füttert aber auch hungrige 
      a.arrow(href="aussenvoegel.html") Außenvögel
      | .
  article#element-x-24
    h2.inline-title Element X 24.
    p
      | Baum- und Rosenschule Lohma Svatoš.
    p.no-indent
      | ............ Lernt brav! .........
