extends ../../templates/layout
block page-vars
  - const title = "Entbehren"
block main
  article#entbehren
    h2.inline-title Entbehren.
    p
      | Zero Zobiak, der Bub, dachte lange, daß »entbehren« auf den Teddybären verzichten hieße.
