extends ../../templates/layout
block page-vars
  - const title = "Entsagungsvolles"
block main
  article#entsagungsvolles-1
    h2.inline-title Entsagungsvolles 1.
    p
      | Etwas 
      a.arrow(href="entbehren.html") entbehren
      |  ist beiweitem nicht so schlimm wie diesem Etwas entsagen. Entbehrung kann sich jederzeit ändern, aber gesagt ist gesagt, und was einmal weggeschenkt ist, bekommt man nie wieder. Alphard Mutz hatte die Stadt der vielen möglichen Frauen verlassen, im Autobus eines Reisebüros saß er inmitten von Greisen — was nützte es, daß er dem oder jenem bunten Mädchen einer schattigen verwinkelten Gasse zuwinkte: er fuhr mitten in einen jugendlosen Wald. Dort war er nun, er pflückte sich Heidel- und Preiselbeeren, ameiste sich und stach sich an Struppwerk und Reisig. Er saß auf einem Baumstumpf, dann auf einer Bank. Er wartete auf die Nähe einer Mahlzeitstunde, dann würde er etwas zu tun und zu hoffen haben: 
      a.arrow(href="suppe.html") Suppe
      | , 
      a.arrow(href="schnitzel.html") Schnitzel
      | , 
      a.arrow(href="bier.html") Bier
      | , 
      a.arrow(href="torte.html") Torte
      | . Viele Greisinnen würden sich nachgeben lassen, viele Greise würden die Hälfte zurückschicken. Alphard Mutz entbehrte in Wald und Lichtung und Dorfblick das Rot; die grüne Komplementärfarbe hatte es wohl geschluckt. (
      a.arrow(href="fehlen-von-rot.html") Fehlen von Rot
      | .) Auch rote Blumen blühten hier nicht. Darum aß er das einzige bißchen Rot der halbgrünen Preiselbeeren mit angestrengter Freude, als küßte er ein grellrotes Mädchen, ihr hierbei in grellrote Kunstseide fahrend. Er sah unter die Bank. Wäre hier wenigstens die Hülle oder die zertretene Füllung eines Kuhdirnlippenstiftes gelegen. Aber es lag an menschlichen Lebenszeichen nur abgewickelter Verbandmull da, stark nach Kampferschmiere riechend. Ein Greis setzte sich ans andere Ende von Alphards Bank, fragte, ob er ja gestatte, und lobte das gute, beständige Wetter.
  article#entsagungsvolles-2
    h2.inline-title Entsagungsvolles 2.
    p
      | Der Oberwerkmeister war nun pensioniert, er lachte den ganzen Tag auf der Bank vor seinem Werkswohnhaus, in dem er bleiben würde. Seine Laune lebte von den neuesten Enkeln und der Überzeugung, daß nun in seiner Fabrik niemand mehr je die richtigen Farben treffen würde. Daneben trank er sich violett. Auch in anderen Werksgärtchen menschte es sich: Pensionisten, Kranke, Hausfrauen oder Schichtler, die freihatten. Es war ein schöner, stabiler Gemüsetag. Alphard Mutz, zwischen Zoll und Fabrik unterwegs, verschnaufte auf dem Oberwerkmeisterbänkchen und sah in die Parzellenidylle, die für ihn keinen Auftrag hatte. Die Miss Farbküche, die er recht gern sah, hatte den Werksmittelstürmer geheiratet, und die langbeinige Dreizehnjährige war noch zu dreizehnjährig, um etwas vom Leervolum zu erfüllen. Alphard Mutz bekam das 
      em Herzzerreißende
      | , als wäre er Gemüse und hätte ihn das Mitgemüse rings vom Sonnen, Reifen, Wachsen ausgeschlossen und würde er nie geerntet werden. Er beneidete vier Sekunden lang den Konzernjunior in Baltimore um seine jüngste pazifische Frau, ein wachszartes Buntes mit zartem miauendem Englisch. Alphard Mutz saß auf derselben Bank mit dem pensionierten Maschinenpluto, aber auf einem anderen Stockgeleise. Er solidarisierte sich dennoch mit ihm. Der Schimek wird doch niemals Ihre Farben treffen!, schmeichelte er. Der Schimek?, hachhachhachhachhach!, lachhustete der Ausgedingler zurück; er strahlte violett. Demnächst wird Sie auf dieser Bank bei so einem Kompliment der Schlag treffen, schwieg Alphard zum Oberwerkmeister. Der gab keine Antwort, sondern lachte immer noch, wenn auch schwächer, violett in die Welt aus Gemüse.
  article#entsagungsvolles-3
    h2.inline-title Entsagungsvolles 3.
    p
      | J. fürchtete von manchen überwucherten Steingäßchen, Steinbrückchen, daß sie zum Haus ohne Weitergang führten. Das war meist ein ländliches oder sehr kleinstädtisches Haus, aufgestockt oder auch ebenerdig, mit einem schönen umgitterten Gärtchen, aber mehr und mehr reparaturbedürftig, mit Zimmern, in denen die Jalousien nie mehr hinaufgezogen würden, mit erloschenen Einwohnern, nicht unbedingt alt, aber am Ende ihrer Wünsche. Kindheit und Susi, Jugend und Eiske, Geschäftigkeit und Reisen, Schlauheiten und das Dobváry lassen und ins Haus ohne Weitergang einziehen — dieses Bild weidete ihn schmerzhafter aus als der Gedanke ans Sterben. Was nützte dann starker Kaffee, was nützten dann selbst die Beine der Ehefrau? Wir waren ja doch erkaltete Sterne. Vis-a-vis stand sicher zu allem Überdruß eine Remise aus dem Dienst gezogener Waggone, wartend auf eine gelegentliche Schuttfuhre oder auf Bahnarbeiter, die einzelne brauchbare Türen, Riegel, Räder abtrugen. Ihr Hämmern und Schweißzischen drang mit schwerem Baumgeruch, mit kalter Fäulnis des Bächleins, in unsere frühbeginnende Nacht.
