extends ../../templates/layout
block page-vars
  - const title = "Entwicklungen"
block main
  article#entwicklungen-1
    h2.inline-title Entwicklungen 1.
    p
      | Myra Metelli und 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      |  werden im vorsommerlichen Schulhaus von jenem Ereignis heimgesucht, das niemand Sich-Bildendem erspart bleibt: dem Herausheben von Binomen. Im rechten Teil der Gleichung
    p.math
      | x = 32 ac + 4 ad + 2 ae + 16 bc + 2 bd + be
    p
      | erkennen sie begeistert
    p.math
      | 2a+b
    p
      | als Faktor verborgen, und fliegenden Tintenkulis stellen sie fest:
    p.math
      | x = (2a + b) (16c + 2d + e)
    p
      | welche Bündelung gegenüber den frei ausgeschütteten Kombinationen von a, b, c, d und e ein ganz anderes Gefühl von Sicherim-Griff-Haben bietet.
    p
      | Myra Metelli und Quenta Quebec wollen, im Widerspruch zu den achtzehn anderen Schülerinnen, von dieser Minute an bis auf weiteres Mathematikerinnen werden, um Klasse auf Klasse den Mädchen die noch spärlich gesäte Begeisterung für Algebra dichterzusäen. Myra will bald danach sogar an ein schwieriges Problem aus der Zahlentheorie heran und Quenta an ein ungelöstes aus der Mengenlehre. Vorauseilende Bücher in bunter und düsterer Aufmachung häufen sich, und man geht irr, wenn man glaubt, die Schönheit der beiden Schülerinnen leide unter dem Zugriff der Logik. Nein, sie wird geradezu kristallin.
  article#entwicklungen-2
    h2.inline-title Entwicklungen 2.
    p
      | 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      |  entdeckt den reinen Klang einer Art Allzweckgläser, in denen Senf geliefert wird. Sie kauft eine Unmenge Senf und baut ein Senfglasophon. Durch Einfüllungen von Paraffin stimmt sie das Gläserregister auf ihre Lieblingstonleiter:
    p.align-center
      br
      | i j k l m n o i'
      br
      br
    p
      | i liegt irgendwo zwischen c und dem Viertelton zwischen c und cis. i' ist von i nicht durch eine Oktave, sondern durch 9&frac13; Tonabstände der harmonischen Leiter getrennt. Das Intervall zwischen i und i' wird in 7 gleiche Spannen geteilt, jede also überbrückt 1&frac13; Tonabstände. Halbtonschritte in der Siebenerleiter gibt es nicht, dafür zwischen Ton und Nachbarton zwei Dritteltöne, die durch p- und q-Zeichen (Zuguß einer rasch verflüchtenden Flüssigkeit ins Senfglas bzw Ablöffelung von Paraffin) von 0.33 auf 0.30 bzw 0.35 umgezerrt werden können.
    p
      | Quenta Quebec spielt mit reinem Elfenbeinstiel oder tönemischendem Messingstab bald alle geläufigen Schlager in die Senfglastonart um, c durch i, d durch j ersetzend, und so weiter, cis und des aber durch ios oder ius (die zwei Zwischendrittel zwischen i und j) vergewaltigend. Vater und Freunde bleiben verständnislos, sprechen von 
      a.arrow(href="katze.html") Katzen
      | -Musik und Schad um den Senf. Die Fünfzehnjährige aber gerät in der Faszination wie Gemüse im Zuchtröhrenlicht, nie wieder wird ihr das Eins von Musik, Mathematik und Psychoakustik so naheliegen wie dieser Tage in der durchplanten Befremdung. Wieder wird Quenta um einen Schub schöner, längst schon hochreifes Ziel unreifer Lieben, die Buben zerlieben ihr die Aufmerksamkeit, verwöhnen ihr Haut und Eitelkeit, erkennen in hübschen biologischen Prägungen und frechem Textilbehang aber nicht ein Quentchen von Quenta Quebec, der unlohnend
      sup *)
      |  Lohnenden.
    p.footnote
      | * (denn lohnt es, lohnend zu sein?)
  article#entwicklungen-3
    h2.inline-title Entwicklungen 3.
    p
      | Mytilla Mitil, die den Einkratzungen und Eintintungen in Cafétischchen viel Aufmerksamkeit widmet — vielleicht aus ihrer grundsätzlichen Wachheit, vielleicht auch auf ihrer Suche nach Menschen —, findet in einem nahegelegenen Landcafe (
      a.arrow(href="caffeehaus.html") »Caffeehaus«
      | ) tintenstiftviolett den 1968 berlingängigen Slogan
    p.poetry
      | Wer zweimal mit derselben pennt,
      br
      | gehört schon zum Establishment.
    p
      | Hat ein springermüder Student sein Spreewasser in die Donau geleitet? Hat einfach ein ehemüder Fernfahrer wunschgeträumt? Wer immer es war, sein Schuß Pulver traf, statt die, die keinen wert sind, eine, die besseres verdient hätte. Nun ist Mytilla Mitil verwundet. »Warum«, denkt sie, »soll, wenn wir nach 30 Jahren Nachlaufens einander finden, Encore Edibelbek nur 
      em ein einziges 
      | Mal mit mir schlafen? Er findet eine Mytilla Mitil 
      em pro Jahrdreißig und Erde
      |  nur einmal. Und mir wieder bedeuten Caro Coenluir, Chemiekaufmann J., Alphard Mutz, Andreas Okopenko, Zero Zobiak und all die anderen restlichen Männer nichts. (Die Millionen anderer Handschriften sind kein Musil, die Millionen anderer Bilder sind kein Van Gogh, die Millionen Gesichter nicht das Gesicht der gestorbenen Mutter.)
    p
      | Wenn Encore und ich einander satthaben, werden wir einander nicht halten. Daß wir kein Besitz sind, so schlau sind wir selber. Auf Verträge werden wir nicht pochen, die Nachrede der Nachbarn wird uns nicht kümmern. Aber einem politischen Up-todate zuliebe das Lied nach dem ersten Takt tothusten? Aus lauter Freiheit etwas tun, was wir beide nicht wollen? Verlautbarung: Alle Wachauer müssen nach Afrika reisen, um zu demonstrieren, daß sie Freizügigkeit lieben.
    p
      | Ihr mit euerm Slogan. Formaljuristen, Puppenspielregler, Vaginalpolitiker. Theoretiker, denens aus den Ohren staubt. Zyniker, die sich einen Menschen nicht vorstellen können, mit dem mans länger als einen Ficklang aushält. Auch eine Neue Linke! Neu wie das 
      em älteste Gewerbe
      |  und links wie ein rechter Stiefel.« (Vgl. 
      a.arrow(href="feminismus.html#feminismus-2") Feminismus 2
      | .)
  article#entwicklungen-4
    h2.inline-title Entwicklungen 4.
    p
      | Myra Metelli, die Ordnung in Kleinmädchengestalt, ärgert sich darüber, daß die Gerberwiese, die Untere Wiesen, die Schafblöckwiese und die Bärendirnwiese, die unregelmäßige Grenzlinien haben, nicht durch verschiedenfarbiges Gras voneinander gesondert sind. Die Gerberwiese sollte gelb, die Untere notfalls grün, die Schafblöckwiese weiß und die Bärendirnwiese mädchenblau sein. Über all die buntgezüchteten Grasfelle aber — holländische Rasen nennt sie sie irgendwarum — soll Myra Metellis grellrotes Kleid wirbeln, das fehlende Rot (
      a.arrow(href="fehlen-von-rot.html") Fehlen von Rot
      | ) überall beitragend, wo es gebraucht wird. Ich bin ein freudebringendes Mädchen, schreibt Myra in ihr grellblaues Tagebuch.
  article#entwicklungen-5
    h2.inline-title Entwicklungen 5.
    p
      | Als in jenem Städtchen ein alter Bauer von Hagelschloßen verstümmelt wird und einem kleinen Buben ein Spieß aus sprödem Zuckerschmelz die Kehle aufritzt, fragen die Mitils ihre 7jährige Mytilla, was sie dazu sage, daß an einem Tag gleich zwei verschiedene Absonderlichkeiten passieren. Wieso verschieden?, sagt Mytilla; wenn der Bauer ein wenig Zeit gehabt hätte, bis der Hagel geschmolzen ist, und der Bub, bis das Zuckerl zergangen ist, hätt das Wasser beiden nichts gemacht; aber wenn einmal das Hauen und Zerstechen da ist, das zergeht dann nicht mehr zu Wasser. Mytilla steht nachdenklich vor dem Rätsel 
      em unvergänglicher Taten vergänglicher Modifikationen
      | , ihre Eltern aber stehen vor einer rätselhaft röntgen-sichtigen Mytilla.
