extends ../../templates/layout
block page-vars
  - const title = "Erfolg"
block main
  article#erfolg
    h2.inline-title Erfolg.
    p
      | Die Erfolgreichen dieser Welt tragen Hut! Von Ihnen hängt es ab, ob Sie erfolgreich schlafen. Büste — Ihr Erfolgsgeheimnis. Milch — Erfrischung der internationalen Erfolgsgeneration. Besser aussehen — mehr Erfolg haben! Das ist es, was den Frauen an uns Männern so gut gefällt. Frauen! Schenkt euern erfolgreichen Männern einen erfolgreichen Rasierapparat.
    p
      | Humor in 
      span.small-caps Frau und Freude
      | : Erfolgreich ist ein Mann, der mehr verdient, als seine Frau ausgeben kann.
    p
      em Da die Frau in der bürgerlichen Gesellschaft ibren Körper benutzt, um den erfolgreichen Mann einzufangen, überlebt [genetisch] der Opportunist. Ernest Bornemann.
    p
      | 
      span.small-caps Er
      | , auf den es ankommt. Er ist tüchtig und erfolgreich. Er schafft viel und setzt sich durch. So weiß er, daß er fit bleibt. Und aktiv. Und gesund. Und für alles den richtigen Schwung hat. Männer mit Wirklichkeitssinn haben erkannt, worauf es ankommt: mitmachen, dranbleiben, durchhalten. Und die tausend Möglichkeiten des modernen Lebens nutzen.
    p
      | (Wissen Sie, was Männer lieben? Langbeinige Gespielinnen, rasante Autos und schicke 
      span.small-caps Sinox
      | -Uhren.)
    p
      | Sechs hübsche Töchter und ein Millionenbetrieb — das Ehepaar hat allen Grund, stolz zu sein.
    p
      | Der Löwe ist Erfolgsmensch. Zeigen Sie, daß Sie erfolgreich sind, und Sie werden es bald auch sein. Weiche Löwen verdienen ihre Niederlage.
