extends ../../templates/layout
block page-vars
  - const title = "Erproben"
block main
  article#erproben
    h2.inline-title Erproben,
    p
      | ob ein Abschnitt nicht besser anderswo stände, läßt auch Chotjewitz seine Romanleser. Wir haben es aber nicht voneinander, sondern von der direkten Demokratie, die, sensiblen Barometern erkennbar, in der Luft liegt.
