extends ../../templates/layout
block page-vars
  - const title = "Erwartungsmuster"
block main
  article#erwartungsmuster
    h2.inline-title Erwartungsmuster.
    p
      | Die »Zerstörung von Erwartungsmustern« hielt ich beim Schreiben immer für wichtig, lange bevor ich die schöne informationstheoretische Metapher kannte; ja, selbst, bevor ich Brechts »V-Effekt« kannte. Zum einen ergibt sich diese Zerstörung spontan aus jeder genug aufmerksamen Protokollierung (denn, wie Cysarz sagt, es gibt 
      em nur
      |  Neues unter der Sonne), zum andern will der Autor sich und die Leser aus dem Schnarchfluß stören. Darum immer wieder Stromschnellen: Gedankensprung, Blicksturz, Affektwechsel, Phrasenverstellung, Neologismus.
    p
      | Dies ist ebensowenig Manier, wie Bildschnitt, Menu-Gestaltung oder die Farborgie moderner Elektroschaltungen Manier ist.
