extends ../../templates/layout
block page-vars
  - const title = "Espresso"
block main
  article#espresso-1
    h2.inline-title Espresso 1.
    p
      | Espresso, Verbündeter gegen den Schlaf. Das Zischen; alles muß 
      em express
      |  gehen. Espresso, »rausgedrückt« und schon in der Konferenztasse. Sich die Zunge verbrennen. Gewichtige Lederdrehstühle und Entschlüsse. Mein Respekt vor Eile und Manager-Image, du heiliger Strohsack. Ich denk heut manchmal, ich könnte glatt aus dem Zimmer der guten Geschäfte auf eine Rauchpause rausgehen und mich, ohne Selbstbestaunung, im Kommunistenzimmer niedersetzen. Handelsspanne ist nur 
      em eine
      |  Modifikation des SkeptikerDaseins. Warum gerade die Italiener den Espresso erfunden haben? Vielleicht, weil sie rasch sprechen und rasche Geschäfte mögen. Vielleicht, weil sie buntes Licht und 
      a.arrow(href="nickel.html") Nickel
      |  mögen.
  article#espresso-2
    h2.inline-title Espresso 2.
    p
      | Warum behalten nur die öffentlich hergestellten Espressi ihr Aroma, warum treffe ich und trifft selbst meine Sekretärin nie das Richtige? Auch mit Kakao, Salz, Natron, sogar mit Kamelmist, haben wir es schon vergeblich versucht.
  article#espresso-3
    h2.inline-title Espresso 3.
    p
      | Bin ich eigentlich von Espresso abhängig? Ich glaube fast, schon. Die meisten 
      a.arrow(href="exporteur.html") Exporteure
      | . Unser »Zeug«. Vielleicht braucht man nur das Rühren mit dem kleinen Löffel; daß man jede Situation in eine Allee ähnlicher Situationen einreihen kann; immer hat man mit dem kleinen Löffel gerührt: als die Wirtschaftspolizei kam, als der György pleiteging, als ich umsonst auf Eida wartete; intelligent, daß nichts draus geworden ist; klein, aber gemein. Eigentlich sind unglaublich wenig Schlucke in einer Tasse; merkwürdiger Orient; ein Europäer sollte strenggenommen nur Bier trinken.
  article#espresso-4
    h2.inline-title Espresso 4.
    p
      | Es gibt kein espressofarbiges Licht. Es gibt wenige espressofarbige Blüten. Es gibt viele espressofarbige Haar-, Haut- und Gallenpigmente. Die simpelsten synthetischen Farbstoffe liegen zwischen Gelb und Braun. Mein erster selbstgemachter Azofarbstoff war espressofarbig, ich war achtzehn, es war Forsythienapril, und ich bekam eine zentrale Lungenentzündung, in der mir grünplankiges Sodawasser sehr schmeckte.
