extends ../../templates/layout
block page-vars
  - const title = "Essen und Trinken"
block main
  article#essen-und-trinken-1
    h2.inline-title Essen und Trinken 1.
    p
      | Aus den Restaurants dringt der Geruch nach ernstzunehmender Suppe.
  article#essen-und-trinken-2
    h2.inline-title Essen und Trinken 2.
    p
      | 
      a.arrow(href="spinat.html") Spinat
      | .
  article#essen-und-trinken-3
    h2.inline-title Essen und Trinken 3.
    p
      | Wenn Liebe wirklich durch den Magen geht, dachte J., so könnte eine Brücke zum Verständnis dieses häßlichen Verhaltes sein, daß auch Eigenliebe durch den Magen geht. Ich nehme mir vor, ehe ich jenen gerissenen Bindel & Söhne besuche, der mir 30% meines Zollvorteils absäbeln will, ein lukratives Mahl im Waldorf zu halten, und schon hebt sich mein Selbstbewußtsein, meine Duellkraft, meine Verhandlungskunst, ich schmiere zum Dessert noch einen scharfen Käse, und der Gegner bleibt am Boden. Nach gebratenem Pfau paßt gut ein Ingwerlikör, rate ich mir wie eine gute Liebe-geht-durch-den-Magen-Gattin und liebe mich dafür; ohne mich deswegen als psychischen Idealpartner irgend zu vernachlässigen.
  article#essen-und-trinken-4
    h2.inline-title Essen und Trinken 4.
    p
      | Stundenlange Gelage. Griechrömer, Russen, Franzosen. Liegen, brechen, dinieren, zur Seite rollen, stentorfurzen, dinieren, dinieren, den Sklaven klapsen, die Sklavin schwängern (das Kind dient als Futter für die Gladiatorenbiester), dinieren, dinieren, Kaliumantimonyltartrat (»Brechweinstein«) nehmen, Wasserschüssel ranschleifen, Finger abpritscheln, den Leibeigenen zweiteilen, lachen, dinieren, dinieren, philosophieren. mit Nagaika zum Erinnerungsmal ausholen, dinieren, gegen Preußenschwedenbyzanz intrigieren, dinieren, Louis' Tod beschließen, dinieren, dinieren, die gute speckweiße Frau bewohnen, halbschlafen, drittelschlafen, große Kunstwerke aushecken, totfallen und dinieren, dinieren, dinieren.
  article#essen-und-trinken-5
    h2.inline-title Essen und Trinken 5.
    p
      | Erinnern Sie sich, statt nochmals nachzuschlagen, Ihres merkwürdigsten Eß-und-Trink-Erlebnisses.
  article#essen-und-trinken-6
    h2.inline-title Essen und Trinken 6.
    p
      | Der urzeitliche Jäger haderte mit der Geschichte: Es wäre ihm lieber gewesen, jetzt statt des angekohlten Bratens ein Steak mit pommes frites zu essen, nachher statt in die Höhle ins Hotel zu gehen. Er rang sich bis zu dem Gedanken durch: Zeit ist eine Farce. Dann verfiel er wieder ganz ins Urzeitjäger-Bewußtsein.
  article#essen-und-trinken-7
    h2.inline-title Essen und Trinken 7.
    p
      | Mytilla Mitil entdeckt das Essen. Das Leben ist ohnehin so schnell um, singt das Radio. Mytilla wirft ein Sonnen-Polster nach dem Sonnen-Radio und knabbert hausgemachte Sonnenblumen-
      em pommes-chips
      | , die Speise der Verlängernden, eine ganze Doppel-Dreifach-Vierfach-Schüssel voll.
  article#essen-und-trinken-8
    h2.inline-title Essen und Trinken 8.
    p
      | Henkersmahlzeit. Wenn die Hähne krähen kräht auch der Zyan-Hahn. Gallendiät; N. aß eine Sardine und schrie taglang, sich wälzend. Fasten in einem Glockenturm: das Fach-, Boß-, Stuckwerk schnurrt zum Gelübde. Einer Jugendgefährtin den Ekelkäfer an die gebäumte rosa Zunge setzen. Attila, sein Steak weichreitend. Mit weißem Ton das Gesicht anklatschen, bevor der Feindhäuptling darin zunichtegekaut wird. Wollen wir ein bißchen was essen, Mausi?, ein Katzi vielleicht. Die tränende Salzburgerin, 1 cm außerhalb des Traklgedichts 
      span.small-caps Spaziergang
      | , erbeißt das Lebzeltherz, sein Blau, Weiß, Rot; wird Trakls Ruhm unterleben; ich bin wirklich, schluchzt sie.
  article#essen-und-trinken-9
    h2.inline-title Essen und Trinken 9.
    p
      | Die Tropfen werden auf der heißen Herdplatte zu', und das ißt du. Wenn das Stockende ölig wird, muß man es ', und wenn das Schleimige gerinnt und das Gallertige bröckelt und die Gasentwicklung aufhört, tut man es’, und das ißt du. Schwelende Verkohlung, das ist das beste, das kratz ich am liebsten aus der’, und dazu einen echten Pistolensalat, ja wie machst du denn den so gut 
      em western
      | , Grizzly-Boy?
  article#essen-und-trinken-10
    h2.inline-title Essen und Trinken 10.
    p
      | Nicht nur in Holzasche Gelaugtes; nein, die Finnen würzen mit ungelöschtem Kalk: Laugenfisch. Brandund Ätzwärme des Kalklöschens im Essermund. Man denkt an schwarze Zähne, rote Zunge auf den Karolinen: blattumschnürtes Kaupaket aus Kalk und Betelnuß.
  article#essen-und-trinken-11
    h2.inline-title Essen und Trinken 11.
    p
      | Verhalten Sie sich, statt nochmals nachzuschlagen, so, wie Sie es in Zuständen des Hungers, Durstes oder Appetits gewohnt sind.
