extends ../../templates/layout
block page-vars
  - const title = "Eutonignale"
block main
  article#eutonignale
    h2.inline-title Eutonignale.
    p
      | Zero Zobiak spreizten sich die Schirme und Schirmesschirme der Eutonignale entgegen. Die hohen Holzkräuter, spröden Stengel kritzten und ratzten ihn. Er knackte sie ab und drehte den Hauptmast zwischen den Fingern, die Schirmesschirme machten mächtigen Wind. Dann knackste er Schirmchen um Schirmchen ab und schickte es in die Weite, zuletzt blieb der harte Hauptstengel stehen, ohne Attraktion, und ihn zu zerkleinern, war reizlose Unterhaltung. Mit dem letzten Stengelstück kratzte der Bub sich aus Langeweile eine Wunde, und als sie etwas blutete, gab er ein Bröckel weißen Hundekot drauf, der angeblich alles heilt und den er in seinem Geheimlager unter dem Ohrenschlüpferstein in einer spänernen Pillenschachtel aufbewahrte.
