extends ../../templates/layout
block page-vars
  - const title = "Exporteur"
block main
  article#exporteur-1
    h2.inline-title Exporteur 1.
    p
      | Das Bürohaus liegt im Frühlingslicht. Das Akkreditiv trägt sich zur Bank. Die Bürowasserleitung wird zurechtinstalliert. Die Frachtkosten sind eingeschlossen. Der Mocca macht sich für den Exporteur und den Auslandskunden. Das Englisch ist tadellos. Die Sekretärin gießt aus, schreit spitz. Die Fakturen müssen noch einmal geschrieben werden. Die 
      a.arrow(href="debitorenbuchhalterin.html") Debitorenbuchhalterin
      |  stimmt, schwefelgepudert, die Conti ordinarii ab. Ihr Goldhamster ist noch in der Tierhandlung. Heuer sind zwei Tagungen, eine in Druden, eine in Luxemburg. Als ich Unterläufel war (
      a.arrow(href="sulfatschluss.html") Sulfatschluß
      | ), küßte ich mich an einer ZbV-Tippse zur Bürotür hinaus. Das Bürohaus liegt im Sommerlicht. Der Gemeinsame Markt ist fluktuant strukturiert, Mr. Abdurachman. Of course, really, in very deed. Das Bürohaus liegt im Herbstlicht. Das hieße, Schwefel nach Sizilien tragen. Diesen shipping agent haben wir gebraucht! Bitte rekurrieren Sie. Die zwei Büromädchen sind uneinig. Am besten beide skalpieren, mit Patentfrisierhauben. Beste Gewinnspanne, aber die Steuerschraube. Am Meer ausspannen, neben rauchblonder Französin. Selbst Exporteuse. Kalisalze sind zeitlos. Das Bürohaus liegt im Winterlicht. Die Sekretärin liegt mit beidseitigem Schi-Bein-Bruch. Die Sichttratte legt sich auf die Bank.
  article#exporteur-2
    h2.inline-title Exporteur 2.
    p
      | Im Gebüsch lag ein verendeter Exporteur. Sie liebte einen Exporteur. Eine echte Exporteurtasche. Er schreibt Exporteurpost, bezieht die Exporteurzeitung. Die Exporteure stritten mit den Attaches. Eine typische Exporteurfrisur. Das könnte man fast das Exporteurbad nennen. Wie oft wimmern Exporteure? Der Exporteur heiratete eine nette 
      a.arrow(href="debitorenbuchhalterin.html") Debitorenbuchhalterin
      | . Krokodile mögen Exporteure. So ein Exporteur im Ausland, vom Vaterland fast abgeschnitten. Was wird China mit den Exporteuren machen?
  article#exporteur-3
    h2.inline-title Exporteur 3.
    p
      | 
      a.arrow(href="on-the-rocks.html") On the rocks
      | .
  article#exporteur-4
    h2.inline-title Exporteur 4.
    p
      | Exporteure müssen immer konferieren (die Handelsspanne ist eine internationale Weltanschauung). Das Hotel in Luxemburg hatte einen Frühstücksraum, der 21 Stunden verödet lag, eine Reception, in der meist eine schläfrige Geschäftigkeit plätscherte, einen mehrteiligen Speisesaal, dessen einer Flügel nur kurz beessert war, eine Bar, die tags hinter Gittern gähnte, lautlose Lifts, mit denen man niemand zu besuchen wußte, Teppichgänge zu lauter Tabuzimmern außer dem eigenen und dem WC. Einige Stunden des 1., 2., 3. Tagungstags lärmten: Referate, Interessentäusche, ein Empfang; Hauptstadtlärm und wieder das Essen in einem der Glaszwinger. Das Hotel war ein Ofen der Langeweile, in den die armen Seelen freiwillig heimkehrten, selbst aus den parfumierten Armen der Kongreßstadtfeminität. Langeweile, in der »Noch ein Calvados!« einen rettenden Schachzug bedeutete und ein staubtrockner Frankfurter Kollege, der plötzlich das Athenäum sehen wollte, zum Engel avancierte. Leere, Dämpfung, lautloser Prunk — und zu lächerlich wußte Chemiekaufmann J., daß er in spätestens drei Monaten jenes Hotels in Luxemburg nie ohne die Phänomene der Rührung gedenken würde: einen Stich im Magen, einen Gong im Herzen, einen unchemogenen Geruch in der Nase, einen unnotablen Klang in den Ohren, ein Gefühl, irgendwo westlich, nördlich oder algolwärts hinlaufen Zu müssen oder jemand darüber etwas Unschwatzbares zu schwatzen.
