extends ../../templates/layout

mixin svg 
  svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" height="1em")
    path(fill="none" stroke="var(--body-font-color)" stroke-width="8" d="M96 4 4 40l92 20L4 96")

block page-vars
  - const title = "F-Erlebnis"
block main
  article#f-erlebnis
    h2.inline-title F-Erlebnis.
    p
      | Man brause zu kalt, verschnaufe den Schock, schneide sich dann an einer Karteikarte eine Rille in den Finger, sauge die Wunde aus und tröste sich, stolpere dann über eine Schwelle, falle so, daß die Nase dröhnt und blutet, stille die Blutung und greife endlich versehentlich in die Rotglut einer dicken Zigarre. Die zweifellos unglückliche Kette raffe man in einem zweiten Versuch ins Dramatische: Man lasse sich zugleich mit Eiswasser anschütten, den Finger einschneiden, auf die Nase hinwerfen und eine glühende Zigarre in den Handballen drücken. Der Vorteil ist ersichtlich.
    p
      | Im Hintertreffen des ersten, zu langsamen Versuchs befindet sich der Autor, der die »magische« Wirkung des viele Reize und Assoziationen verspannenden Augenblicks ins Nacheinander seiner Schilderung aufrollen muß. Im Vordertreffen des zweiten, effektvollen Versuchs befindet sich der Autor, solange er vom Augenblick bearbeitet wird und kuscht. Ob das Zerschneiden und Durcheinanderverkleben der Rolle dem aufrollenden Autor etwas zum Reiz der Gleichzeitigkeit verhelfen kann, erproben wir einmal am 
      a.arrow(href="haus-mit-dem-standard-mariandl.html") Haus mit dem Standard-Mariandl
      | :
    p
      | In Westnordwest näherte sich ein weißer Punkt / Auf Betonbelag stehen, dann ist der Tag um und / Wurde allmählich ein Haus mit vorgelagertem Garten, in dem / Auf fremdem Sessel knarren, mit Standardmariandl / Heranschwimmen autarker Welt, über deren Zäune / Vorsommerlicher Vegetationsabfall / Ein Balkon formte sich heraus / Mit Standardmariandl Wand an Wand im saubern Nachbarzimmer / Hatte einen Rechen in der Hand / Schwerkraft gewinnend wie ein nahender Planet / Fremde Stimme zu einem scheckigen Plan für den restlichen Tag mitverarbeiten / Mit Standardmariandl in den / Garten nahe genug herangeschwommen / Durch die kleine Balkontür ins Zimmer zurückgehen / Nun war das Haus mit dem Standardmariandl nahe genug / Zu einem mageren Haufen rechen / Lehmpumpenwasser aus einem blauen Glaskrug / Mit Standardmariandl im saubern Nachbarzimmer / Und da stand / Mit Mariandl schlafen / Wirklich ein Standardmariandl.
    p.auto-hyphens
      | Oder: Westnordwestweißpunktnäherung 
      em Fremdbalkonbelagtreten
      |  Erkennbarwerdenhaus + vorgelagertgarten 
      em Vombalkoningartenschauen
      |  Hauswirdweltfürsich 
      em Imzimmerknarren
      | +
      em Mariandlbalkonstimme
      |  + 
      em Scheckigtagplanen
      |  Erkennbarwerdenbalkon 
      em Lehmpumpenuwasserblauglaskrug
      |  Balkongewinntschwerkraft 
      em Mariandlessenlachen
      |  Wirklichmariandlhaufenrechen 
      em Wirklichanmariandlschlafen
      | .
    p.auto-hyphens
      | Oder:  WF—EV—HI—EL—BM—WW—alseineneinzigenstichempfinden
    p.auto-hyphens
      | Oder: Hausmitdemstandardmariandl 
      +svg
    p.auto-hyphens
      | Oder: H*abermitallemdetailwissenimquerbalken
    p
      | —
    p
      | H 
      +svg
      | 
    p
      | —
    p
      | Solche 
      span.auto-hyphens Hohlnadelstichedurchdieeineganzeanzahlchemischerverbindungenmiteinemeinzigenblitzindenkörpergezwängtwerdenkönnen
      |  sind es, die beim Ersterfahren oder Erinnern mancher Eindrücke beglückendschmerzen. Plötzlich beim Anwehen eines Geruchs oder Nennen eines Ortsnamens, beim Ansehen eines vergilbten Papptellers in einem Dorfkonditorschaufenster oder beim Hören eines Radiomusikfetzens aus einer sogleich wieder zuknallenden Wäschereiweibergarderobentür: Zick! Gelegentlich sogar ein un-unterbrochener Spaziergang voll Zick!s.
    p
      | Das Zick! oder (an das etwas schwärmerische Wort »Fluidum« anknüpfend:) F-Erlebnis, das trotz der Vielelementigkeit als Ein Moment, als Ein Etwas empfunden wird und darum mehr von einem Geruch, einem Frösteln, einer Melodieerinnerung an sich hat als von einer Gedankenkette oder der schriftstellerischen Bildbeschreibung, ist jeweils unvertauschbar. Leider (da mit dem ganzen Leben des Empfinders verbunden:) auch un-mitteilbar. Alle Konkretion und Superkonkretion meiner Abbildversuche sind nur leere Schoten, die einen eindeutigen aber unersetzenden Hinweis auf die Erbsen geben. Die einzige Hoffnung: daß jede genug intensive Konkretion des Erzählers da und dort ein »ähnliches« Zick! zufügen könne — wie fremde Zick!er es an meinem Zick!netz vermochten.
    p
      | Gerne regte ich meine Leser zum Bewußtmachen, Abgrenzen und Sammeln von F-Erlebnissen an.
