extends ../../templates/layout
block page-vars
  - const title = "Fabrikschlote"
block main
  article#fabrikschlote-1
    h2.inline-title Fabrikschlote 1.
    p
      | Die humorlosen weißen oder zementgrauen Schlote, das sind keine wirklichen Schlote, so wie eine Tonpfeife keine wirkliche Pfeife ist. (Meine erste Seifenblasenpfeife aus olivweißem Ton. Das Hervorrollen der ersten monströsen Blase aus dem mächtigen Querschnitt, nachdem ich bis dahin nur mit Strohhalmen seifengeblasen hatte. Aber die neue Seifenblase wurde auch nichts Mondgroßes, kein Kürbis, erstarrte nicht, ließ sich nicht in ihre schillernden Spektralfarben zerbrechen, in Streifchen, die man als bunten Zucker essen konnte.)
  article#fabrikschlote-2
    h2.inline-title Fabrikschlote 2.
    p
      | Die frischgeziegelten Schlote, sehr hoch, mit irgend einer Rußfanganlage drin oder einem Röhrchen als Draufgabe oben frisch wie für einen Film, dessen Requisiten niemand glaubt, im Smoking beschliefbar, von keinem Arbeiterschicksal zu erzählen wissend, nicht einmal noch
    p
      | eines Eisschießens kundig im Wintersonnmittagkantingarten unten, junger ziegelroter Mann, so lächerlich, so groß. Vor einem richtigen Schlot muß man Ehrfurcht haben können und Furcht, oder Abscheu.
  article#fabrikschlote-3
    h2.inline-title Fabrikschlote 3.
    p
      | Geknickte, vom Wind umgebrochene, mit Ginster zugewucherte Schlote, schwarz von Ruß und Vogelleben, gibt es nur im Märchen. Oder in C.B., an der Dorfgrenze gegen H., dort geben die ehemaligen Ziegelmädchen, die heute nur Wildkühe weiden, den Dorfstrolchen erinnerungsschwere Kneterinnenküsse. (Wie fehlt denen doch eine dynamische kaufmännische Organisation, mit halbmonatlicher Erfolgsrechnung und leistungspsychologischer Arbeitsvorgab für den rechten Arm bei Spielstellung für den linken. Ing. Orasek, erbarme dich des Totziegelreiches an der Imster, entreiße die wertvollen Märchenkuhmädchenkräfte dem Schlamm des Alterns und betriebswirtschaftlichen Vergessens.)
  article#fabrikschlote-4
    h2.inline-title Fabrikschlote 4.
    p
      | Brauereischlote mit den menschenähnlichen eisernen Windfängen obenauf, helvetischen Armbrustschützen. Wer, wenn er euch Plumpe sieht, denkt, daß unter euch hervor das herrliche nasse 
      a.arrow(href="bier.html") Bier
      |  quillt, in allen Honigfarben, aber mit den heißesten Hundstagen Kälteschritt haltend, eiswollüstig in die entzündeten Hälse stechend, das Hitzschlumperwerk hart- und zufriedenfrierend, bei 36 Sonnengrad im kühlsten Nordgasthauswald.
  article#fabrikschlote-5
    h2.inline-title Fabrikschlote 5.
    p
      | Schlote, dicke Daumen, der Eisengießerei. Verräterisch oben schwarzbeschlagen, nicht von Ruß, o nein, von zu heiß geschmolzenem Metall, das schon verdampft, und den armen durch die Qual der Barbarenhände und Schmelztiegel gegangenen Seelen. Euch möchte ich sprengen — dumpfe, brutale Feinde des Menschen, ultima ratio der Polizei.
