extends ../../templates/layout
block page-vars
  - const title = "Fehlertoleranz"
block main
  article#fehlertoleranz
    h2.inline-title Fehlertoleranz.
    p
      | Ein Stuhl, den ich rücke, ändert die Welt. Ein Streichholz, das ich aufflammen lasse, erlebt in seinen kleinsten Teilchen eine Milchstraßenkatastrophe. Ob Weltänderung oder Weltuntergang jetzt oder in einer Minute erfolgt, ist nicht egal; schon deshalb, weil es nicht egal sein kann, ob die Weltänderung die ursprüngliche oder die um unzählige Zwischenänderungen veränderte Welt trifft, die Revolverkugel also den noch unverliebten oder den bereits verliebten Boy.
    p
      | So kann es auch nicht egal sein, ob der Chemiekaufmann J. die Stadt vor- oder nachmittag sieht; ob die Konfiguration, die etwa ein einwärtsführendes Gäßchen mit einem roten Trikot und einem Eislutscherstäbchen im Dürrgras bildet, den Phänomengierigen, den Suppenhungrigen, den Barbaraerhitzten, den Ullielegiker trifft; je nachdem wird er sie einfärben, 
      em mehr
      |  oder 
      em weniger
      |  als Symbol sehen, als 
      em Wund-
      |  oder 
      em Schönheits
      | pflaster würdigen. Oder: wenn die Ödstätte A schöner öd ist als die Ödstätte B, wird die Abfolge A-B ein Abstieg, die Abfolge B-A ein Anstieg sein, also nichts im Weltablauf ist wirklich vertauschbar.
    p
      | Der Fehler gegenüber dem realistischen Anliegen, wenn ich Tauschfreiheiten gewähre, ist mir bewußt. Wollte ich mein Modell vollkommen, müßte ich für jede mögliche Wahl eine komplette Restreise schreiben, was, wenn ich die Kombinatorik richtig im Daumen habe, zu einem Buch von der Dicke des Sonnendurchmessers führen müßte. Also entbehrt meine Bitte um Fehlertoleranz nicht einer gewissen Einleuchtungskraft.
