extends ../../templates/layout
block page-vars
  - const title = "Fehlen von Brücken oder Fähren"
block main
  article#fehlen-von-bruecken-oder-faehren
    h2.inline-title Fehlen von Brücken oder Fähren.
    p
      | Auf der belebten M.-Straße sah ich, als 22-jähriger Meisterspazierer, das 
      a.arrow(href="maedchen.html") Mädchen
      |  Eva, jene Eva, die sich in Anpassung an die damals grassierende Künneke-Mode »Evelyn« nannte. Ich scheute mich, im Verkehrslärm über die breite Straße hinüberzurufen, steuerte vielmehr raschest die nächste Ampel an und flehte um Grünlicht. Das Befürchtete trat ein: Evelyn verschwand in einem der bekannten vielstöckigen 
      a.arrow(href="kaufhaeuser.html") Kaufhäuser
      |  und wurde von mir nicht mehr gesehen. (Bis heute nicht, und ich würde sie, da unser Kind schon Starmannequin oder Scheinfirmen-Prokurist wäre, auch nicht mehr erkennen.)
    p
      | Das ist nur die M.-Straße. Was tut aber Herwig, der stromauf stromt und den schon zwölf vielstrophige Wanderlieder von der Nordbrücke trennen, und da sieht er im Staub und Gestrüpp der jenseitigen Uferstraße Hedwig mit ihrem Einkaufskorb und den roten Hosen und all ihrer Erwartung? Mehr, als sich ihr Bild einprägen und den Stromkilometerstein, und in späteren Tagen, Monaten, Jahren auf dem drüberen Ufer nach ihr suchen, kann er nicht. 0, ich sehe schwarz für all die Königskinder, die hüben und drüben wohnen und denen seit Jahrtausenden die Donau viel zu tief ist.
    p
      | Der Chemiekaufmann J. wollte erproben, ob seine Stimme für ein »Hol über!« reichte, das man am anderen Ufer hören würde denn was nützten ohne das selbst Fähren? Aber es schien ihm dann fehl am Platz, denn er sah drüben nichts, nicht Mädchen, nicht Fähre, und wenn ihm nach Zwei- oder sonst einer Mehrsamkeit war, würde es wohl »Hol rüber!« gelten, nämlich vom Hinterdeck (
      a.arrow(href="deck.html#deck-2") Deck 2
      | ), wenngleich es sich dort kaum um ein Sortiment von Königskindern handelte.
    p
      | 
      a.arrow.main-route(href="zunaechst-aber.html") Zunächst aber.
