extends ../../templates/layout
block page-vars
  - const title = "Fehlen von Rot"
block main
  article#fehlen-von-rot
    h2.inline-title Fehlen von Rot.
    p
      | Wahrscheinlich nicht eine überlieferte Farballegorik
    ul
      li Haemoglobin — Blut — Herztätigkeit — Pulsbeschleunigung — Emotion — Liebe
      li oder: — Blutverluste — weibliche Vulnerabilität — Liebe
      li
        | oder: 
        em Langwellen-Emission (Rotglut)
        |  — Wärme — Durchblutung — Emotion — Liebe
      li oder: — Hitze — Schmerz/Zerstörung (Brennen) — unkontrollierbares Erfaßtwerden — Liebe
      li oder: — Feuerstelle — Klima-Korrektur — Lebens-Sicherung/Behagen — Liebe etc
    p
      | verschuldet die Frustration beim Fehlen von Rot. Goethe schreibt über die Zusammenstellung von Gelb und Blau, »es sei zu wenig in ihr: denn da ihr jede Spur von Rot fehlt, so geht ihr zu viel von der Totalität ab«. Diese unallegorische, abstraktphysikalische Deutung scheint plausibel. Für uns umfaßt sie auch die Weitlandfarben Grün, Weiß und Grau, sosehr in einer anderen Blickrichtung Goethes Vermerk einer primitivheitern Wirkung von Gelb mit Grün beizupflichten ist, das Blau-Weiß-Grün einer gutjahreszeitlichen Landschaft nicht minder erheitert und erfrischt und schließlich Weiß in alle Farben, die es zusammensetzten, zurückgedacht werden kann.
    p
      | Gegenüber den anderen Möglichkeiten von Totalitätslücken ist der Rotmangel das Hungersymptom der menschenleeren Natur. Blattgrün, Atmosphärenblau, Weiß/Grau kondensierten Wasserdampfs und mancherlei Gesteinstotes mag es in Mengen geben. Aber die Menschen mit ihrer rotreichen Gegenstandswelt fehlen dem Bild. Wo Menschen hinkommen, reichern sie Rot an, wie das alte Lied sagt:
    p.poetry
      | Es gibt in allen Ländern
      br
      | Ochsen, Küh und Stier,
      br
      | geschmückt mit roten Bändern
      br
      | aus Seide und Papier ...
    p
      | Sie ziehen Wildrosen, Gärtnerblumen. rotbackige Äpfel und rosahäutige Säue.
    p
      | Auch ist grelles Rot (dies teilt es mit den anderen auffallenden Farben) in unbeschränkter Herstellbarkeit und ungeniertem Massenkonsum ein Zeichen moderner Lebenslust. Rotes Kunststoffspielzeug, rote Zuckerpfeifen, rote Taschen, Möbel, Hemdenstoffe, rote Landwirtschaftsmaschinen, Karteireiter, Kabel, von roten Lichtreklamen beleuchtete rote Automaten voll roter Getränke. Seltener denkt man bei Rot und Bunt an frühere Menschheitsepochen, an Karmin-Läusemelkerei, Purpurschnecke und Krappzucht.
    p
      | Vor allem aber die Mädchen sind Rotbringer. Bezeichnenderweise heißt die glänzendrote, hellrote Kornelkirsche in Österreich Dirndl. Wieso eigentlich? Liebten es die Frauen immer schon, sich rot zu kleiden, zu schmücken und zu schminken? Gab es nicht auch genug lange Zeiten männlicher Buntkleidung? Waren es die Qualitäten von Verlegen- und Hitzigsein, die einer patriarchalischen Konvention zuliebe in allen möglichen Gegenden gerade dem weiblichen Geschlecht auf den Körper gepinselt wurden?, auf die Hände der Türkin, die Sohlen der Inderin, Lippen der Griechin, Brüste der Französin, die Krallen der Vamps und die Bäckchen der Teenagerinternationale? Jedenfalls: Null komma soundsoviel Gramm Rot, etwa die abgebrochene Spitze eines Schul-Buntstiftes, haben das Potential in sich, eine ganze Schar Mädchen aufs Papier zu werfen. Und: Alleinstehende Männer, deren Alleinstand aus gewissen schwer abänderlichen Gesetzmäßigkeiten folgt, gehen in Kleingarten- und Kurortstraßen gern an Blumengeprahl in den vielen Nuancen von Rot vorbei: vom rotgelben Dotter über die Schulfehlertinte bis zum violett erlöschenden Dunkelzyklam.
    p
      | Zusammenfassung: Fehlen von Rot weist unallegorisch, physikalisch, sinnenhaft auf Entbehrung, Menschenleere, besonders auch Mädchenleere hin und kann daher auf alleinlebende Menschen im allgemeinen und ebensolche Männer im besonderen melancholisierend wirken.
    p
      | 
      a.arrow(href="anwendung-der-rot-ueberlegungen-auf-ein-kleid.html") Anwendung der Rot-Überlegungen auf ein Kleid
      | , 
      a.arrow(href="maedchenblau-paradoxon.html") Mädchenblau-Paradoxon
      | , 
      a.arrow(href="zukunft-des-rotgebrauchs.html") Zukunft des Rotgebrauchs
      | .
