extends ../../templates/layout
block page-vars
  - const title = "Felder"
block main
  article#felder-1
    h2.inline-title Felder 1.
    p
      | Daß Felder nicht dem Schiff entlangtrotten, sondern ins Land hineingehen, gibt ihnen etwas Munteres. Abzweigung von Leben zugunsten des Bleibens, des Zeitstillstands, der Beschäftigung. Chemiekaufmann J. weiß nicht, was die Bauern hinter der Sichtverdeckung jetzt arbeiten, aber er weiß, daß sie Hüte tragen, um ihre Kopfhaut zu schützen. Sie arbeiten neben den Bäuerinnen, die auch ihre Kopfhaut schützen. Die Leute haben ein ruhiges Büro, eine ausgestorbene Fabrik, einen lautlosen Chef. Sie können, wenn sie wollen, statt zu arbeiten Hüte hochwerfen, Mückentänze tanzen, Mädchen wiederwerden und wiederbegehren, Schneckenplastiken leimen, beim Wildrosenwirten mit dem »Bauernbündler« die Pfeife entzünden, blaue Haarmaschen nähen, aber sie tun es nicht, sie sind verläßlich und frei. So frei, daß sie ihre Freiheit dem Boden schenken und von ihm Unfreiheit geschenkt bekommen. Die tauschen sie auf den Märkten wieder gegen Freiheit ein. Ein Chemiekaufmann ist auch frei, aber sein freier Wille geht nicht so weit, daß er alles an Freiheit wegschenkt; wenn mitten im Handelstag blaue Haarmaschen Mückentänze tanzen, gönnt der Chemiekaufmann sich immerhin, den Hut hochzuwerfen, Wildrosen zu sehen und eine Zigarette zu entzünden.
  article#felder-2
    h2.inline-title Felder 2.
    p
      | Linien gehender Bauern. Nähern sich asymptotisch einem einzigen Anhöhen-Baum, hinter dem man hinter die Welt fällt.
  article#felder-3
    h2.inline-title Felder 3.
    p
      | Buchenholz, ein Schuß Birkenholz, das ist das beste für die Selche. Jaja. Zwei Alte: WohnenS noch im Hof oben? Ja freilich; da hab ichs auch im Winter schön warm. Der Junge sprang zur Seite, denn er hatte verstanden, der Alte wohnte im 
      em Hochofen
      | , und solche Leute waren ihm immer unheimlich. Aber am Rand des kakaopulverfarbenen Ackers lag eine müde Maus. Der Junge hielt sie für eine tote Maus, und er wollte einmal Aas angreifen. Als er sie in der Hand hielt, ging sie ein paar Mäuseschritte herum und guckte ihn an. Er nützte die seltene Gelegenheit, eine Maus zu streicheln, er tat es mit dem Mittelfinger, als bestriche er sie mit Salbe, dann sagte er der Maus, sie dürfe hinunterhüpfen. Sie sprang und unterhielt ihn noch längere Zeit mit ihren Spielen. Am Feldrain Unkrautbüschel, auf nackter Scholle Graskolonien. Der Bauernsohn glich dem Bauernvater, ein Zeichen für den Willen, daß kein Fortschritt stattfände. Am Abend haben sie ja alle miteinander ein Gasthaus. Totenuhr, Preßwurst und Feuerwehr. Auch Bauern können bauernschnapsen. Am Feldrain, wo keine Unkrautbüschel sind, rostet ein Pflugschärfer. Besonders ackrig sind Picker im Zwickel zweier Sträßchen, die weiter oben — schütter — ebenerdige Häuser tragen. Er hat einen Hut mit Spiralfederneinlage, damit er ihm auf dem Kopf bleibt. Wenn er ihn im Gasthaus aufs Hutbrett wirft, dröhnt das Metall im Hut. Er sagt zu dem Hut: Gib a Ruh! Wenn er aber den Dieseltraktor anläßt, gibt es zunächst eine erschreckendes c — e — g, dann langsames plumpes Hacken, immer schneller, und mit plup-plup-plup-plup, sehr laut, fährt er schließlich aus dem Tor hinaus. Wassersorgen gibt es wie überall, wo Wasser ist, der Erdzeisel unterwühlt die Dämme, und auf seinen Schwanz gibt es eine Prämie.
    p
      | Sogar Rinder: Kinder, eure Todesfahrt möcht ich nicht mitmachen; ihr kommt zwar an diesem Tag so weit herum wie nie im Leben, habt die Impressionen des LKW-Ausgucks, einen Kosmos voll Straßen und guter Bäume, ihr grüßt die anderen Autofahrer, erlebt die Sensationen des Bremsens, Rüttelns, Auspuffstinkens, ihr muht, was ihr nur muhen könnt, aber dann geht es wieder in einen Kobel, und wie rasch ist alles schon wieder vorbei und es kommt die Eisenohrfeige. Eine Gefriertruhe ist das Praktischste für einen Bauern, was es gibt, ich sags Ihnen. Jaja, ich glaubs Ihnen aufs Wort, ich war Offizier bei den 693ern.
  article#felder-4
    h2.inline-title Felder 4.
    p
      | Ein Bauernmädchen, durch das Rainunkraut, gelb auf dem Fahrrad neben dem Burschen: »Nächstes Jahr beginnt das Theater, weil nächstes Jahr wollen meine Eltern, daß ...«
    p
      | Na, was wollt
    ul
      li ihr dankwerten Erzeuger meiner gelben Geliebten mitsamt allen Anlagen, die sich in ihr so angenehm entfalten,
      li ihr lästigen störenden Bauern-Spießer, ihr anzengruberischen Ibsenfiguren?
    p
      | Das Rainunkraut ist zerquatscht,
    p.poetry
      em
        | hinterm Scheunentürl
        br
        | wart mei Annamirl.
