extends ../../templates/layout
block page-vars
  - const title = "Feldstreifen von Senf"
block main
  article#feldstreifen-von-senf
    h2.inline-title Feldstreifen von Senf.
    p
      | Die Feldstreifen, da man sie nicht zu bearbeiten braucht, grüßt man bloß, man pflückt sich was zum Knabbern oder Anstecken, dann dreht man sich und geht einen Steig aufwärts; man kommt zum Wallsteig; den geht man aufwärts, bis man den hohen Weinsteig erreicht; den geht man aufwärts; ganz oben angelangt, sieht man auf die Rückseite von Knopf. Ja, Knopf hat eine Rückseite. Wo Knopf am 
      a.arrow(href="knopfbach.html") Knopfbach
      |  liegt, umgeben von weiteren Terrassenhügeln. Unten idyllt die Metallfabrik. Auf ihre hohen Schornsteine kann man von hier tief hinunterspucken. Rund um sie bunt die buntlackierten Landmaschinen, versandfertig, die Beinchen zusammengebunden.
