extends ../../templates/layout
block page-vars
  - const title = "Feminismus"
block main
  article#feminismus-1
    h2.inline-title Feminismus 1.
    p
      | Obwohl ich zu den raren männlichen Frauenrechtlerinnen des Westens zähle, die den Frauen neben üblicher Gleichberechtigung auch das Recht erwirken möchten, in den Massenmedien als menschliche Wesen anerkannt und angesprochen zu werden, halten mich manche freiwillig Erblindeten wegen meines harten Protokollierens, das auch vor jenem Typ des perfekten Sklavenluders nicht haltmacht, zu dem die Frauen in der patriarchalisch-industrialen Gesellschaft hinverdummen sollen, für einen Frauenhasser.
    p
      | Tiefenpsychologen vermuten eine intrauterine Partialkastration, Oberflächenpsychologen eine »unbewältigte Beziehung zum anderen Geschlecht«. Daß ich nur mit einem Geschlecht nicht zu Rande komme, nämlich dem menschlichen, habe ich schon an anderer Stelle ausgesprochen. Mir bleiben zu diesem Thema keine weiteren Aphorismen zu versprühen, höchstens einer: Die Geschlechter verdienen einander.
  article#feminismus-2
    h2.inline-title Feminismus 2.
    p
      | Eine meiner obligaten Solidarisierungen mit Autoren des Wiener »Tagebuch«:
    p
      | 
      em Walter Hollitscher, 1/1961, gekürzt:
      |  »... in jener künftigen, voll emanzipierten Gesellschaft, in welcher der 
      em Gegensatz
      |  zwischen Mann und Frau restlos aufgehoben sein wird und die Gesellschaft neuartige, würdige, unbefangene und zugleich verantwortungsvolle Beziehungen zwischen den Geschlechtern entstehen läßt. Dies werden Beziehungen sein, frei von materiellen Vorteilen in Liebesangelegenheiten, von materiellen Sorgen, von religiösen Vorurteilen, von elterlicher Bevormundung und spießbürgerlicher Borniertheit. Voraussetzung solcher Freiheit ist die entfaltete Persönlichkeit von Mann wie Frau.«
