extends ../../templates/layout
block page-vars
  - const title = "Fetischist"
block main
  article#fetischist
    h2.inline-title Fetischist.
    p
      | Der Genießer liebt vielleicht schönes Gedeck — der Fetischist frißt die Serviette. Ihm geht es gut: Eben lief da ein Mädchen vorbei, die reizlos war, aber brisant reizvolle Ohrpflöcke trug; keine Hübsche, sondern Trägerin von Hübschem: dem Fetischisten genügt diese adjektive Erotik. Während für den Nichtfetischisten das Ohr eines, der Pflock ein Zweites und das bepflockte Ohr ein höherwertiges Drittes ist, verzichtet der Fetischist auf das Ohr.
    p
      | Oder: Die Reste von Bekleidung auf einem nackten Frauenkörper bringen dem normalen Erotiker reizvoll nahe, daß er jetzt die ersehnte Dame strenger Tagesstunden »kriegt« und nicht den losgelösten Traum von einer anderen. (So wie er ja vice versa in der Bekleideten einen geschmückten nackten Körper sieht und darum vom artigen Schauen ungeahnt viel Genuß hat.) Der Fetischist aber verbringt die Nacht mit dem Schlüpfer und die Entschlüpfte weint.
    p
      | Oder: Der Fetischist hat den Stecker herausgezogen, sein Kontakt ist zerrissen, die schöne Tischlampe leuchtet ihm nicht, sondern ist bloß eine schöne Tischlampe.
    p
      | 
      span.small-caps Darum
      |  habe ich mich, im pränatalen Stadium, als ich mir meinen Charakter noch aussuchen konnte, entschlossen, Totalfetischist, also gar keiner, zu werden. Ich liebe jedes Molekül des Mädchens, einschließlich all ihrer Textil- und Duftaufträge (ausgenommen jene entwertenden Applikationen, die die Massenmedien ihrem Geist zufügen). Auf diesem Umweg wird der Gegenstands-Fan zum echten Liebhaber, und in seiner Vermenschlichung der Dinge nimmt er die Verdinglichung des Menschen zurück.
    p
      | Dennoch bleibt »Totalfetischismus« ein Ungefähr: Die zwei blauen Augen der Schnulze, der sandrosa Mund des 
      em Schönheitsbriefs aus Paris
      | , der Haarbewuchs (echt oder Inter Hair) und das Erdbeerkleidchen aus Diolen® ergeben ja zunächst noch kein Mädchen: solange nicht die Integration drübergeht und aus dem Requisitenkabinett einen Menschen macht. Dies ist aber ein fatales Problem: des Lexikon-Romans im ganz besonderen.
    p
      | Vgl. auch 
      a.arrow(href="studien-zum-fetischismus.html") Studien zum Fetischismus
      | .
