extends ../../templates/layout
block page-vars
  - const title = "Fischer"
block main
  article#fischer-1
    h2.inline-title Fischer 1.
    p
      | Die Hosenböden voll Lehm, wirft er den Schwimmer weit aus und zieht schon einen weiß-grün glasigen Fisch aus dem Wasser, reißt ihn ab, wägt und wiegt ihn in der Hand, dankt einer Art Gott für das schöne reflexreiche Schuppenmuster, das in durchgehaltener Sorgfalt bis in die Mikrostrukturen jeden Quadratzentimeter auch der nichtbetrachteten Stellen bedeckt, für die rutschige Bombe voll Fleisch, für den zerstörten Mund und die kochenden Kiemen. Im Beutekorb tauchen schon zwei unterarmlange glänzende schwarze Mitfische, der Fischer dankt für sein Fischertalent und bittet, nächstens aber einen 57 Kilogramm schweren Waller drillen zu dürfen.
  article#fischer-2
    h2.inline-title Fischer 2.
    p
      | Sie machen es sich bequem mit alleingelassenen, holztäfelchenbestückten Dauerangeln.
  article#fischer-3
    h2.inline-title Fischer 3.
    p
      | Fischer zu sein, ohne die Verbote zu kennen, ist verboten. Jeder Gebrauch von Juckschnur, Kosack und Pilker und jedes ruckartige Heranziehen beim Spinnen (Schlenzen) ist verboten. Der Fang von
    ul
      br
      li Aalen unter 40 cm,
      li Hechten und Zandern unter 35 cm,
      li Felchen und Pischen unter 30 cm,
      li Barben und Karpfen unter 25 cm,
      li Schleien unter 20 cm,
      li Barschen und Kretzern unter 15 cm
      br
    p
      | ist verboten. Das Netz zum Fangen von Köderfischen darf höchstens 1m hoch sein. Es darf keine größere Maschenweite als 14 mm haben. Es dürfen nicht mehr als 50 Köderfische mitgeführt werden. Angelruten mit Schnur dürfen höchstens eine Länge von 15 m haben. Die Schnur darf keine Öse besitzen. Heggene ab 4 Haken sind verboten. Jeder Gebrauch künstlicher Köder ist verboten. Das Mitführen unerlaubter Geräte ist verboten. Das Beschädigen oder Umdrehen von Verbotstafeln ist verboten.
  article#fischer-4
    h2.inline-title Fischer 4.
    p
      | Die Au fischelt. Aber kein Fisch fischelt in Herrn Fischauers Kescher.
  article#fischer-5
    h2.inline-title Fischer 5.
    p
      | Das Fluolit läßt die Fische sich buchstäblich auf den Haken stürzen, vor allem die gierigsten, die normalerweise mehrere Meter tief auf der Lauer liegen, und zieht unwiderstehlich, wie ein Magnet, selbst diejenigen an, die sich mehr als 100 Meter von der Angelstelle entfernt befinden. Mehr als zwei Stunden lang war es mir nicht gelungen, einen einzigen Fisch zu fangen — absolut keinen einzigen Fisch! Jedoch sofort, nachdem ich meinen Köder mit diesem sonderbaren Fluolit behandelt hatte, ist es mir noch am selben Tag gelungen, in weniger als einer Stunde neun große Hechte und fünf mächtige Karpfen zu fangen! Und Anno Domini 1299 an dem 8. Tag Johannis Battisten, 2. Juli, do ward von mir gefangen ain fisch, der was neun schuch lang untz an das hopt und kunt man nit wissen, das hie und ye me als ain fisch gevangen ward. Und schickt her Hans von Urdman des fisch hopt hern Ruodolfen von Heyen, der dozumal dechant was und corherr. Und uß dem hopt wurdent 45 großer stück, die ye zwey genuog groß in ainer schüssel warent. Und zuo dem hopt lud er den von Heyen, die corherren zu sant Steffen und zu sant Johanns und ander pfaffen, das ir wurdent 34, und wurdent dennoch sechs schüsseln von dem hopt in die statt gesandt. Sie müssen mehr fangen — und viel größere Fische — und viel mehr Freude an Ihrem Sport haben!
    .gratisgutschein
      |
      .title GRATIS&shy;GUT&shy;SCHEIN
      | Senden Sie mir noch heute
      .indexed-grid
        .grid-index 
          | 1
        .grid-item
          | Testpackung 
          span.small-caps Fluolit
          |  (bei Mißerfolg und Rücksendung gratis).
        .grid-index 
          | ( ) 
        .grid-item 
          | Bitte per Nachnahme schicken.
        .grid-index 
          | ( ) 
        .grid-item 
          | Ich will die Lieferung beschleunigen, deshalb bezahle ich voraus. 
          br
          | (Gewünschtes bitte ankreuzen.)
  article#fischer-6
    h2.inline-title Fischer 6.
    p
      | Selbstgefangener Karpfen kein Vergleich mit gekauftem jeder hat nur ein Stück kriegt nichtwahr Paula ein Gedicht war er. 
      em (Der Karpfen:)
      |  Ja, ich war ein Gedicht.
  article#fischer-7
    h2.inline-title Fischer 7.
    p
      | 
      em Hat ein Fisch angebissen, so wird mit einem Ruck der Rute der Angelhaken in seine Mundteile eingeschlagen. Nur kleinere Fische können gleich herausgezogen werden, größere müssen durch abwechselndes Nachlassen und Anziehen der Schnur (Drillen, Spielen) ermüdet werden.
      | 
  article#fischer-8
    h2.inline-title Fischer 8.
    p
      | 
      em Man lockt die Fische dadurch an, daß man den Wurm, Teig oder Käse mit Riechstoffen wie Anisöl betupft.
      | 
  article#fischer-9
    h2.inline-title Fischer 9.
    p
      | Jeder Angler muß die Eigenart des Gewässers und des begehrten Fisches beobachten und danach seine Methode wählen. Er muß zB vermeiden, zu atmen oder zu küssen, Scherze zu machen oder laut zu knistern. Die Ausbildung der Ruten und Köder ist selbst ein Sport. Seepferdchen lassen sich von geschickten Bastlerhänden aus Roßkastanien schnitzen, Seejungfrauen kauft man am besten in der Fachhandlung. In den größeren Flüssen wird nach Weißfischen verschiedener Art, vom Silberfischchen bis zum Wal, geangelt. Es empfiehlt sich, die Rute für den Walfischfang stärker und elastischer zu wählen. Delphine dürfen wegen ihrer Kriegswichtigkeit in der Donau nur im September geködert werden. Der Sportangler braucht zur Ausübung seines Sportes, auch im Traum, einen Fischerei- und einen Erlaubnisschein, auf dem ganz genau angegeben sein muß, wo, wann und mit welchen und wieviel Ruten er darf.
  article#fischer-10
    h2.inline-title Fischer 10.
    p
      | Angeln in Gabeln festgemacht, in Händen wippend, untern Armstumpf geklemmt. Naturholz, metallverstärkt, oder schihafter Luxus; aber: es gibt keine überzeugende Angelform; der Designer schweigt vor dem Bastler. Überhaupt: Schweigesport. Fachmannidylle. Nasse Schreberei.
    p
      | Fischer zerschnüren Chemiekaufmann J. das Gemüt. Ihr 
      a.arrow(href="entsagungsvolles.html") Entsagungsvolles
      | . Schon von Früh an nur dem Fang leben, nicht etwa auf Suche nach einer Frau ausgehen, vor der man später zum Fischen flüchtet.
    p
      | Die optimistische Fischdose fürn Fang und die pessimistische Fischkonserve. Das absurrende Röllchen, senkrecht auf ein zweites. Der babybunte Plastikschwimmer. Das verrottete Lederimitationsköfferchen mit Abteilungen für Qualdraht und Firlefanz, die Schnupftabakdose mit farbarmen Ekelkriechern: Todeskandidaten und Mordassistenten.
  article#fischer-11
    h2.inline-title Fischer 11.
    p
      | 
      em Der Fisch, durch die Farbe und das Aussehen des Köders angelockt, nähert sich, steigt hoch, öffnet sein Maul und wird von einem Haken gehalten. Sein Festmahl wird traurig sein, weil er ein Gefangener ist. 
      | (Claudius Aelianus, 200 n. Chr.)
    p
      | ... Da sah ich einen prächtigen Käse vor mir, roch sein Anisöl (
      a.arrow(href="fischer.html#fischer-8") Fischer 8
      | ) und wußte aus dem Elementarunterricht, daß es hier etwas zu erjagen gäbe. Wie staunte ich (entschuldigen Sie, daß ich zutzle, aber mein ganzer Gaumen ist zerfetzt), als der Käse beim Schlucken Widerstand leistete. Er hatte einen Fortsatz aus Metall — ich schlage vor, daß unser Technologisches Institut dieses Phänomen untersucht. Ich wollte das Metall ausspucken, aber es spreizte sich in meinem Mund so ungeschickt, daß ich es nicht hinausbekam. Ich versuchte mit meinem Schwanz zu schlagen, aber das Ding lockerte sich nicht, im Gegenteil, es tat jetzt richtig spitz weh. Kaum hatte ich um mich geschlagen, riß jemand von oben an dem Käse, sicher ein braves Tier, das mich befreien wollte, aber der Metallteil ging beim Rausziehen merkwürdigerweise nicht hinaus, sondern ganz tief herein. Plötzlich schrie ich im höchsten Ultraschall auf, denn nun bearbeiteten meinen Mund bis in den Schlund hinein unzählig Scheren (
      a.arrow(href="fischer.html#fischer-7") Fischer 7
      | ). Ich spuckte ganze Teile meines Körpers aus und sah gelbe, grüne und blaue Sterne. In diesem Delirium sank das Wasser meiner gewohnten Tiefenschicht rapid gegen den Donaugrund zu, und mit einem Mal war das Wasser überhaupt weg, es war schauerlich atemleer und blau, bunte Flecken flogen auf mich zu, und als sie mich erreicht hatten, knallten sie an mich; ein Tier oben nannte diese Flecken »Erde« und »Gras«. Ich spuckte Blut, die Augen quollen mir aus den Höhlen, weil ich nichts in den Kiemen hatte, und hörte unverständliches Leiern einer zarteren Stimme: »Man drehe das abgehäutete junge Fischlein rund zusammen, stecke ihm das Schweifende in das Maul und befestige es mit einer Dressiernadel, lege es auf Zwiebelscheiben in eine flache Kasserolle ...« Dann maß mich das erste Tier und stellte fest, daß ich nicht die polizeiliche Länge hatte (
      a.arrow(href="fischer.html#fischer-3") Fischer 3
      | ). Es drückte mir seine Fingernägel tief in die empfindlichste Stelle, holte aus, und plötzlich flog wieder das Wasser auf mich zu. Sie müssen, wie gesagt, entschuldigen, daß ich zutzle, aber es war eben ein entsetzliches Abenteuer. Daß sich die Mädchen seither um mich reißen, ist, offen gestanden, nur ein kleines Trostpflaster.
