extends ../../templates/layout
block page-vars
  - const title = "Flotte"
block main
  article#flotte
    h2.inline-title Flotte.
    p
      | 
      a.arrow(href="gelbe-schenken.html#gelbe-schenken-4") Gelbe Schenken 4
      | 
