extends ../../templates/layout
block page-vars
  - const title = "Frau und Freude, das Blatt mit Herzpfiff"
block main
  article#frau-und-freude-das-blatt-mit-herzpfiff-1
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 1.
    p
      | »Huhu! Kommen!«, ruft sie aus dem Schlafzimmer, als erwarte sie uns zur Bescherung. Das niedliche rotbraune Haarteil ist nicht zu übersehen. »Das benutze ich nur, um die Haare hinten voller zu machen.« »Und wenn Sie einmal vom Regen überrascht werden und abends noch eingeladen sind — was tun Sie dann??« Sie steckt eins, zwei, drei das Haarteil fest, erst dann sagt sie: »Da gibt es jetzt was unerhört Praktisches—elektrische, heizbare Lockenwickler.« Sie dreht sich nach dem Wecker auf dem Nachttisch um und schreit im selben Moment: »Hui! Wenn wir uns jetzt nicht beeilen, machen die Geschäfte zu! Raus!«
    p
      | Hallo, girls! 
      span.small-caps Libelle
      | -Kosmetik. So jung und schon ein neuer Mensch! Sahara-Beige schöne verträumte Sünde. Für sehr, sehr sanfte Mädchen. Tornado—so ein Rot! Lebendig und knisternd vor Spannung; Tornado-Mädchen stehen ihren Mann. Jagdhund-Purple — hinreißendes Lächeln; eine 
      em wilde
      |  Farbe, verwirrend wie der aufregendste Sommerflirt! Charleston 68 — heiße Rhythmen — heiße Küsse; das Violett behexender Faszination. Yucatan — zarte Lippen — zärtliche Worte. Der sonnige Schimmer macht Yucatan zum strahlenden Abglanz glutvoller Sommertage. 
      span.small-caps Libelle
      | -Kosmetik — der Lift zum Erfolg.
    p
      | Die kluge Frau sagt 
      span.small-caps Ja
      |  zu Käse.
  article#frau-und-freude-das-blatt-mit-herzpfiff-2
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 2.
    p
      | 
      span.small-caps Ihr Traumbusen
      | . Haben auch Sie dieses Problem? Können auch Sie ein gewisses Neidgefühl nicht unterdrücken, wenn Sie eine dieser Leinwandschönheiten sehen, deren hohe feste Brust zu Bewunderung zwingt? Würden Sie ihr gern ähnlich sein und ebenfalls eine Traumbüste haben? Was hindert Sie daran?
    p
      | Tonlos biß der Chirurg die Lippen aufeinander. Gebärmutterkrebs, sagte er nach einer Weile leise. Eine dicke Träne stand in seinem rechten und linken Auge. Exstirpation? schienen die Blicke des kleinen schüchternen Assistenzarztes zu fragen. Zu spät, erwiderten grimmig die Kaumuskeln im eigentlich schönen Gesicht des Skalpellstars. Aber er sagte nur — und die Worte fielen wie Blei von seinen Lippen: Verständigt Baron Stolzenberg. Niemand sollte sie hören die Stimme, die die Welt in einem einzigen Klageschrei ertränkte. »Claudia !«
    p
      | Birgitt ist mollig, vor allem im Gesicht. Selbst wenn sie abnimmt, nimmt ihr Gesicht zu. Den Hals verdeckte sie am liebsten mit Rollkragen. Dadurch betonte Birgitt noch ihr kleines Doppelkinn (Foto rechts). Ihren Mund malte sie in zu hellen Tönen voll aus, was ihren Lippen eine ungünstige Wulstigkeit verlieh. Den Teint grundierte sie weiß nach Art eines Clowns, wovon wir ihr zugunsten eines unauffälligeren Beige abrieten. Ihre Stirn bedeckte sie bis zu den Augen mit Ponyfransen, was bekanntlich ein pummeliges Gesicht breiter erscheinen läßt. Wir rieten ihr zu einem todschicken Haarteil. Auch die waagrechte weiße Streifung ihres lichtblauen Lieblingspullis rieten wir ihr aufzugeben; im mitternachtblauen Kostüm und gut eingemiedert, sieht Birgitt gar nicht mehr so mollig aus (Foto links). Im nächsten Heft machen wir eine Kunststudentin zur Dame.
  article#frau-und-freude-das-blatt-mit-herzpfiff-3
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 3.
    #eros-test
      #line-one Unser Eros-Test
      #line-two Heute:
      #line-three Wie reizvoll sind Sie?
    #klopfen
      p
        | Klopfen Sie weiche Eier mit dem Hammer auf? (3 Punkte)
        br
        | mit dem Kleinfingernagel? (5 Punkte)
        br
        | mit dem Chinafächer? (10 Punkte)
      p
        | Wenn Ihr Freund eine schlüpfrige Bemerkung macht,
        br
        | ohrfeigen Sie ihn? (6 Punkte)
        br
        | küssen Sie ihn auf die Wange? (6 Punkte)
        br
        | summen Sie verhalten ein altes Kirchenlied? (10 Punkte)
      p
        | Lieben Sie ...
        br
        | im Winter Tschaikowskij? (3 Punkte)
        br
        | im Sommer Franz Lehar? (5 Punkte)
        br
        | jederzeit den unspürbaren Cheri-Tampon*? (20 Punkte)
        br
        span.footnote * auch 13jährige dürfen es wagen ...
    p
      |   Meine Mutti verbietet mir, meinen Freund zu sehen. Sie will ihn gar nicht erst kennenlernen, weil er so lange Haare hat. Soll ich ihn heimlich treffen?
    p
      | 	
      em Liebe Elsbeth! Rede doch mal mit deiner Mutti und sage ihr, daß lange Haare nicht unbedingt einen schlechten Charakter bedeuten.
      | 
    p
      | Liebe 
      span.small-caps Frau und Freude
      | ! Ihr Farbbericht war in Bild und Wort gleichermaßen erregend. Er zeigte ein Morgenland wie in »1001 Nacht«. Liebreiz und Grausamkeit haben hier ihren angestammten Platz, schließen sich gegenseitig nicht aus. Eine Szene wie die Auspeitschung vergißt man nicht so leicht. Dennoch erscheint sie mehr faszinierend als abstoßend. 
      .align-right Helga L., Ochsenziem
      | 
    p
      |   Kann jetzt jedes Kind oder sogar der Mann gute Reibekuchen machen? Das behaupten wir nicht! Denn auch 
      span.small-caps Gucki
      | -Reibekuchen müssen gut zubereitet und mit herzhaften Beilagen versehen werden.
  article#frau-und-freude-das-blatt-mit-herzpfiff-4
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 4.
    p
      | 
      span.small-caps Jungverliebte haben heutzutage mehr Vernunft
      | . Bei Umfragen erfuhren Meinungsforscher: Fast 75% aller Mädchen wollen heiraten und sich nur ihrer Familie widmen. 44% sagen gleich beim ersten Heiratsantrag ja; 76% verurteilen Ehebruch; 84% tanzen gern; 96% haben einen Regenschirm; 15% mögen Männer in Uniform; 75% lesen nachts ein Buch; 41% inspizieren nachts »seine« Taschen; 92% sind mit ihrer Brust unzufrieden; 48% wünschen sich drei bis fünf Kinder. Die angehenden Väter sind im allgemeinen für etwas weniger Nachwuchs; bei ihrer Zukünftigen wünschen sich 55%: sie soll ein Durchschnittstyp sein.
    p
      | Behaglichkeit und Repräsentation durch täuschend echten Kamin. Mit elektrischem Holzfeuer und Flammeneffekt. Einmalig!
    p
      | Stürzen Sie sich hinein in den Wirbel ausgelassener Heiterkeit, in diese herrlich prickelnde Atmosphäre überschäumender Freude— umwogt von Musik und frohen Menschen! Diesen Zauber unterstreicht dezent und leicht anzuwenden M. F. 
      span.small-caps Eye Make-up
      | . Für diese Saison empfehlen wir: Die Augenbrauen nicht ausrasieren, sondern feminin bleichen; nur einen schwalbenflügelförmigen Bogen von einem Millimeter in Schwarz ausziehen, dann innen nilgrün, außen türkisblau überstricheln — das gibt heitere Beschwingtheit; darüber schmeichelt ein Stäubchen Goldpuder. Von der Nasenwurzel aus leicht nach außen hin das Lid abschattieren in der zärtlichen Lidpuderfarbe Wüstenwind I. Das äußere Auge wird zum Jochbogen mit einer fröhlichen Modefarbe bedeckt, die zu Kleidung oder Schmuck paßt: zum Beispiel Orange, Grün oder Gold. Unter dem Jochbogen verteilt man Zimt oder Grau, was das Lid apart vergrößert. Auf dem Lid selbst empfiehlt sich Wüstenwind II, Morgengrau oder Bernstein. Der Lidstrich wird mit brauner oder jetschwarzer Farbe übermütig weit nach außen gezogen, am Ende leicht abfallend. Die Oberwimpern werden dreifach getuscht und getrocknet (Natur- und einzelne Zobelhärchen durch Bernsteinlack vorher vereinigen). Die unteren Wimpern werden zart in der Lidstrichfarbe nachgestrichelt und damit das Auge fast magisch vergrößert. Die freien Zwischenräume werden behutsam mit weißem Lidstrich oder Puder ausgefüllt. Zuletzt wird in die Oberwimpern zweifarbiger Flitterstaub gestreut und in die Augen Eye-Joke eingetropft, das ihnen die Müdigkeit nimmt und sofort einen optimistischen Glanz verleiht.
  article#frau-und-freude-das-blatt-mit-herzpfiff-5
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 5.
    p
      | 
      span.small-caps Ich gehe mit einem Mann
      | . Mit ihm — das muß ich gestehen — habe ich seit unserer Verlobung ein Verhältnis. Es ist das erste. Er glaubt es aber nicht. Vor kurzem fragte ich, wann wir heiraten würden. Mein Verlobter verdient gut und ich auch. Übers Wochenende ist es bei uns immer sehr langweilig. Wir sitzen in Lokalen herum. Ich denke, wenn wir verheiratet wären, wäre alles ganz anders.
    p
      | 
      span.small-caps Seit kurzer Zeit bin ich glücklich verheiratet
      | . Mit meinem Mann ist alles in Ordnung: er trinkt nicht, raucht nicht und hat kein Hobby. Aber er verkehrt mit einem Kollegen, den ich nicht leiden kann, denn er ist ein Kneipengänger. Ich habe meinem Mann gesagt: »Das ist kein Umgang für dich.« Aber er läßt nicht von ihm. Neulich verspätete er sich zwölf Minuten zum Mittagessen.
    p
      | 
      span.small-caps Mit ganzen 54 Jahren ist er schon Pensionist geworden
      | ! Nun ist er seit sechs Jahren daheim. Er nörgelt vom frühen Morgen bis zum späten Abend. Er steckt in alles seine Nase hinein. Ein trauriger Lebensabend.
    p
      | 
      span.small-caps Auch auf Sie wartet die grosse Liebe!
      | Den Partner fürs Leben gefunden zu haben, ist eines der größten Erlebnisse. Sie brauchen nur Ihren ausgefüllten Glücksgutschein einzusenden, alles weitere ergibt sich dann so gut wie automatisch.
  article#frau-und-freude-das-blatt-mit-herzpfiff-6
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 6.
    p
      | »Bis jetzt hat er sich noch immer an mich gewöhnt, ich krieg das schon hin! Eine Frau muß diplomatisch sein, ihn ab und zu nach seiner Meinung fragen und ihm vorher heimlich ihre eigene suggerieren!« »Aber wenn Ihr Mann Sie nur so liebt, wie Sie wirklich sind, nämlich schwarz?« Sie legt die Puderquaste zur Seite und sagt energisch: »Dann würde ich eben wieder Natur tragen. Denn mein Mann steht ja mit mir zusammen auf.«
    p
      | Für ein glücklicheres Leben zu zweit: Ein ganzer Mann mit 
      span.small-caps Ginospan
      | ®. Wieviel hängt doch von der Leistungsfähigkeit des Mannes ab — im Beruf, aber auch in der privaten Sphäre. Fühlt er sich jung und vital, ist das Leben nochmal so schön.
    p
      | 
      span.small-caps Ich bin verzweifelt.
      |  Mein Mann zieht neuerdings gern meine Höschen an. Das erste Mal war es für mich ein großer Schock. Jetzt dulde ich es mit zusammengebissenen Zähnen. Ich fühle aber, daß das so nicht weitergehen kann. Ist das normal? Tun das andere Männer auch? Ist es vielleicht ein Scheidungsgrund?
    p
      | Auf der Flasche sitzt ein goldfarbiger Vogel, der zwitschert und singt, sobald man die Flasche bewegt. Dies alles wirkt wie Zauberei. Wenn ein Getränk in die Schale eingefüllt ist, sieht man auf dem Boden eine reizende Geisha. Praktisches Geschenk.
  article#frau-und-freude-das-blatt-mit-herzpfiff-7
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 7.
    p
      | Frisur und Kleider allein tun es nicht mehr, wenn ein Mädchen sich für besondere Gelegenheiten schönmachen will. Nun wird auch das Gesicht genormt: Paris diktiert »La Belle«. Jean Casserol hält bereits Kurse für Kosmetiker aller Länder ab, um Dutzende Exemplare von »La Belle« in jeden Tanzsaal Europas einzuschleusen. 
      span.small-caps Frau und Freude
      |  macht in der nächsten Ausgabe auch Sie zur »La Belle«.
    p
      | 
      span.small-caps Kann man zu schön sein?
      |  Alle meine Freundinnen sagen es, und ich weiß es aus bitterer Erfahrung: Ich wirke auf Männer zu stark. Kann man denn zu schön sein für die wahre Liebe?
    p
      | Weltweite Untersuchungen zeigen, daß bei Blähungsbeschwerden (Völlegefühl, unangenehmem Aufstoßen, Blähbauch) die Luft nicht in freier Form vorliegt, sondern in einem trägen Schaumknäuel eingehüllt ist. 
      span.small-caps Blahosan
      |  bringt diese schleimigen Blasen zum sekundenschnellen Zerfallen. Die freie Luft kann deshalb wieder auf natürlichem Wege entweichen.
    p
      | Eine schöne Frau weiß immer, daß sie auf Romantik nicht verzichten kann.
  article#frau-und-freude-das-blatt-mit-herzpfiff-8
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 8.
    p
      | 
      span.small-caps Frau und Freude
      |  — immer brandneu. In unserer nächsten Folge: Kinderlose Prinzessin adoptiert Negerbaby. Margaret geheimnisvoll bedroht. Wankt Pfauenthron? Ira von Fürstenberg dreht 
      span.small-caps nicht
      | . Kommt Beatrix denn nie zur Ruhe? Welt zittert um Fabiolas Glück. Außerdem: Kinderarzt gibt wertvolle Tips für richtiges Stillen. Waren Napoleons Eltern streitsüchtig? Wie du »ihn« zu einem Heiratsantrag bringst. Ist jede Frau ein Vampyr? — Das Rätselhafte in und um uns fasziniert immer aufs neue. Aber nicht nur Okkultes, auch die verschiedenen Wettbewerbe bringen viel Rätselhaftes. Doppelseitiger Horoskopteil mit Erfolgszahlen und Test. Gewinnen Sie ein Schwein!
    p
      | Alle Ihre Fettpolster werden gezielt abgebaut; nur an Körperstellen, wo Sie es wünschen.
    p
      | Darf ich nicht basteln? Ist er anders veranlagt? Er trägt keinen Hut! Mein Vater verfluchte mich. Er hat mir ein Blatt mit üblen Fotografien gezeigt! Ich war eine wilde, wüste Person. Ich möchte verspielte Wäsche tragen. Warum ist er Bettnässer?
    p
      | Fliegen beschmutzen Ihre spiegelblanke Wohnung! Überall hinterlassen sie unappetitliche Spuren! Auf Lampen! Auf Vorhängen! Auf Glas! Auf Möbeln! FLIEGEN! FLIEGEN!! FLIEGEN!!!
  article#frau-und-freude-das-blatt-mit-herzpfiff-8
    h2.inline-title Frau und Freude, das Blatt mit Herzpfiff 9. 
    p
      |Denken Sie jede Sekunde an Ihre Schönheit. Schreiten Sie wie eine Königin. Ein Mann, der behauptet, er sei der Herr im Haus, lügt auch bei anderen Gelegenheiten. Tragen Sie ein optimistisches Gesicht. Prägen Sie Ihren Mann. Spitze ist unschlagbar, weil sie einen Mann sehr zart ans Heiraten erinnert. Nichts läßt Frauenaugen so blitzen wie der Anblick edler Diamanten. Machen Sie keine Lachfalten. Eine Frau fühlt sich dann am stärksten, wenn sie einen Mann schwach gemacht hat. Armband aus Goldplättchen mit Turmalinen und Brillanten: diese goldene Fessel läßt sich jede Frau gern anlegen — stimmt's? Pelzbikini — der Traum jeder Frau. Wenn es um einen neuen Hut geht, ist jede Frau ganz Ohr. Für eine Frau ist es besser, den Mann zu heiraten, von dem sie geliebt wird, als den, den sie liebt. Der Mann ist eben ein Egoist. Abends bevorzugt Eva nach wie vor Romantik. Kinder sind der beste Ehekitt. Liebe geht ja doch durch den Magen. Frauen sind ja doch bessere Diplomaten. Die Klügere gibt ja doch nach. Die Liebe ist ja doch eine Himmelsmacht.
    p
      | Die deutsche Frau hat Hausversstand und läßt sich nicht manipulieren.
