extends ../../templates/layout
block page-vars
  - const title = "Freiheit, die ich meine"
block main
  article#freiheit-die-ich-meine
    h2.inline-title Freiheit, die ich meine.
    p
      | Nicht identisch mit der, die Ernst Jandl meint. Die echte lexikale Freiheit (
      a.arrow(href="gebrauchsanweisung.html") Gebrauchsanweisung
      | ) bestände darin, meint Jandl, keinen Autorenstil aufgezwungen zu kriegen: zwinge ich dem Leser bei jedem Artikel meine Sprechgewohnheit auf, hustet der Leser auf die Freiheit in der Abfolge von geographischen Punkten.
    p
      | Jandl — weil es ihm um die Sprache geht — glaubt, die Konstanz des Protokollführers plus die Variabilität des Protokollierten ergeben eine Konstanz. Ich — weil es mir um die Sache geht — glaube, die Konstanz des Protokollführers plus die Variabilität des Protokollierten ergeben eine Variabilität. So, wie die Konstanz des Fahrenden plus die Variabilität der Fahrtpunkte eine Variabilität, genannt Fahrtvergnügen, ergeben. Nach Jandl wäre nur noch die Fahrt aus der eigenen Haut vergnüglich.
    p
      | Indessen stelle ich mir Jandls Alternativlexikon reizvoll vor; ich würde es, weil seit Mao Gärten ja Platz für tausend Blumen haben, als eine erfreuliche Konkurrenz und Unterhaltung begrüßen; ich gebe zu, daß ich mit dem Lexikon jedes Mitmenschen froher spielen werde als mit meinem eigenen.
    p
      | Vorderhand kann ich Freiheitsliebenden der Jandl-Variante nur raten, bei jedem meiner Stichwörter in einem neutralen Lexikon, einer Etymologie oder auch sinngemäß in Kompendien der Technik, Erotik, Völkerkunde, Psychiatrie etcetc, bei Marx, Wittgenstein oder in der Bibel nachzuschlagen. Mit diesem Rat bin ich unweigerlich avantgardistischer als die neugierig erwartete Konkurrenz.
