extends ../../templates/layout
block page-vars
  - const title = "Gaatsch"
block main
  article#gaatsch
    h2.inline-title Gaatsch
    p
      |: einer der m. E. tolerablen Austriazismen, da in seinem Fall das weich Verbreiende wienerischer Konsonanten und das dehnend Verzähende wienerischer Vokale dem darzustellenden Material adäquiert. Einen Gaatsch (Erdkot, Lehm, Morast) zu katschen (kauen), mit gesundzahnigem K und schnappigkurzem A, ist minder zumutbar als: ihn zu gaatschen, mit gammligem Graugrün-Gebiß und mittendrin einschlafendem Gaatsch-Maul.
