extends ../../templates/layout
block page-vars
  - const title = "Garage"
block main
  article#garage
    h2.inline-title Garage.
    p
      | Garagentür und -wände öffnen sich, der Aufbruchsgeruch nach Reifengummi und Abbenzin startet in die Weite des Tags und Lebens von Alphard Mutz. Heute noch wird man in den Bergen sein, rosa Klebblumen pflücken (voll AnheftInsekten), sogar die Blaublume Enzian. Scharfriechende Almkräuter abstengeln, Muhkuhli-Bimmeln hören aus großen schweren Messingglocken, Konkurrenzbimbam der Abendkirche, oder man wird in jenem Seerestaurant essen, wo die dekadenten Kellner ihre Silberrechnungen präsentieren und diskret ins Geplätscher der Kurkapelle hüsteln. Oder an den klinker-zerkrachenden Zementfabriken vorbei, dem staubweißen Ohrentod, und überall Seitenwege, Verzweigungen, Anti-Straßen, auf denen die Eltern geradesogut fahren könnten— warum fahren wir nicht neben uns, quer auf uns, gegen uns, fragt der Siebenjährige, lehnt sich zurück, zählt die damals noch seltenen Gegen- und Vorfahrzeuge, fängt und kaut ihre Nummern, freut sich auf Stadtrast und grüngrünen Marzipankürbis.
    p
      | Der Garagenmeister hat eine Bauchkugel und läßt Gehilfen zapfen, schmieren und klopfen. Hinten steht sogar eines jener zusammengemoppelten Geräte, schweigsam und abwartend, das sonst zischt und blaue Strahlen schießt, und von dem blauverpackte dickbebrilltund -behandschuhte Männer, die sich schmutzig machen dürfen, die Kinder immer wegscheuchen; »Autogen-Schweißen« nennt man das Zisch, »Auto« ist klar, aber was hat blaues Licht mit Schweiß zu tun?
    p
      | Benzin plätschert, wie Wasser. Benzin hat immer Geldscheine in der Nähe. Mit Benzin kommt man weit, und Alphard fragt noch nicht, wie weit willst du eigentlich kommen, Alphard?. Alphards Welt ist noch ganz 
      em Möglichkeiten; Beschränkung macht
      |  noch nicht 
      em den Meister
      | , sondern wird als wildes Schmerzmitleid mit Erwachsenen geahnt.
    p
      | Die Autotüren schlagen zu, werden abgesichert, die Frau kuschelt sich, der Mann überherrscht die Instrumente. Das Kind schaut sich die Welt von hinten an, schon schwindet eine ganze Schwade von Eissalons im aufgeräderten Straßenstaub, und auf gehts in die Bläue des fremden Tagablaufs, des verstörten Mahlzeitplans, des Schauens, Anti-Schlafens, Überall-Ansiedelns.
