extends ../../templates/layout
block page-vars
  - const title = "Gasthäuser"
block main
  article#gasthaeuser-1
    h2.inline-title Gasthäuser 1.
    p
      span.small-caps Zum Wolfi-Bauer.
      |  Er hat am Steinschlag einen potemkinschen Garten und putzt die rosa Blüten. Eine der Oleandertöpfinnen liebt er besonders. Wenn er nichts zu tun hat, sitzt er auf dem Topfrand. »Change!«, verlangte ein Engländer und reichte ihm tausend Schilling. Der Wolfi-Bauer verstand sofort und wechselte. Is der echt?, fragte er Blasi, seinen Freund, auf dem Pissoir. Ja, der Wolfi-Bauer ist kein Surm, wie die Leute sagen, sondern gerissen. Einmal hatte er sogar zum Theater wollen, aber das war lang her. Freundinnen sagten, sei nicht so teppert; St. Pölten ist ein heißer Boden. Nun hat der Wolfi Steinkrüge und gutes Knopfer Bier. Musebart, der bierkundige Millionär, steigt gern dort ab. Und kalt !
  article#gasthaeuser-2
    h2.inline-title Gasthäuser 2.
    p
      | Entlang der unbefahrenen, in Gras mündenden Hinterstraße stehen seine Tischreihen an seiner Wand, von der Straße nicht abgegrenzt, außer durch die Autorität zweier kräftiger Linden. Ein Arbeiter wird sich an einen beliebigen Tisch setzen. Das Schwitzen vergeht, aber die Mücken stechen. Der Arbeiter denkt ans Arbeiten. Der Rücken ruht aus. Diese guten, langausgezogenen Häuser, diese guten Sommer. 
      em Bewohnbare Erde.
      | 
  article#gasthaeuser-3
    h2.inline-title Gasthäuser 3.
    p
      | Die räumliche Tiefe mancher Gasthäuser. Ein Kriegsteilnehmer erklärt auf der höheren Ebene eines dritten Nachbarzimmers, während draußen auf zwei Ebenen Gasthofgarten stattfindet, der schräggestellten und angehobenen Theke, die den in ein tiefergelegenes winkligstehendes Sonderzimmer abgeeilten Wirt ersetzt, den Unterschied zwischen Feldhaubitze und Mörser. Ein Bierrastweibchen ergreift anderthalb Ebenen drunter ihre kleine Panzergranate und färbt sich damit die blankgegessenen Lippen.
  article#gasthaeuser-4
    h2.inline-title Gasthauser 4.
    p
      | Die Schenke ist neutral wie ein Probierglas. Gut: die Kohlenhändlersteckkalender, jahrealten Bierbretzen, rostigen Kellnerinnen. Aber: erst die Leute, die eintreten, machen die Schenke zu der Schenke, die man (in einer ihrer Möglichkeiten festgefroren) erinnert.
    p
      | ZB grübelt ein junger Monteur, Trotz gegen »Bessere« im Gesicht, am Wirtshaustisch beim Auseinanderschrauben eines Zylinders. An den Enden hat der Zylinder je einen drehbaren Zackenring, wie eine Mauerkrone beim Schachturm. Die Ehrfurcht, die man vor Technischem hat, schmilzt, wenn man miteinschließt, daß dieser Zylinder vielleicht für den Antrieb von etwas Dummem gehört. Nirgends die Ganzheit; Trost im Prost.
  article#gasthaeuser-5
    h2.inline-title Gasthäuser 5.
    p
      | A verlangte 4 kg Eitriges, worauf alle Gäste sich zurückzogen. Frisch kadavert, fügte B hinzu. Daraufhin wurden A und B, wenn auch dumme, Freunde.
  article#gasthaeuser-6
    h2.inline-title Gasthäuser 6.
    p
      | »Manche sagen, die Schweinssuppe is nix. Aber die Schweinssuppe hat so schöne Augen!«
  article#gasthaeuser-7
    h2.inline-title Gasthäuser 7.
    p
      | Holzbänke im Schattenhaus. Rembrandtstimmung. Sobald sich das Aug gewöhnt: Feuerwehrmann; sagend: 
      em Meine Frau hat eine Schulter gekauft;
      |  Feuerwehrmann, antwortend: 
      em Der schnapst wie der erste Mensch.
      |  (Das zeigt aber, daß der Feuerwehrmann noch an eine Aufwärtsentwickung glaubt. Er ist sympathisch.)
  article#gasthaeuser-8
    h2.inline-title Gasthäuser 8.
    p
      | Gruu-gruuWas ist das? Eine Wildtaube. Strafender Blick des bärtigen Forstrats: Die kleine Ringeltaube! Seifenblasdehnbarer Bierschaum bespannt den Haarrahmen des Bierbarts. Ffff!, bläst der Förster, und schmma!, küßt er in das Schmalzbrot.
  article#gasthaeuser-9
    h2.inline-title Gasthäuser 9.
    p
      | Präklimakterische Kellnerin. Weißes Kleid mit spärlichem schwarzem Jugendstil. Silbergraublonder Frisurhelm, feistes Gesicht, gute Arme, kurzgeschürzt beugt sie sich vor, so daß man ihr noch tiefer ins Gewerbe sieht. Ein Witwer spricht sie an, erinnert sich an sie. Die Gläser, die sie bringt, riechen am Rand nach ihrem Bergamottparfum. Ein Witwer wischt den Glasrand mit dem Handballen ab, sorgt aber dafür, daß der Handballen noch lange nach der schönen Schankfrau rieche. (Ein Chemiker sucht vice versa, aus mehreren Gerüchen diese Kellnerin seinen Freunden zusammenzumixen, die Dosen stimmen stöchiometrisch, aber die Kellnerin steht nicht da.)
  article#gasthaeuser-10
    h2.inline-title Gasthäuser 10.
    p
      | Weil unser Vater lebt und stirbt für den Sportplatz!
  article#gasthaeuser-11
    h2.inline-title Gasthäuser 11.
    p
      | Flußrauschen, Baumrauschen, karnickelrote Augen, 
      em i war Paketzusteller, jetz bin i in Pansion; i bin ka Höherer wurn, weil i de Matura net gmacht hab, aber de Matura mach i no, da könnenS Gift drauf nehma, jetz hab i Zeit...; — junger Mann, lachenS net, de Bütung is fürn Mentschen wichtig!
      | 
  article#gasthaeuser-12
    h2.inline-title Gasthäuser 12.
    p
      | SchaunS, wir Männer müssen uns wehren. Wir Männer sind die Gscheiten, wir machen die Geschichte. Machen die Weiber was? An Schmarrn machens, schöne Augen machens und aufpudeln tan sie sich. Und kebeln tans, sunst nix. Aber wir Männer machen die Geschichte. SchaunS, Sie sind doch gebildet, schaun Sie sich einmal den Franz Joseph an oder den Napoleon Bonaparte, den großen Kaiser von die Franzosen, wissenS eh. Alles Männer. Alles Helden. Aber i, wann i heimkumm, meine Alte fahrt gleich aus die Socken: 
      em Wo warst du? Wieviel hast du getrunken?
      |  Und alle san so! Verstehn Sie!, alle, ohne Ausnahm. HeiratenS nie. BleibenS ledig, weil nur so können Sie sich Ihr höheres Menschsein bewahren, i maan s Ihnen guat. Geh , Rosl, bring ma no a Viertl.
  article#gasthaeuser-13
    h2.inline-title Gasthäuser 13.
    p
      | Ich bin eine Schlange, sagt sie. Dworschak kerbt weiter mit dem Feitel die Tischplatte. Sie glauben mirs nicht, sagt sie. Sie kämmt sich in seine Suppe, sichtbar werden einige noch blonde Haare im Gegräu. Dworschak taucht den Feitel in die Suppe, um die Schlangenhaare zu fischen. Ich bin unberechenbar, sagt sie; sie gibt den Arm in die Höhe und lacht Dworschak plötzlich laut aus. Dworschak gönnt ihr einen Kalbsblick. Sie läßt die dürre Hand auf Dworschaks starkes Schultergelenk fallen und bohrt sich ein. Dworschak wischt den Feitel in die Stoffserviette und bindet sie sich gründlich um den Hals. Die Schlange zieht ihm die Zipfel zu, daß er blaurot wird. Ich nehme es mit der Moral nicht so schwer, sagt sie leimsüß. Hallo, hallo, sagt Dworschak, lockert die Strangulation und beginnt die Frittatensuppe zu löffeln.
  article#gasthaeuser-14
    h2.inline-title Gasthäuser 14.
    p
      | Ghörn alle aufghängt. Ghörn alle aufghängt. Was sagenS zu dem Buben in Melk? Ghörn alle aufghängt. Was sagenS zu der Diebin beim Schweikhart? Ghörn alle aufghängt. Was sagenS zu dem Bigamisten? Aufghängt ghört er. Was sagenS zu der LSD-Party? Ghörn alle aufghängt; Die mit eahnere langen Haar. Beim Hitler hätts da keine Muckn gebn. Alle ghörn aufghängt. Wie s da sind, ghörns aufghängt.
    p
      | I sag aa immer: die Todesstraf müßt wieder her. A jedes rechtschaffene Land hat die Todesstraf. Die Todesstraf is die halberte Anständigkeit. Aber mir ham eben kan Herrngott mehr.
    p
      | (Ausspucken. Die Nase des Gastes trinkt Bier. Der Wirt peitscht die Wunde seines Hundes.)
  article#gasthaeuser-15
    h2.inline-title Gasthäuser 15.
    p
      | Ich hab in letzter Zeit mit der Hex nur noch gstritten. Ich hab sie ghaut, mir haben die Knochen wehtan, dann war sie brav drei Wochen, die Frau. Eine hysterische Fuchtel wars. Braucht hats die Schläg. Und dann hab ich ihr eine Gabel nachgschmissen, sie is ihr im Buckl steckenblieben. Sie hat gsagt: Nimm mir die Gabel raus. Am nächsten Tag hab ich dann ganz mit ihr Schluß gmacht.
  article#gasthaeuser-16
    h2.inline-title Gasthäuser 16.
    p
      | Der blinde Sägewerksdirektor betrat das Stammgasthaus, fragte Myra Metellis Mutter, ob er sich hinzusetzen dürfte. Ja, warum denn nicht?, fragte die Mutter. Nicht jeder schätzt die Gesellschaft von Blinden, sagte der Direktor. Ach, wir sind nicht heikel, sagte die Freundin der Mutter.
    p
      | Der Sägewerksdirektor ließ sich nicht zweimal drängen, vom, wie er sagte, edlen Waidwerk zu erzählen, dem er, wie er sagte, jahrelang in den Karpaten gefrönt hätte. 250 Wildschweine wären auf sein Konto gegangen. Myra Metelli, die wußte, daß sie nun immer wieder zusammenzechen wurden, legte umsichtig eine
    p.align-center
      br 
      span.small-caps Liste der erzählten Wildschweine
      br
      br
    p
      | an. Bald sah diese Liste so aus: 
    #grid 
      #cell-1
        +lineBreaks(["3. 1.", "4. 2.", "11. 2.", "25. 2.", "7. 3.", "14. 3.", "28. 3.", "usf."])
      #cell-2 
        | 1968 gesagt,
      #cell-3 
        +lineBreaks(["250", "400", "400", "300", "500", "250", "603"])
    p
      | Nach Eintragung des 13. Postens verlas Myra öffentlich die Liste, und die Symposien mit dem Sägewerksdirektor fanden ein Ende.
  article#gasthaeuser-17
    h2.inline-title Gasthäuser 17.
    p
      | Mein Gott, das war unser Ideal: Schwammerlbrocken, mein Lieber!
  article#gasthaeuser-18
    h2.inline-title Gasthäuser 18.
    p
      | (Zur Zither:)
    p.poetry
      | Mich beißen die Madeln
      br
      | so gern in die Wadeln,
      br
      | ich bin ein armer Hund.
    p
      | (Kommentar: Wir sind alte Hund und wir bleim alte Hund. Na! Was?!)
  article#gasthaeuser-19
    h2.inline-title Gasthäuser 19.
    p
      |Jetzt müssen wir langsam trinken, sagte A. Ja, sagte B und zündete sich eine Zeitung an.
  article#gasthaeuser-20
    h2.inline-title Gasthäuser 20.
    p
      | Moment! Der Herzfehler. Der Arzt hat gesagt. Ein Adern, und der Kreislauf ist gestört. Verkalkt, das sind die Herzkrankheiten. Das sieht er. Das sieht er nicht. Das sieht er am Röntgenbild. Was sticht, ist ärger, als was brennt. Haben Sie auch Herzkrankheiten?
  article#gasthaeuser-21
    h2.inline-title Gasthäuser 21. 
    p
      |
      span.small-caps Geschlossen
      | . Denn in der Sperrstunde kam hier gestern ein waldknüppelbewaffneter fahrender Sänger vorbei, und der sang:
    p.poetry
      | Der Kerl hat nichts in seiner Schenke,
      br
      | valeri valera,
      br
      | dafür zerbrech ich ihm die Bänke,
      br
      | valeri valera.
    p
      | Das sang er viele Strophen lang, und bei jedem Valera schwang er seinen Knüppel und zerschlug eine Bank. Tische und Wirt schonte er. Dann ging er müde davon, und der Wirt beschloß, den Vorfall erst einmal gründlich zu überschlafen und die nächsten Tage mit einem Schild
    #schild
      .wegen Wegen 
      .valera Valera
      .hidden-dots ..........................
      .geschlossen geschlossen
    p
      | zu überbrücken.
