extends ../../templates/layout
block page-vars
  - const title = "Gegrilltes Hähnchen"
block main
  article#gegrilltes-haehnchen-1
    h2.inline-title Gegrilltes Hähnchen 1.
    p
      | Das würzsalzige Hautkonzentrat, über dem Feuer zur Köstlichkeit zerkracht, Schrumpftrophäe von einem
    p
      | Hähnchenleib, goldbraun wie seine Plastik-Attrappe, aber schneidbar in langzerkaubare Kruspeln; darunter das junge fischzarte Weißfleisch. Dazu vielleicht die Mitknusprigen, die heiBen Pommes frites: außen Krachkruste, innen brühender Dampf.
    p
      | Nach dem zweiten Bissen mußten die Hähnchenesser flüchten, der Reiseleiter hob wegen einer nötigen Umdisposition die Tafel auf, jeder wickelte in Papier, und manche, die noch an Flüche glaubten, fluchten. In seinen Träumen aß Zero Zobiak, der Bub, häufig das gegrillte Hähnchen zuende, denn in Wahrheit kehrte es nie wieder.
  article#gegrilltes-haehnchen-2
    h2.inline-title Gegrilltes Hähnchen 2.
    p
      | Jener unvergeßliche Witz, in dem zwei Playboys von Hähnchen den Besuch einer Bar erwägen, weil am Grill dort nackte Hühnermädchen sich drehen.
