extends ../../templates/layout
block page-vars
  - const title = "Gelbe Schenken"
block main
  article#gelbe-schenken-1
    h2.inline-title Gelbe Schenken 1.
    p
      | Die Schenke ist 
      a.arrow(href="maria-theresien-gelb.html") maria-theresien-gelb
      | . Der Garten drin aber ist grün. Sogar die Tische und Bänke. Die Urlauber-Familie trinkt wenig, spielt hauptberuflich das Entenspiel: Alles schmeißt Entenwürfelchen auf den Tisch. Während des ganzen Ausflugs geht es: 
      em Vater hat drei Enten
      |  usw. Hinter die Regeln dieses Spiels kommt man nicht. Nur selten spielen die Kinder mit den lebenden Vögeln: den umherbettelnden 
      a.arrow(href="huehner.html") Hühnern
      | . Na, Pipihendi, rufen die Kinder zärtlich, legen den Brathuhnknochen aus der Hand, um es zu streicheln.
  article#gelbe-schenken-2
    h2.inline-title Gelbe Schenken 2.
    p
      | Trinken in geräumigem Garten. Weil das Wetter bis unlängst recht kühl war, sind die bunten Blätter und die grünen Blumen bunt und grün wie in einem Jungfrühling. Ein Mädchen in Wachauertracht wird fertigverziert und knickst dann ab zu einem Schulsingen. Der Spitzel kühlt seine Handflächen am gutgekühlten Weinglas mit dem gutgekühlten gelben Wein und erzählt, wie es ihm als Spitzel ging: Um an einem Türschloß besser lauschen zu können, schaltete er, der »Ohren wie ein Luchs« hatte, ein Schwerhörigengerät ein, die Feinde aber bliesen in diesem Moment ein Trompetensolo, und der Ertaubte mußte in Pension gehen. Heute aber möchte der alte Luchs diesen Gesprächsstoff nicht missen.
  article#gelbe-schenken-3
    h2.inline-title Gelbe Schenken 3.
    p
      | In den geräumigen buntgrünen Garten mit maria-theresien-gelber Hauswand und genügender Frischkühle auch für den 
      a.arrow(href="hundstage.html") Hundstag
      |  kommt das Stuttgarter Autoausflüglerweibchen: puderblaues Kleid, Pudergeruch, vollovales Tätschelgesicht, blonde Löckchen, vorgehende weiße Unterwäsche, mollig, kurzgeschürzt, lachend und noch zweiundzwanzig anderer Eigenschaften voll. Nicht nur das: ihr nach kommen noch lauter andere Autoausflügler, was sagt ihr?, lauter lustige lebenslustige trinklustige liebeslustige Autolustige, noch 154 anderer Eigenschaften voll, und da gibt es keinen, der nicht zerheiratet wäre, und wer es selbst nicht wäre, wäre doch schrecklich heiratslustig. Nein, dieses Völkchen hat nicht, noch wurde für es die Atombombe erfunden. Pröstchen! Und Vervollständigung der Bruderschaftsschmätzchen. Hoppla, ich bin ganz voll Autoweibchenpuder. Juchhe, ists hier nicht nett? Ihr seid doch so nett und geht mal bestellen. Es ist alles so nett hier, typisch gemütliches Entwicklungsland.
  article#gelbe-schenken-4
    h2.inline-title Gelbe Schenken 4.
    p
      | In dem geräumigen blätterbuntblumengrünen Frischkühlgelbweingarten mit dem wachauervergoldeten Schulsingnachmittagmädchen trägt ein Österreicher eine Tätowierung im rechten Arm: 
      span.small-caps Flotte
      |  1961.
    p
      | Österreich hatte doch 1961 keine Flotte! Anzunehmen, daß es zuerst 
      span.small-caps Lotte
      |  hieß und einer andersnamigen Frau zuliebe zu seinem F kam. Dieser Andersnamigen zuliebe trägt der linke Arm wohl das große durchschraffierte Herz, dies schlauerweise ohne Buchstaben.
  article#gelbe-schenken-5
    h2.inline-title Gelbe Schenken 5.
    p
      | Es kann hier leicht Abend werden, und in den geräumigen blätterbuntblumengrünen Frischkühlgelbweingarten ohne das wachauervergoldete Schulsingnachmittagmädchen, aber sie muß bald zurückkehren, schnurren die Alten das Lied von der Vergänglichkeit ihrer Bekannten: »...und alle sind schön krank geworden und schön gestorben, eines schöner als das andere.« Gefahr des Langweiltodes schwebt im Unlangweilgarten.
    p
      | Ich aber habe meine Methode. Ich sage mir: Ich bin gestorben; alles, was ich dennoch wahrnehme, bedeutet Lustgewinn. Diese Methode ist besser als die, alles Gesehene als langweilig gegen das Erwünschte abzuschatten. Die Gestorben-Methode ermöglicht mir jedenorts Dunkelfeldmikrogramme, strahlende; Leuchtziffern im finsteren Zimmer; einen finsteren Wald voll Grellblumenintensitäten. Klarsichtpackungsglanzlichter, sagt ein Bezechter dazu, und alles Schöne zerfällt.
  article#gelbe-schenken-6
    h2.inline-title Gelbe Schenken 6.
    p
      | Die 
      a.arrow(href="maria-theresien-gelb.html") maria-theresien-gelbe
      |  Fassade, ja, selbst noch der geräumige blätterbuntblumengrüne Frischkühlgelbweingarten verbirgt etwas; die knautschende Holzzauntür verbirgt es nichtmehr; der Schankschrank drinnen schon garnichtmehr: abgehäutete blutverschmierte schlanke Kaninchen hängen von ihm herab, durchs Beil verunkenntlicht zu großen Fischen; pfiffig geht der Alte das nächste und das nächste und das nächste abschlagen.
  article#gelbe-schenken-7
    h2.inline-title Gelbe Schenken 7.
    p
      | Es kann hier leicht Abend werden und im geräumigen blätterbuntblumengrünen Frischkühlgelbweingarten die Sicht zum Haus verziehen. So definieren die Früh- und Spätvierziger, Männchen wie Weibchen, dann: Glück ist, über eine um 30 Grad geneigte Stufe in gelbblauem Licht in einen Vorraum zu treten, in dem — —
    p
      | Aber verwechseln Sie, bitte, dieses volle Stück Leben nicht mit einer Eisengießerei. Dort könnten Sie bei solchem Eintritt ganz schön begossen werden.
  article#gelbe-schenken-8
    h2.inline-title Gelbe Schenken 8.
    p
      | Vorgeschrittener Nachmittag im geräumigen blätterbuntblumengrünen Frischkühlgelbweingarten (ohne das wachauervergoldete Schulsingnachmittagmädchen). Sehen Sie klar, daß Sie ebenso merkwürdig sind wie ein ganzer Garten voll Opiumraucher?, fragte Zero Zobiak mit Stentorstimme die Wirtsgartenmeute. Die Leute befiel Unbehagen, weil sie in Opiumrauchern etwas Untermenschliches sahen. Willst du unser Führer werden?, fragten sie nach einer Doppelsekunde. Kei-neswegs, antwortete Zero etwas holzpuppig.
  article#gelbe-schenken-9
    h2.inline-title Gelbe Schenken 9.
    p
      | Es kann hier leicht Abend werden und die Menschen endlich doch aus dem geräumigen blätterbuntblumengrünen Frischkühlgelbweingarten in den Schankraum verschleppen. In einer Vitrine liegen dann mager- und fettes Selchfleisch, liegen Kümmelbraten, Räucherwurst und Käs. Drüber steht in Phantasiegotik und mit grünem Kränzchen
    p.poetry
      | 
      span.small-caps
        | Setz dich über alles weg,
        br
        | Freu dich über jeden Dreck!
    p
      | Der Dreck ist nicht abgebildet.
    p
      | Der alte Schriftsteller freut sich, daß er hier arbeiten kann, während die anderen hier verwesen. Er bestellt einen Kümmelbraten. Seine Zähne wüten im Schwein, er kann Vegetarier verstehen.
    ul
      li
        | Er schreibt: Mit jedem Jahr, das ich verbringe, kommen mir zusätzliche Aufgaben für den Rest meines Lebens: zum Beispiel, mir die bisher gelangweilt betrachteten Kinder anzuschauen, in kleinen Bahnstationen (etwa dem fernen Rekawinkel!). Mit jedem Jahr fallen zugegebenermaßen einige solcher Aufgaben wieder fort, aber in Summe dürfte ich die höchste Lebensintensität mit 80—90 haben, das heißt, wenn ich Pech habe, nach meinem Tod.
      li
        | Er schreibt: Sie machte es mir nicht leicht. Sie war eines jener Mädchen, die durch einen schwierigen Weg über ein nichtlohnendes Ziel hinwegtäuschen.
      li
        | Er schreibt: Jede weibliche Person auf ihre Jugendzeit zu reduzieren — das ist eine alles in allem wehmütige Technik.
      li
        | Er schreibt: Ich liebe es, mich mit der Einhaltung von Vorsätzen zu überraschen, die ich nie gefaßt habe.
      li
        | Er arbeitet über die Affwerdung des Menschen.
  article#gelbe-schenken-10
    h2.inline-title Gelbe Schenken 10.
    p
      | 
      a.arrow(href="gelbe-schenken.html#gelbe-schenken-6") Gelbe Schenken 6
      | , aber: Die erschlagenen Kaninchen freuen den pensionierten Polizisten, erinnern ihn an den Kriegs-Polizeidienst in Rußland. Er käut wieder, wie ein befreundeter russischer Milizpolizist einen Häftling halberschlagen 
      em als blutige Masse
      |  zwei Stockwerke tief hinuntergerollt habe (Soll er hin sein, so Dreck haben wir genug); anschließend habe der Milizpolizist den Erzähler gefragt, ob er budern wolle, im Arrest seien hübsche Mädchen; die haben sich darum gerissen, weils ihnen dafür gut ging; »alle waren sie aufs Budern; pfui Teufel, das war gut!«. Der Pensionist rühmt sich seiner mächtigen Dimension und seiner Weitherzigkeit im Verteilen der Arrestmädchen an Dienstkameraden. Er zeigt, wie busig die Russinnen waren: 
      em »Solche
      |  Lollobritschiedas!« (Seine Uhr war bei 
      a.arrow(href="lollo.html") Lollo
      |  stehengeblieben.)
  article#gelbe-schenken-11
    h2.inline-title Gelbe Schenken 11.
    p
      | Der buntgrüne blumenweingelbe trachtenwandige Garten spielt das Stück »Marzipanpuppe der brutalen Kaufleute«.
    .column-grid
      .column-header Brutalität
      p 
        | Das Mundartsprechen bringt das Unwirsche, Gehässige, Intolerante, Angeberische, Undenkende gut heraus. Die Marzipanpuppe ist rasch mit Ohrfeigen, hält auch das Kind öfters an, dem Dackel eine zu geben. Man prahlt mit Reisen (A: „Wir haben von oben 200 km weit gesehen!“ B: „Inge, wie weit haben 
        em wir
        |  gesehen?“), mit Spezialitätenrestaurants, Whiskies. Diät an Denkinhalten macht sie lauthals und sicher. Man glänzt mit Perfektion im Nutzwahrnehmen, vom totalen Nettopreisleben bis zum Abreißen von Obst im blumenweinbunten Garten, man lässt den Dackel ruhig eine halbmetertiefe Kuhle unterm Gasttisch graben, man schickt den Wein wegen Korkgeschmacks dreckiglächelnd zurück; in der Feuerzeugflamme verbrennt man ein halberschlagenes Langbeininsekt; die Marzipanpuppe lacht sattschön dazu.
      .column-header Marzipanpuppe
      p 
        | Echt schön, auch schön hergerichtet. „Makelloses, raffiniert in freundlichen Tönen abschattiertes Marzipangesicht; in dessen Katzenrund katzenschmale ausdrucksvolle und hübsch unterschwärzte Augen eingekernt. Blattförmig gezeichneter schattiertgeschminkter Kußmund. Schwarzgefärbtes üppiges Haar, locker, das Gesicht einhüllend. Den goldiggebräunten weichen Körper in ganz weißem Minikleid. Aus dem Braun der Hand weißlichleuchtend die deckrosa gelackten Fingernägel. Voll ausschwingendes Parfum mit unterdrücktem Süß.“ Der einzige merkliche Fehler, die starke Behaarung der Waden, stört nicht. In der üppigen Achsel fraut viel Schwarzhaar.
  article#gelbe-schenken-12
    h2.inline-title Gelbe Schenken 12.
    p
      | In ihrem blätterbunten blumenweingelben Garten mit Trachtentochter pflegt es rasch Abend zu werden, dem Drinnen zuliebe. Drinnen wartet das Niegesehene Längstbekannte: steilgiebelige weite Stube, an alte Dachböden erinnernd mit ungestört wachsenden Spinnentieren, Duckschnüren, Truhen und Luken. Weite statt Höhe. Die Wände aber naturlasiert, ast-reich, mit Weinwurzeln behängt, der unheimlicheren Art von Geweihen. Schmiedeeisen für verwitterte Feldhüte, eingezuckerte süßriechende Stenotypistinnenmäntel. Rotweißkarierte Bauernvorhänge, achtzig Jahre und von Achtzigjährigen angeraucht, stecken nun voll alter beklemmender Gewürze wie eine Küche, in der gebeizter Lungenbraten siedet. In Sommergewittern tritt ein hagerer 
      span.small-caps Lkw
      | -Fahrer ein, mit eingesunkenem grauem Hitlergesicht, schnapsglänzenden Augen, stoppelbärtig, verschwärzt wie ein Teufel. Nur anfangs ist die Schenke eine Schenke. Später bedrückt das Niegesehene Längstbekannte wie jener lebenslang wiederkehrende Traum, in dem man mit der verstorbenen Mutter jahrzehntelang eine zwei Kilometer umfangende Ellipse abgeht, beim Licht einer düsteren Lampe, mit Bassin in der Mitte, einem Ofen, einem Wächterhaus und trockenen Bäumen seitlich mancher Bahnpunkte.
