extends ../../templates/layout
block page-vars
  - const title = "Gemeindebauten"
block main
  article#gemeindebauten-1
    h2.inline-title Gemeindebauten 1.
    p
      | Husten erlaubt, Spucken verboten, junge Mutter tauscht Baby gegen Plattenspieler, Fertigbeton lähmt die Potenz?, Kohl, aufgewärmter Kohl, aufgewärmtes Kraut, Kraut, Sauerkraut, Kohlrüben, entblähter Einmachkarfiol durch Zugabe von Brotstückchen, Zwiebelkartoffel, ranziges Hirn, qualmende Margarine, alte Wurst ausbraten, Tür 26 Tb-Fürsorge, immer noch ??, schildkrotschwere Monteure, dreibäuchige Straßenarbeiter, »Mao«Tintung an der Waschküchentür, Blumentopf in grünverziertem Porzellanscherben, Plastikwäscheleine, -klammern, -lockenwickler, -puppengeschirre, Aussterben der Gesäßtritte, Zunahme der Handkantenschläge, Gummi- + Kaugummi-Automat, Frauenarzt, Kassenkontrollor, Gaskontrollor, Telephonkontrollor, Hausinspektor, Rattenstreuung, Näh- und Strickmaschinen müssen auf Filzunterlagen stehen, 1 Hund od. Katze erlaubt, Hunden ist die Schnauze zu verbinden, Kinder an die Leine!, Säuglinge sind mit Schalldämpfern zu versehen, mutwillige Glatteisbildung verboten, Kanäle sauberhalten, versiegeln Sie selber!, Handbohrmaschine bohrt Ohren, Eingabe wegen Nachbarbettkrachens, vor Selbstvergasung Stiegenfenster öffnen, Welensiddich endflohgen, Zintz bite am 31.igsten 5—7. Ur, bite im Stigenhaus gefäligst keine Tschick nicht entflamen sonst drackonische Anzeige bei Politzei!!!, junge Plattenspielerin erhält Baby durch Fürsorge zurück, Spucken verboten, Husten verboten.
  article#gemeindebauten-2
    h2.inline-title Gemeindebauten 2.
    p
      | In das armgrüne Dörfchen des Gemeindebaues, wo sonst wenig los ist, aber viele Kinder spielen, kommt diesen Mittag, wenn alle Kinder vom Spielen fort und bei den Tellern sind und nur ein einzelnes Mädchen irgendwarum noch ein Blechrad durchs Gras treibt,
    p
      | ein Spaßvogel, der sich als Friseur ausgibt, dem Mädchen die Zöpfe abschneidet, ihr Resthaar zu Zacken zwickt, ihr einredet, daß er ihr eine tolle modische Frisur mache. Nachmittag verkauft er die Zöpfe, kauft um den Erlös ein altes Pfeifenregal und sendet es dem Opfer mit erklärendem Eilbrief ins Haus. In allen Stiegenhäusern tratschen die Empörten.
  article#gemeindebauten-3
    h2.inline-title Gemeindebauten 3.
    p
      | So wie der Mensch im tiefsten Winter Frühjahrsaussicht hat, Gestöber scharfer Eiskristalle oder patschige Schneeflockenumschläge drum hinnimmt, das Schwirren hochgespannter Saiten in seinen blauroten Buswarteohren um Frostmitternacht, so leben die Bewohner des Baues, die es aus Schokoladefabrikin Asphaltkochernähe verschlagen hat, in dem Glauben diesenfalls jedoch Aberglauben, daß die Wanderung des Erdplaneten den in jeder Hinsicht ausschließlich häßlichen Feuerteerkratzgeruch des brühenden Giftes unaufhaltsam verlieblichen, ja, reschokoladisieren wird. In diesem Glauben werden Kinder gezeugt und Jahre verseufzt, bis das Schlimmste eintritt, Besucher nämlich angestarrt werden: »Was heißt, nach Teer??«
  article#gemeindebauten-4
    h2.inline-title Gemeindebauten 4.
    p
      | Verkoken, abblasen, sintern, teeren, cracken, rammen, festkeilen, drillen, drollen, rabitzen, muffeln, ankörnen, glasschlicken, dämmen, bördeln, schwelen, keilen, stauchen, seigern kollern ...
    p
      | wird hier oft geträumt, Nacht für Nacht fährt die Feuerwehr umher, um den ausspritzenden Metallguß oder den undichten Zementofen zu löschen, die Rettung, um die abgesägten oder walzzerquetschten Gliedmaßen wiederanzunähen, der Leichentransporter, um die kalkbrühigen oder vitriolgrünen Reste einzusammeln, die Polizei, um die Schraubenlockerer und Laugenturmanbohrer dingfest zu machen,
    p
      | und der Träumende schwitzt, schnarcht, röchelt, bläst, bis die Schlafgenossin ihn aus diesem Alp in den nächsten schickt, und der Koker schwelt jetzt, der Stanzer bördelt und der Kalkbrenner ziegelt zur Abwechslung, oder er fährt, seine Haut endlich abstreifend, zum Mond, nach Hollywood oder in die Würfelstadt der Seligen.
  article#gemeindebauten-5
    h2.inline-title Gemeindebauten 5.
    p
      | Zero Zobiak, der Bub, liebt schon die dritte Edith. Jede Edith ist anders als die andere, nicht minder anders, als hieße sie Monica, Sumphia oder Titys. Und wenn die halbe Mädchenwelt Edith hieße, das Persönliche ginge nicht unter. Nur in der Postzustellung gäbe es Irrtümer. Welch Fehler zu sagen, die Edithflut fördere die Vermassung.
  article#gemeindebauten-6
    h2.inline-title Gemeindebauten 6.
    p
      | Das Ziel der Feldstecher sind die Philemone und Baucen der Einzimmerwohnungen, ihre lüftenden Federnbetten und Nachthemden, ja: das Textilzeug bleibt Menschen von der Jungviehzeit bis hart an das Abhauen treu, durch schmackhafte und bracke Jahre, selbst in die Kiste gibt man ihnen gewöhnlich noch Textilwaren mit.
    p
      | Die ausgeräumten Kiefer, kummrigen Kinnladen, die Zuhaarung des Gesichts, Hautigkeit der Hände. Mief, Bretterregale, Blümchenmuster, unsauber Gekochtes. Verklärgewäsch, Volksempfänger, zur Wunschsendung eingeschaltet, selbst die gängigen Glühbirnen geben Grau- und Sabberlicht. Urenkel, die wöchent- oder monatlich kommen, sind angewiesen, Komplimente zu machen. Die Kassenärzte aber tadeln, wenns schmerzt: Wie alt wollen Sie denn eigentlich noch werden??
    p
      | Jungen Leuten tut solches Feldstechen in naheliegende Zukünfte recht weh.
  article#gemeindebauten-7
    h2.inline-title Gemeindebauten 7.
    p
      | Ein Bub, aber aus einem alten Gemeindebau, besucht ein Mädchen, aber in einem alten Gemeindebau. Sie wird eine junge Frau, aber in einem alten Gemeindebau, und freut sich an Spitzennachthemd und Parties, aber in einem alten Gemeindebau. Es gibt Sommer und Gräser, aber vor einem alten Gemeindebau, und das Leben verläuft nicht ohne Lustgefühl und Sinnvermutung, aber in einem alten Gemeindebau.
    p
      | Bombardierung alter Gemeindebauten riß neue städtebauliche Perspektiven auf, fügte aber, den Bombardierten selbst, das Unlustgefühl von Spreng- und Brandschmerzen sowie von Todesahnung zu. Diese Abschiede und Enteignungen waren städtebaulich auch wieder nicht das Rechte.
  article#gemeindebauten-8
    h2.inline-title Gemeindebauten 8.
    p
      | Sehen wir lieber Gemeindebauten neu und in freierem Land:
    p
      | Achtung, Giftspritzung! Blumige Grasfladen. Balkone mit schmiedeeisernen Bambis, Schmollbrischitts, Störchen, Laternzwergen. Zuchtbulle aus Gelbstein als kategorischer Imperativ der Siedlung. Alles biopositiv, nächster Evolutionsdreh nach der Tb-Welle. Alles auch wirtschaftspositiv, sämtliche Geräte, überquellende Autoställe, kein Antennenwald mehr, sondern Gemeinschaftsstengel (S 400.— Kaution pro Zuchtkoje). In einem Badezimmer Taggrün des 
      em magischen Auges.
      | 
    p
      | Kinder beißen dennoch ins Giftgras. Kleine Buben mühen sich muffig zu sprechen: stehn vor dem Durchziehn des Colts. Trittrollerfahrer, Heuhaufenwerfer prämiieren das häßlichste Tuten. Ein Gekränkter liegt tot im Gras; die Kinder räubern und kicken über ihn hinweg; nun wird er Kleinkind, plärrt. Ballonaufblasen. Böhböh. Radfahrer serpentinen über das Gras, glinglingelnd. Weltkriegslärm. Erdburgen mit Höhlen, Unterführungen und bemalten Papphäuschen an den Hängen (
      a.arrow(href="bergklebesiedlung.html") Bergklebesiedlung
      | ). Teddybärputzen, Haarpuppenkämmen, Doll's Prams' Speedway. Mit Plastikstamperln machen kleine Mädchen eine Jause (rot, dunkelgrün, tintenstiftviolett). Buben schmeißen mit Steinen nach einem 
      a.arrow(href="blechchristus.html") Blechchristus
      | . Der Blechchristus gehört schon zum Bauerngrund. Das Heu auch.
    p
      | Schwer gebräunte kleine Mädchen (
      a.arrow(href="braun.html") braun
      | ) lehnen faultierträg mit rückwärtsgebogenen Armchen lauernd, pfeifend, gummiblasend an den grüngestrichenen Rohren, können gut erwachsenspielen. Eine bindet der anderen ein Handtuch als Abendkleid um. Beim Sandschöpfen beugt sich eine weit vor, im grelldünnen Supermini: sie erweckt den Buben im Mann.
    p
      | Ein junges Mädchen drückt den Transistor an sich: ihr Schlagersänger, warmgequetscht, singt. Eine Frau in nilgrünem Arbeitsmantel tritt ans Stockfenster und tratscht zu einer Frau in nilgrünem Arbeitsmantel an der Hausmatte.
  article#gemeindebauten-9
    h2.inline-title Gemeindebauten 9.
    p
      | Apropos Gemeindebauten, sagt der Ingenieur; diese Siedlungen erinnern mich an die langen Molekülketten von Kunststoffen; auch die 
      em Ergebnisse
      |  dieser Polymerisationen ähneln einander: zu einer zähen harzigen oder glasigen Einheit verklebt, keine rechte Struktur, nicht Kristall, nicht Flüssigkeit, viel, billig, modern, bunt, fürs Volk, wischiwaschi; ich verstehe eigentlich nicht, wieso Künstler, zum Beispiel dieser Höke, oder Poeten wie dieser Okopenko einen Narren an Kunststoffen gefressen haben; ein kultivierter Mensch, sag ich immer, kann nur edle, alte Stoffe lieben: Leder, Kupfer, Zedernholz, das sind halt Dinge; und wohnen: 
      em nur
      |  in einem alten Haus ! Stuck, Erker, Altane, Alkoven, Intarsienböden — nicht wahr, Margit, da passen wir gut zusammen? (Margit, samtig:) Jaaaaaa.
