extends ../../templates/layout
block page-vars
  - const title = "Geographie"
block main
  article#geographie
    h2.inline-title Geographie.
    p
      | Ich fingiere die Ortsnamen, verrücke die Wahrzeichen; verfremde die Donau und befremde vielleicht Sie. Warum lasse ich die Landschaft incognito werben? Weil Orte rasch ihr Romänzchen kriegen, das meinen Roman stört:
    p
      | Nußdorf — dort hat jeder Leser einen Onkel; Zwentendorf — dort hat jede Leserin eine Milchfrau; Dürnstein — dort hat jeder Feschak eine Kinderschar; und das stört ihn ungemein. Meine Donau soll chemisch rein bleiben. Die Donaureise des Kaufmanns J. soll für den Leser keine Familienangelegenheit werden.
    p
      | Ausgedehntere geographische Konkreta — Ströme. Landstriche — werden weniger leicht Familienbesitz; darum wage ich es, »Donau« und »Wachau« unchiffriert auszusprechen.
    p
      | Zur tieferen Geographietriebbefriedigung vgl. 
      a.arrow(href="lokalisation.html") Lokalisation
      | .
