extends ../../templates/layout
block page-vars
  - const title = "Geschäftsbeziehung"
block main
  article#geschaeftsbeziehung
    h2.inline-title Geschäftsbeziehung.
    p
      | Chemiekaufmann J. liebt Geschäftsbeziehungen. Denn denen zuzurechnen ist auch die Beziehung zum Geschäft, und Geschäftsbeziehungen, wie gesagt, liebt er.
    p
      | Dies ist nur einer seiner Exporteurgedanken, aber der zwingt ihn, Exporteurgedanken zu haben, also neben diesem auch weitere.
    p
      | Die weiteren Exporteurgedanken streuen wir gelegentlich beim Lesen ein. Man nehme einen Zettel, beschrifte ihn »
      a.arrow(href="exporteurgedanken.html") Exporteurgedanken
      | !« und lege ihn zur fallweisen Verwendung rechts oder links neben das Buch.
