extends ../../templates/layout
block page-vars
  - const title = "Hahnenzierden"
block main
  article#hahnenzierden-1
    h2.inline-title Hahnenzierden 1.
    p
      | Ein Kamm, zwei Goder, protziger als beim Weibchen. Das Rot der Rachenentzündung, gänsehautig gepünktelt.
    p.poetry
      | Hausfrau, du:
      br
      | Bereit mir Kamm und Goder zu!
  article#hahnenzierden-2
    h2.inline-title Hahnenzierden 2.
    p
      | In den Hahnenkamm hineinschneiden.
  article#hahnenzierden-3
    h2.inline-title Hahnenzierden 3.
    p
    ol.no-bullets-padding
      li 1) Den Schnabel ruckweise aufsperren
      li 2) Kurz zögern
      li 3) Schreien: ä — eri — äää!
      li 4) Sich selber wundern, was da aus einem herauskam
      li 5) Über die starren runden Augen mehrmals die Blindscheibe des Kameraverschlusses zucken lassen
      li 6) Hennenboden betreten, mit dem mächtigen Gewicht in den schwächlichen Rücken einsinkend
      li 7) Kamm und Goder von Blut strotzen lassen.
  article#hahnenzierden-4
    h2.inline-title Hahnenzierden 4.
    p
      | Kinder überwältigen Katzen, packen sie, grob, sagen dazu, wie verständnislose Erwachsene, »gib a Ruh!«, Hühner überwältigen Katzen — ich frage mich, wozu sind überhaupt Raubtiere gut, Angeber, warum kratzen Katzen Hühnern nicht die ohnehin dummen Augen aus? Hähne picken, wenn Futter kommt, auf die Katzen, die raubsten Katzen lämmchen zu, wenn die Junghähne das Futter schnappen, den Hennen überlassen, die Hennen geben Hackenhiebe den Katzen. Ist das eine Ordnung? Nur weil ich 
      a.arrow(href="huehner.html") Hühnerlieber
      |  als 
      a.arrow(href="katze.html") Katzen
      | -Fleisch esse? Kindisch. Hähne, ich werde euch die Zierden abreißen, mit euch meine Sterne im Teleskop einfärben, denn nur die wenigsten tragen das feuerwerkwichtige Rot. (
      a.arrow(href="fehlen-von-rot.html") Fehlen von Rot
      | .)
  article#hahnenzierden-5
    h2.inline-title Hahnenzierden 5.
    p
      | Als X. das Kabinett besah, an dessen Schwelle er über Weiches ausgeglitten war, fand er den Boden kniehoch mit abgeschnittenen Hahnenkämmen und Godern bedeckt. Die Teile hühnelten und blutelten. Ihm wurde übel, und er fiel, das Gesicht voran, in das Geschlachte.
  article#hahnenzierden-6
    h2.inline-title Hahnenzierden 6.
    p
      | Man ahme die Hahnenzierden in hahnrotem Gummi nach, stecke sich solch einen Kikeriki auf den Finger und reize damit im Hühnerhof einen Hahn zum Zweikampf. Man kämpfe fair, aber hart. Die Kampfbewährungsdaten des Naturhahnes (Häufigkeit seiner Finten, Härte im Nehmen etc) speichere man in einem Computer, und dies mache man in vielen Hühnerhöfen. Zur eigentlichen Vergnügung lasse man nun die Daten gegeneinander kämpfen und ermittle also unblutig den absoluten Sieger. Sein Bauer, ungeübt im Indirekten, wird erstaunt sein, wenn er für seinen Hahn, dessen Hof nie ein anderer Hahn betrat, die höchste Kampfauszeichnung in die Hand gedrückt erhält: Kamm, Schnabel und Goder aus 24-karätigem Gold.
  article#hahnenzierden-7
    h2.inline-title Hahnenzierden 7.
    p
      | Es gibt auch Blumen mit dem Rot und der Lappigkeit von Hahnenzierden. Das Rot ist sogar noch hahnenhafter. Die Blüten stehen an langem Stiel zwölfsprossenleitrig übereinander. Kleingärten, die sie am Gitter ziehen, werden von den Gemeinden etwas später als die anderen eingeebnet.
