extends ../../templates/layout
block page-vars
  - const title = "Haus mit dem hochfrühlinghaften Zimmer"
block main
  article#haus-mit-dem-hochfruehlinghaften-zimmer
    h2.inline-title Haus mit dem hochfrühlinghaften Zimmer.
    p
      | Encore Edibelbek ist traurig, als er, eines der paar Male in seinem Leben, sieht, wie in
      div einem
      div(style="text-indent: 4ch") hochfrühlinghaften
      div(style="text-indent: 17ch") Zimmer eine Frau und ihr Mann einander
      div 
        | freundlich anschauen. Sie tun sonst nichts, aber Encore ist von diesem Ort Glück definitiv ausgeschlossen. (Vgl. 
        a.arrow(href="haeuschen.html#haeuschen-12") Häuschen 12
        | .)
    p
      | Encore fällt ein, wie Alphard Mutz eines Spätabends in der Provinzverbannung, als die Schichtarbeiterinnen heimkamen, die Vorgänge einer solchen Heimkehr hinter unverhangene Fenster erforschte, wie die kleine Müde, von der er wußte, daß sie nicht viel gleichsah und Edith hieß, sich erst ein paar Minuten in ihre Küchenecke setzte; hier hatte Alphard sie fern, aber sicher, wie einen Spiralnebel im Teleskop, und er bemühte sich, ihr mit den scharfen Rändern des Blickfelds nicht weh zu tun und sie in seinem Wissen einzumulden wie in Watte. Ein Spätabendgeräusch lenkte ihn ab, und er erschrak: Wenn man zwei Millimeter im Blickfeld abwich, war keine Edith mehr da, und wenn man weiter- und weiterging, den ganzen Weltraum entlang, nie würde sie wieder dasein; er fühlte es damals dramatisch: ein All, das nach Edith schrie; in einem einzigen möglichen Punkt war das All schmerzfrei: dort, wo Edith saß. Die kleine Arbeiterin aber fühlte in diesem Moment nicht, daß sie ein 
      em geometrischer
      |  Ort 
      em aller Punkte
      |  war, und Alphard bedachte nicht die Möglichkeit eines in der Zeit gekrümmten und daher Edith wiederbringenden Raums.
