extends ../../templates/layout
block page-vars
  - const title = "Haus mit dem Standard-Mariandl"
block main
  article#haus-mit-dem-standard-mariandl
    h2.inline-title Haus mit dem Standard-Mariandl.
    p
      | In Westnordwest näherte sich ein weißer Punkt, er wurde allmählich ein Haus mit vorgelagertem Garten. Spielzeugkleines, so anschwimmend, avanciert zu autarker Welt, über deren Zäune mitunter gar nicht hinausgesehen wird. Ein Balkon formte sich heraus, Schwerkraft gewinnend allmählich wie ein nahender Planet: auf seinem fremden Betonbelag stehen, in den Garten schauen, durch die kleine Balkontür ins Zimmer zurückgehen, auf dem fremden Sessel knarren, mit Standardmariandl wieder auf den Balkon treten, fremde Stimme zu einem scheckigen Plan für den restlichen Tag mitverarbeiten. Lehmpumpenwasser aus einem blauen Glaskrug trinken. Mit Standardmariandl essen, beisammenlachen, Wand an Wand mit ihr im saubern Nachbarzimmer schlafen. Nun war der Garten genug nahegeschwommen, und da rechte (
      a.arrow(href="rechen.html") Rechen
      | ) wirklich ein 
      a.arrow(href="standard-mariandl.html") Standard-mariandl
      |  vorsommerlichen Vegetationsabfall zu einem mageren Haufen.
    p
      | (Zum Theoretischen:) 
      a.arrow(href="f-erlebnis.html") F-Erlebnis
      | .
