extends ../../templates/layout
block page-vars
  - const title = "Haus am Knopfer Hügel"
block main
  article#haus-am-knopfer-huegel-1
    h2.inline-title Haus am Knopfer Hügel 1.
    p
      | Der Vorgarten ist exakt, blumig, betoniert. Eine gelbe Glastür schützt das susibewahrende Innere. Ein Fremder drin sagt »Wiesenhang«. Aber die Wiesen sind giftgespritzt und tragen Warnschilder. Die Kräuter riechen nach Bienen, die toten Vögel nach Wespen. Wespen und Bienen sind Motorfliegen und lassen einander in Ruhe. Der Fremde läßt Susi in Ruhe. Der Fremde hängt Ingrid nach und wird nie zu der gelangen. Deswegen hängt ein Barometer mit ausgeleierter Feder an der Wand. Die Sonne scheint traurig auf Polstermöbel voll Vergangenheit und ein Elbebild. Die Vergangenheit ist vergeblich, weil sie noch niemand glücklich gemacht hat. Erst die Zukunft wird Menschen glücklich machen. Annähernd glücklich sind auch die, die das glauben. (Aber auch ein durstiger Todeszellenmann ist in dem Augenblick, da er eisgekühltes Sodawasser in seine Kehle flößen darf, frei und glücklich; frei, denn niemand hindert ihn an der Trink-Tat; glücklich, denn die Stillung des Eissodatriebes nimmt seinen ganzen Gesichtskreis ein, verdeckt die Hinrichtungsmaschine — so wie ein niedriggehaltener Regenschirm den losstürzenden Kometen verdeckt.? Susi trinkt Whisky-Soda, im Haus auf dem Knopfer Hügel so schon wie in der Bar neben J. Nur ist die Bar unwiederbringlich, das Haus unwiderruflich. (Ein Komet ist meist nicht gefährlich. Aber er kann der Erde den Luftmantel ausziehen und einen Giftmantel anlegen.) Warum ist die Banane gelb, spielt sich Susi auf. Sie hat einen guten Plattenreiniger. Sie mochte schon seinerzeit diese Hits einer alten aufbrechenden Zeit. Ihr Mann, J.s Todfeind aus der Schule, der mit dem hirschhörnernen Stockknauf, ist Diplomarchitekt, Susi wird nicht verbauern. Susi hat ein Kind. Susi ist ein Kind. (
      a.arrow(href="susi.html") Susi
      | .)
  article#haus-am-knopfer-huegel-2
    h2.inline-title Haus am Knopfer Hügel 2.
    p
      | Susi, die Frau des Hauses, muß mehrere Winkel nehmen (
      a.arrow(href="motive-fuer-die-freude-an-verwinkelungen.html") Motiv für die Freude an Verwinkelungen
      | ), endlich erreicht sie den hügelnahen Ausgang. Für Fremde ist dieser Ausgang ein Eingang. Um zu Susi zu gelangen, müssen sie mehrere Winkel nehmen, schmiedehölzerne, rotbucheneiserne. Im Garten dieser Vorhundstage, die alle Aktivität verderben, kann jeder, inmitten des buntgrünen Blumengemüses, dichten oder, wenn er ein Pechingenieur ist, einen neuen Pechkocher aufs Papier werfen. In seinem ventilatorenzerhackten Büro wird er dem technischen Zeichner pfeifen, dem Direktor schmeicheln, der Techsekretärin die Skizze zur Ablichtung ins Schwitzhändchen kuscheln. Susi aber gibt den Fremden — wenn sie sich zu einer Knopfer-HügelParty im bleichen Sommerhügelstaub treffen — die stadtgewohnten Susihände. Bei der Party muß man allerhand bunte Winkel nehmen. Dies war nicht das Leben, das Susi und J. sich in der Studentenstadt konstruiert hatten. Susi zeigt in Vorhundstagen niemand ihre Pelze denn die hat sie zu dieser Zeit außerhügels, bei einem Knopfer Kürschner (Laus & Nistl, mit verblichener Totwand-Reklame), eingehängt. 
      a.arrow(href="susi.html") Susi
      |  nennt es, wenn Frauen viel von Motten sprechen, Geschwätz.
  article#haus-am-knopfer-huegel-3
    h2.inline-title Haus am Knopfer Hügel 3.
    p
      | Das Gesunde von Sicheln und Mähen. Es will uns nicht recht gelingen, traurig zu werden. Das, was wir im Leben nicht erreicht haben, nivelliert sich mit dem zusehr Erreichten: im Muster des Straßenkieses. Ein Haus ist ein Bergungsunternehmen. Zwölf Schicksale der jungen Frau, alle tödlich, entgiften sich im Besitzwahn, Besitzärger, Besitzstreit. Im Haus am Knopfer Hügel ist sogar ein Halbintellektueller für Susi ein Protzbesitz wie ein Stier mit vier Hörnern. Denn wie übertrumpft er sogar den jungen Max Jacques beim Kreuzworträtseln. Erfinder der Grausamkeit (Marquis de—)? 
      span.small-caps Sade
      | ! Bienenzweck? 
      span.small-caps Honig
      | ! Ist doch prächtig, sowas zu beschlafen. Max Jacques ist der Stolz von Knopf-Ost, denn er ist aus einem bretonischen Kaff. Die Leber, sagen alle, ist hier unvergleichlich besser. Donaumatrosen lieben Susis Haus. Susi füttert die Meisen. Susi füttert die Ameisen. Susi, warum bist du hergezogen? Susi, die sich im Kaufhaus Amotl verlief (eine Treppe räderte sie fast, sie konnte noch nicht gut lesen, sie vergaß sich im grün-marmligen Email einer Puppenküche). Susi, die zwei Stunden im Regenstrom diskutierend den Menschen im Mann entdeckte. Susi, die belanglose Spiele spielte (aber als Generalbaß zu belangvollen Susi-Melodien), Susi vom Schulweg, Susi, die Bespottete und Betrotzte, Susi, die metaphysische Besitzerin eines Transistorradios (sie crawlte gern in pazifischen Kurzwellen), Susi, die Fehlgeheiratete — nein, wir machen nicht wie in Jugendtagen Fehlheirater für ihr Fehl verantwortlich, wir beugen uns der Lehre von den 
      em Verhältnissen, die nicht so sind
      | . Laßt uns darum auch heute Susis (uns jetzt zugekehrte) Rückseite wertschätzen, spöttelnd, weinend, begehrlich — Susi bleibt Susi. Susi ist einfach unausrottbar, wenn wir sie in Dur-Moll-Gemischen aus einem verirrten Transistor in die richtige Bedeutungslage einpendeln. Die Betrunkenen, die sagen »Scheiß drauf!«, »s ist alles ein großer Irrtum«, haben genau so unrecht, wie die Betrunkenen, die sagen, »Die Susi im Haus am Knopfer Hügel, die liegt schon richtig«. Es ist eine Frage des Prozentsatzes, zu 60 bis 40%, würde ich sagen, liegt 
      a.arrow(href="susi.html") Susi
      |  richtig.
