extends ../../templates/layout
block page-vars
  - const title = "Hawaiimädchen"
block main
  article#hawaiimaedchen
    h2.inline-title Hawaiimädchen.
    p
      | Das vielleicht nicht einmal künstliche Hawaiimädchen steht auf allen vieren (Knien und Händen) im künstlichen hellgrünen Gras. Sie sprengt trotz ihrer Magerkeit Blue Jeans, den Oberleib hat sie mit etwas rotem Stoff geschmückt, das teegelbe Gesicht lacht und saugt die Herrenjournalleser ein, die Blauschwarzmähne hat für drei von ihnen Raum. Natürlich sind auch Blumen nah, und jetzt zieht sie aber die Knie etwas an sich und läßt eine frische Flade ins Gras fallen. Das Girl hat das Talent, dann wieder dazuknien und den Leser anzulachen, als ob nichts geschehen wäre.
