extends ../../templates/layout
block page-vars
  - const title = "Herrenjournal"
block main
  article#herrenjournal
    h2.inline-title Herrenjournal.
    p
      | 
      a.arrow(href="annie.html") Annie
      | , 
      a.arrow(href="arnica.html") Arnica
      | , 
      a.arrow(href="b-oe.html") B. Ø.
      | , 
      a.arrow(href="die-heterogene.html") Die Heterogene
      | , 
      a.arrow(href="die-mit-den-schlafaugen.html") Die mit den Schlafaugen
      | , 
      a.arrow(href="die-mit-der-tulpe.html") Die mit der Tulpe
      | , 
      a.arrow(href="die-rote-im-roten-trikot-mit-rotem-popo.html") Die Rote im roten Trikot mit rotem Popo
      | , 
      a.arrow(href="hawaiimaedchen.html") Hawaiimädchen
      | , 
      a.arrow(href="liddy.html") Liddy
      | , 
      a.arrow(href="mary-mcpee.html") Mary McPee
      | , 
      a.arrow(href="m-d-d.html") M.d.D.
      | , 
      a.arrow(href="m-s.html") M.S.
      | 
