extends ../../templates/layout
block page-vars
  - const title = "Hügel"
block main
  article#huegel-1
    h2.inline-title Hügel 1.
    p
      | Dieser Hügel ist in Planquadrate unterteilt: von C 3 gehen sie bis F 5, es sind also zwölf. Jedes Planquadrat hat seinen gesonderten Eintritt und seine Vergnügung, aber insgesamt sind sie ein Hügel, der unabhängig vom Schiff existiert, also Freude bringt, in all den Hügelfarben, mit all den Subhügeln, Rillen, Höhlen, mineralisch, botanisch, etwas zoologisch, betretbar.
    p
      | C 3 ist der Hügeleingang; seinerseits hat er eine Eintrittstür aus Stacheldraht. Seine Vergnügung besteht in der Freude am Überwinden des Stacheldrahtes und im lehmigen Eintritt ins Hügelige.
    p
      | C 4 liegt höher. Es hat eine Eintrittstür aus Fuchseisen. Seine Vergnügung besteht in einer Minigolf-Anlage, aus deren Löchern aber oft Füchse schnellen. Sie beißen den Sieger tief oder schenken ihm einen Fuchsschwanz.
    p
      | C 5 ist die Gipfelzone. Sie betritt man am besten vom Himmel aus. Ihre Vergnügung besteht in einem frei aufgestellten Waschautomaten, um den gern Mädchen und Buben herumlaufen; das Programm ist auf 120 Grad Celsius eingestellt, der Kessel also längst explosionsreif, aber die Mädchen und Buben möchten diese kleine Gefahr nicht missen; sie gibt ihrem Tanz die Vulkanperspektive.
    p
      | D 5 grenzt unmittelbar an. Zwischen C 5 und D 5 steht die Eintrittstür: ein wilder Birnbaum, durch dessen Astwerk man durchklettern muß. Den Baum bevölkern wilde Hummeln. Die Vergnügung besteht in einer herrenlosen Apotheke, in der man nicht nur die obligate Ätzpaste zur Heilung der Hummelwunden bekommt, sondern auch an allen möglichen bunten Tabletten, Dragees, Pillen, Kapseln und Zäpfchen naschen und die fast durchwegs unbeschrifteten Tiegelchen, Standgläser, Flaschen und Schubladen mit wildlateinischen Namen bunt beschriften darf. 
      em Pasta Mytilla nigra
      |  schreibt Mytilla Mitil in steiler Jungmädchenschrift stolz auf einen Tiegel, in dem sie aus Galläpfeltinte, schmierigem Naphthalinruß und weißer Zahnpaste ein tiefdunkelgraues Gesalb zum allmählichen Schwärzen von Filmstarzähnen angerührt hat. 
      em Pulvis canonicus Zeronis
      |  schreibt ein andermal Zero Zobiak auf ein vermeintliches Kanonen-Schießpulver aus Stärkemehl und rotem Phosphor, das in kleinen Mengen zur Mutprobe eingenommen auch recht spannend schmeckt. Schwer nur trennen sich die Menschen von D 5, um das tiefergelegene D 4 aufzusuchen.
    p
      | D 4 muß erschwommen werden; das Bächlein ist bächleinklein, aber reißend. So besteht auch die Vergnügung von D 4 in ober- und unterirdischen Bachfahrten, Besuchen beim Fischotter, Wettnagen mit Wasserratten. Zur Erinnerung an das etwas milchigschmeckende Wasser nehmen sich Kinder gern einen Schwamm, den sie in den Bach getaucht haben, mit nach Hause.
    p
      | D 3 hat als Eintrittstür Feuer. Einer jener anderwärts beschriebenen Hügelbrände wütet hier ständig. Mädchen und Buben halten einander die Hände ins Feuer und schwören sich Unsinn. Die Vergnügungen dieses Planquadrats bestehen denn auch in Nachahmungen kindlich mißverstandenen Hochzeiter-Lebens; allerdings sind hierbei auch schon süße kleine Entjungferungen vorgekommen. Aber die Muttis daheim schimpfen nicht: Ihr seid ja allerliebst, befinden sie über sämtliche D 3-Kinder.
    p
      | Nach E 3 führt ein Hochspannungsseil. An ihm töten sich aber nur wenige D 3-Kinder, denn die meisten bleiben gern in D 3 oder hüpfen schräg nach E4 hinüber. Die Vergnügungen in E 3 sind naturgemäß makaber. Sie bestehen in Kämpfen roter Ameisen- und Spinnenstämme um die kleinen Elektroleichen, aber nur Leute von Nachbarquadraten sehen zu. Da schau, der kleine Emil Ettlow, sagen sie zum Beispiel, die schöne Blitzzeichnung, die er hat, schad, die Ameisen haben ihm schon das schönste Muster wieder rausgefuttert; sind schnelle Bestien, allerhand.
    p
      | Nach E 4, sagten wir schon, muß man schräg einhüpfen. Hier herrscht die Kreide. Nicht nur Kinder, auch Erwachsene kommen an Sonntagen frühmorgens nach E 4 und bleiben im angenehmen Kreidemehl bis spätabends eingebuddelt. Sie liegen, sitzen, robben, streuen, reiben, sie scharren, häufen, wägen, kämpfen und lieben; viele denken einfach nach über ihre weiße Schönheit oder die des Hügels.
    p
      | Durch eine Kreidetür kommt man auch nach E 5. Die Vergnügung dort besteht in einem Automatenbuffet. Es hat nur eine Münzöffnung, und in die paßt jeder der zahllos umherliegenden Rundkiesel. Es hat hundert Zuggriffe mit unbeschriebenen Emailtäfelchen darüber. Also muß man raten. Emil Ettlow, bevor er verschmorte, hielt zB den Mund unter den Auswurf und bekam sechs, sieben Hasenbemmerln hineingetropft. Mytilla Mitil kam mit klebrigen, hormonhaltigen Lutschplätzchen dran; sie erkannte ihre Kleinmädchenpsyche nach dem Genuß kaum wieder. Andere aßen Dörrkäfer um die Wette, käuten ausgediente Kaugummi wieder, rätselten um echte und giftige Beeren. Im ganzen war das Planquadrat friedlich: eigentlich starb nie jemand an dem Gegessenen; ein einziger Bub mußte am Blinddarm operiert werden, weil er Bartwichse aß, aber auch hier war nicht die Kost, sondern ein Irrtum schuld: der Bub aß das Stanniol, das die Wichse vor dem Ranzigwerden schützte, mit, und die Operation verlief im übrigen erfolgreich.
    p
      | Nach F 5 geht es über Stufen, obwohl auch dieses Planquadrat ganz oben am Hügel liegt. Die Stufen führen unter die Erde. Die Vergnügung besteht in einem Mineralienkabinett, an dem aber nur wenige Leute Interesse haben. Die Attraktion sind versteinte Kindchen, mit Lehmköpfchen, denen man noch alle Lebensfunktionen zusprechen würde. Mädchen nehmen sich gelegentlich so ein Steinkindchen mit nach Haus, stellen es aufs Regal oder bitten den Bruder, ihm ein Bettchen zu basteln. Die Steinkindchen auf F 5 nehmen trotzdem nicht ab, denn andere Mädchen kommen und bringen verstohlen ein Kindchen und senken es rasch in den Steinteig, der in einem großen Steinbottich aus erratischem Material unter einem unauffälligen Steindeckel schwabbelt.
    p
      | Die Eintrittstür nach F 4 ist ein Katapult, das den Besucher aus dem Mineralienkeller in ein Labyrinth befördert. Denn die Vergnügung von F 4 besteht im Verirren. Aus Erdgängen, nach oben verlängert mit Wällen, Hecken und Gneisplatten, ist ein Irrgarten gebaut, in dem Mädchen und Buben anfangs Entspannung, später Erschöpfung finden. Die Platten drehen sich, die Wälle und Hecken wandern. Wo ein Ausgang schien, ist plötzlich die Welt mit allerhand vernagelt, und in späteren Tagesstunden beginnt da manches Mädchen, aber auch mancher Bub leise zu weinen. Gegen Abend steigt kalter Lehmbrei in die Laufgräben, und wer da noch unterwegs ist, um den steht es schlimm. Ein kleines Elschen beging an der Ausgangstür Selbstmord, weil wohl sie, aber nicht mehr der kleine Bub, den sie in D 3 liebgewonnen hatte, abend aus F 4 herausgeriet.
    p
      | Ein Rahmen, von dem Elschens Schädel hängt (von den Raben bald blankgezupft), ist die Eintrittstür nach F 3. F 3 umfaßt neben Hügelgebiet auch ein Eckchen angrenzenden Flachlands. Seine Vergnügung besteht hauptsächlich darin, dem Hügel mit seinen Vergnügungen sattgespielt und heil entronnen zu sein, wieder waagrechten Boden zu treten und nicht zu fern im Flachlandlampen oder -sonnenlicht häusliche Fenster aufblitzen zu sehen.
  article#huegel-2
    h2.inline-title Hügel 2.
    p
      | Ein Hügelhang trägt einen 
      a.arrow(href="weingarten.html") Weingarten
      | .
  article#huegel-3
    h2.inline-title Hügel 3.
    p
      | Auf diesem Hügel sind da und dort Brände. In 200 m Höhe einer, 55 m darunter einer und 25 m rechts, 60 m links einer und 20 m darunter, und noch viele andere, kurz: die Hügelfeuerwehr hat heute viel zu tun. Eigentlich immer. Sie liebt den blauen Rauch, den weißen Dampf, das knisternde Holz, schwelende Heu die brenzelnden Käfer, lustig ist das Feuerwerker-Leben von der ersten Ausbildungsstunde, in der mit Harzbüscheln kleine Brandwunden gesetzt werden, bis zum Feuertod oder der Pensionsfeier. Die Hügelfeuerwehr kennt eigentlich keine Höhen und Tiefen; sie spaziert auch im Traum senkrecht, waagrecht, schräg, ohne Wege, wie ein Hubschrauber, die Feuerwerker auf 80 m hoher rauchender Schneise sind genauso groß sichtbar wie die in 120 m tiefer Wolfsgrube, in der Wölfe ungeschickt Feuer gemacht haben. Im Plauderton, ohne Sprechfunk, sagen sie zueinander: Heb! und Lösch! Halt! und Hust! Das Aushusten gefährlicher Gase, besonders auch farbloser Flammen im hellblauen Sommerhimmel, wird in vielen lustigen Ausbildungsstunden gelehrt. Wenn bis mittag alle Brände auf dem Hügel gelöscht sind, wird der Hügelpfiff gepfiffen, und da und dort blitzen Bauernfeuerzeuge und Vagabundenfeuerschwämmchen auf, und der Nachmittag ist schon wieder gesichert.
  article#huegel-4
    h2.inline-title Hügel 4.
    p
      | Dieser Hügel ist nicht bloß Hügel, sondern es steht auf ihm ein aufwärtsgebautes Hügeldörfchen samt Feldern. Sogar ein kleines Chemiehäuschen raucht gelb und stinkt. Im übrigen aber muß man ein Anrainer-Sträßchen aufwärts gehen, wenn man zu den höheren Häuschen des Hügeldörfchens hinaufhügeln will. Ganz oben ist man schon richtig auf einem Hügel. Dort kann man richtig von einem Hügel hinuntersehen.
  article#huegel-5
    h2.inline-title Hügel 5.
    p
      | Der Bub ist noch sehr klein, aber ein guter Kletterer. Ihm macht es auch nichts aus, wenn seine Hände tonrot werden, sein Blickfeld rot vom Anschauen rotverwitterter Baumruinen. Die Hauptsache, der Großvater ist nah und lenkt ihn abweichungslos zu den Haselnußbüschen mit den haselnußgrünlichen, haselnußgelblichen Haselnüssen, nach deren Entgrünung und Aufklopfung milchigsüße herbe Haselnüsse entstehen, feucht, zu kratzenden Raspelbröcklein zerbeißbar, ohne den Petrolgeschmack der faden trockenen Haselnüsse des Krämers. Die selbstgepflückten Haselnüsse sind neu wie am ersten Welt-Tag und leben meist nur am Pflücktag. (Sie leben manchmal ein wenig auf einem Brett.) Der Großvater nennt den Enkel ein Eichhörnchen und behandelt ihn auch so: hetzt ihn, fängt ihn und trägt ihn am Nackenfell ein Stück Weges.
  article#huegel-6
    h2.inline-title Hügel 6.
    p
      | Hügelhasenjagd, horrido!, Höhenschichtlinien. Ha!, hechelt der Hasenhäscher, doch halt!, schon huscht der Hase eine Höhenschicht höher. Der Häscher hetzt zwischen Haselbüschen hügelan, doch der Hase schlägt einen Haken, hebt Hals und Hasenläufe hoch und der Häscher hört ein herziges Haha!
    p
      | Hund! heißt der Häscher den Hasen, der Hase hebt die Hasenlöffel: Hund? Hoppla! Er holt eine hellbraune Haselnuß und hält sie dem nun schon hinkenden Häscher eine hellbraune Höhenschicht höher hin. Er hänselt ihn. Der Häscher hebt seine Handfeuerwaffe, hält etwas vor und heizt dem Hasen ein. Er hustet ins Horn. Die höher hockenden Häscher horchen und holal den hornverzierten Hirschfänger, für den Fall, daß der Hase halbtot den Hügel hinauf hetzt. Der Hase hört Hackendes, holpert in die Halme, hält hat Hartes, heult um seine Haut, hopst und ist hin. Der Hügei huldigt dem hingegangenen Helden hundert Höhenschichten bis zur Hütte des Häuters hin.
  article#huegel-7
    h2.inline-title Hügel 7.
    p
      | Man ziehe einen sanften Bogen mit der Wölbung nach oben. Seitlich und unten braucht man diesen Bogen nicht abzuschließen, es soll ja nur ein bestimmtes Gebiet des Hügels um die Kuppe herum strukturell aufgefächert werden.
    p
      br
      br
      br
      .align-center (Raum für das Ziehen des Bogens.)
      br
      br
      br
    p.no-indent
      | Mit den Einzeichnungen beginne man links: schneide einen nach rechts oben gerichteten Keil aus dem linken Randstück der Zeichnung; in den Keil schreibe man »buschig«. Etwas links von der Kuppe setze man einen Punkt. Von dem ziehe man eine Gerade ungefähr zum Bodenpunkt der ersten keilbildenden Geraden. So entsteht ein zweiter Keil, mit der Spitze nach links unten. In diesen Keil schreibe man »kahlgrün«. Nun ziehe man von dem kuppennahen Punkt im rechten Winkel zur zweitkeilbildenden Geraden eine Gerade nach rechts unten. Das entstehende Dreieck, eine gebirgige Parodie auf den Hügel, fülle man mit den Worten »buschig, schründiges Gelände«. Das Dreieck lasse man unten offen. Nun ziehe man zu der letztgezeichneten Geraden einige Parallelen, verforme sie aber im Zeichnen zu sanften Bogen. Man gerate mit ihnen nicht zu weit nach rechts und beschrifte das Gebiet mit »Wein, buschig«. Rechts schließe man ein kleines Dreieck an, das mit der Spitze nach links unten zeigt. Man beschrifte es mit »Busch, Häuser«. 
      em Eine Hilfszeichnung zeigt die Bogenkontur eines Hügelstücks und von ihr abzweigend eine Gerade, auf der nach einiger Leere ein Häuschen mit dreieckigem Dach steht.
      |  Den rechten Rand der Hauptzeichnung nimmt ein Dreieck ein, dessen Spitze nach oben zeigt, dessen Schenkel schon gezeichnet sind und dessen Grundlinie wir nun unsicher in den Hügel zeichnen. Dieses Dreieck beschriften wir mit »Wein«. Nun deuten wir noch nach all diesen Zeichnungen der höchsten Schicht eine zweithöchste Schicht an, setzen etwa unter die linke Hälfte des rechten Randdreiecks eine vage Ellipse, liegend, mit der Inschrift »Laubbäume«. Links an diese Ellipse schließen wir, wie einen linksgerichteten Schnabel, der unter »Wein, buschig« zu stehen kommt und noch ein Stück in »buschig, schründiges Gelände« sticht, einen schmalen Keil mit der Inschrift »kahl, Wein«. Schließlich beschäftige man sich mit der dritten Schicht, zeichne, locker an die »Laubbäume«-Ellipse anschließend, ein etwas zur Kuppe hin kippendes breites Rechteck ohne unteren Abschluß. Dieses Rechteck schneide man in senkrechte Streifen und beschrifte es über die ganze Breite mit »Wein, in verschiedenen Formationen«. 
      em Eine Hilfszeichnung zeigt Weingärten in verschiedenen Linieaturen, Dichten, Wuchsintensitäten. Eine Hilfszeichnung in kleinerem Maßstab
    p
      br
      br
      br
      .align-center (Raum für die drei Hilfszeichnungen.)
      br
      br
      br
    p.no-indent
      | 
      em reduziert diese Individualitäten auf wechselnde Durchliniierungen, zittriger Handschrift wie eine Tätowierspur.
      |  Irgendwo auf die Hügelkuppe der Hauptzeichnung schließlich setze man jenen unentbehrlichen Einzelbaum, zu dem alle Spekulation hinstrebt und hinter dem auch wieder eine Welt liegt.
