extends ../../templates/layout
block page-vars
  - const title = "Hühner"
block main
  article#huehner-1
    h2.inline-title Hühner 1.
    p
      | Beim Backhuhnessen flatterten die Hühner bis auf unsern Tisch, so sehr hatten wir sie mit Hühnerfleisch verwöhnt. Die Hühner nahmen die schlechtabgenagten Hühnerknochen in den Schnabel, bekamen kaum Luft, plumpten zur Erde, wurden von den Mithühnern überfallen, rannten, bis ihnen der Hühnerknochen aus dem Schnabel fiel, und hackten in die hühneressenden Hühner.
    p
      | Drum gab es in dem Hof so viele kahlrosa Bürzel, so viele erdverklebte Blut- und Federwunden. Vom Teller durften die Hühner nicht essen, denn sie legten gern weißblasige grüne Kleckse, wenn sie aßen. Die Mithühner rutschten beim Dreinsteigen aus, aber faßten sich und trampelten mit kotbeladenem Fuß ihres Wegs.
  article#huehner-2
    h2.inline-title Hühner 2.
    p
      | Gibt es, sagte Alphard Mutz zu der üppigen etwas unappetitlichen schwarzhaarigen Dame, als sie die Hühner fütterte, die die Wirtin mit biili-billibillibilli zum Schlaf rief, jemand, der Ihren ganzen Körper mit Küssen bedeckt? Ihr Mann saß daneben und war apathisch. O ja, sagte die Dame, mein Mann bedeckt mich, Sie werden lachen, jede Nacht. Nun gibt es zwei Hypothesen, sagte Alphard Mutz zu sich auf dem Pissoir: Entweder unterschätze ich wirklich die Männer, mindest in ihrer Vitalität, oder sie war schon so sehr resigniert und hörig. Biili, jedenfalls, ist ein lustiger Ruf für Hühner, und in Biafra schlachten sie Ratten und verkaufen sie den Reichen, die sich das Leben noch leisten können, also sind Entbehrungen, sei es der schwarzhaarigen Dame, seien es meine, (denn Alphard Mutz war immer ein sozial denkender Mensch) eher zweitrangig.
  article#huehner-3
    h2.inline-title Hühner 3.
    p
      | Noch ihre Hühner sind bauernschlau: im Flug (dem Flug eines durch den Hof geworfenen Sakkos) kennen sie begehrte Wurst und verschmähtes Brot auseinander. Die Gäste unkenntlich auslachend, hängen sie weiß-braun im Baum.
  article#huehner-4
    h2.inline-title Hühner 4.
    p
      | Nicht weinen, Sylvi: Hühner sind ja dazu 
      em da
      | .
  article#huehner-5
    h2.inline-title Hühner 5.
    p
      | (Heiser:) krooo krooo. (Futteranforderung.) Hackendes Pulsen des Nickwerks. Nervöses Aufpicken. Erschrecktes Kopfwenden. Starten mit viertem Gang. Immer verschreckt, immer verfolgt, immer der Augenaufriß vor der Ohnmacht. Zwei Hennen stehen schwesterlich nebeneinander, plötzlich macht eine: grrrr—
  article#huehner-6
    h2.inline-title Hühner 6.
    p
      | Weiße Hühner sind immer schmutzig. Wer wäscht eigentlich die weißen Hühner? Mit 
      span.small-caps Omo
      |  würden sie wieder weiß. Es müßte immer 
      span.small-caps Omo
      |  regnen.
  article#huehner-7
    h2.inline-title Hühner 7.
    p
      | Der Hahn läßt jeden Bissen sofort fallen, wenn eine Henne kommt. Er steht geradeaus starrend im Gefütter. Wovon lebt er eigentlich? Er ist ein dunkler Phantasiehahn mit Metalleffekten. Er trennt die Raufenden nicht, außer wenn er auf eine Lust hat. Er kräht, aber zögert. Er wählt zwischen einem schmutzigen, einem reinen und einem rotwunden Hintern. Er läßt sich durch gekrümmte Zeigefinger stören, hält sie für Superhahnenschnäbel, flieht.
  article#huehner-8
    h2.inline-title Hühner 8.
    p.poetry
      |  Die Hühner lauschen dem Choral des Regens
      br
      | und träumen von der Schwierigkeit des Legens.
  article#huehner-9
    h2.inline-title Hühner 9.
    p
      | Henne, madig, gerupft. Henne mit umwölkter Stirn. Henne hackt Flaschenstanniol und schaut dann betrübt drein. Henne mit eierschalenfarbenen Drachengräbbeln, einziehbereit wie die einer alten sensiblen Dame. Henne hüpft hoch und zupft unreife Trauben vom Stock. Henne breitet alle Unterröcke aus und weibelt das Gras warm.
