extends ../../templates/layout
block page-vars
  - const title = "Hundstage"
block main
  article#hundstage-1
    h2.inline-title Hundstage 1.
    p
      | 
      em Eine Quellennutzung.
      | 
    p
      | Auch wenn wir die Hundstage lieben — das Nacktgehen, das Baden, den Vorgenuß Durst —, laßt uns nicht vergessen, daß wir Kältegeschöpfe sind. Von der Temperatur unsres Blutes geht es nur noch 310 Grad abwärts, dann ist die tiefstmögliche Kälte des Weltalls erreicht. In die Hitze der Sterne hinauf aber geht es viele Millionen Grad. (Der Salpeterprozeß etwa setzt bei 200 Millionen ein.)
    p
      | Im tiefsten Winkel des Weltkühlschranks sitzen wir, aber quatschen von »lebensspendender Sonne«. Die Sonne braucht nur einmal zu niesen, und unsere Welt ist weg. Hitze zerlegt jede Zelle liquidiert die ganze organische Chemie, löst jede Molekülbindung und ermöglicht zum Schluß nur rasende einfachste Teilchen. Hitze ist Chaos, Kälte ist Ordnung. Wenns einen ordnungsliebenden Gott gibt, liegt seine Lieblingstemperatur zwischen minus 20 und plus 40 Celsius, also, anständig gesprochen, etwa 250 und 310 Grad Kelvin. Was drüber ist, erfreut konfuse Schlachtpriestergötter, die Mädchen in Kratern lieben und Neugeborene zu Braten brennen.
    p
      | Also: Heiliger Frost, belasse die Eiszapfen in unseren Bärten, lasse die Sonne so kühl und die Erde so extrakalt bleiben, schicke uns brustkorbmalmendes Packeis, aber nicht knochenverdampfende Lava, schicke uns gefrierenden Hauch vor die Schnauze, aber nicht die tödlichen Gasknäul der Sonnen; laß uns keine Millionäre an Graden werden, laß die Liebe zu Hundstagen maßvoll bleiben, und laß die Liebe zu Menschen Kühlung und nicht Glut sein, amen.
    p
      | (
      em Quellenangabe:
      |  1) ein Letzte-Dinge-Gespräch mit Dipl.-Ing. Walzel-Wiesentreu im und vorm Restaurant Baumann zu Leoben, 2) Anrufung Elses aus »Tage und Träume« von Eisenreich.
  article#hundstage-2
    h2.inline-title Hundstage 2.
    p
      | Nackte dicke Herren zurren die Jalousien und bereiten sich Bäder.
  article#hundstage-3
    h2.inline-title Hundstage 3.
    p
      | Auf den Stadtplänen die hellgrüne Weite, die graugepünktelte Weiße werden zu weißgrüner Glut. Sonne schon ohne Charme; ohne Schonung. Trockene Grasspitzen brandtüpfeln die Sohlen.
  article#hundstage-4
    h2.inline-title Hundstage 4.
    p
      | 
      em Hundstage der Ferienkinder.
      | 
    p
      | Abkühlung, Beinsalat, Creme, Dusche, Eissalon, Frische, Gurkenblatt, Hundszunge, Island, Jugendclub, Kanada, Lappland, Meer, Norden, Ozon, Polareis, Quellwasser, Ruderboot, Segelboot, Tauchkammer, Unterwasserjagd, Varangerfiord, Wasserball, X-Chromosom, Yawlboot, Zitroneneis.
    p
      | Man denke zwischen diese Punkte zwanglos verteilt die Ferienkinder Alphard Mutz, Elschen, Myra Metelli, 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      | , Encore Edibelbek etc, manche einander erkennend, manche nicht.
