extends ../../templates/layout
block page-vars
  - const title = "Hunde"
block main
  article#hunde
    h2.inline-title Hunde.
    p
      br
      | ... kurz, wenn er irgendein Talent hat, mit dem er glänzen kann— und sei es, daß er Tierstimmen imitiert—, so wird er über einen Mangel an Erfolg bei Frauen nicht zu klagen haben. (Alexander Barrantay.)
    p
      | Schau, ein Hund. Schau: Hunti. Dort hinten. Robert, geh weg dort. Hörst du nicht? Wo willst denn hingehn? Papa ist blöd, Papa ist blöd, bu! bu!
    p
      | Hundige Familien.
    p
      | Ein häßlicher grauweißer kleiner Wachthund bellt woch! woch!
    p
      | Der beste Freund des Menschen ist der deutsche Schäferhund — Treu bis in den Tod. (Titel-Layout einer deutschen Illustrierten.)
    p
      | Wenn ich ein bissel eine größere Wohnung hätt, einen Hund möcht ich schon. Ein Hund ist so was Treues!
    p
      | Ein Hund bellt wuwu!
    p
      | Ein Hund bellt o-ut, o-ut!
    p
      | Schlafende Hunde sind hautig. Ihr latentes Lachen. Unvermittelt fahren sie aus dem Schlaf und beißen das Kind, denn das Kind ist schlimm und will mit einem feuerstinkenden Eisenrohr gebrannt werden. Die Wunde klafft, der Hund kläfft. Seine Fangzähne trenzen.
    p
      | Einem Hund die Schnauze abschneiden. Nun sieht er aus wie eine Gasmaske.
    p
      | Der Durchschnitts-Hundefreund ist ein Durchschnitts-Pferdefreund (
      a.arrow(href="pferde.html") Pferde
      | ), Durchschnitts-Katzenfeind und neigt zu Autorität und Standessymbolik. Katzenfreunde aber lieben Liberté, Egalité und nicht nur Fraternité sondern auch Sororité; unerzwungene Freundschaft, das Ungarantierte, das Fallweise, das Grazile. (
      a.arrow(href="katze.html") Katzen
      | .)
    p
      | Koeduzierte Hunde + Katzen + Ratten schonen einander, vielleicht gelingt es durch Koedukation, Hunde zu erzielen, die nichtunterwürfig und schön wie Katzen sind.
    p
      | Ein Hund beutelt die Hundekäfer ab, schmückt sich mit Hundeblumen und hat Hundesehnsucht.
