extends ../../templates/layout
block page-vars
  - const title = "Hundeschärfer"
block main
  article#hundeschaerfer
    h2.inline-title Hundeschärfer.
    p
      | Im Feld, gleich draußen vor der Städtcheneinfahrt, wohnt der Hundeschärfer. Seine Schärfmaschine surrt über die Felder und wird oft mit dem Surren des Überlandleitungsdrahtes verwechselt. Er schärft Ia, Ib und IIb. Sein großes grellgeblumtes Weib hilft ihm halten. Ia geschärfte Hunde winseln bei der Behandlung jämmerlich, haben dann aber Zähne wie Rasierklingen. Die Zunge wird abgetragen, denn der Hund würde sie sich unsachverständig abbeißen. Der Menschenschutzverein hat gegen das Ia-Schärfen so wiederholt wie erfolglos protestiert.
