extends ../../templates/layout
block page-vars
  - const title = "Ing. Pozzi"
block main
  article#ing-pozzi
    h2.inline-title Ing. Pozzi,
    p
      | Kältespezialist aus Italien. Ich fragte ihn einmal, warum keine Kühlschrankfirma sich entschlösse, Rührwerke für Speiseeiserzeugung in die Schränke einzubauen, was doch gewiß jeder technische Gewerbeschüler durchkonstruieren könnte und was, meinem Laienhirn nach, den gesättigten Kühlschränkemarkt in aller Welt neu aufreißen würde.
    p
      | Ing. Pozzi mit seinem traurigen Schnurrbartlachen wies mich aber auf die Katastrophe hin, die dieses Patent unter den 
      a.arrow(href="eissalon.html") Eissalon
      | -Besitzern auslösen würde, und auf die Agenturen, die mißliebige Erfindungen aufkaufen und meinen Wunschkühlschrank gewiß auch schon längst aufgekauft haben.
    p
      | Ich schämte mich, daß es eines Technikers bedurft hatte, mir, dem Exporteur, für ein kaufmännisches Motiv die Augen zu öffnen.
