extends ../../templates/layout
block page-vars
  - const title = "Ingenieur"
block main
  article#ingenieur-1
    h2.inline-title Ingenieur 1.
    p
      | 
      a.arrow(href="lollo.html") Lollo
      | .
  article#ingenieur-2
    h2.inline-title Ingenieur 2.
    p
      | 
      a.arrow(href="cp.html") CP
      | .
  article#ingenieur-3
    h2.inline-title Ingenieur 3.
    p
      | 
      a.arrow(href="gemeindebauten.html#gemeindebauten-9") Gemeindebauten 9
      | .
  article#ingenieur-4
    h2.inline-title Ingenieur 4.
    p
      | (Mutter und Kind:) »Essen kommen!« — »Essen mag ich nicht.«
    p
      | Der Ingenieur sagt, er habe eine Weile gebraucht, um draufzukommen, daß von Nahrungsaufnahme und nicht von heranzottelnden Schmiedeöfen die Rede war; nach dieser Erleuchtung sei ihm wie dem Betrachter jener perspektivisch gezeichneten Schachtel gewesen, die sich durch ; Änderung der Blickfixation zusehends umstülpt.
  article#ingenieur-5
    h2.inline-title Ingenieur 5.
    p
      | Kommen Sie, sagt der Ingenieur, gehn wir auf die Suche nach rechten Winkeln.
  article#ingenieur-6
    h2.inline-title Ingenieur 6.
    p
      | Gnädige Frau, ich meine so:, sagt Chemiekaufmann J. zur Ingenieurs-Margit; wenn die bodenlange Mode wiederkommt, an der ich mich schon einmal als Zwanzigjähriger sattgesehen habe, wird es ganz lustig sein. Aber substantiell ist die Minimode ungemein reicher.
    p
      | Wie meinen Sie das genau?, fragt der Ingenieur.
    p
      | Er meint, dolmetscht die Ingenieurs-Margit einfühlungsstark, in langen Kleidern stellen wir einen Gag zur Schau oder, sagen wir, schönen Stoff, für den natürlich auch Männer immer eine Schwäche haben; aber über das, was wir im Mini offenbaren, läßt sich viel spezieller meditieren als über die banale Quizfrage, was wohl der Osterhase unter unserer langen Robe versteckt hat.
    p
      | Genau. Die Wirklichkeit ist viel schöner als die verdorbenste Phantasie, bestätigt J.
    p
      | Danke, lacht Margit kätzisch.
  article#ingenieur-7
    h2.inline-title Ingenieur 7.
    p
      | Kennen Sie eigentlich einen 
      a.arrow(href="ing-pozzi.html") Ing. Pozzi
      | ?, fragt der Ingenieur. Und ob!, sagt Chemiekaufmann J. Ein reizender Mensch, nicht wahr?, sagt die Ingenieursgattin; och, ich habe Italiener überhaupt so gern! Leise, gnä Frau, sagt Chemiekaufmann J., der Mann dort drüben ist ein 
      a.arrow(href="dynamit-attentaeter.html") Dynamit-Attentäter
      | . Och, meinen Sie das im Ernst?, haucht die Ingenieursgattin und kratzt ihn mit einem Blick voll unternehmungslustiger Krähenfüße.
