extends ../../templates/layout
block page-vars
  - const title = "Johannisbeerwein"
block main
  article#johannisbeerwein
    h2.inline-title Johannisbeerwein.
    p
      | Erfreuversuch mit abseitigen Mitteln. Dabei differenziert, der Humbug: schwarze, rote, sogar weiße Beeren, nun Wein. (J. gedachte des jungen Chemikers J., der neben dem gewohnten Äthyl- plötzlich einen Propyl-, Butyl-, Amyl-Alkohol zubuchefand und hunderte, tausende weitere, teils dickflüssig, teils ungenießbar, teils tödlich, rote Pulver, braune Kristalle, wilde Aromen, krumme Gestänke; sogar Karbol, mit dem betrogene Krankenschwestern sich zunichteätzen, spielt Alkohol.)
    p
      | Irrwein, dreifarbig trinkbar, im Freien, flirtbeleuchtender Johanniskäfer eingedenk, pulpigen Johannisbrots der Jahrmärkte, Wildhonigs des geköpften Johannes. Durstnichtstillend, im Nippen wie Stürzen, laevulo-süß, elegisch, casanovisch, schwerberauschend, aufs Herz anlegend: Kollaps-Füsilier. Glückliche Mädchen, glückliche Gelsen, glückliche Manschettenknöpfe in glücklichen langgezogenen Flußrestaurants.
