extends ../../templates/layout
block page-vars
  - const title = "Joyce"
block main
  article#joyce
    h2.inline-title Joyce.
    p
      | Ist der Tag, der meine sentimentale Reise einschließt, ein Abklatsch des Bloom-Tages? Nein. Meine Sekunden sind nicht die Sekunden des Denkkontinuums, sondern Blick- und Blindsekunden eines Weltmodell-Diskontinuums. (Einbekenntnis der Kleinheit meines Weltmodells: 
      a.arrow(href="gebrauchsanweisung.html") Gebrauchsanweisung
      | .) Darum auch ist der innere Monolog nur sparsam angewandt und die angebliche Sünde des Allwissendspielens und Ex-machina-Tretens freigebig begangen. (
      a.arrow(href="allwissender-erzaehler.html") Allwissender Erzähler
      | .)
