extends ../../templates/layout
block page-vars
  - const title = "Jung"
block main
  article#jung
    h2.inline-title Jung
    p
      | (werbesprachlich): Junges Zyklam. Junges Ingwergelb, Lindgrün, Curry. Junges Altrosa. Junge Schlüpfer. Junge Pyjamas. Junge Umstandsmieder. Jung sein in Baumwolle. » LK-Mode wird täglich jünger.« Junge Möbel, Margarine. Die junge Tankstelle, Zahncreme. Die junge Nähmaschine. Junge Limonade, junges Hopfenbier, junges Bock. Junge Intimfrische. Junge Fleischbrühe. Junge Taille. »Schlüpf in eine junge Haut.« Die junge Verdauungshilfe. »Wie jung du heute bist!« »So jung war noch keine Jugend!« »Junge Generation« (SPÖ). »Junge Generation« (ÖVP).
    p
      | Eine junge Bombe, sagten wir 1940 gern, wenn wir eine kleine meinten. Etwa die herzigen Thermitbomben, vor denen der Luftschutzwart nicht abzuhauen riet, denn sie sprühten ja bloß so unheimlich, konnten aber mit einer Feuerzange in die Sandkiste gelegt werden.
