extends ../../templates/layout
block page-vars
  - const title = "Kamille"
block main
  article#kamille
    h2.inline-title Kamille.
    p
      | Bröslige Köpfchen, Schwämmchen, eure heilsame Abkochung, Reim auf Stille, Sommerpension, eine kamillengelb und kamillengrün stickende grüngelbe Camilla, Bahnsteigkräutlein, tagelanger Geruch beim Teerplankenschwimmbad, lebenslanger Geruch aus den Laborfenstern des Dürrkräutlers (noch Hoflieferanten!), Bienen + Schmetterlinge, öfter Begleitlied von Faulenzung als von Unternehmung, eigentlich harmonisch zu Lindenblüte, sich bückende Sammelaktionskinder, Rascheln beim Dörren, benachbart auf dem Dachboden trocknen Pilze, Dachbodenstaub das Dritte im Geruch, zwischen den Handflächen zerreiben, duftende Dampfwolke im Flur, Pritscheln im Mädchenspülbecken.
