extends ../../templates/layout
block page-vars
  - const title = "Kinderaufsicht"
block main
  article#kinderaufsicht
    h2.inline-title Kinderaufsicht.
    p
      | Robert, komm her, geh zum Papa abwischen.
    p
      | Krause Brillenkinder, sich fortwährend umständlich Jäckchen an- und ausziehend.
    p
      | Mageres kränkliches Frauchen, mit schlaffhängendem weißem Gehäkel über tintenblauem Kleid, sogar das sichtbare Nackt ober den Strümpfen wie fade Milchspeise; trenzt raunzige dünne Verbote.
    p
      | Kinder rennen einander um einen der Mittelpfeiler nach. Ur-Erlebnis: rotieren, schwindlig werden, Übelkeit speichern, nicht brechen können.
    p
      | Kleines Scherzfragen-Mädchen: Warum ist die Butter fett? — Daß beim Aufstreichen nicht quietscht.
    p
      | Mutter sagt: Bleib da. Papa kommt gleich. Bub sagt: Wurscht Wurscht, Wurscht. Vater kommt zurück. Mutter sagt: Es hat sich nichts begeben. Bub sagt: Wurscht, Wurscht, Wurscht. Mutter sagt: Er hätt dir fast den Wein austrunken.
    p
      | Dann tun wir uns spielen, dann schlafen wir, dann tun wir essen. Dann spielen wir mit meinen drei tütütü. Der-Papamuß-mir-den-Pappendeckel-picken.
    p
      | Der arme Kinderzeitungs-Pinguin. Weil sein Schwesterl so schlimm war wie du. »Mit den großen Ruderfüßen / sieht man ihn für Margit büßen.«
    p
      | 
      span.small-caps Nein
      |  ist ein Wort, das Kinder sehr beeindruckt.
    p
      | Robert, komm her, geh zur Mama schneuzen.
