extends ../../templates/layout
block page-vars
  - const title = "Kleine Dinge"
block main
  article#kleine-dinge-1
    h2.inline-title Kleine Dinge 1.
    p
      | Auf dem Kies des Gäßchens lag eine verfrüht abgefallene Roßkastanie, noch Embryo. Die Stachelchen steif aber biegsam und an den Enden durchsichtig. Das angenehme Gefühl beim Eindrücken so schwacher Gegner in die Haut: am Widerstand den eigenen Körper zu spüren, ohne daß der Fremdkörper trennt, löchert, dringt; ohne daß der banale Alarm von Schmerz Unwiderrufliches meldet, ohne daß das hysterische Ausschleudern von Blut beginnt.
    p
      | Ganze Perspektiven von zartgrünen und miniaturmodellhaften Gegenständen eröffnen sich: ein zentimeterkurzes Salatherzchen, ein neugeworfener grüner Zwergpudel — schon ganz Zwergpudel, die daumennagelkleine Nachbildung eines Blumenkohls aus pastellgrünem und weiBem Marzipan. Lesekasten lupenkleiner Buchstaben aus creme und zartgrünem Bein. Ebensolche Würfel, mit denen ringfingerkleine Landsknechte an Lagerfeuern aus weißem und blaßgrünem Seidenpapier knobeln.
  article#kleine-dinge-2
    h2.inline-title Kleine Dinge 2.
    p.poetry
      |  Da unten liegt ein Stück Stuck.
      br 
      | Stück Stuck.
      br 
      | Im Krieg gibts dann solches genuck.
      br 
      | Genuck.
  article#kleine-dinge-3
    h2.inline-title Kleine Dinge 3.
    p
      | Wer blitzt noch mit Magnesiumband? Aber kein Zweifel; hier liegen die Reste: spiraliges Scheinband aus Asche, dem weißen Oxyd. Das Gegenständchen ohne Widerstand; eine Berührung, und das Filigran pulvert zusammen, in den Fingern bleibt ein schmieriges Stäubchen. Und das war brüchiges, aber doch metallenes Band, sofort zu weißglühender Flamme entzündbar, kurze Zeit ging eine Grenze, die die Form nicht zerstört, durch das brennende Stück; davor weißgraues Metall, dahinter weißweiße Asche. 
      em Legionärsspaß: Erschießen von Gefangenen mit Leuchtspurmunition.
      |  Sanft löst sich Magnesiumband auch in Säure; ohne Umrühren, ohne Rest geht es klar in die klare Flüssigkeit ein und verändert doch ihre Formel.
  article#kleine-dinge-4
    h2.inline-title Kleine Dinge 4.
    p
      | Vierblättriger Klee. Auch dem Unabergläubischen macht das Finden der seltenen Variante Spaß, so wie Pilzsucherinnen, die pilzlose Diät erleiden, für ihre Schwägerinnen oder Märkte allzeit begeistert den Waldboden sichten. Für abgeschmackt hält es 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      | , wenn Gärtner Viererklee züchten und mühlose Kleetöpfe auf dem Neujahrstisch stehen. Beim Kleesuchen hilft ihr ein Peter, ein schwarzer sogar und gleichaltriger. Aber er ist dumm, insofern, als er die Klischees von den Mädchen selbst angesichts Quentas nicht revidiert. So leidet Quenta die Schmerzen a) der Unrechterfahrung, b) des Alleinseins unter Gefährten. Behandle ihn wie eine Puppe, rät ihr eine weise weiße Katze, machs wie ich mit den Menschen: such ihre Nachbarschaft, aber kenn ihre Grenzen und unterwirf dich nicht. Bleib du selbst. Quenta ist aber im Moment noch Zu mild, um das voll zu verstehen und auszuüben. So versucht sie, Peter durch Worte und Geistbeweise in Ordnung zu bringen, aber er bleibt wirr wie ein Zimmer voll Bettfedern und definitiv wie die Flugunfähigkeit der Ratte. Die kleinen hellgrünen Blättertröpfchen haben Verständnis für Quentas Lage; formieren sich nicht zuviert. Die Unabergläubische begreift auf dem Umweg über die Wahrscheinlichkeitsrechnung: als Symbol für die Häufigkeit kommunikabler Gefährten ist vierblättriger Klee durchaus ernstzunehmen.
  article#kleine-dinge-5
    h2.inline-title Kleine Dinge 5.
    p
      | Ein verlorenes 
      a.arrow(href="kopftuch.html") Kopftuch
      | .
