extends ../../templates/layout
block page-vars
  - const title = "Knopf"
block main
  article#knopf
    h2.inline-title Knopf.
    p
      | Das zieht natürlich die Leute in seinen Sog und facht die Harmonika-Feuerung an, entlockt auch dem glühenden Blechschiff im Zischwasser ohrenzerreißendes Tuten. Daß der Lehmkopf voll sparsamgrüner Weintreppen jetzt schon dem rechten Kulissenufer einen nahenden Hintergrund macht; daß es den Auwald aber zerreißt und die Stadt drinliegt, gleich ist sie beschreibbar, wenn einmal die Brücke, zum Beispiel das riesige Lagerhaus, die unmittelbar herankommt, ein Weißhaariger bläht den roten Brustkorb, hier möchte er ja gleich vom Schiff ins Wasser, denn es ist Schwimmwasser, passiert ist, und neben dem Lagerhaus der Wohnklotz unproportioniert massig und aufragend vom flachen armen verschlafenen Hügel (rechter Stadtausläuferflanke), und wirklich sind wir unter den verschränkten Eisenflüchen der Brücke, die zehnten, was das Metall alles zusammenschimpft, treffen unseren Kopf, ja, schaut, die Stadt ist wieder weg, idyllische Schraubflaschenpicknicker im Ufergras bei den weidenden Autos, richtiges Schlachtenwetter, euer Strand wird gerammt, das junge Frauchen mit ausgeprägter Vasenfigur im einteiligen Rottrikot wird als Galeonenmiss gespießt, eh sie begreift aber mit Preßluft in den Backen schwimmen da schon die frechsten Buben an, erst im Augenblick vor dem Sieg können wir sie mit der Kielwasserzentrifuge zerstäuben, und im Tod noch spucken sie ein »Tod den Piraten« an Bord. hier hilft nur ein Bauch-007, aber dieser Bauch rennt grimmend vorbei zu den Waschräumen, nnd aus der Au entsteht eine vielstöckige Menschenbarrikade, winkend und um diese Tageszeit kann man schon im Schwimmdreieckchen die Stadt bevölkern und sehr viele Arme und Beine verflechtend und lachen und Schwimmhauben tragen oder meiden und Hunde mit abgeschälten Stöcken ins Wasser kommandieren. Wir winken und flattern und fleischeln zurück, und unsere Schwimmhosenmann- und Bikiniweibschaft tritt zum Gegenangriff an, den Kokosankerwurf nicht abwartend und den Steg stürmend, an dessen Ausgangseingang Gekreisch, Zertrümmerung, viele Ohrfeigen, Ellenhiebe. Verwandtenumarmungen und Nacktpärchenaufküssungen entstehen. Irgendein Zivilistenmarsch schmettert aus der rotblaugelbgrünen Station mit dem weißen weißgelben weißblauen Licht drauf und mit den schattigergrünen Verzierungen, aus denen dicke rote orange und violette Blumen wachsen. Knopf, die schönste Einveborenenstadt der Welt. Und wie sie ins Restaurant wimmeln und aus allen seinen Fenstern ausdringen und würmeln und wursteln und all die Lastwagen voll Speiseeis, die unauffällig umherstehen, leerschlecken, mit den Bechern wedelnd und Tüten winkend und quietschend, wenn sie sich mit Papierbändern anwerfen und Sodawasser bombardieren.
    p
      | Tuuuuu und von der I.andorgie abgeschnitten und schon ist sie ein kleines Postkärtchen für die Erinnerung und was wir mitnahmen richtet sich jetzt Klappstühle hortend scharrend lärmend schwatzend an unserm Bord ein und wir nehmen die Uferparade ab, die bunten Bänke (
      a.arrow(href="bunte-stuehle.html") bunte Stühle
      | ) auf der 
      a.arrow(href="promenade.html") Promenade
      | , na also, die rechte Seite hat jetzt endgültig ihren Terrassenhügelhintergrund, und was ist das für ein neuer Affentanz, jetzt regnet es ja Brücken, die vielvermißten; sie schlägt eine Trapezkapriole rechts über ein Flüßchen, was heißt!, über einen ganzen 
      span.small-caps Sporthafen
      | , »Sporthafen Knopf«, in den man, unser Schiff optisch verlassend, mit roten Holz- und Motorbooten in ein neues Leben einzweigen kann, Wasserbrüdern und -schwestern nachlaufen, kreischend, Nasse ins nasse Wasser schmeißen, naß lachen, plustern, crawlen, eine Maske von nassen Haaren um den Wasserkopf haben, irgendwo einen Dreizack der lehnt entlehnen und damit Nymphen jagen und Donauweibchen abschuppen und mit Petersilie und Zitrone zubereiten. Drei Trampoline wirbeln auf einmal hoch und schmeißen blaue und rote Selbstmörder in die zum Schreien lustige Vernichtung. Die ganze Landschaft ist besät mit Schnippeln Menschenhaut, in fortwährender Bewegung in allen Varianten von 
      a.arrow(href="braun.html") Braun
      |  (beige, mocca, olive, puter, nuß, schweinchen, grill). Von Textilfleckchen mühsam zusammengehalten Atmendes, Wölbendes, Sprengendes, Hüpfendes, Ulk, Bedürfnis, Lebenslust, Nachbarschaft, Herausforderung. Und die Fleckchen selbst: zweite angeschmiegte, angepickte bunte Haut, miterregend, miterregbar, mitkneifbar, mitklatschbar, mitliebbar.
    p
      | 
      em Schön wärs, aber spielen tun sie
      |  meine Exporteurfahrt nach Druden, die Donau nicht rechts hinein, sondern gradaus weiter, immer der Stadt Knopf flußentlang die Parade abknöpfend, zum kahlen Terrassenberg in ihrem Hintergrund salutierend. Hochgenuß am Immerwiederstrand, dem Strand der wildbadenden Städtchenbürger, Familienmütter, Hundeväter mit Triller Schimpf und Stein: eine dicke Matrone grüßt das Schiff, Arme und Beine gegrätscht, in schwarzem Trikot. Ihre klatschdicken weißlichen Oberschenkel. Super-Barbara, Wahrzeichen. Und gelbes 
      a.arrow(href="oedstaetten.html") Ödstätten
      | -Unkraut am Immerwiederstrand, der flach ins magersiedlige Städtchen einbuchtet.
    p
      | Das Streusel der vielen Häuschen auf dem Kahlkopf im Hintergrund und auf den Ausläuferwellen in die Ebene: Dutzende Optiken drehen Knopf, Wein und Donau: Chemiekaufmanns Bärtchen rechts am Aug vorbeifahrend, Chemiekaufmanns Golduhr am linken Horizont auftauchend, während der rechte (hintere, schräglinke) Nachbar dengelt (hustet, Zeit vertratscht).
    p
      | Wir haben aber jetzt die Möglichkeit, auf Straßen, gleich einigen, vom Ufer aus in die Stadt zu dringen; hinter der Kulisse stehen wirklich Kulissen! Namentlich eine Kirche hält Frühnachmittagsruhe, kocht im Schamott-Sonnenofen ihr Weihwasser, betet menschenleer um ein nächstes Jahr voll Maiandachten und schwachen Maikäferbefalls — Schwermut des Juni, bitt für uns Barabbasse und Barbarabarbaren, amen. Die Kirche ist jetzt ans Ufer gewatschelt, mit ihrem Kirchplatz der Bänke und Büsche, — ihre Zivilbäume, von denen man gleich in die 
      a.arrow(href="oedstaetten.html") Ödstätten
      |  abrutscht, ersetzen die Flottenbaumdivision der unbesiegbaren Au. Wer würde da keine bunte Zeltstadt — mit ocker, rot, blauen Eintagspyramiden, trapezförmiger Einstiegstür in den Reaktor von Weib- und Männchen — hinstellen, wo doch auch ein wirklich grüner Hügel den Kahlhügel abgelöst hat; schon erkennt die sich steigernde Üppigkeit nur mehr ein 
      em rotverziertes
      |  Wohnschiff an, und alle lärmenden Schichten unseres Schiffes drängeln durcheinander und stauen sich am Trichterrand meiner Aufmerksamkeit.
    p
      | Denn meine Aufmerksamkeit will noch nicht; läßt sich vom Bordgeziefer nicht um den raumlosen Übergang in die nächste Stadt bringen, den das 
      a.arrow(href="knopfer-tor.html") Knopfer Tor
      | , nachdem es Senfer Tor geworden ist, vollzogen hat. 
      a.arrow.main-route(href="senf.html") Senf
      | .
