extends ../../templates/layout
block page-vars
  - const title = "Knopfer Tor"
block main
  article#knopfer-tor
    h2.inline-title Knopfer Tor.
    p
      | Man tritt ins Tor und ist plötzlich im Tor einer Weltstadt, im Licht, nach seiner Finsternis, rumort, wimmelt und schaufensterglitzert das Citygäßchen einer Weltstadt, und dreht man sich um, liegt im Licht, nach seiner Finsternis, ein zweites Citygäßchen einer Weltstadt, mit Juwelieren, Antiquitätenläden; umfärbende Brüden und erstickende Parfums quellen aus Coiffeursalons, und für die Ankunft im Airport oder im Hiltonhotel empfehlen sich massige neuhelle Schweinslederkoffer. Dämchen auf Glasstöckeln und in Puderwolken haken sich in rosa Gecken, und Orchideen am okapiledernen Herrenschuh oder im durchstochenen Herrenohr sind keine Seltenheit. Grüßt man lettisch, wird man auch verstanden. Der Autoverkehr spielt sich auf Drehscheiben ab und aus allen Magnettüren dringen Stereoschlager. Die prächtigsten Läden liegen im Dunkel des Tores, mit Phosphoreszenzbeleuchtung nutzbar gemacht, Blau-, Violett- und Orangelicht aus Plasmaröhren oder natürlichen Stromquellen der Tiefseefische. Ein wenig marktschreierisch findet man die Tausende Fahnen in den Farben Knopfs und Senfs. Tritt man aus dem Tor, genügt der Augenblick des Aufpassens (ungerädert den Gehsteig der Tageslichtstadt zu erreichen) um allen Cityspuk zu zerstreuen. Einförmig liegt das Gäßchen im weißgrellen Tageslicht, Grün und Staub und Steinhäuschen, und 
      em Felleisen auf dem Rucken
      |  wandert der Handwerksbursch von weither über Knopf nach den 
      a.arrow(href="feldstreifen-von-senf.html") Feldstreifen von Senf
      | , um in irgendeinem Abend die deftigen Betten von Druden zu erreichen.
