extends ../../templates/layout
block page-vars
  - const title = "Knopfbach"
block main
  article#knopfbach
    h2.inline-title Knopfbach.
    p
      | Knopf vom Knopfbach aus: Windwurmgasse 1 hat ihre Fortsetzung in Riegelgasse 3 und Speckmessergasse 5, ums Eck der dritten Seitengasse geht die Riegelgasse weiter. Dörrfrauen hängen in den Fenstern, haben ihre löcherige Galle an der Hofleine aufgehängt. Im 
      a.arrow(href="wallgraben.html") Wallgraben
      |  liegt ein Abgehäuteter, obwohl die Gassen sonst rein sind; die ersten Straßenkehrer nach jenem Blutbad hielten sich für inkompetent, die späteren ihn für ein Naturdenkmal. Die 
      a.arrow(href="stadtbibliothek.html") Stadtbibliothek
      |  trägt die Inschrift: »Jeder, der viel wußte, hatte noch Verluste.«
