extends ../../templates/layout
block page-vars
  - const title = "Körper"
block main
  article#koerper
    h2.inline-title Körper.
    p
      | Wir fressen wie die Hirschkäfer, aber sind die einzigen, die 2036, wenn Ikarus die Erde rammt, imstande sind, auf Ami-Sonde AN 1 (in freundlicher Erinnerung an den Sintflutvater) ein Hirschkäferpaar zu Proxima Centauri hinüberzuretten.
    p
      | Darum lehne ich euch, Puritaner wie Sexualisten, ab.
    p
      | Karl Jaspers, Psychopathologie: Freud sieht, was durch Verdrängung der Sexualität entsteht, oft außerordentlich treffend. Aber er fragt nicht ein Mal, was durch Verdrängung des Geistes entsteht.
    p
      | Ihr Leser aber nehmt, bitte, mit mir die losgelöste Körperfreude für eine Unvollständigkeitsform der Erotik, freut euch der Freude und bedauert die Unvollständigkeit.
    p
      | »... So führt sich«, sagt, aus anderer Perspektive, Thomas von Aquin, »was im hinkenden Gang an Schreiten ist, zurück auf die Kraft der Bewegung; alles aber, was darin an Schiefem ist, das entspringt aus der Mißbildung des Schenkels. Darum ist nichts Unangemessenes in dem Gedanken, daß Gott mit den Ehebrechern mitwirke in deren natürlichem Tun und ihm seine letzte Vollendung gibt. 
      em Die bösen Taten sind gut — soweit das zur Rede steht, was sie an Sein besitzen.«
    p
      | 
      a.arrow(href="begruendung-fuer-den-artikel-koerper.html") Begründung für den Artikel Körper
      | .
