extends ../../templates/layout
block page-vars
  - const title = "Kollaboration"
block main
  article#kollaboration
    h2.inline-title Kollaboration.
    p
      | Einer Kollaboration werden mich vielleicht Leser bezichtigen, die gewohnt sind, »außer-« und »innersprachliche« Dichtung als Feindespaar zu sehen. Wenn ich, Real- und Moralist, nun (zB in einem Artikel über Steinbrüche) Sprachspiel zu treiben scheine, sieht es wie Kleinbeigeben gegenüber den »Innersprachlichen« aus. Dies trifft nicht Zu. Da es mir, wie schon gesagt, um die Sache und nicht um die Sprache geht, sind mir auch »innersprachliche« Mittel willkommen, um einen Wirklichkeitsverhalt oder einen Verbesserungswunsch schärfer, facettenreicher oder injektiver zu kommunikabilisieren. Mit »innersprachlicher« 
      em Haltung
      |  möge man diesen Mitteleinsatz nicht verwechseln. (Man informiere sich auch, wieweit er ein 
      a.arrow(href="nachziehverfahren.html") Nachziehverfahren
      |  bedeutet.)
    p
      | Ich kann mir übrigens vorstellen, daß ich damit eine Ermunterung gebe, die Synthese von »außer-« und »innersprachlicher« Experimental-Literatur im zeitgenössischen Bewußtsein zu etablieren.
