extends ../../templates/layout
block page-vars
  - const title = "Komposition"
block main
  article#komposition
    h2.inline-title Komposition.
    p
      | Hiermit bestätige ich, daß auch dieser Roman eine Ordnung hat. Es ist nicht die Ordnung der Sinfonia, sondern der Jam session. Zur Herstellung des Wissenszustandes, wieweit die Ordnung der Jam session von jener des Entropiezieles abweicht, befrage man sanftmütige Jazz-Interpreten.
