extends ../../templates/layout
block page-vars
  - const title = "Kopftuch"
block main
  article#kopftuch
    h2.inline-title Kopftuch.
    p
      | Übung: ausscherende Denkbewegung
    p.no-indent von
    p
      | 
      span.small-caps Jahrmarkt
      |  (Umfeld probeweise selbst basteln)
    p.no-indent zu
    p
      | in Kopftuchköpfen gedachten Gedanken (probeweise selbst denken).
