extends ../../templates/layout
block page-vars
  - const title = "Korrupte Bräute"
block main
  article#korrupte-braeute-1
    h2.inline-title Korrupte Bräute 1.
    p
      | Nun habe ich sie also geheiratet. Noch im Mai verpatzte sie mir die zweite Etappe des Ausflugs, indem ich standhaft an ihrem Haus vorbeiging und all die Abenteuer des weiteren Tages diesen Verzicht nicht wettmachten. Sie ging dort auf sauberen hellblauen Fliesen umher, sechzehnjährig, im Sonnenlicht, nahe ihrem noch jüngeren Schwesterdouble, ihr Alpenvollmilchgesicht von etwas altmodischer Erotik wie die Gesichter vieler dicklicher Mädchen, und gewiß würde sich auch sonst viel Schönes meinem Streicheln entgegenwölben. Zur hellen Haut des Trumms Milch kontrastierte gut das Kakaobraun der Mindest-Verpackung, zu den erdhaften Kilogrammen die wieslige Ubiquität.
    p
      | Das Weltlein, das ich bei jenem Ausflug in einem Anfall von Selbsttäuschung links liegen gelassen hatte, war nun durch einen Handstreich meine Welt geworden. Wir eroberten uns das Glück im Sturm, und Dollis nächste Regel wird gewiß schon ausbleiben, denn — so jung sie ist — wir wünschen uns viele Kinder. Die Kinder dieser Familie sehen alle gleich aus, dies ist vielleicht ein Zug bäuerlicher Beharrlichkeit.
    p
      | Diese Braut ist korrupt, weil sie mich ohne Warnung genommen hat. Wie bringen wir einander unseren Freunden bei und worüber handeln wir nach Ablauf der Flitterwochen, wenn Erstes und Zweites Programm gleichöde Blaulichtberieselung bieten?
  article#korrupte-braeute-2
    h2.inline-title Korrupte Bräute 2.
    p
      | Sie trägt nicht Ringlottenrot, sondern Weiß! Sie tut nicht: hundeln, ackern, verbleien, streicheln, rutengehen, Wellpappe ordnen, sondern: lächeln! Sie erteilt ihren Verwandten nicht Ohrfeigen, Ringelnattern, Ölung, sondern Küsse und Händedrücke! Sie wiegt 42 kg und hat 36.0° Morgentemperatur! Sie hat soeben geheiratet einen: Mann ! Sie wird aufbauen keinen Hochofen, Transformator, Fuchsbau, UNIDO-Wolkenkratzer, sondern einen Hausstand! Sie tritt nicht in ein Schienbein, Eisbein, Fischbein, in Olmützer Quargeln oder Harzer Käschen, sondern in den Ernst des Lebens!
    p
      | Darum scherzt sie, scherzt, scherzt. Jeder Zoll also eine Ungenauigkeit, genannt Braut, austauschbar gegen Großwetterlage, Funkstreife und Tagesspiegel.
  article#korrupte-braeute-3
    h2.inline-title Korrupte Bräute 3.
    p
      | Weiße Bräute muß man mit allen mühsamen Eckchen aus weißem Holz aussägen — es ist das Feld, in dem Laubsägearbeit zu Spitzenklöppelei wird. Ein Mann mit Stoppuhr überwacht die Geläufigkeit. Weiße Bräute kann man auch in Apotheken kaufen, nur muß man die Lizenz haben. Sie stehen in weißen Regalen zwischen Talk und Clownpuder, Frauenmilch und Weißmehlstreu für Hundekrätze, man kann anderseits mit ihnen nicht die Bälle nachweißen und die Brillen putzen, selbst die Hochzeitsschuhe mit der Dorneinlage nicht weißzuckern.
    p
      | Durch Selchfleisch sind sie unbestetlich. Männer tauschen sie nur gegen Vorauskasse. Sie singen aus Kohlweißlingkehlen, solange die Brautschulung nachhält. Sie schminken ihre Bettwangen mit Sahne und Lilien. Dringt der -gam in sie ein, versprüht er Eselmilch.
    p
      | In weißem Licht sind sämtliche Spektralfarben vereinigt, man braucht nur zu wählen. Aus blauem Licht erwählt man Violett oder jenes wunderschöne Sonnengrün niemals. In Weißglut verkohlen die Feinde schmerzlos. Also sind an jeden, der sich mit Weiß gleichsetzt, kritischste Maßstäbe anzulegen. Wer, wie Fräulein Doris, weiße Brautfarbe gedankenlos annimmt, ist korrupt.
  article#korrupte-braeute-4
    h2.inline-title Korrupte Bräute 4.
    p
      | Man setze hierher, was man ohne Hilfe des Autors hierhergesetzt hätte. Es übertrifft alle Vorstellhilfen. Nur den Ratschlag: zu verweilen; an eine so ganz und gar korrupte weiße Braut zu denken; nicht beiläufig, sondern alptraumfüllend; nur diesen Ratschlag — der das Leben des Lesers im Grenzfall radikal umstülpen kann — hält sich der Autor zugute.
  article#korrupte-braeute-5
    h2.inline-title Korrupte Bräute 5.
    p
      | Für jene, die alles in Torte auflösen: Man stülpe eine weiße Mütze auf, nehme
    .list-grid.left.col-3
      .num 100 
      .text g 
      .text Gipsmehl,
      .num 10 
      .text  
      .text Schwaneneier,
      .num 100 
      .text g 
      .text Gänsefett,
      .num 100 
      .text g 
      .text
        |
        span.small-caps Jasmin
        | -Blüte,
    p
      | verrühre unter langsamem Weißbierzusatz zu perfekter Knetbarkeit, würze mit Weißdornsaft und Bleiweiß, süße (kalorienfrei) bis zur Weißfärbung der Zunge, forme Weißtörtchen und backe sie auf weißlackiertem Weißblech bei Weißglut bis zu völliger Weiße. Dann wasche man sie mit ⁂ noch weißer, schneide sie mit dem Weißrübenmesser in Schichten und fülle sie mit Weißwurst. Man glasiere mit weißem Nagellack, bestreue mit zermörsertem Weißdruckpapier und serviere auf Kreideteller. Die Törtchen nenne man »korrupte Bräute«. Sie erfreuen sich bei Junggesellenparties großer Beliebtheit.
  article#korrupte-braeute-6
    h2.inline-title Korrupte Bräute 6.
    p
      | Das Schwarz echter Konkubinen ist seriös wie ein Blinddarm, das Weiß echter Bräute mit Brautunterricht ist seriös wie Rindsbraten, das Weiß korrupter Bräute aber zeigt Zunge und Kürbis. Hinter all dem Bespitzten, Beschleppten, Gestärkten sind Gelüst, Geschäft und Gespött nur notdürftig verborgen, »Gelüst«, versteht sich, auf all die Hunderte Nichtbräutigame, deren Panorama sich beim Ausschritt aus der Kirchentür nun überwältigend auftut. Jeder gutgejagte Hase hält solches Brauttextil schon beim ersten Schnuppern für eine mittelmäßige Imitation aus Butterbrotpapier oder Oblatenteig; wenn die korrupte Braut die Schleppe hebt, gibt sie kein Guck-Guck für das keusche Auge des Bräutigams frei, sondern läßt einen schadenfrohen Furz fahren, ein Blitztelegramm an den höllischen Boß, daß alles geklappt hat.
    p
      | Die Dorf- oder Grätzel-Bewohner aber haben ihre Freude ungetrübt, ich gebe es zu, denn das Weiß stimmt gut zu einem heißen Mittmaitag, ist garantiert aus allen Spektralfarben zusammengesetzt, und die Braut hat einen echten Körper mit Rehaugen, Goldfischmündchen und Brotteigbrüsten.
