extends ../../templates/layout
block page-vars
  - const title = "Krämer"
block main
  article#kraemer-1
    h2.inline-title Krämer 1.
    p
      | Petroleum, 1 Sorte ausrauchender Kaffee, Salzgurken im offenen Glas, echte Wachskerzen, Schmierseife im quellenden Holzkübel, Parfumbar »Margit« (Rosen, Veilchen und Maiglöckchen in rosa, violetten und milchblauen Flakons), Hering (marinierter und geräucherter), alles riecht durcheinander ineins, in den Geruch des Krämerladens. »Chramer, gip die varwe mir, diu min wengel roete«, heißt es in den buranischen Liedern. Die Mädchen, die dort Farbe kaufen, damit sie den jungen Mann' uf dem Anger ihre minniglichen Nöte zeigen, stehen schon Jahrhunderte herum und kommen nicht dran, verstellen mir den Weg zum Ladentisch, wo ich eine Spezialität: gesponnenen Käse, karamelierte Weintrauben oder Pfeffernüsse kaufen will. Eine trägt einen Minirock, eine einen Komplex: sie fürchtet, daß aus dem Gewölb ein grauroter Hund auffletschen wird. Süßwaren hält man hier noch in zugeschliffenen Gläsern. Die Schliffe sind gesprungen, und in den Sprüngen staut sich Zuckerzement aus Kanditen und weißem Straßenstaub verlassener Hügel. Über den Hügeln fliegt wohl manchesmal ein Flieger, das ist aber eine Seltenheit, und die gab es auch schon zu buranischen Zeiten. Der größte Feind der Krämer ist die Großeinkaufsgenossenschaft. Die Genossenschaftsläden verkaufen Pommes chips aus Blech, und um den Service der schöngefärbten Verkäuferinnen muß man nach den Regeln der Minnehöfe werben. Krämer jammern immer über Stufen: allweil sind die ausbesserungsbedürftig, und es fehlt an willigen Taglöhnern. Warum hängen in den Krämerläden Kalender ägyptischer oder bolivianischer Versicherungsgesellschaften? Eine alte Einkäuferin riecht wie die alte Verkäuferin nach hausgewaschenem Karzinom, sie verstehen einander glänzend, vor allem in Fragen der 
      em heutigen Jugend
      | , eingedenk ihrer 60 Jahre lang benachbarten Kirchenstühle. Schön blaurot ist der Joseph, was? (»Heilige« erübrigt sich nach so langer Familiarität.) Schön rot-blau die weinende Maria, was?, funktioniert es reibungslos zurück.
  article#kraemer-2
    h2.inline-title Krämer 2.
    p
      | 
      a.arrow(href="kraemer.html#kraemer-1") Krämer 1
      | . Nein, Sie lesen dasselbe nicht zweimal? Und wenn ich Ihnen sage, Sie haben den Mittelteil zu hudelig konsumiert? Gönnen Sie sich diesmal mchr Stehfleisch, im Krämerladen, warten Sie, von Einheimischen angestoßen, bis die alte Verkäuferin Sie drannimmt, und schauen Sie sich derweil schicksalsergeben um.
