extends ../../templates/layout
block page-vars
  - const title = "Kreissäge"
block main
  article#kreissaege-1
    h2.inline-title Kreissäge 1.
    p
      | Alphard Mutz erwachte eine Stunde nach dem Einschlafen und noch ohne späteren Geschützdonner, 8-, frühestens 6jährig. Licht brannte noch im Zimmer, das Angenehme des Nichtmehr-Heute/Noch-nicht-Morgen, noch nicht ausgebrannten Tages, im Elternzimmer ging das Leben noch weiter, Sumpfwanderung vom Tag oder Vorjahr mixte einen Halbschlaf, in den übergroß angeleuchteten Sumpfdotterblumen entstand ein Blickzentrum, und daraus heulte es nun kreissägegrell
    .ni-i-i-i-i-i-li
      .ni-1 Ni i
      .ni-2 i
      .ni-3 i
      .ni-4 i
      .ni-5 i
      .ni-6 li.
    p Die Niili war das erschrecklichste Weib der ganzen Kindheit, dabei vielleicht erst ein 16jähriges Mädchen, aber am nächsten Tag und vielen anderen würde Alphard Mutz aus dem penetranten Geschrei der lireissäge ihren Namenszug heraushören. Was wollte Niili damals eigentlich von ihm? Wollte sie ihn schlachten? In die Sägblätter nehmen? Ihm eine Ahnung von der Hölle mit ihren abenteuerlichen Landschaften und Zerrmenschen geben? Warum trat sie als Mädchen auf, da Alphard Mutz doch hauptsächlich mit Mädchen spielte und weder jetzt noch später ihnen bös war?
    p
      | Als Alphard Mutz' Freund die rechte Hand in der Kreissäge verlor, ließ es Alphard merkwürdig kalt.
  article#kreissaege-2
    h2.inline-title Kreissäge 2.
    p
      | Der rohbraune Kreissägetisch. Und das Schreien. Das Glockenbimmeln beim Einlegen. Das gelbe Warnschild mit der rotblutenden abgehackten Hand. Und das Schreien. Der abfliegende Sägestaub, der aufbrechende Terpentinduftspeicher. Und das Schreien. Ablängung auf Stücke von 1m, Aufplatschen der Schnittstücke. Und das Schreien. Damit die Säge sich nicht festklemmt wird die Zahnlinie dicker als der Rücken ausgeführt, oder die Zähne werden geschränkt. Jetzt macht der Arbeiter Pause. Am Fuß des Kreissägetisches stehen zwei Bierflaschen. Die Kreissäge schreit jetzt nicht. Sie wurde 1799 in Frankreich patentiert. Der Lehrling trägt jetzt geschnittene Stücke weg. Die Mantelzähne sind aus Schnellstahl, Schnittgeschwindigkeit bis zu 70 m/sek. Der Arbeiter kratzt sich den nackten braunen Bauch und läßt den Motor weiterrennen. In Bodenfugen verirren sich Blumen. Der Lehrling hinkt jetzt. Ein Sägeblatt, das während der Rotation flattert, kann Nuten in das Holz schneiden. Das Vergnügen, Genutetes zusammenzusetzen. Jetzt knallt ein Pfosten auf den Tisch. Und das Schreien. Alles muß zusammengeschnitten werden. Was ist dir draufgefallen? Und das Schreien. Es gibt auch Besäum-, Aufteil- und Formatkreissägen. Die leeren Bierflaschen werden um zehn eingelöst. Eine sich entfernende Kreissäge schreit allmählich leiser und fällt irgendwann aus der Aufmerksamkeit.
  article#kreissaege-3
    h2.inline-title Kreissäge 3.
    p
      | Encore Edibelbek litt wie Alphard Mutz (
      a.arrow(href="kreissaege.html#kreissaege-1") Kreissäge 1
      | ) unter der Furcht vor Sägen, hatte allerdings konkreten Grund, weil seine Eltern im Sägewerk wohnten.
    p
      | Heute, sagte Tamen Edibelbek, siehst du dir das Maschinenhaus an, mit der Kreissäge (Zirkularsäge, sagte man damals; Encore Edibelbek heulte bereits), der Spaltmaschine, der Gattersäge . . (Gattersäge war das schrecklichste Wort). Jetzt kommst du mit. Encore Edibelbek hatte das rechte Gefühl für solch indikativisch getarnte Imperative; woher weißt du, daß ich mitkomme?, fragte er. Aber nach einer Maulschelle stand er doch im Maschinenhaus, schnackender Knie, wundgezerrter Arme, wurde jetzt also geschlachtet, die Kreissäge schrie für ihn, grell und hinunter, es begann ein Stadium, wo Edibelbek alles wurst war, und nun vor der Gattersäge konnte er die senkrechte, tief in eine Grube fortreichende Höllenmaschinerie bei abgeschalteter Furcht betrachten, wie der Häftling den Ofen, in den er nun lebendig geschoben wird, und irgendwann gab es dann doch einen Mittagstisch in der Rosenlaube, denn es waren schöne Sommertage, und schön war es, überlebt zu haben, doch hielt Edibelbek nie übermäßig viel von der befreienden Wirkung solch vorläufiger Rettungen.
