extends ../../templates/layout

mixin hiddenWords(words)
  each word in words
    span.rel
      span.abs „
    span.hidden= word + " "

block page-vars
  - const title = "Küssen"
block main
  article#kuessen-1
    h2.inline-title Küssen 1.
    p
      | 
      em Nur für Jungen! Das stumme Spiel der Lippen.
      |  Auch die Unerfahrenen und die Schüchternen brauchen nicht zu verzweifeln. Unsere Zeitschrift hilft ihnen mit einer Schule der Kußarten. Jede schenkt den Liebenden neue und andere Wonnen.
    ul.vertical-margin
      li 
        | Der Kuß der Verehrung: etwa so, wie der Frühlingswind die Weidenkätzchen umschmeichelt. Er wird abgeleitet von dem Kuß des Moses auf die Gesetztafeln.
      li 
        | Der Kuß des Versprechens: leicht und zärtlich auf beide Augen; erst auf das rechte, dann auf das linke. Verweile bei jedem Auge nur sekundenlang, und das Mädchen wird ver stehen, daß du innerlich soeben ewige Treue gelobtest, wie es arabische Heerführer taten, wenn sie in den Krieg zogen.
      li 
        | Der Kuß der Zuneigung: Du stehst seitlich neben dem Mäd chen und hältst ihren Kopf umfangen. Dabei küßt du sie mit einer streichelnden Bewegung kurz unter dem Haaransatz. Damit beweist du ihr, daß du ihr niemals in unziemlicher Weise nahe treten würdest.
      li 
        | Der Kuß der Stärke: Du ergreifst mit deiner rechten Hand den linken Oberarm des Mädchens, drückst ihn etwas nach vorn und umschließt mit deiner linken Hand ihren Unterarm. Dann ziehst du den Unterarm zart an dich, die Innenfläche nach oben gewendet, und küßt die Innenfläche eine Handbreit über dem Handgelenk. (Nicht ausrenken!) Auch dieser Kuß stammt von ins Feld ziehenden Kriegern.
      li 
        | Der Kuß der tausend Wünsche: Hier drückst du einen Kuß auf die Oberfläche des Oberarms, etwa eine Handbreit über dem Ellenbogen. Dieser Kuß drückt all die Wünsche aus, die ein Liebender an die Geliebte hat, Wünsche jedoch, die stets vom Respekt beherrscht werden.
      li 
        | Der Kuß der wahren Liebe: Er ist die Krone des Kusses. Er gilt jenem Menschen, den man wahrhaft liebt und mit dem man sich eine Verbindung fürs Leben wünscht. Du mußt deine leicht angefeuchteten etc.
    p
      | Unzählige Gedichte sind dem Kuß gewidmet. Eines der schönsten stammt von Franz Grillparzer.
    p
      | Du hast jetzt alles über den Kuß gelernt, und dein Verständnis für die Bewunderung dieser Königskrone der Liebe ist sicherlich groß genug, um sie zu teilen. Dazu gehört jedoch nicht nur das »Gewußt wie«, sondern auch das »Gewußt wo«. Dieses »Gewußt wo« erfährst du im nächsten Heft. Tschüß.
  article#kuessen-2
    h2.inline-title Küssen 2.
    p
      | Aus einer erweiterten Kußschule (
      a.arrow(href="kuessen.html#kuessen-1") Küssen 1
      | ) mit Dezimalnumeration:
    .grid
      .numbis 0.00
      .bis bis
      .num 4.99 
      .text Die bereits durchgenommenen Salon- und Anfängerküsse
      .numbis
      .bis 
      .num 5.00 
      .text Der Stirnprothesenkuß
      .numbis
      .bis
      .num 5.10 
      .text Der Wimpernzupfkuß
      .numbis
      .bis
      .num 5.20 
      .text Der Nasenlöcherkuß (unerkältet)
      .numbis
      .bis
      .num 5.21 
      .text
        +hiddenWords(["Der", "Nasenlöcherkuß"])
        | (erkältet)
      .numbis
      .bis
      .num 5.40 
      .text Der Damenbartkuß (flachsblond)
      .numbis
      .bis
      .num 5.48 
      .text 
        +hiddenWords(["Der", "Damenbartkuß"])
        | (maulwurfbrünett)
      .numbis
      .bis
      .num 5.49 
      .text
        +hiddenWords(["Der", "Damenbartkuß"])
        |(schwarz)
      .numbis
      .bis
      .num 5.55 
      .text Der Damenvollbartkuß
      .numbis
      .bis
      .num 5.92 
      .text Der Doppelkinnkuß
      .numbis
      .bis
      .num 5.93 
      .text Der Dreifachkinnkuß
      .numbis
      .bis
      .num 5.94 
      .text Der Vierfachkinnkuß
      .numbis
      .bis
      .num 6.00 
      .text Der Rauchfangkehrerkuß
      .numbis
      .bis
      .num 6.10 
      .text Der Drillbohrerkuß
      .numbis
      .bis
      .num 6.20 
      .text Der Ferdinandkuß
      .numbis
      .bis
      .num 6.70 
      .text Der Zwiebelkuß
      .numbis
      .bis
      .num 6.80 
      .text Der Senfkuß (Estragon)
      .numbis
      .bis
      .num 6.81 
      .text
        +hiddenWords(["Der", "Senfkuß"])
        | (Kremser)
      .numbis
      .bis
      .num 6.93 
      .text Der Blattlauskuß
      .numbis
      .bis
      .num 7.00 
      .text Der Achselhöhlenkuß (desodoriert)
      .numbis
      .bis
      .num 7.01 
      .text
        +hiddenWords(["Der", "Achselhöhlenkuß"])
        | (naturfrisch)
      .numbis
      .bis
      .num 7.10 
      .text Der Armreifenknackkuß
      .numbis
      .bis
      .num 7.39 
      .text Der Büstenhaltersuchkuß
      .numbis
      .bis
      .num 7.54 
      .text Der Miedersprengkuß (Größe 4)
      .numbis
      .bis
      .num 7.55 
      .text
        +hiddenWords(["Der", "Miedersprengkuß"])
        | (
        +hiddenWords(["Größe"]) 
        | 5)
      .numbis
      .bis
      .num 8.00 
      .text Der Schwimmhäutekuß
      .numbis 8.50
      .bis bis
      .num 8.59 
      .text Die Strumpfküsse
      .numbis
      .bis
      .num 8.98 
      .text Der Oberschenkelkuß (straffes Fleisch)
      .numbis
      .bis
      .num 8.99 
      .text
        +hiddenWords(["Der", "Oberschenkelkuß"])
        | (schlabbriges Fleisch)
      .numbis
      .bis
      .num 9.30 
      .text Der Gesäßspaltenkuß
      .numbis
      .bis
      .num 9.32 
      .text
        +hiddenWords(["Der", "Gesäßspaltenkuß"])
        | (mit Jasminparfum)
      .numbis
      .bis
      .num 9.33 
      .text
        +hiddenWords(["Der", "Gesäßspaltenkuß"])
        | (
        +hiddenWords(["mit"])
        | Hagebuttenparfum)
      .numbis
      .bis
      .num 9.40 
      .text Der Känguruhkuß
      .numbis
      .bis
      .num 9.57 
      .text Der Strumpfbandgürtelkuß (besonnen)
      .numbis
      .bis
      .num 9.58 
      .text
        +hiddenWords(["Der", "Strumpfbandgürtelkuß"])
        | (unbesonnen)
      .numbis
      .bis
      .num 9.59 
      .text Der Keuschheitsgürtelkuß
      .numbis
      .bis
      .num 9.68 
      .text Der Vorkuß zu 9.69
      .numbis 9.69
      .bis bis
      .num 9.96
      .text Küsse, die lt. §§ 169—196 des kaiserl. salischen Hofkußerlasses v. 1. 4. 1069 und §§ 269-296 der Neuen Bundeskußverordnung (NBKV) der Staatsanwaltschaft angezeigt werden müssen
      .numbis
      .bis
      .num 9.97 
      .text Das Anknabbern
      .numbis
      .bis
      .num 9.98 
      .text Die stückweise (partielle) Auffressung
      .numbis
      .bis
      .num 9.99 
      .text Die vollständige (totale) Auffressung
  article#kuessen-3
    h2.inline-title Küssen 3.
    p
      | Aus einem Kesselchen wird Fettmasse geschöpft, seitlich die Zahnradübersetzung ist mit erstarrtem rotem Schaum bekleckst. Ein Schmelzmeister und eine olivbeschürzte Arbeitermatrone stehen dabei.
    p
      | Oder: Auf einem Acker liegt die abgebrochene Kuppe eines Landmädchenlippenstiftes (Kaufhaus 
      span.small-caps Agrex
      | ).
    p
      | Diese beiden Episoden aus de.n Leben von Lippenstiftmaterie sind für 82% (nämlich den nicht-assoziierenden Teil) der geschlechtsreifen Bevölkerung unerotisch, obwohl das Substrat von sehr vielen eindringlichen Küssen hier zu einem — zwar unmenschlich dichten — Massekern geballt ist. Erst die Verdünnung — auf unternehmungslustigen Lippen, einem Filtermundstück, einem Sektglasrand — belebt das plumpe Material, veranmutigt oder dämonisiert den schmutzenden Handelsartikel.
  article#kuessen-4
    h2.inline-title Küssen 4.
    p
      | Nach dem Frühjahrsfest, das verheerend ausging, ertappten sich sowohl Egon als auch Mira (Kurzform von Semiramis) gelegentlich dabei, durch Rollübungen ihre nun einsamen Zungen im eigenen Mund zu Fremdkörpern werden zu lassen und tote Freuden dadurch aufzugespenstern.
  article#kuessen-5
    h2.inline-title Küssen 5.
    p
      | In richtiger Erkenntnis der physikalischen Weisheit von der Wirkung großer Oberflächen sagt der Vierzehnjährige, der natürlich Ralph heißt, auf alle Neckereien seiner Verwandten betreffend das Küssen von Mädchen: »Küssen interessiert mich nicht. Ich möcht ein 
      em ganzes
      |  Mädchen an mich pressen.« Inga, der er Mathematik nachschiebt, probt das Küssen einmal mit ihm durch, Familienküsse nachahmend, und kommt zu dem gleichen Langweil-Erlebnis wie Ralph. Dennoch schenkt ihr Ralph das nächste Mal einen kleinen billigen Lippenstift und wird schwach in den Knien, als Inga ihn erstmals ansetzt.
  article#kuessen-6
    h2.inline-title Küssen 6. 
    p
      |F. Reimer, Sanitätsfibel, Fall 703: Verletzungen durch Küssen einer Mistgabel.
