extends ../../templates/layout
block page-vars
  - const title = "Kuhdreck"
block main
  article#kuhdreck
    h2.inline-title Kuhdreck.
    p
      | J. hatte es immer gern, wenn Kühe 
      em machten
      | . Eine Kuhwiese ohne Fladen war eine halbe Kuhwiese. (Ob dabei Ressentiments aus der ersten Lebensphase mitspielten, wußte er nicht.) Als Schulkind matschte er gern darin mit den Füßen. Bis unnatürliche Leute ihm von den Schrecken einer Blutvergiftung erzählten. Wenn er sich nach einer Traktoristin sehnte, hoffte er, den Geruch an ihr wiederzufinden.
    p
      | Kuhdreck hatte anderseits auch etwas Entsagungsvolles: das mit einigen Konsonanten auslangende Landleben alten Schlages (ohne Musicboxes in der Dorfschenke, ohne lilagemalte Vronimündchen, ohne 
      a.arrow(href="edelnaschwerk.html") Edelnaschwerk
      | , nein, bloß mit alten sauern Drops im einzigen 
      a.arrow(href="caffeehaus.html") »Caffeehaus«
      | ); ein Wind über einsamer Scholle, das ist doch rührend; schlechtgebaute Häuser ohne Kanalisation; Stapfen in photogenen Urschuhen, sich Zeit lassend, im rotlosen Abenddämmern des nur mehr mit Schlaf aufwartenden Bauernhofes: nur mit einigen Konsonanten weht die Nacht herüber; Kuhdreck, Fröstelkälte, der Tag ist getan, Federnbett, erkaltende Gebüsche, der Dachkater kann nichts retten.
    p
      | Kuhdreck, herb, mit sehr spärlichem Süß, wie soeben aufgebrochenes Brot; nicht so unähnlich dem Jasmin!; auch Würziges: wäre Kuhdreck eßbar, schmeckte er gut auf Lebkuchen gestrichen; schwacher Ammongasgeruch wie aus Camembert, wo es jeder untadlig findet.
    p
      | Aldo Palazzeschi (29. 12. 1913) schrieb: Laßt in einen Ballsaal frischen Rosenduft eindringen, und ihr werdet euch in einem eitlen, vergänglichen Lächeln wiegen; aber laßt den Saal von dem viel tiefergründigen Geruch der Scheiße durchdringen, und ihr werdet ihn in Heiterkeit und freudige Erregung versetzen.
    p
      | Freudig machte sich Kaufmann J. auf den 
      a.arrow.main-route(href="weg-zur-schiffsstation.html") Weg zur Schiffsstation
      | .
