extends ../../templates/layout
block page-vars
  - const title = "Kulinarisch"
block main
  article#kulinarisch
    h2.inline-title Kulinarisch.
    p
      | So wird von der Neuen Linken manchmal die Kunst genannt, die nicht ausschließlich die Herstellung neuer gesellschaftlicher Strukturen erkämpft. Die Konsequenten nennen sogar jede Kunst kulinarisch. Die Kochbücher sollen, womöglich mit Stacheldraht den Köchen angebunden, öffentlich verbrannt werden. Die intellektuelle Weltrevolution ist also der erste Feldzug, der auf Gulaschkanonen verzichtet und auf den eine Ära von Appetitlosigkeit folgen soll. Ich hoffe, der Kunst zuliebe, indessen, daß die Weltrevolution von den Stahlarbeitern und Schrebergärtnern statt von meinen Kollegen durchgeführt werden wird, denn die Erstgenannten sind nette Menschen und werden es nicht lange ohne Platzkonzerte und die Gründung von künstlerischen Volkshochschulen aushalten, was auch nach unserer Erschießung auf etwas wie Kunstvirulenz rechnen läßt.
