extends ../../templates/layout
block page-vars
  - const title = "Kunststoffliebe"
block main
  article#kunststoffliebe
    h2.inline-title Kunststoffliebe
    p
      | habe ich schon 20 Jahre vor dem Poprummel gefühlt, dem ich für sein Bekenntnis zu den Gegebenheiten der modernen Umwelt onkelig verbunden bin. 1943, mit 13, wollte ich mir im Garten eine Höhle aus bunten Kunststoffen bauen, und 1950 schrieb ich
    .grid
      .eins Eins freilich: Marjorie
        br
        | saß, blaue Blumen in ihrem Kleid,
        br
        | blaue Blumen um sich im Gras,
        br
        | und saß gestern und saß heute.
        br
        | Blaue Blumen aus Plexiglas.
      .und und
      .wenn
        | Wenn das erste Flugzeug aus rotem Kunststoff aufsteigt, werde ich jubeln (aber das wird in einem Frühling sein).
