extends ../../templates/layout
block page-vars
  - const title = "Labyrinth"
block main
  article#labyrinth
    h2.inline-title Labyrinth.
    p
      | Ich liebte immer Ariadne, die geisthelle Frau, die aus dem Labyrinth herausführte; nun soll ich Minotaurus sein? Nein, übersichtlich wie je liegt meine Welt da: das Modell so übersichtlich wie sein Modell; das uns lehrt, es gibt keine Labyrinthe, sobald wir in Wegen Ziele sehen (vgl. Wittgenstein, den man ja unbedingt zitieren muß, Tractatus, 6.4311: Wenn man unter Ewigkeit nicht unendliche Zeitdauer, sondern Unzeitlichkeit versteht, dann lebt der ewig, der in der Gegenwart lebt); sobald wir in jedem Labyrinthsack, an dessen Grenzen die Ratten anrennen, Futterschüsseln aufstellen.
