extends ../../templates/layout
block page-vars
  - const title = "Lagerschuppen"
block main
  article#lagerschuppen-1
    h2.inline-title Lagerschuppen 1.
    p
      | Zum Handwerkzeug des Lagerschuppners gehören: eine Wrangel, eine Wrappel, eine Wrunzel, eine Wriggel, eine Wrompstel. In den Lagerschuppen ist die Finsternis ägyptisch. Selten gibt das Blech ein bißchen Eigenlicht, denn meist ist es von knallgelbem Rost bedeckt. Auch die eisenfressenden Spinnen leuchten meist nicht. Ihre Hungersignale sind akustisch, und die Lagerschuppner verstopfen sich dagegen die Ohren. Die Schuppner leuchten sich mit einer Wrunzel, wenn sie mit einer Wrappel Kubus und Schrottwert ausmessen wollen. Oft schneiden sie sich mit Blech oder der Blechschere, dann säubern sie sich mit der Wriggel. Kleingeschnittenes Blech kommt in ein Faß, wo es gärt: die sogenannte Wrompstel. Damit ihnen der Sechzehnstundentag nicht zu lang wird, spielen sie bei der Arbeit die Wrangel. Wenn die Kommission kommt, rollen sie die überhängenden Bleche ein. Der Betriebsrat der Lagerschuppner hat dafür schon seit langem eine Wreddel angefordert, aber die ist aus Schildkrotstein und zu teuer. So müssen die Schuppner mit der vielgequälten Hand wreddeln. Im Lagerschuppen tönt das Echo, besonders beim Klettern in Blech. Das zweite Stockwerk erreicht man nur an den Händen hangend. Oft schwirren dort große Blechbremsen auf und stechen den Schuppner in die Wange. Ist er unbeherrscht, läßt er sich fallen und wird vom Hartschrott gespießt. Aber nach zwei Tagen findet ihn meistens ein Oberschuppner und schreibt ihm einen rettenden Krankenschein. Das Spital der Lagerschuppner ist in Wraunl, Wretzelstraße 2, Ecke Spitalgasse. Das Spital hat viele Lagerschuppen, aber auch Rotkreuzkästchen voll 
      a.arrow(href="mindel.html") Mindelkraut
      |  und 
      a.arrow(href="kamille.html") Kamille
      | .
  article#lagerschuppen-2
    h2.inline-title Lagerschuppen 2.
    p
      | Im Lagerschuppen lehrt der Meister den Lehrling folgende Zangen kennen: Abisolierzange, Abmantelungszange, Auswuchtgewichtzange, Batteriezange, 
      a.arrow(href="beisszange.html") Beißzange
      | , Bleirohraufweitzange, Bleirohrschneider, Blitzrohrzange, Bremsfederzange, Deckzange, Drahtseilschneider, Eckrohrzange, Falzzange, Flachzange, Gasrohrzange, Greifzange, Hammerzange, Justierzange, Kabelösenzange, Kabelschneider, Kerbzange, Kombizange, Konuszange, Mechanikerzange, Plombenzange, Rabitzzange, Radiozange, Revolverlochzange, Rundzange, Schmiedezange, Schrägschneider, Seegerringzange, Seitenschneider, Standhahnmutternzange, Telephonzange, Ventilfederhebezange, Verdrahtungszange, Wasserpumpenzange, Zwickzange. Für weitere Zangenbisse haben Arme und Beine des Lehrlings keinen Platz mehr. Feierabend, sagt drum der Meister verfrüht und kneift ihm mit der Vorschneidzange ein blutiges Clip ins Ohr. (Das Blaß des Lehrlings paßt gut zum kargblauen Overall, den er nun anlegen darf.)
