extends ../../templates/layout
block page-vars
  - const title = "Landkonditorei"
block main
  article#landkonditorei-1
    h2.inline-title Landkonditorei 1.
    p
      | Prompt steigt aus dem weißen Lehmstaub der ebenerdigen Häuschengasse das Lied von der Elate Yerond (
      a.arrow(href="staedtchen.html#staedtchen-2") Städtchen 2
      | ), die Kinder quäken es entweder gedankenlos nach oder hören es nicht, sie schießen den Staubballen wie einen Fußball, geben Fersengeld über die Höcker der Gasse, haben ganz weiße Mehlschuhe, treten einander Lehmflecken in die Hinterbacken und hauchen das Schaufenster der Landkonditorei mit Staubmaul noch schmutziger. Im Schaufenster steht eine mit Blümchenpapier benagelte Stufenkonsole. Das restliche Schaufenster ist mit anderem Blümchenpapier ausgeschlagen. Das Blümchenpapier ist eingerissen, vergilbt und verstaubt. Im August dürfen Wespen hinein. Auf den Stufen der Konsole stehen Papptellerchen mit ergrauten Schokodesserts, Marzipanwürstchen und angebissenen Schokoröllchen, von denen die Schokoschicht abblättert. Die Kinder sagen »Mmm!«, weil Schokoröllchen im Mund zerkrachen. Die Landkonditorei hat zu seltsamen Zeiten offen. Im stechenden Sonnenschein ist sie ganz ebenerdiges Häuschen, Staub und Sonnenschein.
  article#landkonditorei-2
    h2.inline-title Landkonditorei 2. 
    p
      |Die Kinder lieben das grüngestrichene Holzhäuschen, das nach dem staubigen Gestühl alter Kirchen riecht; von dem der grüne Anstrich heruntergilbt, -bläut und -blättert; und das im drückenden Sonnenschein modrig schattet. Hier nutschen sie die viel Zu süßen Halmgetränke, pampeln die viel zu dicklichen Eiscremes. Haben nachher doppelten Durst und sind mit der Welt unzufrieden. Die Enttäuschung der TürkischHonig-Bonbons wartet auf jeden; sie kommt nur einmal im Leben; dann spuckt man die ranzige Hülle um den hartvertrockneten Staubzucker zum Teufel. Die alte Gusti, struppiges Weißhaar auf Skalp und Kinn, bemüht sich rührend, zu rechnen. Wenn sie orakelt 
      em 1.20 und —.90 sind 1.10
      | , sind die Kinder weltversöhnt.
  article#landkonditorei-3
    h2.inline-title Landkonditorei 3. 
    p
      em (»... Insofern war diese Zeit spannender ...«)
      |  Der Bub, der die heute verschrottete Kleinstraßenbahn in dem Städtchen verschmähte, obwohl sie an einem Getreidespeicher, dem Flußbrückchen mit Gelbgrüngetreide und einigen indifferenten Bäuerinnen vorbeiführte, fand sich, öfter als er dachte, in der Konditorei am Vorstadt-Ende, wo er im Halbschatten, merkwürdigerweise ohne Assistenz anderer Kinder, den Buntkugelautomaten bediente. Er freute sich, einmal die goldene oder doch die silberne Kugel auszulösen. Damals waren diese Kugeln noch nicht kaubar, sondern einzutauschen gegen ungewisse Näschereien. Insofern war diese Zeit spannender. Wenn man die goldene Kugel entlockte, wußte man: jetzt bekäme man von der dicken behaarten Konditorin eine Gelee-Eisenbahn mit abhörbaren Abteilen; oder sonst etwas; und das — in Verbindung mit dem grünsandigen Straßenstaub — genügte.
