extends ../../templates/layout
block page-vars
  - const title = "Landschaft"
block main
  article#landschaft
    h2.inline-title Landschaft.
    p
      | Ich empfehle die Wiederzurkenntnisnahme der Landschaft. Ich empfehle hierzu die Übung 
      em beider
      |  Standortbezüge:
      ul
        li des tragischen (Rilkes »Gegenüber«),
        li des harmonischen (Whitmans »Inmitten«), 
      p
        | dem Subjekt-/Mitobjekt-Charakter des Menschen entsprechend. Wiederaufnahme diplomatischer Beziehungen zur Landschaft, Steigerung dieses Klimawandels zur Make-Love-Not-WarRevolution im Umgang mit ursprünglicher und bemenschter Natur, Immanenzfrömmigkeit vor Bachwindung, Dottergelb, Roßapfel—und kein Kubikmillimeter mindererfreuliches Psychedelicum ist für den 
        em high
        | sten Persönlichkeitsumschub mehr nötig.
