extends ../../templates/layout
block page-vars
  - const title = "Leuchtendes Blau"
block main
  article#leuchtendes-blau-1
    h2.inline-title Leuchtendes Blau 1.
    p
      | Der vierjährige Zero Zobiak fühlte sich in diesem Augenblick nichtmehr gelangweilt vor der hundert Jahre angestarrten Kredenz, denn ihr Schliffglas projizierte in ihn ein leuchtendes Blau (neben einem Smaragdgrün, das alle sich sonnenden Eidechsen überstrahlte, einem Orange, das man durch Kopfdrehung zu Glutrot oder auch zu Kükengelb nuancieren konnte). Keine Blumen, Kleider, Gasflammen gaben dieses zauberische Blau, später hörte Zero Zobiak, daß manche Planeten unter so blau leuchtenden Sonnen all ihre Tage oder manche Stunden (etwa vor dem Aufgang der andersfarbigen Zweitsonne) bringen.
    p
      | Jeder Arbeitsplatz im physikalischen Praktikum war eine Vergnügungsbude, für eine andere Aufgabe bestimmt, in beliebiger Abfolge durfte man die Plätze benutzen. Ein Arbeitsplatz gab ihn jenem leuchtenden Blau wieder, die Randfarben waren rasch abgeschnitten, im Skalennetz lag sauber das Blau eingeschlossen, er vergaß die Wissenschaft und war ganz Kind.
  article#leuchtendes-blau-2
    h2.inline-title Leuchtendes Blau 2.
    p
      | Encore Edibelbek hob Deckel und weiße Wellpappe: der gutmaskierte Nikolo hatte ihm für sein rotloses Rechtschreibheft 4 ✕ 6 »Schnapszuckerln« beschert, soviel man sah, jedes anders gefüllt und jedes in andersfarbiges Stanniol gehüllt. Edibelbek stellte seinen Blick natürlich sofort auf jenes Stanniol ein, das stark wie eine Taschenlampe und blau wie eine Kornblume leuchtete; jenes Blau, das die Vollendung allen Blaus war, weil seine Reinheit schon vor dem Violett kapitulierte.
  article#leuchtendes-blau-3
    h2.inline-title Leuchtendes Blau 3.
    p
      | In ausgesucht diesem Blau will ich meine Metallhöschen und meine Flitterschminke, sagte Myra Metelli zum Regisseur bei der Lagebesprechung. Der Höschenklempner und der Maskenbildner widersprachen, der Kostenrechner schloß sich ihrem Einspruch an. Augenblick, knurrte der Koordinator und tastete etwas in seinen Taschencompi, na, also: wenn Frau Metelli das leuchtende Blau benützt, schon zart dem Violett zu, werden 22.000 Menschen mehr angesprochen; der Kostenaufschlag ist dagegen minimal.
  article#leuchtendes-blau-4
    h2.inline-title Leuchtendes Blau 4.
    p
      | Ich habe ein Geheimrezept, sagte Encore Edibelbek. Gegen die schneerne Langeweile hier in diesem SchiNest?, fragte Zero Zobiak. Leg, sagte Edibelbek, den Kopf bloß so schräg, daß die Schneekristalle als Prismen fungieren. So, fragte Zero. Jöö, setzte er fort, was alles in dem weißen Licht drin ist: dieses Grün! Und jetzt wirds ja gleich gelb. Und orangegelb! Und sonnenorange! Und rosarot — und tintenrot — und roterüben — Jetzt geh aber, sagte Edibelbek, vom Grün in die andere Richtung. Bleib nicht beim Kobalt, geh ins Violett, nicht ganz ins Violett, ein Schritt ins Blau zurück — Jöö, sagte Zero Zobiak, das ist ja das Schönste, was ich je gesehen habe. Na also, sagte Encore befriedigt, jetzt bleibst du doch noch den Schikurs zuende.
  article#leuchtendes-blau-5
    h2.inline-title Leuchtendes Blau 5.
    p
      | Die Drehscheibe bunter Glasstückchen über dem sprühenden Feuerstein — Drehung und Funkenschlag wirkte man mit einer einzigen Fingerbewegung — enthielt auch ein Blau. Wenn man die Vorrichtung nicht zu schnell drehte, blitzte das Blau als die prächtigste Farbe der ganzen Scheibe auf. Blauaufgehende Sonne, Kornblume, durchsichtig werdend wie ein Diapositiv, Blau, selten in Signalen und Laternen, Unfeuerfarbe, nun doch Feuer lernend, ich möchte einen blaubrennenden Ofen zuhaus, Flammen aus blauer Kälteflüssigkeit von Thermometern, nahm sich Encore Edibelbek vor. Wenn du größer bist, versprach ihm sein Vater.
  article#leuchtendes-blau-6
    h2.inline-title Leuchtendes Blau 6.
    p
      | Wenn eine Frau unerwartet, inmitten einer Lodenmäntelversammlung, Rhomben oder Ellipsen aus leuchtendem Blau im Kleid trägt, ist die ländliche Schenke oder das Wartezimmer ins Luzide verändert. Dieses Kleids wegen möchte ich dich —, beginnt man in diesen Fällen, und wenn die Chromophorin beleidigt losweint, tröstet man sie mit ihrem Geschmack.
  article#leuchtendes-blau-7
    h2.inline-title Leuchtendes Blau 7.
    p
      | Mytilla Mitil fand sich in dem großen Hof, sie war schrecklich alt, der Regenbogen war plötzlich nicht aus der Kinderzeitung, sondern in Natur, wasserkalt, regentropfentragend, Mytilla fröstelte angenehm nach diesen Hitzsommerjahren, wedelte mit dem Röckchen, und morgen würde die Schule beginnen. Mytilla suchte die Grenzen zwischen den Farbschichten des Regenbogens, aber sie fand früher den zweiten Bogen, den Abklatsch. Behutsam suchte sie im Grün den Blaubeginn, fand ihn, folgte ihm ängstlich zur lebensgefährlichen Grenze nach Violett. Noch, noch war das Blau nicht gestürzt, war blau, immer schöner, immer tiefer-leuchtend —
    p
      | Mytilla bekam, wie es sich gehörte, an ihrem ersten Schultag eine lebensgroße pappsteife Zuckerwarentüte.
