extends ../../templates/layout
block page-vars
  - const title = "Lexikonromane"
block main
  article#lexikonromane
    h2.inline-title Lexikonromane.
    p
      | Ich bestätige hiermit, daß ich die Verfasser weiterer Lexikonromane nicht als Nachahmer betrachten werde, denn auch ich betrachte mich, wenn ich einen Brief schreibe, nicht als Nachahmer irgendeines alten Hethiters oder, wenn ich Nullen porträtiere, nicht als Nachahmer Al Chwarizmis. Die Möglichkeit Lexikonroman ist ein Topos, also ein Platz, der von allen begangen, behinkt und schlittschuhbelaufen werden kann. Hierzu rufe ich nachgerade auf, nicht nur einzelne, sondern auch Kollektive.
