extends ../../templates/layout
block page-vars
  - const title = "Liddy"
block main
  article#liddy-1
    h2.inline-title Liddy 1.
    p
      | Ihre 
      a.arrow(href="waffe.html") Waffe
      | , sagt man, sei das Kuscheln. Sie liegt kuschelig vermengt mit dem Flausch-Weiß einer Bett-Innenlandschaft, hat sich dort, wo es für den Photographen riskant wird, Bettschaum dazwischengestopft, bedrängt das Bett wie Leda den Schwan. Der Herrenjournalleser wird zu einer Dreiecksbeziehung eingeladen — Liddy, das Bett und er —, zu einem Wettbewerb im Kuscheln. Dieses Bild soll den Jungen der U. S. Vietnam-Armee besonders gefallen haben, wohl auch infolge des Heimwehs nach einem kuscheligen Bett.
  article#liddy-2
    h2.inline-title Liddy 2.
    p
      | Sie sammelt Byzantinika und Ikonen, hält sich für abergläubisch, wenn sie beim Nacktposieren vor dem Bethlehemstall unter dem starren Marienblick zusammenschrickt, und sagt, diese Bilder hätten einen so fürchterlichen Ernst, als hätte eine Kuh sie gemalt. Gegen diese Anwandlungen schluckt sie diverse Abkürzungen in Pillenform und wirft ihre gutgezüchteten Melonenbrüste in die Waagschale. Das Strafgericht wird hierauf wegen Befangenheit einiger Schöffen vertagt.
  article#liddy-3
    h2.inline-title Liddy 3.
    p
      | Das Photomodell gibt dem Reporter, der ihr sichtbar sein Werkzeug entgegenzückt, die originelle Antwort, ihr Zukunfttraum sei es, reich zu werden. Sie sieht aus kreisrund gemalten Augen, für die ja nicht ihre, sondern des Verlagsvisagisten Intelligenz verantwortlich ist, so drein, daß man ihr diesen »Zukunfttraum« auch zumutet. Zum Überfluß überredet der Reporter sie, ein LollipopMündchen zu machen, und auf dem nächsten Bild macht sie es wirklich. Der Reporter fühlt sich regenwurmfarben gelutscht und ist satisfied.
