extends ../../templates/layout
block page-vars
  - const title = "Löwenfaß"
block main
  article#loewenfass
    h2.inline-title Löwenfaß.
    p
      | Löwenfaß ist 
      a.arrow(href="staedtchen.html") Städtchen
      | . Es liegt im Vordergrund niedrigerer Terrassenhügel. Dieser Sommer wird überwiegend ein Barbarasommer werden. (»Überwiegend« ist schön bildlich. 
      a.arrow(href="perspektiven.html") Perspektiven
      | .) Eingezäunte Weingärten liegen an der Straße. Ummauerte Weingärten liegen an der Straße. Offene Weingärten liegen an der Straße. Wächter dürfen hier schießen, Hunde dürfen hier beißen. Aber nicht in Kehle und Herz, und nur bis der Gendarm kommt. Die Frau des Gendarmen bietet guten Trebernschnaps feil, weil der Mann nicht brennen darf. Feuerwehrleute dürfen brennen. Die Trebern liegen im Herbst an den Weingartenrändern, blaue, braune Haufen, rauchen, wärmen und stinken. Wie wenn im Kellerchen eines Rathauses eine Flasche Wein zerschellt und der Scheuerlappen den aufgesaugten langsam verdünstet. Löwenfaß hat ein kleines Rathaus. Mit einem Rathausmann, der dem von Wien nachgebildet ist. Ein Witzbold hat ihm die Nase weinrot lackiert. Löwenfaß hat viele Witzbolde pro Quadratkilometer.
    p
      | So einfach ist das Leben in Löwenfaß, nicht im natürlichen natürlich, aber im künstlichen, das von der Donauschiffahrt als potemkinsche Wachau an den Rand der wirklichen Welt (mit all den Terrassenhügelkomplikationen, Weingartenschwankungen, Weinbuttenskrupeln, Kellerinzesten, Laternentraumatis, Weinlaubenspaltungen und Mariandlüberwertigkeiten) geleimt worden ist. Es hat auch einen Sandhaufen, an dem Kenner es erkennen. Vor dem Sandhaufen hält ein Autobus. Nachmittag, wenn der Sandhaufen besichtigt ist, hält vor ihm der Rück-Autobus. Die Fahrkarte kostet Beträge, gestaffelt nach der Entfernung. Nur wenn die Winzerinnen gekrönt werden, kommt sie teurer. Aber da wollen viele im Ort übernachten. Manche von ihnen wollen keine Rückfahrt mehr. Sie stehen in den Ställen der Winzerinnen, werden gefüttert und gedeihen, bis die Ehefrauen sie mit wuchtigen Schlägen auf die Schinken heimholen. Die Schweine in Löwenfaß sind braun. Die Ziegen heißen Mecki. Die 
      a.arrow(href="huehner.html") Hühner
      |  sind namenlos. Sie denken, wenn nachts der Grill zirpt, ans Schicksal.
    p
      | So einfach und so schwierig ist das Leben in Löwenfaß. Ihm entlang beschreibt der Fluß eine unendliche Rechtsbiegung, die, wo alle Unendlichkeiten enden, den Punkt Druden hervorrufen wird. Die 
      a.arrow(href="burg.html") Burg
      |  von Druden ist schon knipsbar. Irgendwo im Bordlärm geht Löwenfaß verloren.
    p
      | Bordlärm: Eine Gruppe von Ungeduldigen, die mit J. aussteigen werden, singt, in schlecht gebündeltem Chor:
    p.poetry
      Jetzt kommen wir nach Druden, Druden, Druden,
      br
      jetzt kommen wir nach Druden, Dru-u-den.
      br
    p 
      | Dort schlagen wir die Juden, probiert ein Fliegenbärtiger weiter, aber die anderen löschen ihn im Chor aus: Ksch! Druden steht im Duden, schlägt eine junge Frau vor, und das wird begeistert angenommen. Die Siegerin schwenkt eine rote Papierserviette, ihr Mann klatscht sie auf den Oberarm, da schreit sie spaßig auf und läßt die Serviette nach Löwenfaß fliegen. Das gefällt ihr, und sie bildet, »Druden steht im Duden« singend, einen ganzen Vogelzug von roten Papierservietten, nach Löwenfaß hin.
    p
      | »Warum singen Sie nicht mit?«, zupft Ullis Stimme an mir. Warum soll ich? »Sie steigen ja auch in Druden aus, nicht wahr?« Wieso weißt du das, Ulli? »Ich habs gleich gewußt; das ist mein Geheimnis.« Hast du viele solche Geheimnisse? »Och, soo viele! ... Aber mir ist leid, daß Sie aussteigen, wissen Sie das?«
    p
      | Nun ist die Drehung so weit, daß Druden auftaucht: seine hügelgelegenen 
      a.arrow(href="gelbe-schenken.html") gelben Schenken
      |  zuerst. Seine grüne 
      a.arrow(href="promenade.html") Promenade
      |  am Hügelrand. In Druden wollen viele aussteigen, das macht Geschwirr und eine feierliche Stimmung. Drei Beat-Männer in gelben Jacken haben sogar eine Gitarre und singen das Lied von der Bitte des Kleinwesirs:
    p.poetry
      | Großwesir, Großwesir,
      br
      | mach mir ein Großplaisir,
      br
      | schenk mir deine dickste Frau,
      br
      | denn ich liebe Körperbau.
    p
      | Barbara bleibt an Bord, drum winke ich in ihre Richtung, und sie winkt mit der Grazie dicker Soubretten durch Flattern mit den Babyfingern zurück. Ihr Mastbruder scheint zu fragen, »wer ist denn das?«, und Barbara wird ihm jetzt vielleicht gestehen, daß sie mir im Sommer nicht neinsagen wird. Ruhig wie ein Gespenst sehe ich meinen Weg vor mir, mein Anläuten bei Barbara, das Seidenpapier von den roten Rosen rasch wegknüllend, die Stecknadel, die es hielt, in meinen Rockaufschlag schwindelnd, das himmelblau damastüberzogene gewaltige Bett, meine lokalisierte und terminisierte Freude beim Abreiben an fremdem Speck, meine kurze Selbstaufgabe, geschwisterlich geteilt mit Barbara, wenn wir im Mischbecken liegen, meine Befremdung apres, welch seltsame Geliebte ich diesmal habe, den Ausbruch vergröbernder Gesichtszüge in Barbaras letztem Auftritt zu Sommerende, mein neues Stiefeln in vorherbstlicher Stadt, mein Suchen.
    p
      | Viel Spaß, kann ich zu Ulli nur sagen; ich hab mich sehr gefreut, dich kennenzulernen. (Bei Geschäftsfreunden kam mir der Satz nie zu dumm vor.) Weil du nämlich wirklich so ..., versuche ich zu präzisieren. »Ich weiß schon, wie Sie meinen; ich sag ja, ich möcht auch immer für alles Wörter«, entlastet mich Ulli. AIs sie ein kleiner weißer Fleck ist, möchte ich irgendwas Entscheidendes nachrufen.
    p
      | Es ist unwahr, daß nun »weh« der Landungssteg mit dem bootsmännischen Handwerkszeug vor uns liegt, »weh« die grüne 
      a.arrow(href="promenade.html") Promenade
      |  mit der 14.25-Uhr und den bunten Bänken (
      a.arrow(href="bunte-stuehle.html") bunte Stühle
      | ), »weh« die steil auf den Hang geführte Stadt mit den Aufgängen durch grabesluftige Turmdurchbrüche, über unzählige altertümliche Treppen, bei Spinnweben- und Weihwassergeruch, »weh« die obere neuzeitverflirtete Hauptstraße der Stadt mit 
      a.arrow(href="gasthaeuser.html") Gasthäusern
      | , 
      a.arrow(href="kraemer.html") Krämern
      |  und Kitschläden, mit hellem Grün und dichten roten Blumen, »weh« der Weg zu den 
      a.arrow(href="gelbe-schenken.html") gelben Schenken
      | , »weh« der Abend mit Exporteurinnen und Exporteuren und der schwarzgemiederten drallen Kellnerin.
    p
      | Wahr ist vielmehr, daß Druden völlig in Ordnung ist. Denn welche Hausmauern, Himmel und Straßenbelage werfen 
      em nicht
      |  die Stimme des Menschen zurück, der sie anspricht? Des hunnischen Minnesängers etwa, der hier und zu dieser Minute 468 n. Chr., zum Hunnentreffen in Druden hinaufkletternd, sang:
    p.poetry
      | Unstillbar ist mein Wunsch nach dir, Ulli.
      br
      | Nicht in Nähe deiner Wachheit werde ich altern.
      br
      | Immer werde icb glauben, auf dich zu warten.
    p
      | (Im Original alliterierend und in hunnischen Jamben; Bratvogel, Der hunnische Minnesang in der Wachau, Leipzig 1726.)
    p
      | 
      a.arrow(href="nachworte.html") Nachworte
      | .
