extends ../../templates/layout
block page-vars
  - const title = "Lokalisation"
block main
  article#lokalisation
    h2.inline-title Lokalisation.
    ul
      li
        span.small-caps Funktionen der Objekte
        | :
        br
        | umschließt
        br
        | die einst einen wehrhaften Ring um das Land schlossen
        br
        | blühend umgibt
        br
        | zeichnet sich aus
        br
        | ist seit jeher
        br
        | wird immer in angenehmer Erinnerung bleiben
        br
        | bringt es mit sich
        br
        | den Wanderer laden ein
        br
        | bieten Gelegenheit
        br
        | hat den besten Ruf in aller Welt
        br
        | den kunstbegeisterten Reisenden laden zum Besuche ein
        br
        | sind Zeugen einer fast zweitausendjährigen
        br
        | lädt zum Besuche ein
        br
      li
        span.small-caps Funktionen des Reisenden
        | :
        br
        | ein beliebtes Ausflugsgebiet
        br
        | Erholungsgebiet
        br
        | ob man nun ... oder
        br
        | sonntäglicher Spaziergang
        br
        | durch den Wald
        br
        | Wochenendausflug unternimmt
        br
        | geruhsamen Urlaub verbringt
        br
        | ein Aufenthalt in
        br
        | daß jeder Gast etwas findet
        br
        | einen wirklich erholsamen Urlaub verbringen
        br
        | findet der anspruchsvolle Gast
        br
        | nach schönen Touren
        br
        | der Erholungssuchende findet Ruhe und Erholung
        br
        | genießen
        br
      li
        span.small-caps Eigenschaften der Objekte:
        br
        | reiche Vielfalt landschaftlicher Schönheiten
        br
        | die Vielseitigkeit der Landschaft
        br
        | das Land der vielseitigen Naturschönheiten
        br
        | rebenumkränzte Wachau
        br
        | in waldiger Einsamkeit
        br
        | in traulichen Orten
        br
        | zwischen sonnigen Weinbergen
        br
        | in reizenden Städtchen
        br
        | wo man bereits die unendliche Weite erahnen kann
        br
        | die schlichten gotischen Kirchen
        br
        | die prunkvollen barocken Stifte
        br
        | herrlichen Stifte
        br
      li
        span.small-caps Kundendienst der Objekte:
        br
        | in erstklassigen Hotels
        br
        | jeden Luxus und jede Bequemlichkeit
        br
        | gemütliche Schutzhäuser
        br
        | behaglichen Gasthöfen und Pensionen
        br
        | zur Erzielung vorzüglicher Heilerfolge und Erholung
        br
        | in vielen gemütlichen Heurigenschenken
        br
        | zu einer guten Küche
        br
        | einen guten Tropfen des edlen Rebensaftes
        br
        | unzählige kunstgeschichtliche Kostbarkeiten
        br
        | die zahlreichen mittelalterlichen Burgruinen
        br
      li
        span.small-caps Zusammenfassung:
        br
        | nicht zuletzt
        br
        | längst erprobt
        br
        | mit seinem vielgerühmten
        br
        | ärztlich anerkannt
    p
      | (Auszug aus einem Prospekt des Landesverkehrsamtes Niederösterreich.)
