extends ../../templates/layout
block page-vars
  - const title = "Lollo"
block main
  article#lollo
    h2.inline-title Lollo.
    p
      | Erschütternd, wie die Zeit dahinfließt, jammert der Ingenieur. Erinnern Sie sich noch an »Liebe, Brot und Phantasie«? Ich seh die Lollo vor mir, als wärs gestern gewesen. Und heute haben wir die Twiggie, diesen verhungerten Heuhüpfer, und ich wette, in fünf Jahren, wenn Sie junge Leute fragen, was sie von Kurven halten, werden sie todernst von Hyperbeln und Parabeln reden; und bei 
      span.small-caps Lollo
      |  werden sie herumrechnen und sagen, das bedeutet in der Computersprache 
      em zweiundzwanzig
      | .
    p
      | (Anmerkung fürs 
      a.arrow(href="cp.html") CP
      | : Die Eins des Dualsystems wird statt mit I mit L 
      a.arrow(href="umschrieben.html") umschrieben
      | ; die binary digits
    .grid
      .empty
      .eins Eins Null Eins Eins Null
      .aber aber bedeuten
      .empty
      .maths
        | 2
        sup 4
        |  + 0 + 2
        sup 2
        |  + 2
        sup 1
        |  + 0, d. s. 16 + 4 + 2.)
