extends ../../templates/layout
block page-vars
  - const title = "M.d.D."
block main
  article#m-d-d-1
    h2.inline-title M.d.D. 1.
    p
      | Sie ist sehr merkwürdig: auf manchen Bildern ein mageres Kätzchen, auf manchen ein feist- und grobwerdendes alterndes Weib. Auf dem Bild, auf das wir uns einigen, verschleiert sie einen tappbärigen nackten Körper mit feinmaschigem gelbem Gewebe. Damit kontrastiert ein flüssiggeschminktes Gesicht, über das zärtlich hereinzubrechen man Hemmungen hat, etwa so, wie die meisten sich nur zögernd auf eine Mokkacremetorte legen.
  article#m-d-d-2
    h2.inline-title M.d.D. 2.
    p
      | Zu Bett gehen mit eigens dafür gelegter Röllchenfrisur, einem Kunstwerk, zwei Köpfe hoch, in Platinblau. Noch rasch den gauguinbraunen Puderbauschen um die weiß bezitzte Brust. In dem Wunsch, in dieses Bild als Beteiligter einzusteigen, ist viel Angeberei. Zwei Kaufleute: »Ich kann morgen unmöglich; ich muß mit M.d.D. ...« »Ja. was hast denn du mit M.d.D.??« Denn unbezweifelbar ist M.d.D. Luxus.
  article#m-d-d-3
    h2.inline-title M.d.D. 3.
    p
      | Kann man diese weltverlassene Kinderschnute einfach erlernen? Ich weiß, ihr werdet mir jetzt mit der guten alten Bardot kommen. Und schließlich mit der Ausdrucksquetscherei jeder Schauspielschule. »Stellen Sie sich nun mal vor, Sie müßten eine halbe Zitrone essen. Gut. Aber Sie müssen es heimlich tun, weil die Zitrone gestohlen ist. Gut. Aber Sie müssen dabei einer 
      em guten Freundin
      |  zulächeln, die nicht merken soll, daß ihr jüngstes Aperçu Ihnen zugetragen wurde. Gut. Und jetzt das ganze nochmal, aber ungezwungen.«
