extends ../../templates/layout
block page-vars
  - const title = "M.S."
block main
  article#m-s
    h2.inline-title M.S.
    p
      | Schrecklich, das Schicksal der kleinen Lou Bostrom, denkt die Rekordbrustinhaberin Marianne Spot, und drum schaut sie so traurig auf ihre Prämienkürbisse hinunter, mit dem rechten Aug auf den rechten, mit dem linken auf den linken, und so kann nichts passieren.
    p
      | Die kleine Lou Bostrom war jenes Mädchen aus St. Louis, die sich in den roaring twenties mit einem Fleischmesser die Brüste abgetragen hatte, weil die Mode Flachbrüstigkeit vorschrieb und die reichen Eltern ihr die fachgemäße Operation verwehrten. Mariannes Lieblingsjournal hatte neulich einen kleinen Nachruf auf die kleine Modeheldin gebracht.
