extends ../../templates/layout
block page-vars
  - const title = "Madigmachen"
block main
  article#madigmachen-1
    h2.inline-title Madigmachen 1.
    p
      | Es gibt anscheinend, auch exakt gesehen, kleine Gemüter, so wie es kleine Exportbüros, kleine Hunde und kleine Sterne gibt.
  article#madigmachen-2
    h2.inline-title Madigmachen 2.
    p
      | An manchen Menschen sind nur die Kleider intelligent.
  article#madigmachen-3
    h2.inline-title Madigmachen 3.
    p
      | Was soll der Fuchs tun, wenn die Trauben, die er nicht erreichen kann, wirklich sauer sind?
