extends ../../templates/layout
block page-vars
  - const title = "Mädchen"
block main
  article#maedchen
    h2.inline-title Mädchen.
    p
      |
    ul
      li 
        | Ein bestimmter Bestandteil des Connorschen Webstuhls heißt »Mädchen«; es ist jener Bestandteil, der den Wechsel der ein- und ausschießenden Fäden im Mehrfachschützen regelt; bei Automaten, in denen ein Bestandteil gleich eine ganze Reihe von Schützen zu regeln vermag, heißt das »Mädchen« »wench«, also ungefähr »Dirne«.
      li 
        | Die klassische Grubenlampe des unglücklichen Sir Humphrey Davy soll einen »Mädchen« genannten inneren Zusatzverschluß aufgewiesen haben. (Dieser Bestandteil ist in heutigen Lehrbüchern nicht mehr zu finden.)
      li 
        | Die äußere Schutzschicht der Tannenbestriche, die der Abwendung von Wildverbiß dient, heißt im Forstadjunktenjargon — kein Forstrat konnte mir erklären, wieso — »Mädchen«.
    p 
      | Diese fast beliebig fortsetzbare Reihe zeigt, daß das Mädchen im Leben der Männer eine wichtige Rolle spielt. Immer wieder haben selbst die Nüchternsten etc. etc.
