extends ../../templates/layout
block page-vars
  - const title = "Mädchenblau-Paradoxon"
block main
  article#maedchenblau-paradoxon
    h2.inline-title Mädchenblau-Paradoxon.
    p
      | Es zählt zu den schwerlöslichen Weltwidersprüchen, daß das 
      a.arrow(href="fehlen-von-rot.html") Fehlen von Rot
      |  in einer Landschaft mit dem Fehlen der Mädchenkomponente korreferiert, obwohl es, wie man durch mich weiß, ein Mädchen
      em blau
      |  gibt und auch bläuliche Flüßchen und Erstfrühlingsatmosphären unbedingt etwas Mädchenhaftes haben.
