extends ../../templates/layout
block page-vars
  - const title = "Männlich"
block main
  article#maennlich
    h2.inline-title Männlich.
    p
      | Fleischschmalz — so männlich kräftig! XX-Bier löscht Männerdurst. Ein männlicher Morgen — mit YY-Rasierwasser. Wir zeigen Ihnen, wie Sie ohne Schweiß herrlich männliche Formen bekommen können.
    p
      | Sind Sie ein 100%iger Mann? Testen Sie sich selbst durch Beantwortung folgender Fragen nach Ihren Hobbys!
    .grid
      .empty
      .left 
        | Fußball? 
        br 
        | Boxen? 
        br
        | Autofahren? 
      .empty
      .right
        | Kino?
        br
        | Kochen?
        br
        | Tanzen?
    p
      | Drei Ja in der linken Kolonne bedeuten, daß Sie wirklich ein Supermann sind, darum werden Sie auf jeden Fall Mentho-Deodorant verwenden!
    p
      | Das Wichtigste im Leben ist der Mann.
    p
      | Der Idealmann ist 1.90 m groß, schlank, breitschultrig, hat blaue Augen und blondes Haar, keine zu hohe Stirn, ist redegewandt, sportlich, ein guter Kaufmann und ein anhänglicher Familienvater. Er tanzt gut und trägt keine weibisch auffallenden Krawatten.
    p
      | Ihre Freunde werden staunen, wenn sie Ihre stolzen Muskeln sehen — oder zu spüren bekommen!
    p
      | Mein Sohn soll eher einen Baum ausreißen, als daß er weint.
    p
      | Der Traummann muß vor allem gute Manieren haben. Dann folgt der Wunsch nach einem festen Charakter. Er ist ferner klug, nett und fleißig.
    p
      | Tapferkeit, Stärke, Überlegenheit — das verlangt man von einem richtigen Mann. Stahlkugeln. Geschenkkarton. Wie ein echter Colt; mass. u. prächt.
    p
      | Endlich kann Ihr Körper erfahren, was es heißt , im vollen Besitz seiner 
      span.small-caps Männlichkeit
      |  zu sein.
    p
      | Männer haben keine Ahnung von Frauenproblemen.
    p
      | Männer dürfen keine Angst haben. Ich habe im Krieg jeden Tag von neuem Angst um mein Leben gehabt. Aber ich habe es Gott sei Dank nie gezeigt. Also Mann sein, heißt, seine Angst verbergen.
    p
      | Frauen bevorzugen in der Liebe harte Männer — um sie in der Ehe weich zu machen. (Konsumentenzeitung.)
    p
      | »Sie hat eine unvergleichliche Mischung der Eigenschaften, die ich für eine Ehe als notwendig erachte. Das ist vor allem: die Entscheidungen des Mannes zu respektieren, dieses patriarchalische Gesetz der Ehe anzuerkennen und trotzdem ein selbständiges junges Wesen zu bleiben.« (Curd Jürgens.)
    p
      | So erträumt sich Dornröschen 1968 die Liebe: Der Mann, stark und schön wie ein Prinz, wird sie voll Romantik in die Arme nehmen.
    p
      | Wir haben lange mit uns gekämpft und überlegt, ob es zulässig und wünschenswert sei, in diesem den Frauen, der Küche und den Kindern vorbehaltenen Teil der Wochenendbeilage auch einen 
      em Mann
      |  zu Wort kommen zu lassen. Wir glauben, daß es ein Akt der Fairness ist, ihn auch einmal anzuhören. Wir wollen dem Mann daher ab heute ein kleines Plätzchen einräumen, auf dem er manchmal eine Randbemerkung machen darf. Allzu ernst werden wir — »Mädchen unter uns« — ihn nicht nehmen, aber er soll auch seine Redefreiheit haben.
    p
      | 
      span.small-caps Das ist Er 
      | — der Mann, auf den es ankommt. 
      span.small-caps Er
      |  kennt den Stil der großen Welt. Man sieht's ihm an: 
      span.small-caps Er hat Erfolg
      |  ... und 
      span.small-caps Er
      |  trägt Quakoflex.
    p
      | Sind Frauen klüger als Männer? Ja, natürlich! Männer kaufen wahllos. Frauen kaufen bei 
      span.small-caps Schnorr
      | .
    p
      | »Da Frauen Professionals der Liebe sind, sind sie immer mit der Liebe beschäftigt. Sie verstehen nur schwer, daß Männer noch etwas anderes zu tun haben.« (Hans Habe.)
    p
      | Es ist schon schlimm genug, wenn die Frau mehr verdient als der Mann. Ja, das kann nicht gutgehen, denn der Mann muß immer noch eine Trumpfkarte in der Hand haben, um stechen zu können. Ja, in jeder Beziehung. Sonst ist er kein Mann.
    p
      | Der Mann — das große Rätsel. Männer lieben anders. Keine Frau kann wirklich nachfühlen, wie ein Mann die Liebe erlebt.
    p
      | Für einen Mann ist eine Glatze grundsätzlich kein Hindernis.
