extends ../../templates/layout
block page-vars
  - const title = "Magazine"
block main
  article#magazine
    h2.inline-title Magazine.
    p
      | Der 15 jährige denkt auf dem Acker des Ferienorts, daß der Besitz des ,,
      span.small-caps Soleil
      | «-Magazins einen neuen Lebensabschnitt voll verfügbarer Brüste, Wunschgesäße und quellender Lippen einleiten würde. Er beschließt, zunächst im zeitungführenden Gemischtwarenladen des Ortes, dann, als ihn dort unter Bekannten der Mut verläßt, am Bahnhof, dann, als dort ein zu schönes Mädchen diensttut, im Ankunftbahnhof, dann, als dort zwei große Lackel stehen, in irgendeiner Trafik des Wohnviertels, dann, als dort schon gesperrt ist, irgendwo irgendwann seine erste Nummer zu kaufen, weitere Nummern aber schriftlich zu fordern und diskret sich zustellen zu lassen. Er weiß, mit welchem Akzent er »Soleil« aussprechen, wohin er dabei teilnahmslos schauen und wie er das Geld hinschnippen wird; wie weit er seine Schultasche inzwischen geöffnet halten und wie rasch er das Magazin dann in ihr versenken wird; sogar, wie er einem lehrhaften Herrn antworten wird, der eine Sekunde vor Gelingen um sein leidiges Tagblatt anrückt, oder einer schneeweißen gutfrisierten Kopfschüttlerin; er plant für die brenzligsten Lagen Ersatzkäufe ein und Ersatzläden, sieht sogar in einem Gebüsch eine vogelfreie Banknote leuchten und hat damit ein kleines Abonnement herin.
