extends ../../templates/layout
block page-vars
  - const title = "Malkasten"
block main
  article#malkasten-1
    h2.inline-title Malkasten 1.
    p
      | Das vertrackte Lied von der Elate Yërond (
      a.arrow(href="staedtchen.html#staedtchen-2") Städtchen 2
      | ) schwindet nicht aus der Straße, bleibt wie ein Produkt des drückenden Sonnenscheins und des Staubs in Menschenhöhe schweben, nur die Hausnähen wechselnd. Jetzt ist die Tabakbude dran, und man will nicht von hier grad die Pfeife und hat noch Zigaretten und hat noch im Feuerzeug Feuer, also — aber da liegt ja mitten im Raucherkram ein Malkasten! Blech, schofel, höchstens zweimal fünf Knöpfe, aber Malkasten der Kindheit. A. hört noch das Deckelhebklappern. Wenn Wasser durch die Farben durchfließt, entsteht — wie aus den süßschmeckenden Taubächen quer durch die Wiesen im Frühling — die Welt, die zweite, viel interessantere Welt. Froh strich Alphard Mutz um die Auslagenscheibe, unversehens hatte dieses Stück Nest einen Sinn bekommen, mehr, als wären drei nachtbeleuchtete Spielautomaten in den grellweißen Sonnentagsstaub hingestellt worden.
  article#malkasten-2
    h2.inline-title Malkasten 2.
    p
      | Myra Metelli und 
      a.arrow(href="quenta-quebec.html") Quenta Quebec
      |  sitzen auf den frischmörtelbekleckerten Stufen des Zweifamilienhauses. Myra auf der dritt-, Quenta auf der fünftuntersten. Sie feilschen um den Besitz des gefundenen Puppenmalkasten (in Wahrheit Lidschminkkästchens, das eine Parfumeriehilfe gestohlen und an einem Versteck ihrer metzgernden Freundin zum Austausch gegen Landwurstwaren hinterlegt hat). Malt man damit Puppenkleider an?, fragt Myra. Nein, Puppen und Puppenzimmer, sagt Quenta. Aber man kann doch Puppen nicht blau anmalen und grün, wo willst du Puppen blau und grün anmalen?, fragt Myra. Red nicht so dumm, sagt Quenta, gib ihn mir, ich seh, du bist zu blöd, damit umzugehen. Nein, aber sag wirklich!, sagt Myra. Au, sagt Myra, weil Quenta ihr das Kästchen aus den Fingern gedreht hat. Nun liegt es offen auf der frischbemörtelten Stufe, hat im Blaufett eine Schramme, im Grünfett einen Aushub, im Silber einen feinen Riß, vom Überschlagen auf zwei Stufen, und nun tritt Myra es zu Plastikschrott und Baatz, aber die Farbe geht in die Oberfläche des frischen Mörtels ein und versöhnt die beiden Zehnjährigen zu einem pastellbewundernden Pastellmädchenpaar.
  article#malkasten-3
    h2.inline-title Malkasten 3.
    p
      | Der Häftling war glücklich, daß er nach all den Jahren langweiliger Schrauben und Rasierklingen nun endlich einen Malkasten essen konnte. Wie dankten seine Schlund- und Magenaugen der geliebten Rosina, die es ermöglicht hatte, für das farbenfrohe leuchtende schmierige Möglichkeitenspiel.
  article#malkasten-4
    h2.inline-title Malkasten 4.
    p
      | Myra Metelli, die Ordnung in Kleinmädchengestalt, bekam erstmals den Malkasten der Mutter geliehen. Und was durch ein paar Buntstifte nicht ausgelöst worden war, trat jetzt ein: Die bunte Welt wurde malbar, ordnete sich zu 16 Näpfchen Farbe und einer Tube deckend dickem Weiß, bei Gelb unterschied man Ocker und Cadmium, bei Blau Kobalt und Ultramarin, so schöne wie spannende Namen. Der Kasten war aus blechglänzendem Blech, die Schienen für die Näpfchen und die Näpfchen auch. Ihr niegeschleckter Geschmack blieb Myra Metelli für immer im Augmund vergegenwärtigbar. Dem Pinsel dankte sie für die Weichheit und Wälzbarkeit in Farbe, dem Wasser für sein Lösen, der Farbfläche der Näpfchen, die sich nach jeder Nutzung wieder halbfeucht glättete wie ein trocknender Lehmtümpel, für Farbwildheit und Körper. Sie schnitt mit dem Pinsel ins Farbfleisch, entstellte eine Gegenfarbe durch Eingriff des fremdfarbbeladenen Pinsels, bereinigte im Wasser, das Wasser trübend, begann zu mischen — aus Gelb und Blau wurden soviele Grün, als sie wollte, sie mischte mit Deckweiß, Umbra und Elfenbeinschwarz, sie liebte Farbschanden auf ihrer Haut, aber nicht auf den Fingern, wo sie die Sauberkeit der Arbeit störten, sie bemalte, die Wirkung von Nachbar- und Gegenfarbe sicher erfassend, ein ganzes weißes Puppenkleid, nimm dir gefälligst einen anderen Abwischfetzen, schimpfte die mißverständige Mutter; daß der Malkasten nur auf Bitten und Bravheitsversprechen zugänglich war, erhöhte seine Wirkung auf das ordnende Kleinmädchen wohl raritätspsychologisch, wurde aber von Myra auch in erwachsenen Jahren nie gutgeheißen, denn ordnende Menschen wollen alles immer bereit und lieben nicht kapriziöse Erschwerungen.
