extends ../../templates/layout
block page-vars
  - const title = "Man nehme"
block main
  article#man-nehme
    h2.inline-title Man nehme
    p
      | ... ist in liberalen Systemen wie dem LexikonRoman eine Kurzform und bedeutet: »Man nehme, wenn man gerade ratsempfängerisch gelaunt ist«.
