extends ../../templates/layout
block page-vars
  - const title = "Manipulation"
block main
  article#manipulation
    h2.inline-title Manipulation.
    p
      | Ich manipuliere Sie, denn ich spreche zu Ihnen. Ich werde meiner Milchfrau sagen, sie soll mich beim Wursteinwägen nicht mehr manipulieren. Ich werde auch keine Schallplatte mehr anhören, kein Bild mehr ansehen, keinen Park betreten. Ich werde mich nurnoch selbst und nurnoch mich selbst manipulieren. Gehen Sie, bitte, hin und tun Sie desgleichen.
