extends ../../templates/layout
block page-vars
  - const title = "Maria-Theresien-Gelb"
block main
  article#maria-theresien-gelb-1
    h2.inline-title Maria-Theresien-Gelb 1.
    p
      | Warmgelb, Gebäudedotter, landschaftgestaltend, zu Grün passend, aus warmgelb eingestäubter Kalkbrühe gewonnen, freundlich, Farbe gutgeborgener Beginne.
    p
      | Jemand aber sah darin Alter, Geschichte, sah mit dem Staubgemüt statt den Augen und vertat mit dem Ansinnen, hier wäre schön verdämmern, dem gegenwartfrohen und zukunftgespannten Gefährten die Freude.
  article#maria-theresien-gelb-2
    h2.inline-title Maria-Theresien-Gelb 2.
    p
      | Maria-theresien-gelb gestrichene Häuser inmitten von viel Grün ermöglichen (durch die Ausgewogenheit des Gelb zwischen grünhafter Ruhe und 
      a.arrow(href="orangehafter-brand-paradoxon.html") orangehaftem Brand
      | , also durch idyllische Lebendigkeit, nichtversengende Wärme) viele optimale 
      a.arrow(href="entwicklungen.html") Entwicklungen
      |  junger Mädchen.
