extends ../../templates/layout
block page-vars
  - const title = "Marktkundliches"
block main
  article#marktkundliches
    h2.inline-title Marktkundliches.
    p
      | Die Lehre von Marktforschung und Marktbeeinflussung ist ein auf meine Aufmerksamkeit gerichteter Hufeisenmagnet. Sein Scheitelpunkt, an dem man sich gesundstoßen kann, liegt mir fern. Aber seine psycho-/soziologischen Pol-Enden, das abstoßende und das anziehende, wirken aus nächster Nähe auf mich.
    p
      em Das abstoßende:
    ul
      li Filterung der Menschen nach Wohlstandsgraden
      li Hab- und Prahlgierverseuchung der Beziehungen
      li universelle, permanente Druckausübung
      li Gleichschaltung der Images und Wünsche
      li Weckung unnötiger Unzufriedenheit
      li Weckung unberechtigter Selbstzufriedenheit
      li Förderung der Rückbildung des Denkens
      li Verschwendung der terrestren Vorräte etcetc
    p.indent
      em Das anziehende:
    ul
      li Die einschmeichelnde Lehre der Motivalchemisten, daß man im Kauf Persönlichkeit bewähren,
      li sich trösten,
      li daß man käufliche Dinge liebhaben kann.
    p.no-indent
      | Die Motivanalyse ist kapitalistische Inquisition.
    p.no-indent
      | Die Motivanalyse kommt einer Fetischanalyse nahe.
    p.no-indent
      | Die Motivanalyse kommt einer Poetik des Dinglichen nahe.
