extends ../../templates/layout
block page-vars
  - const title = "Mary McPee"
block main
  article#mary-mcpee
    h2.inline-title Mary McPee.
    p
      | Der gespannte Strumpfhalter schnellt zurück, das letzte Hindernis ist überwunden, schon glänzt das pralle weiße Oberschenkelfleisch im San Francisco Mondlicht, und gleich wird das ganze Bein bloßliegen für eine wunderbare unblutige doch heftige Operation. Dieses Gleich werden die Herrenjournalleser nie erreichen: es ist ein physikalisches Wunder, eine Art Ewigkeit; die Zeit-Ordinate ist eingefroren, alle Aktivität des Lesers kann sich jetzt nur in der Abszisse bewegen; durch Küssen, Drehen und Schrubben des Bildes ist der Vorgang nicht wieder in Fluß zu bringen. Mary McPee wird nie von ihrem Stilfauteuil aufstehen und bloßbeinig dem Leser entgegensprießen.
