extends ../../templates/layout
block page-vars
  - const title = "Mastmädchen"
block main
  article#mastmaedchen
    h2.inline-title Mastmädchen.
    div
      | ... Interessant für unsere Frage der willkürlichen Formung des Schönheitsideals ist die Mästung der Frauen, deren geradezu klassisches Land die Landschaft 
      em Karagwe
      |  am Westufer des Viktoriasees in dem uns geraubten Deutsch-Ostafrika ist. Diese Frauenmästung wird ganz systematisch mit Milch durchgeführt und so weit getrieben, daß diese Wesen schließlich, wie Emin Pascha berichtet, nicht mehr gehen können und zum Tragen zu schwer sind. (W. Liepmann, Psychologie der Frau.)
    div
      | ... 
      em Tunesierinnen
      |  gelten in den Augen ihrer männlichen Stammesgenossen nur dann als schön und begehrenswert, wenn sie eine üppige überquellende Körperfülle aufweisen. Verlobt sich nun ein junger Tunesier, so bringt er der Braut ein goldenes oder silbernes Armband mit, dessen Umfang der Körperfülle, die er wünscht, entspricht. Man streift den Reif über den Arm der Erwählten, und die Hochzeit findet statt, wenn der Arm das Armband restlos ausfüllt. Mutter und Großmutter lassen es sich zwar angelegen sein, die jungen Mädchen zu einer das Dickwerden begünstigenden Lebensführung anzuhalten; da aber der Verlobungsreif für gewöhnlich recht große Dimensionen zeigt, erweist sich eine besondere Mastkur als notwendig. (Wangen und Scheuer, Das üppige Weib.)
    div
      | ... Den größten Teil des Tages verbrachten die jungen 
      em Türkinnen
      |  bei der Schönheitspflege und im absoluten Müßiggang, durch welchen ihre Körperformen jene üppigen Rundungen erhielten; sie setzten sich obendrein noch richtigen Mastkuren aus und aßen den ganzen Tag Süßigkeiten und fette kleine Mehlkuchen, um möglichst viel Fett anzusetzen. (Ormonde, Geheimnis Frau.)
    div
      | ... Schon von früher Jugend an werden die Mädchen auf den 
      em Kanarischen Inseln
      |  einer richtigen Mästung mit Mehlbrei oder geronnener Milch unterworfen. Diese Prozedur wird so lange fortgesetzt, bis den jungen Mädchen an verschiedenen Körperstellen die Haut aufplatzt. (Ohne Quellenangabe archiviert.)
    div
      | ... Bei den 
      em Arabern
      |  gelten in Wort und Schrift (A. Stoll, Das Geschlechtsleben in der Völkerpsychologie) die fettsteißigen Frauen als besonders schön, und diese Eigenschaft hängt ja mit dem Leben, das aus Erotik und Nichtstun besteht, zusammen.
    div
      | ... Die Eingeborenen 
      em Guineas
      |  finden nach Humboldt fette Frauen mit zurückstehenden Stirnen schön, die 
      em Kirgisen
      |  schätzen den Wert der Frau nach ihrer Fettmenge.
    div
      | ... Mit einem überaus seltenen Fall hatte sich im vorigen Frühjahr ein Richter im 
      em Wiener
      |  Strafbezirksgericht zu befassen. Der aus dem Vorderen Orient stammende Ledun E. hatte seine Gattin in einem Gitterbett nahezu drei Monate lang gemästet. Um sich dem Vorhaben ganz widmen zu können, erbat Ledun einen sechswöchigen Urlaub. Er ging einkaufen, verrichtete alle häuslichen Arbeiten, pflegte das Kind und befaßte sich vor allem mit dem Kochen. Neben echt orientalischen Honig- und Mandelkuchen erhielt Maryja auch Powidltatschkerln, fette Mohnnudeln und den echten Wiener Kaiserschmarrn. Schon nach zehn Tagen hatte die iunge Frau eine Gewichtszunahme von drei Kilo zu verzeichnen. Da Maryja trotz strenger Anweisung öfters das Ehebett verließ, mußte sie in das Gitterbett des Söhnchens übersiedeln. Wenn Ledun die Wohnung verließ, befestigte er an dem Gitter ein kleines Vorhängeschloß. Eine Nachbarin enthüllte den Vorgang, als Leduns kleiner Sohn ihr ahnungslos Einlaß gewährte. Zu dieser Zeit wog Maryja bereits 89 Kilogramm. Breit und wohlgerundet, so daß sie fast das Kinderbett sprengte, saß sie im Bett und verzehrte einen Teller Himbeerreis. Polizeibeamte holten am Nachmittag den Orientalen ab, als er eben mit hoher Kochmütze am Kopf die üppigen Zutaten zur Herstellung von Salzburger Nockerln mischte. Nach der Einvernahme seiner in Decken gewickelten Gattin (kein Kleid paßte ihr mehr) wurde das Verfahren eingestellt, weil Maryja immer wieder beteuerte, sie wäre jetzt, nachdem sie ihres Mannes größten Wunsch erfüllt habe, glücklicher als je zuvor. (Kronen-Zeitung.)
    div
      | —
    p
      | Sekundäre Geschlechtsmerkmale des Weibes: die Entwicklung des Fettpolsters ist mächtiger und steht im Verhältnis zur Muskulatur in einer höheren Proportion:
    .grid
      .leftmost Muskulatur 
      .middle : 
      .middle Fett 
      .middle = 
      .middle 
        | &male;
        br
        | &female;
      .middle 
        | 41.8
        br
        | 35.8
      .middle 
        | :
        br
        | :
      .rightmost
        | 18.2
        br
        | 28.2
    p
      | Die besondere Betonung der sekundären Geschlechtsmerkmale wird als schön empfunden. (Liepmann/Bischoff.)
    div —
    p
      | Man verlängere die Fahrt in Gedanken bis zur nahe gelegenen Gemeinde Willendorf und huldige dort der 10 cm hohen und bis zu 4 cm dicken Kalksteinvenus des Aurignacien, die also einem Weib von 70 cm Durchmesser oder (U = 2 π r) 2 Meter 20 Umfang entspricht.
