extends ../../templates/layout
block page-vars
  - const title = "Masut"
block main
  article#masut
    h2.inline-title Masut,
    p
      | schweres Heizöl, für dickes, heißes Kesselhausfeuer und den Flammenwerfer. Fast schneidbar schlammig, schwer entzündbar, dafür aber dann dauerhaft fackelnd. Seine Flammen auf brennender Haut nicht wie Benzinflammen durch Patschen und Decken löschbar. Seine Opfer brennen 
      em bis zum bitteren Ende
      | , unentwegt wimmernd, verkrampft und sich wälzend.
    p.poetry
      | Hat sich Masutchen erst für dich erwärmt,
      br
      | bleibt es dir bis ans Lebensende treu.
    p
      | Auf einer Faktura wird dem Kesselhaus einer Brauerei oder Kosmetikfabrik 1 Wgg. Masut angerechnet, worauf in der Materialbuchhaltung Unheil einreißt. Tote auf ukrainischen Feldern beginnen zu dampfen. Verbrannter Braten und der unbestimmbare Geruch der Furcht. Ich habe mich nie gefürchtet, sagt der Soldat, aus der Heimatperspektive sieht alles viel schrecklicher aus. Aber wenn die Flamme einmal an der Haut angeklebt sitzt, die unabwaschbare SchmierSchmorerei bis zum minutenfernen klinischen Tod, kann auch er eine gewisse Inkommodation nicht leugnen. Im Verbrennen kommt auch Atemnot, als stecke man bis über die Brust in Eiswasser. Hitzeschock, Krampf aller Muskeln und vorwärtsstürmende Blutvergiftung machen das Wirkungsvollste aus der Sache, 
      em und zuhause wartet ein kleins Mägdelein, und das heißt Erika.
    p
      | Masut, Barbaren-U, Angriff der Batua und Bantu und des Batu-Khan, 
      span.small-caps Öi
      |  von Baku und Batum; Masut, geweiht im Massaker von Maas bis Masurensumpf; eisernklebrig wie Mastix, anklebende Eisenglut in den Masseln, schmerzmästende 
      em mast
      |  (slaw.: Fettigkeit, Schmiere). Masut fluscht dich kaputt; bis aufs 
      em caput mortuum
      | , mit ausgebrannten Augenhöhlen. Sud, die Sud erleben, das Gesottenwerden; sud (slaw.: das Gericht); súd (das Faß); in ein Faß Dicköl getaucht, das Gericht erleben.
