extends ../../templates/layout
block page-vars
  - const title = "Maturanten"
block main
  article#maturanten-1
    h2.inline-title Maturanten 1.
    p
      | Zwei Maturanten wollten Pharmakologie studieren; das inspirierte sie, »Gesetzt den Fall ...« aus dem »Bettelstudenten« mit neuem Text zu singen:
    p.poetry
      | Ein junger Mensch, der seine Frau vergiften will,
      br
      | ein junger Mensch mit solchem Ziel ist meistens still .....
  article#maturanten-2
    h2.inline-title Maturanten 2.
    p
      | Zwei Maturanten wollten Theologie studieren; im Moment aber sangen sie noch das Lied des Eunuchen:
    .longest-line
      | Ich möchte dich afrika, aber womit,
      br
      | ich möchte dich paprika, aber womit,
      br
      | ich möchte dich klosterspaß, aber womit,
      br
      | ich möchte dich osterhas, aber womit ...
  article#maturanten-3
    h2.inline-title Maturanten 3.
    p
      | Zwei Maturanten wollten demnächst nach Berlin gehen; zur Übung sangen sie:
    .longest-line
      | Herr Bolle saacht dem Kolle
      br
      | »Ick such een Weib aus Wolle
      br
      | mit fernjelenkter Bluse«.
      br
      | Der Kolle saachts der Uhse.
  article#maturanten-4
    h2.inline-title Maturanten 4.
    p
      | Zwei Maturanten wollten Ägyptologen werden; das hinderte sie nicht, ein unbelegtes Isis-und-Osiris-Duett anzustimmen:
    .longest-line
      | Liebes Schwesterl,
      br
      | komm auf ein Inzesterl.
      br
      | Gerne, liebes Brüderchen,
      br
      | gleich bin ich dein Lüderchen.
