extends ../../templates/layout
block page-vars
  - const title = "Melina Mercouri"
block main
  article#melina-mercouri
    h2.inline-title Melina Mercouri.
    p
      | Da 
      em dem Mimen die Nachwelt keine Kränze flicht
      | , stelle ich — in Hoffnung auf das Überleben meines Buches — unserer Nachwelt folgende Daten über die Griechin zur Verfügung:
    ul
      li Geboren als Tochter eines Athener Politikers
      li Berühmt geworden als Prostituierte im Schwarz-Weiß Tonfilm »Sonntags nie...« und Sängerin des Hadjidakis-Liedes »Ein Schiff wird kommen« (top hit in den frühen 60er Jahren)
      li In einem Illustrierten-Report (der sie, eine jungverwitterte Krähe, grob lachend über Betten trampeln zeigte) mit der Liebe zu Geld und Schmuck als dem einzigen Hobby behaftet
      li Nach Errichtung der Diktatur in Griechenland aber durchaus unökonomisch emigriert, um in Liedern, Reden und Demonstrationen für die Demokratie zu werben. (»Vom ersten Augenblick an«, heißt es nun, »ist der Besucher von zwei Eindrücken beherrscht: von der Echtheit und Auf richtigkeit dieser schönen Frau, die alles eher als ein Star ist und menschliche Wärme ausstrahlt, und von der Hingabe an ihre Sache, die die Sache des von der Militärjunta unter- drückten griechischen Volkes ist.«)
      li Zur näheren Information — auch über die Pfützen, die sie spiegelten—sei auf die einschlägige Presse der einschlägigen Jahre verwiesen.
      li Ihr Blick auf manchen Photos war wie geschmolzenes Zink.
