extends ../../templates/layout
block page-vars
  - const title = "Menschen"
block main
  article#menschen
    h2.inline-title Menschen.
    p
      | Die Anzüge, Weiberröcke, watschelnd, feiernd, eilend in mengen- und gütemessende rauchtelephonische Büros, Glutbatzen-, Plätzchen-, Punzen-Werkstätten, Urinschulen, Krauthaushalte, Fahnenschwimmbäder, Chemiewurstausflüge, Besonderenheime, Wischfetzengasthäuser, Zukunftbetten, Zufallstode —
    p
      | drum winkt ihr mit Taschentüchern voll Lavendel, Wäschereinummern, Lippenrot, Dünnschnupfen, Zahnresten, Halbkindern, Bügelfalten, optischen Aufhellern
    p
      | allen nichtbrückentrampelnden, zB den Schiffs-, Menschen
    p
      | einen zutunlichen, neidischen Brückengruß,
    p
      | singt großschnabels aber leishals ein geöffnetes Lied, etwa:
    p.poetry
      | Überall ist Welt aufgerissen,
      br
      | überall, auch hier, ist Welt aufgerissen,
      br
      | überall liegt Menschenfleisch zutag,
      br
      | überall ist Verteilung, überall ist Wahl,
      br
      | überall Wegezwickel, -drickel,
      br
      | überall ist Antwort auf Schulschwänz-Erwartung,
      br
      | auf Plänelesen,
      br
      | überall ist eine Art Überall,
      br
      | 
      span.hidden überall ist eine Art Überall, 
      | Überfall,
    p
      | Sprungbrett in Schiffe, Übersetzung der Senk- in die Waagrechte, Übertragung der Geh- auf die Schraubentempi. Dies ist der Sinn des Mensch-, Esel-, Fischseins, dies ist der Brautunterricht noch der Greise.
