extends ../../templates/layout
block page-vars
  - const title = "Menschennäheres Stadium"
block main
  article#menschennaeheres-stadium
    h2.inline-title Menschennäheres Stadium.
    p
      | Liegt es daran, daß meine Kräfte von 
      a.arrow(href="eiske.html") Eiske
      |  und ihrem Grottenolm verzehrt sind? Ich habe nicht mehr die Nerven, in selbstverhängter Einzelhaft jetzt stundenlang aus Zehntausenden von Flußweiden, Büschen, Unkrautstauden, Gras- und Wildgetreidehalmen, aus da und dort einer angeketteten Unfallzille und alle hundert Meter einem Flußkilometerstein in Weiß und Grau das Eigentliche zu schöpfen.
    p
      | Was heißt eigentlich das 
      em Eigentliche
      | ? Bin ich uneigentlich, wenn ich rechne »franko plus Auslandsfracht plus 
      span.small-caps Fob
      | -Kosten plus C & F dürfen nicht mehr als 120 Dollar pro Longton ausmachen, weil sonst Portugal für I. C. C. rentabler wird«?
    p
      | Bin ich uneigentlich, wenn ich meinen Nescafé auflöse und meine Morgenschuhe schnüre? Wenn ich mein Bärtchen nachfärbe und meinen Glücksaffen am Startschlüssel beiseiterücke? Wenn ich meine Büffelledermappe, die mir mein Konkurrent anläßlich eines doppelten Friedensschlusses (Abtretung eines Entwicklungsmarktes und einer guten Tanzpartnerin) geschenkt hat, mit Büffellederhandschuhen unterfasse und beim Rechtsberater mit den traurigen Gardinen und Gardenien anläute?
    p
      | Wenn ich Tabletten schlucke, »Hold the line!« in die perlgraue Muschel gurgle, zur Sekretärin meines Überseepartners, die ich mir nach ihrer Stimme nie vorstellen kann? Wenn ich die immer lockende Blütentür im »Dobváry« öffne und meinen Obolus der gelbgeschminkten Garderobiere mit den leise faulenden Zähnen entrichte? Wenn ich in gewissen Siruptänzen mich unendlich langsam in die 
      em Nacht mit meiner Tanzdame
      |  vorarbeite oder im neuesten Import einen heißen kurzen Teenager schüttle?
    p
      | Bin ich uneigentlich, wenn ich werbe und mich werben lasse, verlasse und mich verlassen lasse, ohne daß die Nüchternheit des Love Agreement jemals schmilzt? (Nur die 
      a.arrow(href="koerper.html") Körper
      |  nehmens noch ernst, die sind doch die besseren Menschen; die Körper — die guten, weichen meiner Frauen und mein eigener dazu — haben mir immer noch die einwandfreiesten Stunden geschenkt; Tage, Wochen, wenn man die Vorfreude loyalerweise dazurechnet; körperlich kann man wirklich noch von Sehnsucht, Erfüllung, Entbehrung sprechen; unbestreitbar wie der Reiz, den ein 
      a.arrow(href="wasserbeschlagenes-glas.html") wasserbeschlagenes Glas
      |  an einem 
      a.arrow(href="hundstage.html") Hundstag
      |  ausübt.)
    p
      | Bin ich uneigentlich, wenn ich meine Pferdewette gewinne und meinen Bankauszug ungeduldig mit unbewaffnetem Zeigefinger öffne? Wenn ich in einer fremden Stadt eine fremde Zeitschrift mit einer fremden Titelschönheit kaufe und in einem Provinznest protzig die New York Times aus meinem 
      em echten Burberry
      |  ragen lasse?
    p
      | ?
    p
      | Begleiten wir J., der darum nun unter die Menschen geht, durch die verschiedenen Schiffsräume, durch den Mittelteil, vorbei am Guckfenster für den spitalsaubern Schiffsantrieb, dem Steuermannsraum mit dem Dynamitrucksack, durch den riesigen Halbring des schon sonnigeren Vorderdecks, durch den anderen Mittelteil — mit Einzelgängertischen —, durch das riesige Halbrund des grellbesonnten Hinterdecks (auf dem immer noch die Bräunungsfakirinnen schmoren), treppab auf die Restaurant- und Kabinen-Etage, entlang den Betriebsräumen, Dienstzimmern, den unbenutzten Kabinen, benutzten WCs, dem Ansichtskarten-Kiosk, vorbei am Restaurant- und am Bar-Eingang, zu der Trossen-Haspel, dem erfrischendsten Wassergespritze am Rettungsdeck, dem Schiffsjungen-Besen und dem Selbstmörder-Auswurf (»Lebensmüde — rote Taste drücken; 10 ✕ 10 Schilling«). Freuen wir uns seiner 
      a.arrow(href="bordabenteuer.html") Bordabenteuer
      |  (mehrere nachlesen und am richtigen Ort in der eben gebotenen Auswahl spielen lassen).
    p
      | Bald aber belegt ihn ein Ingenieur, der, wie sich herausstellt, einem befreundeten Geschäftshaus angehört (doch nicht nach Druden unterwegs ist), mit Beschlag; er versetzt J. aufs Vorderdeck. Neben der Anteilnahme an diesem Ingenieur gibt es aber auch Beobachtungen an Deck; außerdem sieht J. gelegentlich auf das, was sich draußen abspielt. In beliebiger Reihenfolge:
    p
      | 
      a.arrow(href="ingenieur.html") Ingenieur
      |  (mehrere)
    p
      | 
      a.arrow(href="vorderdeckereignisse.html") Vorderdeckereignisse
      |  (mehrere)
    p
      | 
      a.arrow(href="wasserereignisse.html") Wasserereignisse
      |  (mehrere)
    p
      | 
      a.arrow(href="pfahlhaeuser.html") Pfahlhäuser
      |  (mehrere)
    p
      | 
      a.arrow(href="huegel.html") Hügel
      |  (einer)
    p
      | 
      a.arrow(href="auen.html") Auen
      |  (mehrere)
    p
      | 
      a.arrow(href="betonlager.html") Betonlager
      | 
    p
      | 
      a.arrow(href="staedtchen.html") Städtchen
      |  (zweie; in einem legen sie kurz an, nahe einer der wenigen Brücken der Strecke)
    p
      | 
      a.arrow(href="chemiewerk.html") Chemiewerk
      | 
    p
      | Alles zusammen dauert knapp 2 Stunden, bis 11.10. 
      a.arrow.main-route(href="auflockerung-im-allgemeinen.html") Auflockerung im allgemeinen.
