extends ../../templates/layout
block page-vars
  - const title = "Milchblau"
block main
  article#milchblau-1
    h2.inline-title Milchblau 1.
    p
      | Auch Myra Metelli nannte ein gewisses weißverdünntes Blau gern Milchblau. Hast du denn nicht genug Milch getrunken?, fragte sie einmal der Vater, einmal die Mutter. Ich weiß, sagte Myra dann, daß Milch sahnigweiß bis elfenbein ist und daß, wenn einmal eine Milch blau fließt, das sogleich dem Veterinär zu melden ist. Aber wie ungern würde ich gelbe Milch trinken, wie unerfrischend wäre dieser Buttertrank. Gerade das Bläuliche, das der himmelblaue Himmel eines Ausflugtags hineinspiegelt, macht die Erfrischung. Übrigens haben Emulsionen wirklich einen bläulichen Widerschein. Und wenn in einem kahlen ärmlichsten Bauernzimmer, das ein Obdachsuchenden-Kind riesenweit findet, der Kalk fürs Weißen angerührt wird, mit blauer Farbe drin, ist das nicht Milch, die das Kind in Stadttagen immer vor sich sehen wird? Mein Milchblau ist nicht kuhwarm, sondern kühlschrankkalt, und eine Myra Metelli trinkt in einem blauen Bademantel eines Cote-d'Azur-Hotels aus einer milchblau liniierten Schale milchblaue Milch.
  article#milchblau-2
    h2.inline-title Milchblau 2.
    p
      | In ein Häuschen ist eine Nische eingelassen. Tief hinten in der Nische schattet ein Fenster. Die Nische ist milchblau gemalt, so daß Leute, die aus dem Fenster sehen, plastisch in den Hintergrund gerückt sind, in 
      em lieblichem
      |  Rahmen, und auch ihrerseits einen gewissen Rückhalt haben. Die Leute, die, zB winters, aus dieser Nische schauen, sind ein tröstlicher Anblick.
  article#milchblau-3
    h2.inline-title Milchblau 3. 
    p
      |Milchblaue Träume passen gut zu schwarzem Katzhaar, blek blek blek blek geht die Zunge, und schon ist die schwarzblaue Schale mit milchblauer Milch blank.
