extends ../../templates/layout
block page-vars
  - const title = "Mindel"
block main
  article#mindel
    h2.inline-title Mindel(-kraut).
    p
      | Romantische Buben glauben, »Mindelkraut« kommt von »Mindel«, jenem unvergeßlichen Mädchen Mindi (Vindemiatrix, Winzerin Epsilon im Sternbild der Jungfrau, die jeden Buben größerer Städte einmal im Leben besucht). Es wäre an sich denkbar, denn Mindelkraut ist in seinem Minz-, Pastell- oder Pistaziengrün wirklich »lieblich«, vor allem jung und interstellar. Mindelkraut hat selbst Sterne: Sternblüten und auf den Blättern nochmals Sternmuster in Weiß. Es schmeckt bitter und aromatisch, Wermut ist dagegen Lakritze und Minze ausgekautes Gras. In Mindenheim, wo die Mindenmädchen angereichert vorkommen, sind unabsehbare Rasenflächen voll Mindelkraut; dazwischen blubbern jene so begehrten Mindelbäche, mit Krümmungen, Stegen, wo die Mindenfrauen ihre Wäsche waschen, und voll Mindelwassers, eines kationenreichen, aber anionenlosen Sprudels (den Chemikern ein Rätsel, den Wanderern eine salubre Erfrischung). »Möge dir [etwas] Mindel und Kamille sein« ist ein alter Segensspruch. Die minder Gebildeten glauben, er rühre von der Mindeleiszeit (der einzigen Mindel-Ableitung, die sie in gewöhnlichen Lexizis vorfinden), und halten den Segen daher für einen verkappten Erfrierungsfluch.
