extends ../../templates/layout
block page-vars
  - const title = "Mineralwasser"
block main
  article#mineralwasser
    h2.inline-title Mineralwasser.
    p
      | Lösung eines Steins in Wasser, Vollzug einer Unlöslichkeit. Kälte aus der Rohrpiepe eines Bubenkurorts. Nach Halbstundenmarsch vom Gemsenhaus herunter, vor der Spitalabwaage. Dieses Wasser krächzt. Reibt Salz und zischt Gasblasen. Vollzug einer Unatembarkeit. Kristallin. Es enthält Kat- und Anionen. Kati und Anni, lernt man in der Schule, die eine ist posi-, die andere negativ. Jedes Mineralwasser ist anders als Sodawasser, aber jedes ist anders anders. Die meisten sind enttäuschend unblau. Verlangt man sie zur Mahlzeit, ist man fein, das Essen wird zur Tafel. Mineralsole, die man Tafelwasser nennt, enthält kleine Salztäfelchen. Es ist aber so eisgekühlt, daß es zerspringt, und löscht selbst in der Kehle deines Hundes deinen Durst.
