extends ../../templates/layout
block page-vars
  - const title = "Mittagserwartung"
block main
  article#mittagserwartung
    h2.inline-title Mittagserwartung.
    p
      | Ich war ganz froh, daß der Ingenieur und seine Frau sich mit den Worten, es wäre sehr nett gewesen, mich kennenzulernen, sie müßten sich jetzt aber wieder ihrem Chef und dessen Frau, mit denen sie auch später im Restaurant essen würden, widmen, verabschiedet hatten; ihre Frage, ob ich Dr. Lemmerer nicht kennenlernen wollte, war mehr der Höflichkeit zuzuschreiben gewesen, denn sie hatten gemeinsam noch viele Rechnereien vor; ich hatte gedankt, unter dem Vorwand, daß ich einer erwarteten transatlantischen Nachricht, die meine 
      a.arrow(href="geschaeftsbeziehung.html") Geschäftsbeziehung
      |  mit Dr. Lemmerers Chef berühre, nicht vorgreifen wollte.
    p
      | So konnte ich mich ungestört auf das Essen freuen, zu dem mein Magen schon aufspielte. Weniger disziplinierte Bordbewohner schoben schon Stullen, Gurken, Würstchen in den Mund, führten Fettfleckgespräche. An beiden Decks schmorte man jetzt nahezu gleichmäßig, die Füße tanzten auf Feuer, ich entsann mich des Williams-Stückes »Katze auf heißem Blechdach«, nur im Nordschatten und an der Selbstmörderreeling mit dem Gespritze gab es etwas Kühlung. Das verdampfte Motorenöl, das über Bord herumzitterte, mischte seinen dünnen, nicht schlechten Geruch mit dem Geruch des Erdnußöls, in dem für die Restaurantschattigen anscheinend schon Wiener Schnitzel ausgebacken wurden. Auf diese Gerüche reagierte mein Magen mit verstärktem Kullern. Ich freute mich also auf schattiges Sitzen, auf 
      a.arrow(href="essen-und-trinken.html") Essen und Trinken
      |  (mehrere nachlesen). Den Colamat ließ ich aus einer Art sportlicher Standhaftigkeit unbenutzt. Ich stand meist im nördlichen Spritzbecken und betrachtete 
      a.arrow(href="auen.html") Auen
      | , 
      a.arrow(href="huegel.html") Hügel
      | , 
      a.arrow(href="wasserereignisse.html") Wasserereignisse
      | , 
      a.arrow(href="auflockerungen.html") Auflockerungen
      |  und ein 
      a.arrow(href="staedtchen.html") Städtchen
      | .
    p
      | Vor zwölf Uhr besuchte ich den Waschraum und ging von ungefähr ins 
      a.arrow.main-route(href="restaurant.html") Restaurant
      | .
