extends ../../templates/layout
block page-vars
  - const title = "Mittelteil"
block main
  article#mittelteil
    h2.inline-title Mittelteil.
    p
      | Und kaum sitzt er — die versilberten Maschinen summen schon, die blanken Kölbchen nähen auf und ab —, trampelt die Herde der 
      em zu kleinen
      |  Schulmädchen ein. J. findet mit Mühe die 
      em Lehrerin aus Tarnfarbe
      |  heraus. Die 
      em zu kleinen
      |  Schulmädchen riechen manche nach Milch (wie Robert Hamerling es spitzkriegte), andere haben schon ein kleines Parfum. Manche haben Gesundheitsschlapfen, viele haben rote Schuhe mit blauen Söckchen zu grünen Pyjamahosen und gelber Kleinmädchenbluse oder grüne Schuhe mit gelben Söckchen zu lila Minimini und orange Schleierbluse. Dazu orange Christbaumkugeln an den Ohrläppchen und eine himmelblaue Masche im noch nicht mitternachtsblau gefärbten Haar. Sie beißen noch in die Butterbrote des harmlosen Spottes — über geschmacklose Farben, dickbäuchige Männer, eine Kameradin, die »Halt den Hund« statt »Halt den Mund« gesagt hat. Eine ist schon ein bißchen frühreif, schwänzelt beim Gehen, schaut unerlöst und spendet J. das Abrollen ihrer rechten Kugelbrust an seinem rechten Oberarm. Die 
      em Lehrerin aus Tarnfarbe
      |  klatscht den Schwanz der Schlange herbei, eine Intelligente mit verschlossenem Gesicht bellt und geht finster weiter; eine läßt schon hier ihren weiß-schwarzen »Fernseh«-Ball hüpfen, zwischen Handfläche und Boden unermüdlich, und damit sind alle vorbei und an 
      a.arrow(href="deck.html") Deck
      |  (man schlage jenes nach, das man noch nicht kennt).
    p
      | Mehr Leute vom Ufer kommen nicht, eine Kette wird vorgehängt, die Maschinen geraten auf Hochtouren, 7.15, ein Tuten muß in den nächsten Sekunden die Ohren zerreißen — three, two, one, 
      a.arrow.main-route(href="zero.html") zero
      | .
