extends ../../templates/layout
block page-vars
  - const title = "Molotow-Cocktail"
block main
  article#molotow-cocktail
    h2.inline-title Molotow-Cocktail.
    p
      | Ich liebe, sagte André Anarchique, MolotowCocktails mit Kalimetall-Zündung. Wasser setzt sie in Brand.
