extends ../../templates/layout
block page-vars
  - const title = "Motive für das Quälen von Katzen"
block main
  article#motive-fuer-das-quaelen-von-katzen
    h2.inline-title Motive für das Quälen von Katzen.
    p
      | Nach der vermeintlich erschöpfenden Betrachtung einer Schwarzkatze, nach den ersten Entzückensäußerungen und den späteren vergeblichen Anreden weiß der Dreijährige mit der Katze nichts mehr anzufangen. Ein Wunder müßte geschehen, aber es unterbleibt. Da lotet er ihre Möglichkeiten aus, indem er die Dehnbarkeit ihrer Arme mißt, die Brüchigkeit ihrer Beine, die Durchstoßbarkeit ihrer Ohren, die Widerstandskraft ihres Schnäuzchens gegen spitze Steine und Brennesseln. Nun kratzt sie ihn blutig und liefert ihm ein zweites Motiv. Das reicht für totalen Krieg. Mit der Wunderwaffe seiner Schuhe malmt er ihre Füße, und seine Milchzähne suchen im Raubaffeninstinkt ihre Halsschlagader. Heut hab ich das Katzi aufgefressen, prahlt er schmerzglücklich, und seine Mutti berichtigt ihn: »Aufgegessen, sagt man. Fressen tun nur die Viechi.«
