extends ../../templates/layout
block page-vars
  - const title = "Motive für die Freude an Verwinkelungen"
block main
  article#motive-fuer-die-freude-an-verwinkelungen
    h2.inline-title Motive für die Freude an Verwinkelungen.
    p
      | In einem verwinkelten Raum haben nicht nur die 
      em räumliche Tiefe
      | , sondern auch die Türenund-Fenster-Front räumliche Tiefe. Wo nur die 
      em räumliche Tiefe
      |  räumliche Tiefe hat, ist der Ersatz des Raumes durch Vorstellungen oder Postkarten leichter möglich. Vorstellungen und Postkarten aber sind zweitrangig, weil man von einem Raum nicht nur 
      em mit Gegenständen unterhalten
      | , sondern auch umhüllt werden will. Der Raum ist, würden die Freudianer sagen, Sinnbild des Schoßes. Nur selten haben Vorstellungen diese Umgebenskraft, Postkarten nur in ganz geschickten Fällen oder wenn man sie in eine Pappschachtel stellt und mit einer Guckloch-Lupe betritt.
    p
      | Jede Verwinkelung ist ein Überraschungswert.
    p
      | Jedes Handlungspaar, das sich auf zwei zueinander verwinkelten Bühnen simultan abspielt, illudiert »echte« Simultaneität, denn diese ist das Zugleichsein von unzusammengehörig Empfundenem. Wenn Alfred den Ball wirft und Marie die Arme hebt, um zu fangen, ist der Eindruck von Simultaneität geringer, als wenn hier Alfred Marie den Ball zuwirft, dort aber Martha Alfons die Arme abhackt. Und solches geschieht viel glaubhafter auf zwei zueinander verwinkelten Bühnen.
    p
      | Zu den Teilen eines verwinkelt gebauten Hauses hat der Mensch von einem Punkt aus viel mehr Zutrittsmöglichkeiten. Inmitten eines Vierkants zögernd, kann er hier die Diele, dort den Stall, dort den Geräteschuppen, dort die Selche betreten, wird hier begrüßt, dort eingemistet, dort geharkt und dort geselcht werden; die Möglichkeitenstruktur der Welt wird durch jeden Winkelbau deutlicher.
