extends ../../templates/layout
block page-vars
  - const title = "Motivsammlung"
block main
  article#motivsammlung
    h2.inline-title Motivsammlung.
    p
      | Nur aus praktischen Gründen habe ich diesen Roman nicht auch noch
    p.align-center
      | »... eine Motivsammlung«
    p
      | untertitelt.
    p
      | Hierbei meine ich mit Motiv nicht das geschmackig in den Sucher bugsierte Stück Landschaft, sondern etwas 
      a.arrow(href="marktkundliches.html") Marktkundliches
      |  nach Art von Ernest Dichters 
      span.small-caps Handbuch der Kaufmotive
      |  »Aaaah, Holz! Zedernholz! Geborgenheit, nach a hard day's work, am Kamin dem breitbrüstigen Gatten gegenübersitzend«, orakelt ungefähr ein holzbefragtes Tippschen, eines von hundertzwanzig gut gemischten, und der Holzwunschforscher kommt nicht nach mit Kreuzchenmalen in die vorgedruckte Tabelle seiner Incorporation.
    p
      | Warum lehnt sich ein Volkswagenkäufer beim Plaudern mit dem Saloninhaber instinktiv an einen vergoldeten Rolls Royce? Warum läßt sich der Straßenarbeiter meist nur blau tätowieren? Warum gibt es Absatzkrisen für tiefviolettes Klosettpapier? — Kommt es nicht solchen Weisheitsschürfungen nahe, wenn ich Punkt für Punkt die Donau abschmecke, um zu ermitteln, warum Chemiekaufmann J. sie sich heute kauft?
