extends ../../templates/layout
block page-vars
  - const title = "Motive für den Erwerb eines Eichhörnchens"
block main
  article#motive-fuer-den-erwerb-eines-eichhoernchens
    h2.inline-title Motive für den Erwerb eines Eichhörnchens.
    p
      | Aus der Deutschstunde behält man, daß es ein Eichhorn ebensowenig gibt wie ein Kanin oder ein Mad. Eichhörnchen- und notfalls Kaninchenliebe werden also meist eine Vorliebe für junge Mädchen tarnen, die sogenannte Korophilie, etwas, das der Mann im Zeitalter der genialen Analytik nicht ohne Berechtigung tarnt; ein Wissenschaftler, der alle linken Hände nur für Degenerationen fälschlich links angewachsener rechter Hände hält, sieht in der Mädchenvorliebe von Männern eine lesbische Entartung Schwuler und wendet deshalb an das Natürlichste den griechischen Fachnamen einer Perversion, vom Kotschmieren nurnoch durch Kastration eines »p« getrennt.
    p
      | Eichhörnchenkaufende Mädchen haben oft einfach den Erwerb fehlender oder zusätzlicher Eichhörnchenhaftigkeit im Sinn.
