extends ../../templates/layout
block page-vars
  - const title = "Mundart"
block main
  article#mundart
    h2.inline-title Mundart.
    p
      | Mir ist wohl die Landschaft nicht Vorwand. Sie ist nicht gegen anderscharaktrige austauschbar. Dennoch ist das österreichelnde an ihr zurückgedrängt. Gerade der Wirklichkeit wegen, es hängt ja nicht an jeder Hausmauer das Holloderoh, steigt nicht aus jedem Schornstein der Radetzkymarsch und es wurde gelegentlich auch schon Wein mit ortlosen und fränkischen, slowakischen und MaoriGefühlen hier getrunken. Ein Schuß Felix Austria — und selbst Kierkegaard würde eine gewisse Gemütlichkeit bekommen; die Würze ist nämlich sehr penetrant. Möglichst wenig Assoziationen also mit der Tradition des süßsauren Denkverzichts.
    p
      | So auch behandle ich die Mundart. Der Mund, der hier aufgetan wird, erleidet dies zwar ebenfalls in einer charaktrigen Weise, das Wesentliche aber sind nicht die Phoneme. Natürlich bieten sich zwei Transkriptionen an: die streng phonetische und die artmannsche; aber die streng phonetische überfordert den Leser (und, ich will nicht leugnen, den Autor); und auch die artmannsche verlangt eine unlohnende Mikropräzision und Differenzierung — der Bewohner des Wiener Bezirks Hernals erschlägt schon den Bewohner des Wiener Bezirks Breitensee, zB Artmann, für dessen Mundart, der Amtsrat den Oberamtsrat und die Milchfrau die Toilettefrau, zuviel Lokaldetails für ein unösterreichelndes Buch; die Wahrheit ist zwar konkret, aber sie läßt gewiß mit sich reden.
    p
      | Also: Nur wo durch Übertragung in die Hoch- oder Umgangssprache die Rede atmosphärisch oder akustisch verzerrt würde, deute ich Mundart an; nicht indem ich den ganzen Satz mundartlich transkribiere, sondern indem ich mich mit der Notation des entscheidend Abweichenden begnüge, etwa der rhythmisch wichtigen Fortlassung einer Silbe. So kann es vorkommen, daß ich statt »Das habe ich gedacht!«, aber auch statt »Des hob i ma denkt!« schreibe: »Das hab ich mir dacht!«. Bei Kürzungsformen wie »gsehn«, »bleim« (bleiben), »mim« (mit dem) u. ä. wende ich, wie auch sonst, das stolprige Apostroph nicht an. Es bleibt dem Leser überlassen, im Lesen meine gemeindeutschen Sätze oder Halbdialektsymbole in die Wiener oder auch eine andere vollwertige Mundart zu transformieren.
