extends ../../templates/layout
block page-vars
  - const title = "Muskeln"
block main
  article#muskeln
    h2.inline-title Muskeln.
    p
      | Myra Metelli überrascht eines Morgens der von einem Illustriertenbild angeregte Gedanke, ein durch Muskelpakete gänzlich deformierter Mann (
      a.arrow(href="deformation.html") Deformation
      | ) presse sie an sich und sie beiße mit heißem Vergnügen in dieses harte Geschwelle. Bald, sagt sie, werde ich so tief gesunken sein, mir einen starken, dummen, brutalen Zoologiebuch-Mann zu suchen und ihm ein enghorizontiges, geiziges, keifendes Haushuhn abzugeben, kadavergehorsam der Negativauslese namens Sexualcharakteristik. Niemals!, sagt die Ordnung in Jungmädchengestalt etwas theatralisch und wirft das Bild aus dem Bett. Aber das ist keine Lösung, so wie es für Chemiekaufmann J., wenn er einmal auf den Geschmack dicken Weibchenfleisches gekommen ist, keine Lösung bedeutet, die Hundertkilobarbara aus dem Bett zu werfen.
    p
      | Hochzielenden Menschen, denen die Schwerkraft der steinzeitlichen Anthropologie das Gewehr nach unten zieht, bleibt nur das Hoffnungspaar, daß
    .indexed-grid
      .grid-index a) 
      .grid-text eine spätere Menschheit die atavistischen unter den Körperbau-Reizen verabschieden wird oder
      .grid-index b) 
      .grid-text die atavistischen Körperbau-Reize weiterbestehen, aber mehr und mehr die Kopplung mit atavistischen Wesens-Zügen verlieren werden, wodurch schöne Bären-Abailards intelligenteste und zarteste Liebesverbindungen mit Renoir-Héloisen werden durchschwelgen können.
