extends ../../templates/layout
block page-vars
  - const title = "Nachmittagsgespräche"
block main
  article#nachmittagsgespraeche-1
    h2.inline-title Nachmittagsgespräche 1.
    p
      | Eine Mutter renkt ihrer Tochter die Negerpuppe wieder ein. Die Tochter fragt: »Neger, warum schaust du so traurig?« Ein Pensionist sagt: »Weil er gelyncht wird, wenn er groß ist.« Die Tochter fragt: »Weil er 
      em was
      | ? « Der Pensionist sagt: »Weißt du, die Weißen prügeln die Neger gaanz fest, bis sie tot sind.« Die Tochter fragt: »Da muß ich dich auch prügeln, Neger?!« und beantwortet sich die Frage mit ganz festen Schlägen in ihr Kind. »Mm! Mm!« Ein Bein fliegt weg. Die Mutter schimpft: »Jetzt hab ich dir die Puppe grad erst wieder eingerenkt; du bist doch —!«
  article#nachmittagsgespraeche-2
    h2.inline-title Nachmittagsgespräche 2.
    p
      | Alte Leute erzählen von einstigen Wanderungen in dieser Gegend. Der Pensionist ist gleichzeitig an Bord und auf jenem Feldweg. Der Pensionist ist gleichzeitig ausgedient (ins Trockne gebracht) und jung (voll Erwartungen, ungesichert). Der Feldweg ist gleichzeitig leer und mit dem (jungen) Pensionisten. Die Donau ist gleichzeitig mit dem Schwätzerschiff und einstzeitleer.
  article#nachmittagsgespraeche-3
    h2.inline-title Nachmittagsgespräche 3.
    p (Schmerfettmutter zu zweiter:)
    p.no-indent
      | Das is wurscht! Die Menscher werden 
      em das
      |  tragen, was 
      em ich
      |  will!
  article#nachmittagsgespraeche-4
    h2.inline-title Nachmittagsgespräche 4.
    p
      | »Da, wo wir vorbeigefahren sind, bei dem kleinen Brückerl, hat er sie in allen warmen Nächten hingeschleppt. Sie hat müssen im Fluß stehn und mit ihm was machen. Lang hats nicht gedauert, hat sie eine Unterleibslähmung gekriegt. Er hat sich von ihr scheiden lassen, hat sie in ein Versorgungsheim gegeben und eine Junge geheiratet.«
    p
      | »Schleppt er die auch wieder in allen warmen Nächten zum Brükkerl?«
  article#nachmittagsgespraeche-5
    h2.inline-title Nachmittagsgespräche 5.
    p
      | »Mein Mann hat sich bei der Versteigerung sechs rote Zipfelmützen gekauft.« »Jö, das is praktisch.«
  article#nachmittagsgespraeche-6
    h2.inline-title Nachmittagsgespräche 6.
    p
      | Kannst mir nicht den Namen sagen von dem, der verbrannt ist?
  article#nachmittagsgespraeche-7
    h2.inline-title Nachmittagsgespräche 7.
    p
      | 
      a.arrow(href="maturanten.html") Maturanten
      | .
  article#nachmittagsgespraeche-8
    h2.inline-title Nachmittagsgespräche 8.
    p
      | Ein älterer Herr, der schon getrunken hat (zur Gegend stimmenden Gelbwein in einer durchwärmten Grünflasche), gönnt Haarboden und Panamamütze eine kleine Erholung voneinander und zitiert hierbei den vor 88 Jahren geborenen Hans Adler:
    p.poetry
      | O letzte Lust, die noch dem Denker frommt!
      br
      | Vom keuschen Mond verklärt, im Garten
      br
      | Auf jene einzige zu warten,
      br
      | Die niemals kommt.
    p
      | Moment, sagt ein jüngerer Weingenosse, dessen Sonnengesicht zu dem Lied opponiert, das ist nicht so leicht abgetan; Sie müssen mir erst einmal beweisen, daß der Mond keusch ist; der Mond war schon zu Zeiten der alten Syrer eine Göttin der Empfängnis, und Jungfrauen — verstehn Sie!: richtige Jungfrauen — haben sich am Mondfest preisgeben — verstehn Sie!: richtig preisgeben — müssen. Junger Mann, sagt der Piltere zu dem 50jährigen, Sie sind im Irrtum: die Göttin Ischtar hat damals schon von allen Priestern und Priesterinnen das Zölibat verlangt; lesen Sie einmal altorientalische Geschichte; — aber ich habe an dem Vers etwas anderes auszusetzen. An einem Vers oder der ganzen Strophe?, triezt der 50jährige. Ich habe auszusetzen, antwortete der 70jährige, daß der Dichter sagt:
    p.poetry
      | Auf jene 
      em einzige
      |  zu warten,
      br
      | Die niemals kommt;
    p
      | dabei kommt ja ein ganzer Schüppel nicht, nicht nur eine einzige; der 70jährige lacht; oder gehts Ihnen besser?, fragt er den 50jährigen. Auch nichtmehr, sagt der.
    p
      | Sie eröffnen sodann eine Diskussion, wie die Einzige beschaffen sein müßte, die niemals kommt, um zu der Ursache vorzustoßen, warum sie grundsätzlich nicht kommt. Sie beginnen mit den körperlichen Eigenschaften und trinken dazu ihren jeweiligen brackiggewärmten Gelbwein.
    p
      | 
      a.arrow(href="biographische-uebung.html") Biographische Übung
      | .
  article#nachmittagsgespraeche-9
    h2.inline-title Nachmittagsgespräche 9.
    p
      | In die Diskussion über die 
      em Einzige, die niemals kommt
      | , mengte sich ein Taschenlampenvertreter, der aber Interesse an der Verhaltensforschung hatte. Er erzählte, wie ein junger Amerikaner ein pazifisches Delphinmädchen liebgewonnen hatte; er lebte mit ihr im Delphinbassin, lernte tauchen, schnellen und ihre Sprache, sie lernte von ihm bewundernswert rasch die höhere Mathematik und die Formallogik, und sie wurden ein Pärchen mit musterhafter Kommunikation, ließen Menschenpärchen darin weit zurück. Der junge Amerikaner mußte dann aber seine Geliebte dem CNR — dem Central Navy Research — abgeben, von wo aus sie mit einer taktischen Atomladung, jedem Torpedo überlegen, einem schrottreifen Versuchsschiff nachgesandt wurde. Mit ihrer Intelligenz gelang es ihr leicht, ihren geladenen Leib in den Kesselraum Zu verstauen, wo sie mit dem Wrack in die Luft flog. Der junge Amerikaner trauerte. Eine eigene Frage bleibt, wieso Liebe und Intelligenz des Mädchens nicht eine Wehrdienstverweigerung bewirken konnten; aber vielleicht hatte ihr Denken schon zusehr menschliche Züge angenommen; Delphine, schreibt Professor Lilly, lassen sich trotz oder gerade wegen ihrer hohen Intelligenz leicht korrumpieren.
  article#nachmittagsgespraeche-10
    h2.inline-title Nachmittagsgespräche 10.
    p
      | In die Diskussion um die 
      em Einzige, die niemals kommt
      | , mengt sich ein Beiträger, nach dessen Bericht einem Junggesellen sehr wohl die Einzige kam, und zwar ein aus der Illustrierten geschnittenes Dämchen, das, weil es sich erstmals in seinem vollen Liebes-Wert erfaßt fand, unter der Schere des Junggesellen lebendig wurde. Der Junggeselle allerdings, nach einigen erfreuten Sekunden, trug das heftig sich wehrende Bildchen zur Pfarre. Dort wurde es neuerlich lebendig, erklärte aber, nun in ein Kloster gehen zu wollen.
    p
      | Jetzt haben Sie uns aber schön reingelegt, sagt der PanamaMann. 
      em Alle Menschen, die so reden
      | , zitiert der Besitzer eines neulich verteilten Traktätchens, 
      em kennen unser Volk in seinen großen Nöten nicht. Es handelt sich bei der Zauberei um Satanismus. Eine weitverbreitete Art der Zauberei ist das Besprechen. Man nennt es auch das Tun, Büßen, Blasen, Pusten, Versöhnen, Sympathie treiben. Sympathie heißt: auf einen Gegenstand einen unerklärlichen Einfluß ausüben. In manchen Fällen hilft es gewiß. Aber die Hilfe kommt nicht von Gott, sondern vom Teufel. Sie ist mit einem tiefen Schaden für die Seele verbunden, denn sie fordert der Teufel als Lohn. Als ich versuchte, mit einem besprochenen Mädchen zu beten, vermochte sie nicht den Namen des Herrn auszusprechen. Immer wieder kam sie nur bis »Je ... Je ...«. Durch dieses geheimnisvolle Mittel sind ganze Ställe unter den Einßuß böser Geister gekommen, Mensch und Vieh wurden oft geplagt. Ja, mancher Landwirt hat seinen Hof verkaufen müssen, weil er keine Ruhe hatte bei Tag und Nacht. Du mußt in so einem Fall dem Teufel kündigen. Sag ihm etwa folgendes: Ich entsage dem Teufel und allen seinen Werken und i nsbesondere auch den Rechtsansprüchen, die er an mich bekommen hat.
      |  (Gibt es heute noch Zauberei?, Evangelische Landeskirchliche Volks- und Schriftenmission Lieme, 1968.)
  article#nachmittagsgespraeche-11
    h2.inline-title Nachmittagsgespräche 11.
    p
      | Nun sprachen auch noch zwei Männer drüben, die sahen Schulkameraden aus J.s freundlichgrüner Steinzeit ähnlich. J. dachte: Ich bin unendlich lange zu keinem Klassentreffen gegangen. Was fasziniert uns an so Klassentreffen? Ihre statistische Wehleidigkeit. Einfach, daß zwanzig Menschen naturgemäß einige Schicksals-Arten haben, zwei gestorben, einer Zwillinge gezeugt, einer Sportmedaille, einer hohes Viech (Landesregierung). Und: das Altern. Und: Freunde in Reserve zu haben, unausgewertet oder doch nicht so restlos ausgewertet wie die Verwandten und ständigen Kumpane. J. ging langsam hinüber, bis er die Unterschiede zwischen den Sprechenden und seinen Kameraden klar heraushatte.
  article#nachmittagsgespraeche-12
    h2.inline-title Nachmittagsgespräche 12.
    p
      | Am Grundlsee bin ich gwesen mit meine Herrschaften. In einer Villa ham wir dort gewohnt. Am Grundlsee, mein Gott, da is schee! Die Berge! Die scheene Villa! Das war ein Erlebnis! Taja. Ein einmaliges Büt, in der Vollmondnacht, da sind wir am Balkon gsessn. Da zehrt ma dann ein Leben lang. Nna! Warn das net glückliche Stunden?
    p
      | Mit einem Jahr, sagte die verblühte Hundebesitzerin, hab ich schon gut zusammzählen und schreiben können. Da war grad der Krieg aus. Mit zwei Jahren, ich sag Ihnen, da war ich schrecklich verliebt in einen Harry (damals haben sich alle Harry genannt we.zen dem Harry Piel). Mit drei hat mich meine Mutter gestoßen zum Heiraten, aber ich wollt nicht. Na, mit vier war ich schon eine gutverheiratete Geschäftsfrau, Gemischtwarenhandel, die Frau Gauleiter ist zu uns immer selber einkaufen kommen. Mit fünf hat mich ein Franzos gehabt, man glaubt immer, nur die Russen haben vergewaltigt, einen Schmarrn!, ich hab ein paar Wochen nur geheult. Mit sechs hab ich zum zweitenmal geheiratet, damals hat auch bei uns ganz zart das Wirtschaftswunder angefangen. Mit sieben haben wir uns scheiden lassen, mein Mann ist so unausstehlich geworden, ihn haben nurnoch die Sputnike interessiert. Mein Lebensgefährte der Franzl, den was ich jetzt hab, ist prima. Na, und jetzt bin ich auch schon acht Jahr vorbei, und viel mehr als zehn wirds bei mir nicht werden; alle meine Leute sind mit neun oder zehn. Nicht viel Zeit, so ein Leben; was, Rexl?
    p
      | Auch ein Elternpaar unterhält sich. Etwa: Man kommt kaum dazu, das Liebsein der Kinder zu genießen, schon entwickeln sie sich; man kommt kaum dazu, das Entwickeln des 3jährigen mitzuerleben, schon ist der 7jährige 11jährig und gleich entfremdet er sich auch schon endgültig. Eine Gesprächspartnerin findet es vorteilhaft, wenn man Mädchen hat. »Man verliert sie ja doch wieder. Aber sie sind doch anders als Söhne ... Freilich, in einem kenn ich nichts: Meine Mädchen müssen ausschauen, wie ich will.«
    p
      | »Wir alte Krauter...« (Wie der Rücktritt eines Politikers noch glanzvoll, sein Leben im Hintergrund dann aber glanzlos ist, wie die Enttäuschung eines Buben, dem das Mädchen aus dem Lokal geht, noch prickelnd, die folgende Zeit der Langeweile dann aber schal ist, so ist der Ausspruch des letztmals verzichtenden Mannes »So, jetzt werd ich ohne dich ein alter Krauter« durch Gedankenverbindung mit dem, worauf verzichtet werden soll, noch eroshaltig; später, wenn der Verzichtende nurmehr Krauter unter Krautern ist und keine Frage mehr nach der Dämonin seines Verkrauterns geht, wirkt sein Leben kaummehr als eine Repräsentanz jener Weltkraft.)
  article#nachmittagsgespraeche-13
    h2.inline-title Nachmittagsgespräche 13.
    p
      | Eine in Unternehmungslust er-
    p
      | graute Wienerin betut sich mit Holländern: Lieben Sie Musik? Nein?, schade. Sonst hätte ich Ihnen einen besonderen Leckerbissen empfehlen können: die Ehrengräber am Zentralfriedhof. Alle Fremden waren mir dafür immer sehr dankbar.
  article#nachmittagsgespraeche-14
    h2.inline-title Nachmittagsgespräche 14.
    p
      | Ein rosiges 60jähriges Paar bestätigt einem 30jährigen Techniker unaufgefordert, daß er anständig sei. Dann gibt es ihm recht, weil er seinen Urlaub nicht an der Adria verbringe. Schaun Sie, der Rudi — was, Emmi, fragt der 60jährige dazwischen seine Frau, na!, sagt die, — geht baden und der Haifisch frißt seine Frau zusamm; jetzt muß er sich eine neue suchen. Alle lachen, aber die 60jährigen merken plötzlich, daß der 30jährige die Haifischstory für einen Witz hält. Nein; wirklich, der Copak, unser Schneider, sagt der 60jährige. Der 30jährige läßt sein Lachen zusammensacken. Na, es ist 
      em schon
      |  schrecklich, sagt die 60jährige etwas verlegen.
    p
      | Aber werden 
      em Sie
      |  sich noch keine Frau suchen, lenkt der 60jährige ab, haben Sie gar kein bisserl Sehnsucht nach glücklichen Stunden? Wo wohnen Sie? Bei meinen Eltern, sagt der 30jährige. Na, er ist brav, sagt die Frau, er wartet, bis die Mutter weg ist.
    p
      | Und so gescheit! Der 30jährige winkt bescheiden ab. A nein, bekräftigt der 60jährige, zur Frau gewandt, ein bisserl was muß er schon im Hirn haben, wenn er Hochbautechniker ist.
  article#nachmittagsgespraeche-15
    h2.inline-title Nachmittagsgespräche 15.
    p
      | Zwei nicht mehr schwangerzukriegende Frauen bereden eine junge 
      a.arrow(href="schwangere.html") schwangere
      |  Nachbarin.
  article#nachmittagsgespraeche-16
    h2.inline-title Nachmittagsgespräche 16.
    p
      | Der Ingenieur kommt noch einmal heran. Meine Frau, sagt er, hat sich ganz mit den Lemmerers eingesponnen, da geh ich lieber; na, haben Sie inzwischen Ihre transatlantische Nachricht bekommen?, frozzelt er J. Der Chemiekaufmann lacht: Ich muß einmal den Bordfunker fragen; und Ihr Tabellenwerk, ist es inzwischen druckreif geworden? Der Ingenieur lacht: Ich drehe durch, ich ziehe schon aus allem die Quadratwurzel; kommen Sie, setzen wir uns ein wenig in den sogenannten Schatten; haben Sie heute schon die Zeitung gelesen?, ich noch nicht. Was steht Schönes drin? Die Männer stecken sich, Max und Moritz, unter die gedruckte Decke. 
      a.arrow(href="zeitung.html") Zeitung
      |  (mehrere).
  article#nachmittagsgespraeche-17
    h2.inline-title Nachmittagsgespräche 17.
    p
      | In meiner Jugend habe ich einmal einen Lustmord geplant, sagt ein älterer Herr. Ich habe ihn dann allerdings nicht ausgeführt, nein, wirklich nicht. Als ich so planend auf meiner Parkbank sitze, Sie können sichs vorstellen, gegenüber einer Straßenbahnremise, kommt eine geschwätzige Frau und setzt sich neben mich. Ich —, na, ich laß mich doch nicht durch einen Ablenkungsfehler ins Zuchthaus bringen —, ich sage der Frau einfach, bitte, Gnädigste, seien Sie mir nicht böse, aber ich bin in einer schweren Meditation. Oh, verzeihen Sie vielmals, sagt sie, sind Sie vielleicht Buddhist?; wir hatten einen Nachbarn, einen seelenguten Menschen.. Ist schon recht, sage ich; nein, ich bin Laientrappist; hören Sie doch auch einmal auf die Botschaft der Stille. Nun, meine Nachbarin nimmt meine Worte ernst, und, was sagen Sie: sie gestaltet von der Stunde an ihr Leben fromm. Ich hab es später in einer Missionszeitung gelesen.
    p
      | Ich habe mich manchmal gefragt, wieweit das ein Beweis gegen die Frömmigkeit ist. Ich glaube heute, es ist keiner. Ich glaube, es ist kein Argument gegen die Physik, wenn ein Papagei eine richtige Formel an die richtige Adresse bringt, ohne Physik studiert zu haben.
  article#nachmittagsgespraeche-18
    h2.inline-title Nachmittagsgespräche 18.
    p
      | Stimmt das, daß er 
      em halbe Leichenschändung
      |  getrieben hat? Was ist das eigentlich?
    p
      | Aber! Kunststoffspritzer war er, oder Presser, was weiß ich ein ganz junger Mensch. Im Urlaub hat er als Totengräber ausgeholfen, und von toten Frauen, die ihm gefallen haben, hat er in der Nacht einen Gipsabdruck genommen, und wenn er wieder in der Fabrik war, hat er sich die Frauen aus Plastik nachgegossen. Kein Mensch kann sagen, daß Abgipsen eine unzüchtige Handlung ist. Gut, für den Materialdiebstahl hätt er hoppgehen können
    p
      | Und stimmt das, daß sich die Frauen gerächt haben?
    p
      | Blödsinn! Der Lieferwagen ist einfach im Nebel über eine Böschung, und die Puppen haben den Mann halt zerdruckt.
  article#nachmittagsgespraeche-19
    h2.inline-title Nachmittagsgespräche 19.
    p
      | Eine Gruppe junger Mädchen — vielleicht die vormittag den Schnurrbart am Gebläse angezündet hatte — sang einen munteren 
      a.arrow(href="schlager.html") Schlager
      | .
  article#nachmittagsgespraeche-20
    h2.inline-title Nachmittagsgespräche 20.
    p
      | Chemiekaufmann J. fühlt sich gedrängt fur das Merkwürdige, das Auftauchen jenes 
      a.arrow(href="haus-am-knopfer-huegel.html") Hauses am Knopfer Hügel
      |  aus dem Schlammbad der Siesta, Zeugen zu finden. Er spricht daher eine recht schöne alleinreisende Frau verschiedener Helligkeitswerte an, die klimaktischen Blicks ebenfalls jenes Haus anpeilt. »Eine schöne Lage«, präambuliert er. »Ja, herrlich«, antwortet die Frau, »die Leute am Land wissen nicht, wie schön sies haben.« »Finden Sie nicht auch«, bemüht sich J., »daß dieses Haus etwas ganz Merkwürdiges hat?« »Ich glaube, das ist die neue Type von der Bausparkasse.« »Ich meine«, stottert J., »dieses Auftauchen jetzt plötzlich — man ist plötzlich drin — mitten unter den Bewohnern — man nimmt an ihrem Leben teil — « »Ja, wirklich herzig«, sagt die Frau, »wie aus der Spielzeugschachtel.« »Wissen Sie, gnädige Frau«, J. bleibt am Ball, »es ist nicht nur das Herzige. Ich meine, diese Situation, oder diese ... Konstellation kommt nie wieder. Hier das Schiff mit den Menschen, die aus der Siesta aufwachen. Dort der Hügel, wieder ganz anders; aus dem Haus, glaub ich, sieht jemand raus und wird jetzt vielleicht unser Schiff sehen — « »Genau«, sagt die Frau, »die Leute am Land sind wie die Kinder sie winken, winken, aber ich wink auch immer, wenn ich einen Zug oder ein Schiff sehe.« »Ich meine eigentlich das... Einmalige daran«, sagt J. »Sie haben recht«, sagt die Frau, »die Donau ist schon sehr einmalig.«
    p
      | 
      a.arrow(href="nachbetrachtung.html") Nachbetrachtung
      | .
  article#nachmittagsgespraeche-21
    h2.inline-title Nachmittagsgespräche 21.
    p
      | Ein Herr Rastauritsch erzählt von Bruckners vergeblichem Liebeswerben an der Orgel zu St. Florian. Das Trampelchen, dem das Genie hatte imponieren wollen, lief aus der Kirche. (Wie günstig hätte sich der Fall doch entwickelt, wenn eine brucknersüchtige Musikstudentin im Kleid des Trampelchens gesteckt hätte.)
    p
      | Die junge Frau Rastauritsch: ist ein glitzernder Eisberg, dessen notdürftig verborgene neun Zehntel düster und (durch Langeweile) tödlich sind.
    p
      | Das statistische Entsetzen, den Kaufmann überkommend: Suchende, ausgesetzt inmitten einer Welt voll unsortierter Menschen.
    p
      | Designer Rohács spielt bei: ein Freund habe sich die Wohnung in perfekter Sachlichkeit eingerichtet und annonciere nun vergeblich um jemand, der diesen Anblick gernhätte.
    p
      | Whiskyflaschenpost eines versoffenen Mytilla-MitilBeobachters am Schiff zu dieser Zeit vorbeitreibend: »Intellektuelle Mädchen erkennt man daran, daß Leute, die mit Hunden, Babies und Mädchen peinlich schweigsam sind, weil sie nicht den gefälligen Ton und die Informationsleere der diese Kreise induzierenden Sprache treffen, mit 
      em ihnen
      |  keine Kommunikationsschwierigkeiten haben. Ich will ein intellektuelles Mädchen werden, schwor sich Mytilla, als eines Kindertages die Art von Leuten, mit Hunden, Babies und Mädchen zu sprechen, ihr hellseherisch evident wurde und Mytilla in einen weltallgroßen Topf des Alleinseins fiel.«
    p
      | Freilich: Herr Huber fährt automatisch, Frau Huber wäscht automatisch — passen Herr und Frau Huber nicht gut zusammen?
    p
      | Oder: der Twinnie-Look für Pärchen: Sie und Er in gleichgeschnittenen Hemden und Hosen. Wo findet man aber die solcher Dingpärchen würdigen Menschenpärchen?
    p
      | Projektion der rührend muffigen Jugendwohnung J.s mit den Schränken voll Wünsche. Damals las der Kaufmannsadept sogar Dichter; nach Wanderungen hängte er in die Stubenluft Gelbkräuterbüschel und Wilhelm Lehmanns Minzbitterkeiten:
    p.poetry
      | ... Niemanden traf ich auf meiner Fahrt,
      br
      | Niemand hat mich dabei getroffen.
    p
      | Ja, ich war damals noch kein so eminent lustiger 
      a.arrow(href="exporteur.html") Exporteur
      | .
    p
      | Rohacs läßt den Transistor erzählen: »Ich bin zweimal auferstanden wegen Selbstmordes, sagte Wolfgang angesichts St. Peters. Die Himmelstür war undicht. Die Hölle klaffte sehr verlockend hol dich der Teufel, sagte Wolfgang zu einem Mädchen, wie auf der Erde, aber in dieser neuen Umgebung holte wirklich ein Teufel dieses Mädchen, und Wolfgang fühlte sich sehr stark.«
    p
      | Es gibt zwei Möglichkeiten, sagte der Ingenieur, sich die optimale Partnerin zu bauen: a) sie sorgfältig in Gedanken darzustellen und dann noch die Kleinigkeit zu wünschen, daß sie lebendig werde, b) sie aus einer wirklichen Weibse anzusetzen — denn Wirklichkeit hat immer viel für sich und dann die Kleinigkeit zu wünschen, daß sie optimal werde. Gottseidank bin ich dieser Problematik enthoben, fügte er, als seine Gattin anwesend wurde, rasch hinzu. Aber ich nicht, sagte die Gattin langsam.
    p
      | 
      a.arrow(href="platonische-haelften.html") Platonische Hälften
      | .
  article#nachmittagsgespraeche-22
    h2.inline-title Nachmittagsgespräche 22.
    p
      | Ein Liebespaar küßt sich, zerstreitet sich dann am Gefühl für Plastik-Gegenstände: Er sieht in ihnen noch den Zauber der Herstellung (von Neuem, Farbigem, unzählige Eigenschaftswünsche Erfüllendem), sie das Symbol der Vermassung, den Ramsch.
    p
      | Nach dem Streit, der unbehebbar bleiben muß, küßt das Paar sich aus Symmetriegründen wieder, lappig-weich und traurig.
