extends ../../templates/layout
block page-vars
  - const title = "Nachgefrischt"
block main
  article#nachgefrischt
    h2.inline-title Nachgefrischt
    p
      | werden allmählich unfrisch gewordene Dinge. Frisch heißt komischerweise frisch 
      em gewaschen
      | . (Es könnte ja auch frisch verdreckt bedeuten.) Das Wort »nachfrischen« hat etwas von dem hoffnungslosen Kampf um das anorganische Image eines organischen Wesens. Man frischt laut Werbesprache Menschen und Menschenverpackungen nach, um sie 
      a.arrow(href="sympathisch.html") sympathisch
      |  zu machen. Nach dem Fallen des Wortes »nachfrischen« verbreitet sich erst richtig der vorher nichtbeachtete Menschengeruch und wird unappetitlichpfuiteufel.
