extends ../../templates/layout
block page-vars
  - const title = "Nachbetrachtung"
block main
  article#nachbetrachtung
    h2.inline-title Nachbetrachtung
    p
      | zu 
      a.arrow(href="nachmittagsgespraeche.html#nachmittagsgespraeche-20") Nachmittagsgespräche 20
      |  und anderen Artikeln: Um solche Kommunikationsschwierigkeiten über das Ergriffenwerden durch Landschaft u. ä. wenigstens dort zu vermeiden, wo beide Kommunikanten, etwa ein sensibles Hochzeitsreisepaar, genügend Emobilität mitbringen, sei vorgeschlagen, daß das Paar sich bloß durch ein kurzes Signal, etwa das Drücken eines Gummi-Entleins, vom Vorliegen eines 
      a.arrow(href="f-erlebnis.html") F-Erlebnisses
      |  verständigt; 
      em was
      |  hingegen jeder durchmacht, bleibe unzerredet, der Heuhaufen wird ohnehin nicht beiden Partnern das gleiche bedeuten; daß synchron F-Ströme fließen, sei ihnen eine genug erfreuliche Information vielleicht sind sogar intuitive Strominduktionen möglich. So wie Mytilla Mitil, wenn sie Encore Edibelbek fände, freudig neben dem Roastbeeferfreuten von gebackenen Reinanken sich erfreuen ließe, in identischer Lichtsaalmusik mit dem Freund delphinend.
