extends ../../templates/layout
block page-vars
  - const title = "Nachziehverfahren?"
block main
  article#nachziehverfahren
    h2.inline-title Nachziehverfahren?
    p
      | Daß ich trotz meiner, »außersprachlichen« Althasenschaft mit der Assimilation »innersprachlicher« bzw dadaogener Methoden nicht 1970 nachziehe, sondern schon 1950 befaßt war, als die Chronik noch mit Busta und Kießling schloß, die »Wiener Gruppe« noch nicht bestand und die Revolte von uns Autoren der »neuen wege« getragen wurde, zeigt ein stilanalytischer Blick in meine alten Gedichtbände und Manuskripte: ob ich darin nun von der statt dem Mai spreche, um seine Koromorphie zu betonen, ob ich die Syntax störe (»Aber Sie haben ein schönes Tier, das Ihnen folgt / Tier Ihnen folgt« oder »Der braune Steinbruch wird tagelang Kinder klettern«), ob ich Wörter zerbreche (»Do you remem, Do you re-ber, Do you remember her«), Neologismen (»Äcker gehackt vom unendlichen Holz Hark«) und wortgeborene Para-Tätigkeiten ausschütte (»Sie schneiden Zeichen in die bartlosen Gesichter / Sie treiben rot / Sie sanden bis zu Salz«), ob ich wortspiele (»Ist das eine grausige Phantasie? / Ist das ein Nachtmahr? / Nein, es ist die Dagmar«), lautmale (»Nur Zink / das linkisch klappernde Zink / der Traufen / wird Tropfen / auf Tropfen / antworten«, es folgen vier Zeilen mit je einem punktförmigen Regentropfen), oder ob ich montiere, Werbesprüche und Musikgeräusche einblende. Zur Ergänzung seien drei unveröffentlichte Texte von 1951 zitiert, in denen ich den Wortschatz überhaupt verlasse:
    .vertical-margin
      em 28. 3. 1951 (»Aus meinem Dada«):
    .grid
      .left it 
      .right Weites Land in der Kindheit, eine Autofahrt am frühen Vormittag in der Nähe eines Hohlweges, in einer ganz neuen Gegend
      .left goch
      .right Ein andermal Lärmen der Zementfabriken. Das Bewußtsein von Staub unmittelbarer als je seither. Goch — später auch noch in Mischmaschinen eine leise Ahnung davon
    .vertical-margin
      em 3.10. 1951 (»Disharmonisierung«):
    .grid
      .empty
      .column
        | eroubis
        br
        | petoukis
        br
        | limonsastris
        br
        | chipaquis
        br
        | stepalaxmis
        br
        | telathmis
        br
        | •
        br
        | evchiaa
        br
        | tevelthmaa
        br
        | idvelxmaa
        br
        | •
        br
        | monibigel
        br
        | •
        br
        | ostna -stna
        br
        | posus
        br
        | misblegma
    .vertical-margin
      em 26.12. 1951 (»Sommerlaubenlied«):
    .grid
      .empty 
      .column
        | m - i
        br
        | it it t-it
        br
        | i t-it
        br
        | m, m, m, it
        br
        | m, ti, m, tit.
        br
        | •
        br
        | l- i
        br
        | in in n-in
        br
        | i n-in
        br
        | m, m, m, it
        br
        | m, ti, m, tin.
        br
        | •
        br
        | mo so lu du
        br
        | in m-u
        br
        | in, in, m, it
        br
        | m, ti, m, in, m, tit ...
    .vertical-margin
      | — und eine Lautnotation vom 10.1.1952 abgebildet:
    img(src="../assets/nachziehverfahren.png" alt="Handgeschriebener Text")