extends ../../templates/layout
block page-vars
  - const title = "NATUR-HOTEL"
block main
  article#natur-hotel-1
    h2.inline-title NATUR-HOTEL 1.
    p
      | Marie macht eine Pfanne Eierspeis. Die Pfanne rußt. Die Eier sind selbstgelegt. Alte Naturgeschichtslehrer dürfen befruchten helfen. Patiencelegen ist erlaubt, nur muß man dazu das an der Wand hängende Eselgesicht aufsetzen. Frau Rechnungsrätinnen sind nicht unter Frau Rechnungsrätin anzusprechen, Fräulein Marien nicht über Marie. Hofräte werden vor Wirklichkeit manchmal wirklich. Ein Märchen ist es, daß die guten dicken Landbetten an der Luft ungelüftet bleiben. Die Luft ist wirklich wertvoll. Wenn sich ein junger Romantiker in ein knarrendes Dop pelbett legt, in den eisern zusammengetischlerten Brauttrog, und in der frühzeitig eintretenden Abendstunde wachträumt, mit welcher Vorgängerin er hier wohl schlafe, ärgert ihn Marie, indem sie die angegreiste barthaarige Wutzel beschreibt. So werden Naturhotels rasch entzaubert und weniger schön und verlieren auch mehr und mehr junge Gäste, die Motels hingegen, in denen Filmsternchen abspritzen, ohne daß die Leintücher nach ihnen gewendet werden, können die Jünglingsherden kaummehr einkoppeln.
  article#natur-hotel-2
    h2.inline-title NATUR-HOTEL 2.
    p
      | Wie 
      a.arrow(href="natur-hotel.html#natur-hotel-1") NATUR-HOTEL 1
      | . Nur macht statt Marie Eierspeis Steffi Palatschinken und Hofräte bleiben unwirklich. Zusätzlich gibt es eine Teppichbürste, die Zimmerbrände hervorruft. Ein Apotheker schwärmt inoffiziell von Magnetkuren.
  article#natur-hotel-3
    h2.inline-title NATUR-HOTEL 3.
    p
      | Wie 
      a.arrow(href="natur-hotel.html#natur-hotel-1") NATUR-HOTEL 1
      | . Nur hat es ein Schild Zum goldenen Zapfen. Es hat Rechnungsformulare auf gelbem Affichenpapier, mit Phantasiefraktur belettert, mit einem braunen Zapfen geschmückt, und einen Aschantinußautomaten. Hier tröstet den jungen Enttäuschten im Bedarfsfall die kleine rote Renate, die sich auf Wunsch sogar eine flachsblonde Faschingsperücke aufstülpt und die an der Frühstückszimmerwand klirrenden Sporen an die Hornhautfüßchen schnallt.
  article#natur-hotel-4
    h2.inline-title NATUR-HOTEL 4.
    p
      | Wie 
      a.arrow(href="natur-hotel.html#natur-hotel-2") NATUR-HOTEL 2
      | . Nur sagt wenn Steffi Palatschinken macht, der unwirkliche Hofrat, sie während seines Redens vertraulich festzwickend, seufzend: Naja, Steffi, in Nizza, Au Petit Brouant, hab ich anders gegessen. Warten Sie: Le saumon frais de L'Adour au champagne (verstehen Sie?)... Le poulet Cote d'Azur (hmm, das war ein Gedicht)... Les fromages de France (die essen Sie auch gern, nicht, Mädi?)... Le Pudding soufflé au Rhum (aber was für ein Soufflé!, das müßten Sie erlebt haben!) und... Le fin Nectar (ist Ihnen das ein Begriff, ja, Steffi?) Tja, überall ist eben nicht große Welt, und ewig bleibt man nicht jung und agil... Nicht bös sein, Steffi. Die Palatschinken sind exxxxx-quisit. Küßdiehände.
