extends ../../templates/layout
block page-vars
  - const title = "Nickel"
block main
  article#nickel
    h2.inline-title Nickel.
    p
      | Ursprünglich: eigensinniger, boshafter Mensch oder Kobold; Taugenichts. Da sächsische Bergleute aus einem kupferfarbenen Kies vergeblich Kupfer zu gewinnen suchten, schrieben sie die Schuld einem Nickel zu und schimpften das Erz Kupfernickel. Im Kupfernickel wurde später ein neues Metall entdeckt; v. Cronstedt nannte es Nickel. Also ist nicht jeder Nickel so boshaft, wie es fürs erste scheint.
    p
      | Motive für die Vernickelung: Was man vernickeln läßt, wird schön, chirurgisch und unsterblich. Eine rostfreie Zange ist schön wie ein wanzenfreies Bett. Eine Theke mit kaltem Nickelglanz ist chirurgisch wie eine nichtrußende Stichflamme. Eine Kühlernackte aus Nickel ist unsterblich wie eine pharaonische Grabbeigabe.
    p
      | Auch unsere Erde ist ein Traum aus Nickel. Aber die Übermacht der anderen Elemente verpatzt ihn.
