extends ../../templates/layout
block page-vars
  - const title = "Nouveau roman"
block main
  article#nouveau-roman
    h2.inline-title Nouveau roman.
    p
      | Insofern, als ich den Dingen (die mich schon als Säugling fasziniert haben) viel Autonomie in meinen Schriften gebe, bin ich ein nouveau romancier — vor allem als Lyriker und Kurzprosaist. »Magischer Realismus ist eine Tautologie«, schrieb ich einmal, in einem Neunseiter über einen Fünfzeiler; die Magie der Dinge komme nicht von einem Gleichnis, das sie seien, sondern von ihrem Selbst (diesem Seins-Partikel), das auf uns wirke. Ich liege damit dem Versuch,
    p
      | »exemplarische Dinge-Romane zu schreiben, in denen es keine Helden gibt, sondern nur Objekte, wobei ein Tausendfüßler oder eine Bananenstaude, eine Möve auf einem Pfahl oder ein Stück Bindfaden auf dem Boden gleiches Recht beanspruchen können wie der Reisende in Uhren und das Fischermädchen« (W. Ross über Robbe-Grillet),
    p
      | mindestens ebenso nahe wie dem Existentialismus oder einem ganz ordensfromm genommenen Materialismus.
