extends ../../templates/layout
block page-vars
  - const title = "Ödstätten"
block main
  article#oedstaetten-1
    h2.inline-title Ödstätten 1.
    p
      | Unmerklich geht die Ödstätte in Wasser über. Seichtes Wasser: die Kinder lernen hier ihre Sehnsucht nach Kähnen. Sie baden in ihm beschuhte und nackte Füße. Sie sprechen sommerüber die Brackwassersprache. Vor Wasserbenützung aber laufen sie lang über Ödstättenkrautwerk, das vorzeitig Sommer und Verblühen hat. Brandigbraun oft schon im Juni, Lebensuhrwerk, etwas überdreht, dadurch den Kindern merklich und jammrig. Im übrigen: Abenteuer. Alle Abenteuer geschehen aus Langeweile, münden in Langeweile und nähren in Zeiten der Langeweile. Das Wasser der Ödstätte läßt sich durch das Ausschütten von Zubern vermehren. In den Zubern ist Seifen- oder Abwaschwasser.
  article#oedstaetten-2
    h2.inline-title Ödstätten 2.
    p
      | Man geht aus den Städtchenhausgäßchen (den staubigen, zugigen, brausepulvrigen) zweimal links, einmal rechts, passiert einen Durchgang und ist an der Ödstätte. Hier überwältigt die Sonne. Städtchenkinder, die hier spielen, werden abgeschafft und als Ödstättenkinder neugeschaffen. Ödstättenkinder haben keine Mutter und keinen Vater mehr, haben nur die Ödstätte, erst die Hungeruhr werkelt sie dem AbenteuerEnde entgegen, sie sterben und werden als Mittagstischkinder wiedergeschaffen. Dann, wenn die Erwachsenen rülpsen und schnurren, verdampfen die Kinder in die Ödstätte und werden als Ödstättenkinder mächtig bis zum Abend. Sie schmecken nach Botanik, Maulwurf, Bittersaft, Steinschlecken, Kratzwunden, Indianerehre und haben Finger aus Hundekot. Dann erschrecken sie, weil die Sonne schon zu weit unten ist und ihre Eltern noch prügeln. Sie sterben und werden als Heulkinder neugeschaffen, die Zorn für vierzig Jahre mit Löffeln in den dampfblasenden Maisbrei hineinstampfen.
  article#oedstaetten-3
    h2.inline-title Ödstätten 3.
    p
      | Encore Edibelbek fand sich als Soldat irgendeines Krieges im Spiel auf der Ödstätte wieder. Das Spiel war anders verlaufen, als die Generalität es im Sandkasten kalkuliert hatte. Ihm rann Blut der Gruppe A aus dem abgetrennten Bein, und er sah interessiert dem Verfließen der Flüssigkeit in die beige Ödstättenerde zu. Das Rot verlor sich dort fast, neben dem abgekniffenen Bleirohr-Ende; wäre Wasser ausgeschüttet worden, wäre die Abdunkelung des Flecks kaum anders verlaufen. Hokuspokus, sagte Edibelbek zu seinem Blut, werde Wasser. Er lachte über die Einfachheit chemischer Umsetzungen. Ein ganz hübscher, keineswegs unappetitlicher oder schauerlicher Käfer kitzelte ihn durch Saugen an der Schnittfläche, aber Edibelbek spürte das mangels Nervenleitungen nicht. Mahlzeit!, wünschte er dem Käferchen; daß Leute in meiner Lage beten oder Wünsche nach einem letzten Familientreffen haben, ist also ein Lesebuchmärchen. Heil X!, grüßte er seinen verlierenden Staatsmann, für den er am Sterben war. Er spuckte. Edibelbek bemühte sich stark, das Geflecht holzigen Unkrauts auf der Ödstättenfläche zu entwirren. Jetzt ruhen irgendwo Bäuerinnen (reagierte er auf sonn- und schatten-dialektisches Gras), jetzt bereiten sie irgendwo Maisbrei. Jetzt sterben (ein friedenszeitlicher Pneu-Rest verwitterte im Wildkies) Leute unvergleichlich gequälter im schweren Heizöl (
      a.arrow(href="masut.html") Masut
      | ) des Flammenwerferstrahls. Ich war ein Glückspilz. Über den Sinn des Geflechts vermochte er nicht klarzuwerden. Ins Gras beißen, lachte er. Er versuchte das, es gelang, schmeckte nicht interessant. Es erfrischte ein wenig. Holzkreuzchen; für Freiheit, Volk oder sonst einen austauschbaren Begriff.
  article#oedstaetten-4
    h2.inline-title Ödstätten 4.
    p
      | Freu dich, Hund, sagt der Pensionist zu seinem Hund, wir gehen auf die Ödstätte, abrichten. Wir gehen vorbei an der kleinen Seifenfabrik, wo die Portiershündin, deine Freundin Myra, angekettet bellt, mein Arm ist ganz Peitsche, mein Bein ganz Stock, mein Mund ganz Pfeife, sei ganz Ohr! Schau, ein toter Frosch. Pfui, nicht in den Mund nehmen! Da, ein alter Faltkarton, tuj, tuj, hols Apportl, huj! Watta, nichts für dich, pfui, gehst weg! Gibs Pfoti. Brav. Tüchtig. Stocki holen, tuj, rrrenn! Fffff(ü)! Der Pensionist kriegt einen Hustenanfall. Er grüßt andere Ödstättenhundepensionisten und andere Abrichter, stolpert Ziegel, riecht Fischwasser, spuckt Glasschutt. Der zottige schwarze bellt wie aus einem gefüllten Sack. Abwärtsjaulen. Ein auchzottiger Setter, seine Haarspitzen wie in Asphaltöl getunkt, ein ganzes Zwölfendergeweih aus wassergeschältem Holz trägt er keuchend im rinnenden Maul. Ein alter Mann wiegt einen schmutzigweißen 
      em Bobby
      |  im Arm. Auf Ödstätten beißen Hunde in den Schwanz, in die Leine. Oder sie laufen
    .frei
      | frei
      span.hidden ....
      | .
    p
      | Ein altgedünkeltes Weibsstück aber hat ihre grau-schwarzbraun gestreifte Riesendogge an eine 
      span.small-caps Kette
      |  geschlagen.
    p
      | Das alles sind 
      a.arrow(href="hunde.html") Hunde
      | , sie scharren Holz-Grün-Stein-Scherb hoch, verteilen ihren Dreck, bellen Hoch Gott!, sind in eine unfaßliche Clownerie hineingeraten, dienen sie aber japp, knorr und trenz zu Ende, geben das Sinnbild einer egoistenschonenden Liebe (dagegen die herrliche Unabhängigkeit meiner 
      a.arrow(href="katze.html") Katzen
      | !), rupfen Wucherblätter, derbgrüne dickadrige, Riesenblätter von der Größe ausländischer Zeitungen, überspringen die Wassergrenze, wälzen sich im kalten nassen Wasser, crawlen, waten, schaumschlagen, Stock im Gebell, schütteln hundelnden Wasserspray ins Gras, spielen das Hundestück 
      span.small-caps Vormittag
      | , das Hundestück 
      span.small-caps Nachmittag
      | , duften sich eins, riechen zu allem, konzentrieren ihre Koketterie ins gehobene Hinterbein, arbeiten streng und unproduktiv und möchten die ganze Welt voll kleiner Hunde machen.
  article#oedstaetten-5
    h2.inline-title Ödstätten 5.
    p
      | Immer dichteres Brenzeln führt uns an den rußenden Scheiterhaufen. Die orangeroten Flammen sind gegen das Sonnhimmelblau kaum sichtbar, aber die Wärme ist verdammt. Der stoffige Geruch der brennenden und schwelenden Matratze. Eine Art Witwenverbrennung. (Der Eigentümer stinkt unterm frischausgehobenen Lehm des örtlichen Friedhofs.) Zwiebelschalenrosa Plastiksäcke von Kunstdünger flammen mit. So wie in der Hölle: niemand löscht. Ofenboden: überwachsener Steingrund. Akteure und Zuschauer sind: Alte Zeitungen, ausgebrochene Kachelofentüren, Autoreifen, Bauschutt, Blechrohre (von Vögeln weiß und braun angekotet), Bleirohr, Bubendreck, Einsiedegläser, Faltkartone, Fauteuils, Kanister, Kondens-Topf, Konservenblech, Mädchendreck, Mädchenwatte, Näh-Restchen, Plastikflaschen (Opfer der Lost-Package-Weltanschauung), Portlandzementsäcke, Schlacke, Schlauchstücke, Stahlband, Stahlfedern, zerbeultes und rinnendes Blechgeschirr, zerbrochene Fliesen und Kacheln, Ziegel, Zigarettenpackungen.
  article#oedstaetten-6
    h2.inline-title Ödstätten 6.
    p
      | 
      em Ödstätte
      | . Hat eine Stadt noch diese große Unbekannte? Das Ungeplante dieses Barbarenparks, das Un(oder Höchst-)Geometrische für komplizierte Kinder- und Hundespiele? Was man dort alles finden und erleben kann, lohnt Schulschwänzprügel, Schlangenbiß und Fußzerscherbung. Werft einander nur in die mannshohen Brennesseln, die unkontrollierten, vielleicht zimmertiefen Ameisenhaufen, die Tausendfüßlerkasernen, dornt, wespt und distelt einander im Heulen eurer Schutzengel zu. Saugt, wenn ihr Mädchen und Bub seid, einander erste Wunden, zerreißt einander erstmals Hemd und Röckchen, klebt die Wut eurer Eltern auf eure neuerliebte Haut wie schmerzendes Senfölpflaster. Schleppt, wenn ihr Tagdiebe seid, zerschlitzte Matratzen oder geschundene Autositze in die Laube aus verlaustem verfitztem Gebüsch und schlaft dort den Hungerschlaf, ungeschoren von Polizisten; wenn Nachtschlangen kommen, pfeift sie mit Lungenfaul weg. Stehlt verstreute 
      a.arrow(href="huehner.html") Hühner
      | , am besten jener absurden Rasse, die alle Hühnerfarben scheckig auf sich trägt. Raschelt, wenn ihr Selbstmörder seid und der Werkbahnzug eure Guillotine ist, recht leise im Busch, aus dem ihr unvermittelt auf das blanke Gleis hinstürzt; so werden die zwei schweren Linksräder der Lok und dann noch 16 andere Rädchen, beschwert mit Kies, Zement oder Hartholz, euch gnadenlos teilen.
  article#oedstaetten-7
    h2.inline-title Ödstätten 7.
    p
      | Ödstätte: ihr Weites, Unabgegrenztes, sogar dem Wasser zu. Ihre Unebenheiten, ja, Spielbrett in einigen Höhenschichten. Räudige Plätze. Getrampelte Weglein, die mittendrin aufhören. (Hier ist ein Wegbahner vor Erschöpfung gestorben, oder ein Pärchen hat hier den Rubikon zwischen sich überquert.) Schuttburg mit Grasbewuchs. Massengrab abgezwickter Kabelmäntel. Hügel aus Erde zusammengebacken daran angebackene Steine, dürre Stengel einverfault, neues Wuchswerk darüber, wirre Schutzstengelei. Stellen, die Gerümpel anziehen. Lagerfeuer, Hymenschlachthaus Viertelwüchsiger. Rundgewaschene Mineralogie mitten im Landstaub: Stromkuckuckseier; so merken Ödstättenkinder nicht, wenn sie sich plötzlich schwimmend oder diebskahnfahrend wiederfinden.
  article#oedstaetten-8
    h2.inline-title Ödstätten 8.
    p
      | Man ist kein Botaniker, das rächt sich. Man glaubt, man hat ein 
      a.arrow(href="bestimmungsbuch.html") Bestimmungsbuch
      |  in der Aktentasche und kann nun die Ödstättenflora mühelos nach Farbe Jahreszeit, Wassernähe und Stempelform zernennen. Die grünen Biätter, aussternend von weinroten sirupglänzenden Stengeln. Die silbrigen hohen Krautwälder. Etwas wie Kren. Die ineinander verfitzten Ästchen von Dürrbüschen. Büsche mit eingeölten, Büsche mit verzinkten Blättern. Gelbes: tropfenkleine Blüten, jede verameist. Bauschige Kräuter mit silbernen Bröseln daran. Elefantische, nashornige Arten. Borstiges Wildgetreide (kleine Schnecken haften an den Halmen). Gestrüpp mit Grashüpfern, Distelbusch mit bösgelber, schwarzpelziger Hummel.
    p
      | Man kniet in die Dornen, Spitzsteine, Insektenstacheln und zählt rät, ob etwas eine Rispe oder Dolde ist; ob ein rausschießendes hartes Blättchen »dornartig« genannt werden kann, wo die Blüten doch fünf statt vier Kronenblätter zu haben scheinen. Sind falsche Kornblumen wirklich die Wegwarte? Sind sie jedesmal das gleiche? (Einmal blaulila — plötzlich ist die ganze Wiese violett — Seltenheit von Violett in der Natur? — dann schlagartig jenes 
      a.arrow(href="leuchtendes-blau.html") leuchtende Blau
      | , das eine Haarbreite vor Violett liegt —) Wie heißen die spreizigen 
      a.arrow(href="eutonignale.html") »Eutonignale«
      |  der Kindheit richtig? Man möchte nicht haltmachen, wenn man Klette, Hahnenfuß, Löwenzahn Schafgarbe, Taubnessel erkannt hat — oder jene 
      a.arrow(href="kamille.html") Kamillen
      | -Flur nahe dem Wasser —, jetzt aber kennt man schon die Farben nichtmehr: gelbes Papier? grünes Papier aufschlagen? Denn das gelbgrün Blühende nun sind nicht nur gelbe Blüten in grünem Grund, sondern gelbe in Gelbgrün, grüne in Grüngelb, viel senfgrün bis gelb blühendes Krautwerk in dichtem Geflecht, und im kalbshohen Unkraut grünblühende Schwaden im Übergang zu Senfgelb.
