extends ../../templates/layout
block page-vars
  - const title = "On the rocks"
block main
  article#on-the-rocks
    h2.inline-title On the rocks.
    p
      | Auch Chemiekaufmann J. hatte das Whiskytrinken on the rocks nicht in den Kinderwagen mitbekommen. Er trank von den Eisfelsen zum ersten Mal mit etwa 25 Jahren, als ihn ein älterer Kaufmann an einem Gebirgssee empfing, um über die Zweckmäßigkeit eines Lizenzankaufs schlüssig zu werden. Glauben Sie auch, endete das Gespräch, daß bei 
      em Monika
      |  Hopfen und Malz verloren sind? Die Glasbar schmiß damals schon Teak rum. Raten Sie mir auch, es noch einmal mit 
      em Edda
      |  zu versuchen? Seien wir doch nicht blöd: sagen wir einander du, nach dem, was ich dir heut alles gebeichtet hab; für zwei Jahre strenger verschärfter Besäufnis reichts; Cheers!, auf alle, die wir kriegen und nicht lieben.
    p
      | Der Eisblockstapel im breitzylindrischen Glas, das stumpfe Schellen der weißgerauhten frostigen Würfelchen, das Steigen von almhoniggelbem rauchigem Ätzmittel übern Eisstein hinweg, das Plattenspiel, die Ahnung von größeren als den gekannten Resignationen, das triste Röntgenogramm des Erfolgskaufmanndaseins, die unwirtliche Gebirgsseenähe im Abend —
    p
      | Programmsuite, die mitklingt, wenn der unproblematische Klirrgenuß an Sommertagen auf Terrassen herbeizitiert wird. Mit dem Rausch miteßbarer Eispalast, noch im auglosen Rachen funktionierende Fenster.
    p
      | Das ist die abendgelbe Modifikation von »On the rocks«.
    p.no-indent
      | :
    p
      | Und jetzt denken wir uns eine morgenweiße, vorvormittaghimmelblaue Modifikation des Eiszylinderklirrgenusses aus, mit viel Überraschung vor uns und mit Bitternis nur so viel, als in einem guten Frühzeit-Erfrischungstrunk enthalten sein muß.
