extends ../../templates/layout
block page-vars
  - const title = "Orangehafter-Brand-Paradoxon"
block main
  article#orangehafter-brand-paradoxon
    h2.inline-title Orangehafter-Brand-Paradoxon.
    p
      | Es zählt zu den schwerlöslichen Weltwidersprüchen, daß Orange den Sündenbock für die Feuerfürchtigen abgeben muß, während sich Gelb als Inbegriff heiterer Sonnenwärme gefallen darf, Weiß als Quintessenz kühlender Kleidung und Bläuiichweiß gar als Eisbringer der Gletscher und kristalldurchsichtigen Winterhimmel, wo doch die Glut von einer zur andern Stufe mörderischer wird, um im Bläulich die Weltzerknall-Temperatur zu erreichen.
