extends ../../templates/layout
block page-vars
  - const title = "Orangeblonde"
block main
  article#orangeblonde
    h2.inline-title Orangeblonde.
    p
      | Ein erfreuter Stelldicheinling küßt vorsichtig in das gefärbte Haar seines Mädchens, das trockene, orangenduftqualmende: nein, es ist kein Traum oder Beleuchtungseffekt; er kann drin wühlen, sie ist jetzt wirklich orangeblond.
