extends ../../templates/layout
block page-vars
  - const title = "Ortsbestimmung"
block main
  article#ortsbestimmung
    h2.inline-title Ortsbestimmung.
    p
      | Weil ich nicht blasiert sondern begeistert (
      a.arrow(href="begeisterung.html") Begeisterung
      | , nicht »innersprachlich« sondern »gegenständlich« (
      a.arrow(href="realismus.html") Realismus
      | ), nicht zitatbetont sondern erlebnisbetont (
      a.arrow(href="freiheit-die-ich-meine.html") Freiheit, die ich meine
      | , schreibe, weil mich Landschaften (!) und Zweierbeziehungen (!) emovieren, Zweierbeziehungen sogar übern elementaren 
      a.arrow(href="sex.html") Sex
      |  hinaus, habe ich mich in eine Harakiri-Position begeben. Achgott, die Avantgarde will mich nicht, und achgott, in der konservativen Dichtung hab ich schon gar nichts verloren.
    p
      | Aber ätsch, das eine hab ich: einen 40er Roman, der die Lyrik des 20ers ins Extremgewicht treibt, mitsamt der Augenblicksschnapperei, der wehleidig-nüchtern sich lebenden Unzufriedenheit, dem geländegängigen Mundwerk, der Kommunikationsgläubigkeit quia absurdum. Der Augenblick ist flüchtiger, die Unzufriedenheit seßhafter, das Mundwerk unflätiger, das quia absurdum dicker geworden—dennoch: so eine Harakiri-Position ist nicht der 
      em bedienteste
      |  Ort.
