extends ../../templates/layout
block page-vars
  - const title = "Paddelclub-Haus"
block main
  article#paddelclub-haus
    h2.inline-title Paddelclub-Haus.
    p
      | Hier hat man die Verladewelt überstanden, hier herrscht die Illusion, daß es keine Kohlenstaublungen, verrosteten Arme, verbleiten Augen, keine Hundsmüdabschiede vom Tag, der einem frühmorgens wie ein ewiger Morgen vorkam, keine im Rechnen, Messen und Schreien abgesoffenen Ingenieure und keine zerschlissenen erkahlten Materialbeamten mit Rollmeter, Schublehren und Kubiktafeln im sperrhölzernen Brustkasten gibt. Hier wird man nicht geschweißt, wenn man ein Loch im Gerüst hat, hier wird man nicht mit einem Fußtritt auf die Zentimalwaage geschoben und mit gelbem Lack numeriert. Hier wird man nicht ausgebohrt, damit die Werktage die Kette durch einen ziehen können, deren Enden sie nun plattschmieden und in die Betonrampe einbetonieren.
    p
      | Hier herrscht aber auch nicht die 
      a.arrow(href="leere.html") Leere
      | , das Herb-, Keusch- und Ewig-Spiel der Hügel, der harz- und blattmoderriechenden Baumgruppen, die Programmusik der unverrückbaren menschenvergessenden Landschaft mit einem Reh pro Quadratmeile und einem blechernen Trinkbecher hie und da an einem Schnappsack und mit den Auen, den traurigen grauen entlanglaufenden Auen, die dem Schiff allzeit folgen.
    p
      | Hier beginnt ein Dorf potemkinscher Fröhlichkeit; Geschäftigkeit in Ruhe; alles 
      em Leben und Treiben
      |  läßt sich schließlich aus einigen hübschgestrichenen Brettern, Blumensamen (oder -zwiebeln) und einigen nett verteilten unwerktäglichen Menschen zusammensetzen; ein Kind hat vorerst auch nur das weiße Blatt (das es genausogut mit grauem Graphitgeschmier vollöden könnte) und den 
      a.arrow(href="malkasten.html") Malkasten
      |  und den Optimismus, daß die Anwendung schnurgrad in eine 
      em liebe kleine Welt
      |  hineinführen wird.
    p
      | Dazu kommt die Freude am 
      a.arrow(href="wasser.html") Wasser
      | , den appetitlichen kleinen Booten, deren frisches Geschnitten-, Verbunden- und Bemaltsein reizvoll erkennbar ist.
    p
      | Singen und Scheinarbeit der Plätschermenschen mit Haut- und Rekordsorgen und sonst auf tausend Jahr keinen, Dorf ohne Zweck und Hintergrund, ohne Nacht und Kirche und Straße.
    p
      | Und ein Radschlag unseres Schiffes, und das Idyll ist abgehackt. Um 7.41 ist nichts auf der Welt als eine 
      a.arrow.main-route(href="schleuse.html") Schleuse
      | .
