extends ../../templates/layout
block page-vars
  - const title = "Parfum"
block main
  article#parfum-1
    h2.inline-title Parfum 1.
    p
      | Annabelle, des Tags duftsparsam, badet zwar — dem Rat ihrer Zeitschrift folgend — abends sich, den Raum und den Freund in Parfum (es ist fast egal, wohin Pierrre küßt: auf die Deckenkappe, das Rüschendekollete oder das Blausilberhaar; sie brennt ihm den Duft ein, daß ihn keine drei Bäder morgen vor dem Neid seiner Freunde retten), aber sie kann ihren Duft trotz Firmenmarke und Gebrauchsanweisung nicht einordnen.
    p
      | Jede erdenkliche 
      em Farbe
      |  hat ihren Platz nach 1) Spektrum, 2) Reinheit, 3) Schwarz-Weiß-Achse, läßt sich also bestellen, beschreiben, vergleichen, einem Computer eingeben (003.026..252 wäre zB das Pastellgrüngelb eines bestimmten Erbsenpurees). In den 
      em Düften
      |  aber herrscht noch heute, da wir bald Mondboden-Rüche und Venusschlamm-Stänke zu schnuppern kriegen werden, heil- und ratloses Durcheinander. Wohl gibt es einen Doppelkegel; auf dessen Mantel und in dessen Körper alle Düfte ihren Ort (nach: blumig, fruchtig, würzig, faulig, harzig etc) finden sollen, aber daas glaubt und verwendet niemand. So heißt es in Parfumbeschreibungen weiter:
    ul.no-bullets-padding
      li romantisch, heiter, feminin, elegant, anspruchsvvoll, ein Phantasieduft aus vergangener Zeit, apart, orientalisch, für Empfindsame, wie Harfenklang, sehr intim und verführerisch, für den glanzvollen Abend, anschmiegsam, wie der gleichnamige Drink, eigenartig, herausfordernd, etwas pikant, eigenwillig, auffallend und doch diskret, witzig, frech, lieblich, das Parfum für Wagemutige, weder süß noch herb, unverbindlich, Duft der sogenannten modernen Note, mächtig, verwirrend, leidenschafftlich, impulsiv, für Winter und Pelz.
    p
      | Die Menschen haben sich wahrscheinlich für den Besitz ihrer Nase zu lange geniert, weil sie an den Hund erinnert, und darum dem Spektrum auch das an Neugier gegeben, was des Duftkegels ist. Nur abends hüllt Annabelle usf.
  article#parfum-2
    h2.inline-title Parfum 2.
    p
      | Dein Parfum erinnert mich an eine Studentin, auf die ich einmal sehr gestanden bin, sagt der Kassenbote zur jungen Milchfrau, auf die er sehr steht. Aber geh! Auch da? forscht die Milchfrau und läßt den Kassenboten an ihrem Dirndldekollete, das sie ihm möglichst weit entgegenhält, riechen.. Hier schon ganz anders, sagt der Kassenbote. Gelt ja! sagt die Milchfrau erleichtert.
  article#parfum-3
    h2.inline-title Parfum 3.
    p
      | Brigitte ist über die Zeitungsnachricht auf Seite 5, daß sich eine geruchseinheitliche Kosmetik nun auch in Österreich durchsetzen wird, so erfreut, daß sie ihren 
      span.small-caps Weltchronik
      |  lesenden Eltern das Wort abschneidet und die jüngsten Erdbebentoten an diesem Abend und in diesem Haus um ihr Täßchen Beweinung kommen.
  article#parfum-4
    h2.inline-title Parfum 4.
    p
      | Warum kannst du nicht nach Hund riechen, Mausi, sagt Burschi, der manchmal Einfälle hat; warum riechst du immer nur nach dir und nach Chypre? Wenn du Hunde beobachtest, was die für ein Vergnügen an Hundegeruch haben, ich glaube manchmal, da kommen wir in den schönsten Nächten nicht hin. Geh, sei nicht gleich beleidigt. Du weißt, ich sag ja auch immer, es ist tragisch, daß der Mensch den herrlichen knusprigen Hundekuchen nicht essen kann.
  article#parfum-5
    h2.inline-title Parfum 5.
    p
      | 
      em Beschreibungsversuch:
      |  Es steht jetzt vom Regal auf, zündet sich ein Stämmlein Schnittlauch an, überdreht sich bis zur vierten Zacke, spreizt die Beine, aber schon kommt die Regentonne mit viel neuem Wasser, chloriert sich übermütig, die Marseillaise singend, wird mit einer Schere in zwei ungleiche Dreiecke geschnitten, die werfen sich sofort auf, riechen nahe der Innenkante nach Lockenwickler, verkleben sich mit Bier, ein Misthaufen brennt zusammen und seine Himbeere erstickt in Zahnpaste, die in junges Kiefernharz einen schmierigvioletten Knoten bläst. Das Warenhaus bewegt sich dabei auf unschlittgefetteten Messingschienen von links oben raumschräg nach rechts Mitte und planscht durch einen seichten traurigen Kaffee.
  article#parfum-6
    h2.inline-title Parfum 6.
    p
      | Wenn Alphard Mutz in seiner dörflichen Herberge, seinem dörflichen Zimmer plötzlich das Parfum des neuen Mädchens roch, war es, wie wenn die Wolkendecke platzte und das Blaugelb von Sonne zu fungieren begann. ... Kam mehr Großstadt, mehr Katzensprung nach anderm Kontinent, mehr unheimliche Beweglichkeit flüssiger Luft in die Stube, als wenn im Hochleistungsempfänger Puerto Rico sich meldete und die dortige Moderatorin Alphard aus einem Meter Nähe zu spritziger Unterhaltung über die neuesten Sounds herausforderte. Und wirklich konnte bald nach dem Auftauchen dieses neuen Dufts Alphard Mutz das Wartezimmer Dorf verlassen.
  article#parfum-7
    h2.inline-title Parfum 7.
    p
      | Liebe 
      span.small-caps Frau-und-Freude
      | -Leserin! Auch hinter Ihnen soll man Ihr Parfum noch ahnen. Wir zeigen Ihnen diese betörenden Stellen. Der Duft, der eine Dame begleitet, gehört auch zu Ihnen. Von der Haut geht der Wohlgeruch auf den Rocksaum über der ihn mit Schwung um Sie herumträgt. Rothaarige Frauen dürfen pikante Düfte tragen. Mit den Fingerspitzen fühlen Sie genau, wo das Blut pocht; dunkle Typen herausfordernd. Hinter jedes Ohr, das ist nicht überholt. Eine Ahnung in die Kniekehle—das ist duftende Vollendung.
  article#parfum-8
    h2.inline-title Parfum 8.
    p
      | Man belebe seine Geruchsphantasie durch Aufquellenlassen einer Masse aus überreifem Käse, Naphthalin und Veilchenparfum.
