extends ../../templates/layout
block page-vars
  - const title = "Perspektiven"
block main
  article#perspektiven-1
    h2.inline-title Perspektiven 1.
    div
      | (Hier schreibe man besonders wohlgefällige Textstellen aus Aufklärungsbüchern, Partnerzeitschriften oder auch dem Gedächtnis ein:)
    div
      textarea(placeholder="Besonders wohlgefällige Textstellen aus Aufklärungsbüchern, Partnerzeitschriften oder auch dem Gedächtnis...")
  article#perspektiven-2
    h2.inline-title Perspektiven 2.
    p
      | Barbara liegt, die Beine hochgezogen, auf einem sommerlichen Bett, in durchsichtiger Sommerluft, unbesonnte Stellen mit Bräunungslotion fleckig nachgefärbt; die Szenerie hat etwas von dem gläsernen Sarg aus dem Märchen. Barbara hat die fleischigen Arme an sich gepreßt, wird sie aber sogleich J. um den Nacken schlingen. Sie hält den Kopf 80° zur Seite gewendet, J. entgegen, der im Sommerpyjama an die Sache rangeht; ich hab ihr richtig 
      em den Kopf verdreht
      | , denkt J. Barbara lacht satt und doch hungrig aus den kernigen Wangen hervor, ihre fettgewachsenen und fettgeschminkten Lippen sind geöffnet und guten weißen Zähnen vorgelagert. Die Augenlider triefen von schwarzem glänzendem Fett, indisch, der Blick ist sieghaft wie der einer dicken, noch enthusiastischen Dirne oder auch einer Flitterwöchnerin, die sich reich und potent verheiratet hat, und muß sich, genau wie das Lachen, erst durch das Kernfett der Wangen durchschieben. Barbara ist frisch gewaschen und bergamottiert, nur ihr Klarsichthemdchen, babykurz, babyblau, riecht in Achselnähe nach Erwartung. An den schönen Ohrläppchen hat Barbara unmöglich stechende rotmetallene Gehänge. J. selbst trägt einen whiskyfarbenen Siegelring mit dem verfänglichen Zeichen der Retorte.
  article#perspektiven-3
    h2.inline-title Perspektiven 3.
    p
      | J. spricht auf Barbara ein, die neuerdings durch das Treffen einer leidigen Freundin den Schlankheitsfimmel hat. Für Barbara ist »Man kann doch nicht« ein bindendes Diktat. Barbara lebt in diesen Tagen nur von Tee, Zwieback, sauren Äpfeln und verschiedenfarbigem Yoghurt. »Daß du Yoghurt ißt, muß mich naturgemäß freuen«, lügt er, »denn das gibt mir die Gewißheit, daß ich dich noch hundert Jahre habe; aber quäl dich im übrigen nicht so ab, iß wieder, was dir Spaß macht, du wirst ja wieder bei viel besserer Laune sein.« »Schrecklich ist das Fasten«, bestätigt Barbara. »Sei doch nicht so dumm«, sagt J., »für wen brauchst du das? Mir gefällst du so, wie du bist.«
    p
      | Er denkt an das Profil ihres Bauches, zB in lindgrünem noppigem Kleid. Er liebt dieses Profil, das das Unwahrscheinliche des Umfangs in das augenfälligere Unwahrscheinlich von Breite umsetzt. Wenn sie so, Profil gegen Profil, neben einer Durchschnittsfrau steht, nimmt es ihm erst so richtig den Atem. Er liebt das Radikale, Definitive solcher 
      a.arrow(href="deformation.html") Deformation
      | . Die unförmig Dicke ist magisch wie ein Tätowierter, der in der üblichen Gesellschaft nicht mehr zu gebrauchen ist, aber seiner Geliebten ein Fest der Körperaufschließung bietet.
    p
      | J. möchte Barbaras Unförmigkeit hegen, ja, züchten: seine eigene Lustbarkeit vorbereiten, wie die Rudrabhatta-Inder, die die Geliebtenbrüste selbst zu bemalen pflegten. Er fühlt sich als Pop-Bildhauer, der mit Mehlspeisen Geliebtenfleisch hochmodelliert. »Weißt du, was?«, sagt er; »ich bring dir heut abend drei echte dicke Topfenkolatschen mit, die mußt du auf anen Sitz aufessen.« »Unmensch!«, schreit Barbara. J. will sie packen und küssen, aber Barbara muß schon wieder auf die Toilette.
  article#perspektiven-4
    h2.inline-title Perspektiven 4.
    p
      | Weil J. Barbara nicht immer behalten wird, nützt er die vorhandene Zeit zum Experimentieren aus. Ich muß doch draufkommen, sagt er, was dicken Geliebten am besten paßt. Bei Chwala in der City lümmelt er am Pult, einer bambiäugigen, twiggieschlanken Verkäuferin gegenüber; er ist im Einkaufen von hübscher Wäsche nicht grad ein Neuling, aber einem Kostspieligen, das ihn mit den Blicken durchlöchert, Barbaras angeberische Maße zu nennen und in diesen Maßen noch Dinge aus Azurblau mit riesigen roten Mohnblumen zu verlangen, ist enervant wie für einen Zwölfjährigen das Wählen von Pfeifentabak bei einer grimmigen alten Gemischtwarenhändlerin. Das ordinäre Lächeln der Puppe zur Mitpuppe, als J. den Laden verläßt, ist selbstverständlich, aber man müßte ja nicht alles Selbstverständliche auch tun, denkt J. Umso stolzer schwenkt er draußen die Tragtasche, und schon heute abend wird er jede der großen roten Mohnblumen pflücken.
  article#perspektiven-5
    h2.inline-title Perspektiven 5.
    p
      | »Sollen wir nicht ein wenig Luft reinlassen?«, fragt J. und manipuliert schon das Ausstellfenster. Immer, wenn seine Riesenportion Freude mitfährt, ist die Luft voll Bergamottöl und Hitzigkeit. In Kurven klatscht der Brocken oft vollgewichtig an ihn, und öfters behindert sie ihn mit umhalsendem Bloßarm. Dann und wann macht ein ungezogener Autoneuling — Kreuzungsnachbar — Bemerkungen, sogar von Zentralviehmarkt und dergleichen. Barbara lacht nur, kehlig, und wenn J. eine kultivierte Beleidigung zurückruft, stempelt sie ihm einen dicken roten Kuß auf die 
      a.arrow(href="exporteur.html") Exporteur
      | -Wange. J. gefällt es, diesen Sommer im Schatten des liebeslustigen Naturdenkmals zu verliegen, auch Barbara gefällt solches Tun; sie ist ihrem Chemieschatz, wie sie ihn altväterlich nennt, derzeit sogar treu, und eine längerfristige Treue scheint sich — aus lauter Vergnügen über einen so gründlichen Würdiger ihrer Vorzüge und über einen so erfreulichen Plauderer mit ernstem Hintergrund — anzubahnen. Sie trägt gern einen aparten türkischen Oberarmreifen, den J. von seinem Smyrnaer Phosphatpartner erschachert hat; dort sind Barbaras Durchmesser nicht ungewöhnlich.
  article#perspektiven-6
    h2.inline-title Perspektiven 6.
    p
      | In bräutlicher Seligkeit — mit übergehender Stimme — fragt sie ihn, von welcher Seite er wolle.
  article#perspektiven-7
    h2.inline-title Perspektiven 7.
    p
      | J. bereitet Barbaras Abbau vor. Er empfiehlt sie dem Forscherdrang eines ehrgeizigen Laborchefvertreters von Dvořak & Co, der über Menschen, die er konsumiert, ein ähnliches Protokollheft führt wie über Ammoniumbasen, die er verarbeitet. Erotik der Schwergewichtsklasse dürfte ihm ein willkommenes Novum werden. Schon spitzt der Forscher seinen Extraharten und rastriert sein Heft. 
    .indexed-grid
      .grid-index 21. 9. 
      .grid-text Barbara nach Konferenz mit ihr und J. in Ordnung übernommen. Erste Beobachtung: Die unexakte Stelle zwischen Rock und Bluse, wo die Unterwäsche hervorlugt, bei dicken Frauen besonders ansehnlich; Barbaras nervöses Ziehen dort.
      .grid-index 21. — 29. 9.
      .grid-text Die Standardversuche an Barbara und mir. Besonders gut reagiere ich auf ihren Bettbikini mit großen roten Mohnblumen (Wellenlänge maßgeblich?), den noch J. ihr gekauft hat. Gegen Ende der Serie an mir, nicht jedoch an Barbara Inkontinenzerscheinungen. 
      .grid-index 30. 9. 
      .grid-text Versuchspause. Ich kann Barbara im Moment nicht sehen. (Nachtrag: Dies bedeutet nicht Augenschwäche, sondern eine Unwillensäußerung.)
      .grid-index 1. 10. 
      .grid-text An Dicken fällt das Kleinbleiben des Kopfes, manchmal auch der Brüste, auf. Die Intimteile bleiben It. Fachliteratur unverändert, wirken also relativ klein. Barbara ist hingegen in jeder Hinsicht kolossal.
      .grid-index 2. 10. 
      .grid-text Besondere Versuche an Barbara und mir. (L.P., S.121 ff., S. 201.)
      .grid-index 3. 10. 
      .grid-text Aus einem Satz erkannte ich: Barbara ist ein Mensch (homo sapiens). Merkwürdiger Gedanke, daß sie über mich ebenso ein Protokollheft führen könnte.
      .grid-index 4. 10. 
      .grid-text Sie beruhigte mich, sie sei nicht gescheit. — Das stets Laszive von schulterfreien Kleidern: zwischen hellerem Brustansatz und dunklerem Arm die dickliche Nische — bei dicken Frauen vom Wuchs Barbaras geradezu primärsignalhafte Nacktheit.
      .grid-index 5. 10 
      .grid-text Wenn ich ihre breiten Kostümhüften umspanne, ist es für mich ein lusteffektives Längenmaß, für die verständnis- lose Besitzerin des Körperteiles ist das Umspannte einfach die Einheit »Gesäß«. (Nachtrag 6.10.: Fehlbeobachtung. Auch B. zeigte Vergnügen.)
      .grid-index 6.10. 
      .grid-text Dicke Menschen haben ganze Körperteile zusätzlich: etwa die Magen-, die Rückenwurst etc. — Idee zur exakten Erfassung: Das Dreieck, das von Kopf und den beiden Hüften der Sitzenden gebildet wird, als Maß der weiblichen Dicke.
      .grid-index 7.10. 
      .grid-text
        | Der Reiz prallen Eingenähtseins: die geballte Ladung festen Fleisches. Dynamisierung des Statischen. E = mc
        sup 2
        | .
      .grid-index 8.10. 
      .grid-text Vorgestern bis heute drei Routineversuche zur Feststellung der Erregungs-Per- und -Transpiration. Aus gedehntes Vorspiel a) im Kostüm, b) im Kleid. Barbaras wienerisch gefärbter Terminus, sie müsse ihr Kleid morgen aus waschen (recte: waschen), traf das Richtige; die Wienerinnen finden anscheinend, daß Kleidung und Wäsche nicht flächenhaft schweißverschmutzt, sondern geradezu dreidimensionale Behälter für Schweiß sind, die man dann und wann ausleert und ausspült.
      .grid-index 9.10. 
      .grid-text Mischte im Anschluß an die letzte Versuchsserie eine Reihe von Terpen-Duftstoffen mit Barbaras natürlichen Capryl-, Capron- und Caprinsäurederivaten. Verspreche mir von der Variation mit blumig-fruchtigen Duftstoffen stärker emotionalisierende Wirkung.
      .grid-index 10.10. 
      .grid-text Barbara sagte, ich sollte sie doch einmal kneifen oder verprügeln. Sie macht sich aber offenbar nur über mein methodisches Vorgehen lustig.
      .grid-index 11. 10. 
      .grid-text Die Verspottung der Fettleibigkeit ist meiner Hypothese nach ein Schutzwall gegen die übermächtige Flut von Erotik, die von dicken Frauen ausgeht. Ich bin J. für die Anregung, Versuche mit Barbara und mir anzustellen, dankbar.
      .grid-index 12.10. 
      .grid-text Barbara erwartet sich von einem Mann Aggressionen. Damit sie Ruhe gebe, betupfte ich sie mit einem Tropfen Kalilauge, neutralisierte sie aber recht bald mit Essigsäure.
      .grid-index 13.10. 
      .grid-text Barbara ist bereit, auf meine Aggressionen zu verzichten. Sie gesteht, seit sie mit mir experimentiert, keine »Pille« mehr zu nehmen, denn ich sei der erste Mann, mit dem sie sich ein Kind wünsche. — Verlagerung meiner Wißbegierde auf mein eigenes Verhalten. Gott mit euch, denkt J. abschließend.
