extends ../../templates/layout
block page-vars
  - const title = "Pfahlhäuser"
block main
  article#pfahlhaeuser-1
    h2.inline-title Pfahlhäuser 1.
    p
      | Ja, ihre Sonntagsfarben: unwahrscheinliches Blau, Ocker, ausnahmsweise auch Schwarzwälderteer, dann ein neuhölzernes Hüttchen, dünn orange gestrichen, Zaun dazu pastellgrün, und schon eine rote Dachterrasse, gittertreppig betretbar, gelbe Galerien rund um das Wohngeschoß, viel Verglasung, und alle Flächenflecken zwischen den Häusern vollgestellt mit Bäumen, vollgeschüttet mit Blumen. Kaufe Blautanne als Hausschmuck, springe bestens über Taxushecken, spiele erstklassig Jazzgitarre zu Zypresse. Oder so: unter den Hütten ist ein Teppich aus leisem Boden, gelb-grün, über den Hütten ein Teppich aus dichtschließenden Blätterästen, gelbgrün, alles junge und jungalte Leben geteppicht und sonnenkleidig und flächig in der Waagrechten, trotz den Pfahlhüben, unter denen man schattenbaden oder autowaschen oder weitere himmelblaukleidige Kinder machen kann. Hinter einer Tür aus wehenden verschiedenfarbigen Bändern und einem Vorraum mit Luft aus Fähnchengirlanden die Lichtschreie von Fischschwärmen aus röhrengesteuerten Druckaquarien in sommerlichem Wintergarten. Bauernstuben wickeln Großväterkram, in die Wand gesägte Gilbphotos und angenagelte Porzellanpfeifen, in Altweibersommer aus Transistormusik.
    p
      | Oder das Hüttchen ist nur 1 Zimmer auf Pfählen. Aber es hat seinen eigenen 
      a.arrow(href="wildenten.html") wildenten
      | -wabbelnden Anlegeplatz. Zwischen Bäumchen und Riesenbäumen wildenteln vergraste Steintreppchen direkt an das Eierstein-Ufer am nassen Wasser, fördern dich, wenn du Pech hast, in ein Verandaboot aus häßlich zitrongelbem Glas.
  article#pfahlhaeuser-2
    h2.inline-title Pfahlhäuser 2.
    p
      | 
      a.arrow(href="wildenten.html#wildenten-6") Wildenten 6
      | .
  article#pfahlhaeuser-3
    h2.inline-title Pfahlhäuser 3.
    p
      | Viel Holz, dunkelbraun, bituminiert. Sitz eines Paddelclubs. Das Abzeichen aus Stoff-Fleck, das Abzeichen aus Email, das Abzeichen aus Laubsägeholz, im Entstehen begriffen das Abzeichen aus Rosen beim Swimmingpool mit den Steinsitzen. Auf Regalen die Boote; wo ist das Kolophonium für diese Geigen, fragt ein Zerstreuter. Das Bitumen schweigt, kratzt, wo die Sonne hinschwelt, in Nasen. Im Schatten riechts nach Reinholz und Fischwasser. Uniformleibchen mit andersfarbigen Einfassungen dauerlaufsimpeln um den dicken weißbestrickten Bootsmeister mit angekabeltem kleinem Dackel.
  article#pfahlhaeuser-4
    h2.inline-title Pfahlhäuser 4.
    p
      | 
      a.arrow(href="pfahlhaeuser.html#pfahlhaeuser-3") Pfahlhäuser 3
      | , aber feminin betont. Bootsmeister unsichtbar. Swimmingpool und Rosengarten mit Sitzen stärker herausgeleuchtet. Vor und hinter Buntdrahtgittern sportliche totbraune Ladies, hart, unsexy, gewähltsprechend.
  article#pfahlhaeuser-5
    h2.inline-title Pfahlhäuser 5.
    p
      | 
      a.arrow(href="pfahlhaeuser.html#pfahlhaeuser-3") Pfahlhäuser 3 
      | und 
      a(href="pfahlhaeuser.html#pfahlhaeuser-4") 4
      |  verlieren die Strenge ihrer Geschlechtertrennung in einem Schwenk auf das Wasser: groß im Bild ein Zweierpaddler: sie ruhend, er rudernd; dann reitet das Boot: Wellen gefärbtklaren nassen Wassers.
  article#pfahlhaeuser-5
    h2.inline-title Pfahlhäuser 6.
    p
      | Durchbrechung des Potemkinismus: einer der funktionslosen Wege hat plötzlich die Funktion, zu einem Gemischtwarenhändler zu führen. Der Laden ist nicht nur durch AuBentreppe und Innenkalender malerisch, nicht nur wie jeder plötzlich auftauchende Ort, an dem mit Menschen etwas geschieht, packend oder rührend, nicht nur kühl und in bestimmten Winkelgrößen eingeplant, sondern auch echt; man kann etwa Bier haben. (Wenn das Schiffsmittagessen nahe ist, der Durst also schon groß, verweile man ruhig etwas bei 
      a.arrow(href="bier.html") Bier
      | . Andernfalls lasse man den Blick zu einer sprudeldynamischen Flüßchenmündung hin ausschweifen.)
  article#pfahlhaeuser-7
    h2.inline-title Pfahlhäuser 7.
    p
      | Die Bewohner der buntgemaIten Häuser haben es leicht, wenn sie 
      em Sprudeldynamisches
      |  sehen wollen. Sie brauchen hierzu nicht das Werbefernsehen abzuwarten, sondern nur zu einer ganz nahen Flüßchenmündung zu rennen, sich, ihr Baby, ihren Hund hineinzuwerfen oder auch zuzuschauen, wie es allein oder mit ein bißchen Eisenzeug sprudelt. Es gibt dort viel feinverteilte Luft, und hydrodynamische Konstanten und Variable wirbeln leicht fangbar im Nimbus über dem Wasser. Kein Wunder, daß alle, besonders die lichtblauen Physikerinnen, wie Mücken übermütig werden. Unschätzbarer Vorteil der Pfahlhäuser.
  article#pfahlhaeuser-7
    h2.inline-title Pfahlhäuser 8.
    p
      | In diesem Pfahlhäuschen sind jetzt gerade junge Menschen drin; sie schwimmen also nicht, sondern tapezieren ein Zimmerchen mit Mickimaus, Mecki und den Rolling Stones. Sie werden einander hier und heute vernaschen, bei einem gewerkschaftlich empfohlenen Batterieplattenspieler und schwachgekühltem picksüßem Fruchtentfrischungsgetränk, in voller Kleidung und Aufmachung um 18 Uhr, bei leicht aufkommendem Südwind. Sie haben es leicht, sich zu küssen, denn sie schmecken nach dem gleichen preiswerten Schokoriegel. Ihm gefällt ihr orange Superminikleid und der dazu passende Girl-Lippenstift, ihr gefällt seine stoßsichere goldfarbene Armbanduhr, er ist damit sehr pünktlich; ihnen gefällt das Sich-Lieben bei Wasserwind, ein wenig Mücken, aber plötzlich dreht ihre Sehnsucht magenzerknetend in jenes Stadthotel, wo alles viel schwieriger war.
  article#pfahlhaeuser-9
    h2.inline-title Pfahlhäuser 9.
    p
      | Hier zwischen den rot, blau, gelben Häuschen, inmitten Transistoren und hingegrätschten Speckfrauen, pinseltriefenden Dispersionslackfetischisten und buntparfumierten perpetuis mobilibus des Eislutscherverbrauchs beginnt schon das Wasservergnügen, hinter Guckbüschen teilgetarnt, abgesondert vom Fluß, auf kleinen befahrbaren Pfützen. Auf Bug- und Heckkisten sitzend, rohen Plankenboden anschauen, Segel reffen und vom eingefangenen Wind gegen das Wasser gekippt werden, als Wildbub in einem der kleinen Emailkanus schnellen, als weißlich-sehniger Altherr in blauem Leibchen und weißen Shorts auf Anlegeplanken treten, hohles Holzgeräusch machen, schwanken, an den Füßen getauft werden Bootsfestigkeit gründlich prüfen, als braunverbrannter kahler Mann mit Grinsekinn lange strohgelbe Ruder in blauen Gabeldollen hebeln lassen, damit Mückenwasser um das weiße schi-schmale Boot gurgle, den Blick auf uns Fluß-Plebejer draußen, auf die abgestellten blauverplachten Weißboote am Flußeingang, auf die grasenden Autos mit Booten als Kopflast: lafettierten V-Raketen, lafettierten gelbgelben Bananen; Fischkühle und Entensonne reiten.
  article#pfahlhaeuser-10
    h2.inline-title Pfahlhäuser 10.
    p
      | Gleich einige bunte und besonnte Clubs formieren sich auskreisend an einer leeren Stelle und bilden plötzlich einen Platz. Alles ist niedrig und eng beisammen, also in allen Dimensionen auch Kindern erreichbar, von Kindern durchtollbare, Kinder einhüllende Welt. Sie sind in der Kleinstadt der Kindheit, sehen im sonnenfarbenen, aber bunten Licht das weiße Emailschild des Notars, ganz groß 
      span.small-caps Notar
      |  und die Dienststunden, lernen, was Hecken sind, und haben nach einigen Gängen durch vegetabile Mäander, immer noch auf dem Platz, auf dem unverlierbaren Platz, einen Spritzschlauch der örtlichen Feuerwehr in der Hand; es wetterleuchtet ihnen, was es heißt, einem ländlichen Verein anzugehören; sie lesen als 15jährige plötzlich eine Humoreske vom Eingegrabenwerden, erkennen die Friedhofswege und -hecken in einem lustigen Film wieder, sind die einzigen, die jahrelang über diesen Film traurig sind, trotz dem nahenden mädchenförmigen Mädchen, und stecken plötzlich fünfjährig im Auto des Vaters, der bei dem Notar eine Erbschaftsangelegenheit zu besorgen hatte. Das Auto hupt mit der großen Gummihupe und springt, Kind bei Vater, aus dem handlichen kinderzimmergroßen Umkreis, dem Kleinststadtplatz, davon.
