extends ../../templates/layout
block page-vars
  - const title = "Pferde"
block main
  article#pferde-1
    h2.inline-title Pferde 1.
    p
      | Ein Pferd kaut die Kandare, ein Pferd kann nichts für die Symbolik seiner Liebhaber. (Reiten, Jagdhorn, 
      a.arrow(href="hunde.html") Hunde
      | -Stall, Kamin, Butler, Leder, Lohn, Strafe, Herrin, rauchig, düster, unverrückbar.) Mußme Hinterteil vurn haben, da fälltme nach vurn. 
      em Die ham ooch Reitferde, da könn wa ooch hinjehn.
      |  Das Vieh bewegt sich nicht vom Fleck. Ich war froh, daß ich oben war. 
      em Dabei is a Leberkas vom Gigerer vü-vü besser als wira gwehnlicher Leberkas.
      | 
  article#pferde-2
    h2.inline-title Pferde 2.
    p
      | Weiß und grün wie Gorgonzola fand man mein Gesicht, das Pferdchen war ohnehin ein Lamm, aber sein natürlicher Wellengang suggerierte meinem vegetativen Nervensystem, daß ich jetzt und jetzt in den viechelnden Sand geschleudert würde. Ich zählte die Runden (sah ihre Zahl wie auf einem großen automatischen Umsteckkalender), mein verlorener Ruhm vor dem Gafferkreis dieser öffentlichen Hinrichtung war mir egal, nur glimpflich runter auf die pampligen Kinderfüße und nie wieder rauf. Ich hielt den ungeschworenen Schwur mannhaft und werde mich wohl auch nie zur Kavallerie melden.
  article#pferde-3
    h2.inline-title Pferde 3.
    p
      | Die vorgelagerten Pferde fressen die halbierten Zuckerwürfel so gern, daß man für die nachgelagerten Hunde nichts mehr als ein mageres Streicheln übrig hat. Die Reitställe stehen im Kreis, die Stille geht wie ein besonders lästiger Motor, die Wege sind alle sehr weit, und wenn die Reitlehrerin nicht auf dem vorbesprochenen Platz wartet, kann man sie genausogut in die Steppe suchen gehen. Natürlich nimmt sich ein Trainer unser an, verspricht, Gruß und Bedauern zu bestellen, und zeigt uns sogar, wohin auf dem fell- und mähnenkosmetischen Gebilde man klopfen und kraulen darf ohne daß es einen zertrümmert. Auch er findet, daß Pferde sich in surrealistischen Witzen ganz natürlich ausnehmen.
