extends ../../templates/layout
block page-vars
  - const title = "Picknick"
block main
  article#picknick
    h2.inline-title Picknick.
    p
      | Encore Edibelbek, der Bub, wurde in eine Dunkelecke des dunklen 
      a.arrow(href="gasthaeuser.html") Gasthauses
      |  gedrängt, durfte etwas Bierschaum schlürfen nach zwei Jahrhunderten aber fuhr man weiter, durch dunkle Straßen in dunklen Wäldern; statt Sand und Erdstaub gab es an Hellem nur Gelbrot von Roterde und Rotgelb von rotbrüchigen Baumstümpfen. Er war ungemein alt und hatte die Liebe zu Mädchen viele Jahrhunderte zurückgelassen; sie lag irgendwo zwischen den Seiten der Andersenmärchen aus Pappengraublau und Leinenrot. Was ist mit Manja, fragte der Vater die Mutter. Durch diese Frage lichtete sich der Wald etwas, und als tatsächlich ein düsteres, graugrünes Hell eingetreten war, saßen sie alle auf bunten Decken im Laubwaldgras, von hohem Pflanzenwuchs umzackt. Die Mutter hatte nach dem schmolligen Butterbrot sogar Salzmandeln mit.
