extends ../../templates/layout
block page-vars
  - const title = "Pläne"
block main
  article#plaene
    h2.inline-title Pläne.
    p
      | Die Pläne für das Holzklötzchenspiel umfassen, in all ihrer Weite und Vielfalt, folgende Freudewerttypen:
    .indexed-grid
      .grid-index
        | 
        em 0) 
        | 
      .grid-text
        | 
        em Bildwert 
        | 
      .grid-index 00) 
      .grid-text Abbildung erlebter Gegenden (zB des Tränkenhügels, dessen Hang bekanntlich in späteren Träumen viel zu groß, jeder Halm so groß wie das Kind, und jede Kuhbreit voll verlorenheitbringender Weite, gesehen wird, also in vorchronistische Kindheitstiefen zurückweist) 
      .grid-index 01) 
      .grid-text Neubildung von Gegenden auf Grund von Wünschen (»Ich möchte so einen Krötenteich wie in N. B., aber auf dem Hang eines buntbekuhten Vulkanchens«) 
      .grid-index 02) 
      .grid-text Neubildung von Gegenden mittels Improvisation (dem Materialzufall oder Augenblickseinfall überlassen; so entstand die berühmte Hasen-Einfärbungs-Halle der Gänse-Fitta in Nord-Stiglic) 
      .grid-index
        | 
        em 1) 
        | 
      .grid-text
        | 
        em Funktionswert
        |  
      .grid-index 10) 
      .grid-text Abbildung erlebter Funktionswerte (zB des heimischen Wäscheschwemmens) 
      .grid-index 11) 
      .grid-text Neubildung von Funktionswerten auf Grund von Wünschen (»Ich möchte zwischen der Mädchen- und der Bubenschule eine Ziegelei, damit Buben und Mädchen durch allerhand Unheimliches zueinanderlaufen müssen«) 
      .grid-index 12) 
      .grid-text Neubildung von Funktionswerten mittels Improvisation (»Was kann dieser runde Klotz hier auf der Schafwiese bedeuten? Ah!: ein Wasserbehälter mit lebenden Fischen für die Schafe.« »Geh, Encore, Schafe fressen doch keine Fische!« »Meine schon, Mytilla.«) 
      .grid-index
        | 
        em 2)
        |  
      .grid-text
        | 
        em Episodenwert 
        | 
      .grid-index 20) 
      .grid-text Abbildung erlebter Episoden (»Das ist der Gendarm auf dem Motorrad, und das im Beiwagen ist sein Fräulein Nicolaides, und hier kommen sie an den Fluß, und da ist die Brücke, und plumps fliegen sie von der Brücke in den Fluß —«) 
      .grid-index 21) 
      .grid-text Neubildung von Episoden auf Grund von Wünschen (»Das ist unser Gärtner Jammrich, und jetzt mag er uns nicht mehr und kündigt, und hier kriegt er sein Lohn sackl, und jetzt geht er als Kuhmelker und hier ist die Kuh, und er fragt sie, darf ich dich melken, aber da gibt sie ihm — wumm! — einen Tritt mit den Hinterkeulen, und da ist schon das Rettungsauto, und das führt — tütü tütü — den armen Jammrich ins Spital, und da liegt er schon auf dem Operationstisch, und das da ist der Doktor, und das da ist das lange, lange Messer«) 
      .grid-index 22) 
      .grid-text
        | Neubildung von Episoden mittels Improvisation (»Wieso liegt dieses kleine Mädchen im Eimer? Ah, das bist du, Mytilla, du bist ausgerutscht und platsch in den großen Eimer gefallen.« »Nein!!!, Encore; ich bin doch nicht so klein, daß ich im Eimer Platz hab. Aber 
        em du
        |  hast in dem 
        em kleinen Hund
        |  Platz! Schau: wau! wau! und schon ist der kleine Bub ganz drin in dem großen kleinen Hund; bäääh!, weint der kleine Encore im Hundebauch, hörst du ihn? bäääh!«)
    p
      | Einige wenige Beispiele für beliebte landschaftbauliche Besonderheiten: Auslaufen des Städtchens in die Ebene. Unterbrechen des Städtchens durch einen Anger mit Tümpel und vielen Tieren. Leichte Abkrümmung eines Gäßchens. Übergang von Pflasterzu Grasbüschelweg an der Peripherie des Städtchens. Ein durch das Städtchen sich windender Fluß mit 
      a.arrow(href="kamille.html") Kamille
      | , 
      a.arrow(href="mindel.html") Mindel
      |  und zwei Brücklein. Wäscheschwemmerinnen aus rundem buntem Holz. Holzvorräte, kuppelförmig aufgeschichtet. Eine Feldbahn mit Funkenflug in Haferfelder. Verteilung des Städtchens auf einige Bodenwellen. Verschiedene Licht- und Schattenverhältnisse beim Drüberhalten oder Drüberführen der Taschenlampe. Verwinkelungen (
      a.arrow(href="motive-fuer-die-freude-an-verwinkelungen.html") Motive für die Freude an Verwinkelungen
      | ), Aussehen des Städtchens nach Beschuß aus dem Stoppelrevolver.
