extends ../../templates/layout
block page-vars
  - const title = "Plankton"
block main
  article#plankton-1
    h2.inline-title Plankton 1.
    p
      | Sammelst du Kaulquappen?, fragten die belehmten Schnaufschwimmer den Mitbuben J. Kaulquappen sind das wenigste, sagte J., aber schaut einmal, was dieser Teich für ein prächtiges Plankton hat. Den Schnaufschwimmern grauste, sie kratzten sich die lehmigen Schenkel, eingedenk der naturgeschichtlichen Wasserflöhe, Amöben, Wasserspinneneier etc. Aber J. stellte sein wassergefülltes Einsiedeglas noch am selben Abend auf sein Lernbrett, und das messing Erbmikroskop schaute messing und gläsern drein, ganz wissenschaftlich, es warf die Lichter der Lernlampe zurück. Und bald quabbelten Haxen und Blasen durchsichtigfarben in J.s pubertätsunterbläutes linkes Aug.
  article#plankton-2
    h2.inline-title Plankton 2.
    p
      | Das Plankton ist längst eine Ölschicht geworden, von Schiffen verloren, Fische ernten das Plankton und werden Ölsardinen, Schiffe fangen sie und gewinnen ihr Öl, stellen sich auf Ölantrieb um und verlieren Öl in das Plankton der Flußoberfläche.
  article#plankton-3
    h2.inline-title Plankton 3.
    p
      | Schaum wie von Spucke. Bio-Potpourri. SchiffsClobereichert. Goldwasser für den Sammler. Sogar verirrte Heuhüpfer gehören noch dazu. Laub, vorzeitig gelbes, wird darin vermaischt. Daphne, zärtliche Wasserflöhin! Vgl. C. Chun, Die pelagische Tierwelt, 1887; C. Apstein, Das Süßwasserplankton, 1896; Archiv f. Hydrobiologie u. Planktonkunde, 1905 ff.; A. Steuer, Planktonkunde, 1910; Wesenberg-Lund, Grundzüge der Biologie u. Geographie des Süßwasserplanktons, 1910; H. Lohmann, Über das Nanno-Plankton, 1911; K. Lampert, Das Leben der Binnengewässer, 1924; 0. Meissner, Der Altweibersommer in Potsdam 1938, 1939.
