extends ../../templates/layout
block page-vars
  - const title = "Plankengeruch"
block main
  article#plankengeruch
    h2.inline-title Plankengeruch.
    p
      | Zero Zobiak, der Bub, wurde in einem bunten Viertel des Ferienorts vom Naturgeschichtlehrer beim Schmutzigsein betreten. Zobiak, grauer Schuft, sagte der Lehrer, du Musterschüler heute so dreckig?, pfui Teufel! Marsch ins Bad, und wenns dort überfüllt ist, wirf die anderen raus. Das ist Gesindel, die haben den heimlichen Mongolenfleck, die brauchen nicht rein sein. Aber du bist ein nordischer Mensch, Zobiak, halt mehr auf dich. Und halt dich grad, das unterscheidet den Menschen vom Pithecanthropus erectus. Zobiak lief eingeschüchtert mit sehr gradem Rücken in die Richtung des Bades und brauchte niemand hinauszuwerfen, denn das Dampfbad war zugunsten des Schwimmbades leer. Zobiak löste eine Karte und rannte bald bloßfüßig über die guten glitschigen Planken, die stark nach Scheuerlauge rochen. Als er sich mit der Badewanne einschloß, kribbelte es ihn wie immer: Vorgefühl nackter Zweisamkeit. Die elektrische Birne im Folterkämmerchen veräppelte den Sonnenschein draußen.
