extends ../../templates/layout
block page-vars
  - const title = "Platonische Hälften"
block main
  article#platonische-haelften
    h2.inline-title Platonische Hälften.
    p
      | Die Sache mit den zwei Hälften, die einander suchen, dürfte wohl unwissenschaftlich sein. Je bewußter aber jemand lebt und je stärker er sich aus Aggression und dem Meinungskitsch heraushebt, desto mehr nähert sich seine Suche nach jemand ebenso Rühmlichem der märchendüstern Suche nach der »zweiten Hälfte«. Man multipliziere bloß Wahrscheinlichkeiten von 1% mehrmals miteinander. Die dritte Stufe ergibt schon 0.0001%, also für den Mann knapp 1 Menschen unter der weiblichen Bevölkerung von Wien inklusive Babies, Greisinnen, Gattinnen, Unentbrannte und Vogelscheuchen.
