extends ../../templates/layout
block page-vars
  - const title = "Politik"
block main
  article#politik
    h2.inline-title Politik.
    p
      | Um Rätselraten zu sparen: Der Autor des Lexikonromans möchte eine Menschheit, die unter den Konditionen von 
      span.small-caps Liberte Egalite Fraternite
      |  bestandfähig ist, zum Sozialismus nicht geprügelt zu werden brauchte, in ihm die Individualität und alle anderen Wert- und Lustfaktoren höchst entwickeln könnte, keine Repression mehr kennt und alle Intelligenz an Stabilisierung und Intensivierung des Lebens wendet. Der Autor des Lexikonromans ist also
    ul
      li politisch unzufrieden,
      li
        span.hidden pol
        span.abs „
        span.hidden itisch
        |  ungebildet,
      li
        span.hidden pol
        span.abs „
        span.hidden itisch
        |  ungläubig,
      li
        span.hidden pol
        span.abs „
        span.hidden itisch
        |  unentschlossen,
      li
        span.hidden pol
        span.abs „
        span.hidden itisch
        |  unwirksam.
