extends ../../templates/layout
block page-vars
  - const title = "Pop-Roman?"
block main
  article#pop-roman
    h2.inline-title Pop-Roman?
    p
      | Die Verfasser von Pop-Romanen einerseits, ich anderseits haben sich unter Pop-Romanen etwas anderes als meine sentimentale Drudenreise vorgestellt. Pop-Gegner indessen werden vieles Verhaßte auch in meinem Roman finden. So sei ihnen denn, mehr in Dreiteufels als in Gottes Namen, erlaubt, mich — wie schon einmal geschehen — unter die Popper einzureihen. Schelmen-, nouveau und Pop-Roman zusammen ergeben, zumindest von der Etikettierung her, lt. Schillers Glocke einen guten Klang.
