extends ../../templates/layout
block page-vars
  - const title = "Promenade"
block main
  article#promenade-1
    h2.inline-title Promenade 1.
    p
      | Sie mußten die Stadt bald verlassen, die Feinde ließen nicht mehr viel Zeit. Außerdem war es schon Oktober, und die Saison der Flußpromenade war eigentlich vorbei. Caro Coenluir schaute durch das Verkleinerungsglas des Abschiedstages alles noch einmal an, hatte nie begriffen, wozu eine Promenade gut war.
  article#promenade-2
    h2.inline-title Promenade 2.
    p
      | Spazierwelt, Teerölluxus, hauslose Gasse, von Beruf waagrecht, von Beruf schön, von Beruf grün, mit bunter Bank- und Blumenassistenz, für Menschen, die von Beruf Spaziergänger sind, Lauschende, Dichtende, Hustende, Liebende, von Beruf Gäste, von Beruf Atmende, Guckende, Lobende, Zahlende. Menschen, die einander zehnmal beim Auf- und Abgehen begegnen, brauchen sich ab dem zweiten Mal lt. Chamrath nur mehr freundlich zuzunicken. Flirtende Hundebesitzer müssen die Leinen kurz halten, damit sie einander keine Köter machen. Die Promenade obliegt dem Verschönerungsverein, der oft ahnungslos und meist machtlos ist. Sein Gebäude liegt malerisch. Aber viel Freiheit, ausgiebiger Zeitvorrat, viel Verruchtheit in Grenzen, auch freie Sonnenbenützung, Wasserplätschern, Fischeln und Rasenmähgeruch, bunte Lacke, an denen man kletzeln kann, ein Reservoir an Meisen und wippenden Bachstelzen und die Nähe der eigenschlicksaligen echten Ortsgassen und der dösenden Plätze, nicht zu vergessen der Klempnereien und Wagnereien mit ihrem Geheinzel, machen die Promenade dem profunden Betrachter adäquat.
  article#promenade-3
    h2.inline-title Promenade 3.
    p
      | Aber Vater, sagte die Ausflüglerin (sie hatte keine Hals-Bucht, ihr Kinn ging brutal in den Brustansatz über), in violettem Kleid, Konkurrenz den Wegrandblüten, aber sie hieß Magda, ihre Unterlippe hing lang hinunter, schau wie schön, ein andermal gehen wir den ganzen Sonntag nur da am Ufer spazieren, sie waren froh, daß sie den Besuch aus Deutschland abgeliefert hatten, wir sind doch gemütlicher, von dem mannigfachen Bewuchs dieser Strecke hatten sie trotz scheinbaren Blicken dahin keine Ahnung, Grün war einfach Grün, Blatt war Blatt, oder Natur einfach Natur.
  article#promenade-4
    h2.inline-title Promenade 4.
    p
      | Grünknipsen, Wartenlassen, Begegnen, Fahrzeugverbannung, Zeithaben, Stimmendämpfung, Gezwitschermonopol, Wohin bei Gewitter?, Barfußfanatiker, Flußbrise, Pavillon, Erfrischungsbonbons, Milchtrinkhalle, Transistorflüstern, Nichtwiederbegegnen, Hinken, Dann ins Gärtchen, Heut abend ein Hühnchen, Zeitungentfalten, Handtäschchendurchwühlen, Kinderklapsen, Schlangefinden, Verändertbegegnen, Einholen, Überholen, Einhaken, Gedämpftlachen, Entspannen, Gesichtbewahren, Nasenachpudern, Leisefurzen, Tiefatmen, Aufknöpfen, Grußkärtchen auswählen, Zujungsein, Zualtsein, Gradrichtigaltsein, Sommerverbringen, Üben, Magenknurren, Verfehlen, Trotzen, Rauchen, Schönhaarigsein, Turnen, Frescohosentragen, Keine Unterwäsche tragen, Rehe vermuten, Torte versprechen, Parfummund küssen, Kühltüchlein zerfitzeln, Stein im Schuh, Vermessungspfropf anstoßen, Ordnung loben, Fluß betrachten.
