extends ../../templates/layout
block page-vars
  - const title = "Quenta Quebec"
block main
  article#quenta-quebec
    h2.inline-title Quenta Quebec
    p
      | möchte nicht englisch oder französisch ausgesprochen werden wie die kanadische Stadt, sondern deutsch (Kwenta Kwebek) und mit der Betonung auf den ersten Silben ausgesprochen werden. Sie dankt recht schön für ihr Verständnis.
