extends ../../templates/layout
block page-vars
  - const title = "Realismus"
block main
  article#realismus
    h2.inline-title Realismus.
    p
      | Warum ich nicht das Maul halte in der heutigen Zeit, der doch dichterisches Fangerlspiel mit der Wirklichkeit schißkojedno ist? Mit großer Eloquenz zeigt Oswald Wiener, daß man die Qualitäten eines Tisches nicht in Sprache transsubstantiieren kann; und: wovon man nicht sprechen kann, darüber muß man schweigen (Wittgenstein, Tractatus, Satz 7).
    p
      | Ich halte das Maul deshalb nicht, weil die Lochkarte des Eheinstituts ein armes Spiegelbild des Partners ist, aber dennoch so viel von ihm trägt, daß, wenn sie ausfungiert hat, ein echter Honigmond da ist. Kühler gesagt: wenn ich lese, es fiel ein gelbgrüner Niederschlag, und der roch nach Quargeln, ist für mich das widerliche Ereignis 
      em eingetreten
      | .
    p
      | Die zweite Frage, die sich anbietet (welchen Genuß das Essen vorgekäuter Wirklichkeit bringt), wollte ich manchmal hypothetisch beantworten. Heute beschränke ich mich auf: Dem Leser Okopenko 
      em bringt
      |  es Genuß; und da ein paar Dutzend Autoren für mich käuten, werden auch sie dieses Schmecken gekannt haben, also ist es unwahrscheinlich, daß ich heute der einzige bin, für den solches Zweitgekäu in Betracht kommt; wenn es aber auch nur einen froh macht, ist der Stellenwert der zweiten Frage schon ermäßigt.
    p
      | Freilich: der Zeitfaktor; die Erfindung des Farbphotos läßt sich nicht überkäuen; Whitman und Hartlaub sind mit Butz und Stingel erknipsbar geworden; und viel mehr Punkte sind auf so einer Ektachrome-Dichtung drauf; das kann mein DrudenRoman natürlich nicht widerlegen.
