extends ../../templates/layout
block page-vars
  - const title = "Rechen"
block main
  article#rechen
    h2.inline-title Rechen.
    p
      | Motive für den Erwerb eines Rechens: Das Werkzeugneue. Mittel zum Ausfüllen des sonst leeren Kleingartensonntags (der ohne ordnende Arbeit wie ein unliniiertes Kraftfeld daliegt). Die Glätte des hellgelben Holzes. Dennoch das erregende eine Prozent der Möglichkeit, sich einen Span einzuziehen. Das Mörderische der Zacken. Andeutung des urig Pflughaften. Der Geräteschuppen füllt sich. Das Klirren auf Stein. Das Zutagefördern von Regenwürmern aus der frischfeuchten Erde. Das stolzmachende Schwielenkriegen.
    p
      | Motive für das Bewundern eines Rechens in der Hand eines 
      a.arrow(href="standard-mariandl.html") Standard-Mariandls
      | : Das museal Bäuerinnenhafte. Das outriert Gesunde. Fleischige. Arbeitsrote heiße trockene Hände, auf das Selbstverständliche eingespielt. Die kuhbraven drallen Schenkel mit der Hoffnung in der Mitte. Der rauhhalsige, nicht ohne Charme herausfordernde Recherinnen-Dialekt.
