extends ../../templates/layout
block page-vars
  - const title = "Restaurant"
block main
  article#restaurant
    h2.inline-title Restaurant.
    p.poetry
      em 
        | Nach getaner Arbeit ißt Gudrun.
        br
        | (Ambraser Apokryph, um 1195 n. Chr.)
    p
      | Wir wollen nicht vergessen, daß während all des Folgenden der Chemiekaufmann J. den Blick aufs Wasser und dessen Ufer behielt und die 
      em Welt der ungebrochenen Erscheinungen
      |  in das Übrige mit einströmte. Um das nachzuahmen, schlagen wir an einigen Stellen des folgenden Ablaufberichtes, ihn unterbrechend, Beispiele etwa je einer 
      a.arrow(href="auen.html") Au
      | , 
      a.arrow(href="auflockerung-im-allgemeinen.html") Auflockerung
      | , eines 
      a.arrow(href="huegel.html") Hügels
      | , 
      a.arrow(href="wasserereignisse.html") Wasserereignisses
      |  nach.
    p
      | Ich war in einer fremden Stadt, auch mittag, auch mit Kullermagen und den Gerüchen aus den gasthofreichen Gassen, Plätzen, Straßen, freilich dazwischen etwas wie Leimgeruch (einer Zuckerwarenfabrik) und Amylazetat (einer Karosseriespritzerei). Die Zuschauer- und Streuner-Internationale irgendwelcher Sommerspiele warf ihre Hüte, bunten Beine, Taschen zwischen uns Ein- und Halbeinheimische, gelegentlich mit dem gemeckerten »Excusez« der Schweizer und einem arg hergenommenen »Sorry«. Plötzlich drehte mich der Windmühlenflügel einer Drehtür in das wohlige Finster einer Freßstube mit dicken Eichenplatten, drangeklammerten rotweiß-karierten Tischtüchern, den Reklamen für siebzehn Biersorten und (in mehreren Nischen) glühenden Schmorgeräten; ein im Prospekt, den jeder zur Erinnerung und Weiterempfehlung mitbekam, als »feenhaft beleuchtet« ausgewiesener Springbrunnen wusch den Tabakrauch in sich hinein, was der Luft einen etwas vakuumhaften Charakter gab. Dann die Trinkfrage, die dicke Rolle einer Serviette und das Lederbuch mit dem Tiefstapelnamen »Speisenkarte«.
    p
      | Ich bin aber, dachte Chemiekaufmann J., auf die Donau geraten nicht, um mit der Lektüre eines beleibten Speisenbuches renommieren zu können, und so gefiel es ihm an dem wasserluftnahen Tisch beim Studium zweier Wahlmenus und beim Trinken des Einheits 
      a.arrow(href="bier.html") Bieres
      |  gut. Ein Lautsprecher sprach laut. Ein schwerhöriges Pensionistenpaar freute sich. »Bei diesem Radio versteht man wenigstens was«, schrie sie. »Was hast du gesagt?«, schrie er zurück.
    p.poetry
      | Ich wünsch mir einen Grizzlybär
      br
      | in einem Übersee-Kuvert,
    p
      | bettelte die kleine Martina der Goldenen Schallplatte entgegen; ihr Romeo war platter; er sang:
    p.poetry.no-bottom-margin
      | den kriegst du aber nur,
      br
      | wenn du mich kü-ü-üßt.
    p
      | (
      a.arrow(href="kuessen.html") Küssen
      | .)
    p
      | Ich entschied mich für das Menu mit den Schnitzeln, wegen des Motorenöl-Vorspiels meiner Hungerzeit. Bis zum Eintreffen der 
      a.arrow(href="suppe.html") Suppe
      |  (die hübsch dicke und hübsch schwarz-rotgemusterte 
      a.arrow(href="serviererin.html") Serviererin
      |  reizte mich raffiniert, brachte nämlich die knusprige Suppeneinlage schon im vorhinein) weidete ich mich an der fröhlichen Unordnung der aufgescheuchten und aufgemunterten Leute, die sich schon in Gedanken, Worten oder Werken an einem der beiden Freßprogramme weideten. Kühle des Raumes, der Wasserkulisse, Hitzigkeit der Wärmezentren auf Tellern, Hitzigkeit der oft nur schlampig wiederbekleideten Körper, Gedränge, Musik, Durcheinanderquatschen, Buntfarben der Gäste, Offiziellfarben des Ortes, und da und dort kristallisierende Einzeleindrücke, namentlich wo es aus der Fülle weiblicher Erscheinungsformen herauszugreifen einlud (man schlage, auch später, 
      a.arrow(href="restaurant-menschen.html") Restaurant-Menschen
      |  nach).
    p
      | 
      a.arrow(href="suppe.html") Suppe
      | , 
      a.arrow(href="schnitzel.html") Schnitzel
      |  (reichlich, in gutem Öl blond gebacken, mit fünffältigem Salat), 
      a.arrow(href="bier.html") Bier
      | , dann 
      a.arrow(href="torte.html") Torte
      |  (zu einem doppelten 
      a.arrow(href="espresso.html") Espresso
      | , darüber aber noch später) erfüllten allesamt mit maximalem Lusteffekt ihre Funktion.
    p
      | Zwischen dem letzten Schnitzelbissen (J. hob sich das knusprigste Zipfelchen für den Schluß auf) und dem Einlangen der espressoergänzten 
      a.arrow(href="torte.html") Torte
      |  streckte ich mich — das Radio spielte:
    p.poetry
      | Ein Cowboy wollte naschen,
      br
      | am himmelblauen Meer.
      br
      | Da griff er in die Taschen —
      br
      | die Taschen waren leer.
      br
      | Da griff er zur Pistole:
      br
      | wenn ich mir jetzt was hole,
      br
      | so schmeckt es mir noch mehr,
      br
      | so schmeckt es mir noch mehr
      br
    p 
      | — kurzerhand: alles war in Ordnung, und zur Tür herein kamen 
      a.arrow(href="100-kg-attraktive-frau.html") 100 kg attraktive Frau
      | . Die Frau parfumierte (mit frischem Bergamottölgeruch) einen Umkreis, in dem auch an mich noch gedacht war (die Welt vergißt mich nicht!), nur ein Eßplatz trennte mich von ihr.
    p.poetry
      | So schmeckt es mir noch mehr,
      br
      | am himmelblauen Meer.
    p
      | Ich biß in die Stellvertretende, die dicke Sahneschicht der dicken 
      a.arrow(href="torte.html") Torte
      | , und ließ die viele fette Innencreme lasziv in meinem Mund zerschmelzen. Fette und fettbildende Dinge, die ich aus Kindheitsekeln und als sportlicher Mann nicht aß, auch auf Speisekarten nicht duldete, formten sich jetzt zu ungeahntem Reiz um: hängende, schwabbernde Specke an Schweinernem, nur-gekocht, fad, beim Einbeißen eberndes flüssiges Schmalz in den Mund tropfend; Knödel, unbewältigbar, kanonenkugelgroß, und gleich eine Schüssel voll, in stockend fetter Sauce; ganze Töpfe voll cremiger Nährspeisen wie für Venusflüge (Kakao, Honig, Puddddding, Dotter, Zucker, Margariiiiine); dickgezuckertes Schlagobers, ölnasse Sardinen und Triefgrammeln; all ihr dummen Mastschweine, Kernfettochsen, Milchfettkühe, Fetthammeln, Fettgänse, Fettenten, Fettkarpfen, Trandorsche, all ihr langweiligen Schmere und Stelzen, 
      a.arrow(href="verwandelt-euch.html") verwandelt euch
      |  in 
      em kostbare Zentimeter und Pfunde
      |  Frauenfleisch, Liebkosungsfett, nässende Nischen, schmiegsame Wülste; schaukelnde Brustkürbisse, knetende 
      a.arrow(href="gesaess.html") Gesäße
      | , massiv kosende Armschinken, Monumentalbeine, Schulterpakete, küßbare Kugelwangen und Speckhälse, Wulstlippen, heiße Anpreßbäuche voll rumpelnder Eingeweide, schwerfällige Waden, polstrige Babyfüße; Wärme, Sanftmut, Trägheit, Einbettung, paschahzermalmendes Tonnenglück.
    p.poetry
      | So schmeckt es mir noch mehr
      br
    p endete der Cowboy, dann bekam er die Pointe — einen Schuß, der ihm nur noch einen Stöhnlaut erlaubte.
    p
      | Die Korpulenz des Begleiters meiner Odaliske stieß mich — im Gegensatz zu ihrer eigenen — ab. Ich nippte vom Kaffee, holte mir, an der jetzt Schlemmenden sattgedacht, den Lesezirkelrahmen mit der vorwöchigen 
      span.small-caps Frau und Freude
      | . Statt in die lose Filterpackung 
      em 
        | ich wollte jetzt 
        a.arrow(href="exporteur.html") Exporteur 
        | sein
      |  griff ich ins Gold-Etui, zündete mit dem Goldfeuerzeug 
      em Erinnerung an die Tagung in Milano
      |  und blies 
      em weltmüde
      |  Rauch.
    p
      | 
      a.arrow.small-caps(href="frau-und-freude-das-blatt-mit-herzpfiff.html") Frau und Freude
      |  (mehrere Textstellen).
    p
      | »Will der Herr vielleicht«, fragte die 
      em hübsch dicke 
      a.arrow(href="serviererin.html") Serviererin
      | , weil sie etwas weniger Rummel jetzt hatte, »ein Herrenjournal?« »Lesen Sie mir das an den Augen ab?« (J. ließ wirkbewußt sein Strichbärtchen spielen). »Gott bewahre«, sie lachte in jener Art der Dicken, bei der alles Schlumprige im Körper mithüpft, »aber ich sehe, Sie haben 
      span.small-caps Frau Und Freude
      | ...« »Das Schönste, das ein Mann haben kann.« »Das sagt auch nur der Idealist in Ihnen.« (Ihren letzten Würstelfinger — der vorletzte war zu geschwollen — schnitt ein dicker unverbrüchlicher Treuering entzwei.) J. nahm das etwas altbackene amerikanische Herrenjournal (Hundekuchen für die Kettenrüden der Frauenvereine), überflog, sein Amerikanisch polierend, Gesellschaftsberichte
    p
      | (»Nach Mitternacht stülpte Lyddie Rockefeller die Goldschablone über ihre Zähne und biß den verbliebenen Herren ein Autogramm in den Rücken ... In den Bärten von Mr. Eede und seinen ,Senatoren' blitzten, vornehm versteckt, eine Anzahl eingeknüpfter Brillanten von nicht unerheblichem Karat und Feuer ...
    p
      | Ina ,Fats' Mellington, im Nightclub Of The Seven zuletzt Chefserviererin, wurde nach dem tragischen Segelflugunfall ihrer Vorgängerin die vierte Frau des siebenundachtzigjährigen Chemie-Alvaro — 
      em schau, schau, dachte Chemie-J
      | . — ...«)
    p
      | und saß dann in der Mitte des Hirsebergs schöner Frauen. (
      a.arrow(href="herrenjournal.html") Herrenjournal
      | , ausgiebig.)
    p
      | »So einen Bruder lob ich mir«, sagten kehlig die 
      a.arrow(href="100-kg-attraktive-frau.html") 100 kg attraktive Frau
      |  vom Nebentisch; »
      em sorgt rührend
      |  für seinen sitzengebliebenen Brocken von Schwester.« Schau, schau, dachte Chemie-J., mit Heine:
    p.poetry
      | ... und zur Hälfte nur genutzet
      br
      | ist dein trautes Schlafgemach.
    p
      | (Ein Verspaar, das wegen seines Ökonomisierens den Kaufmann in J. immer angesprochen hatte.) »Aber geh nur sonnen«, setzte sie mütterlich fort, »mir ist es hier im Schatten noch lieber.« Unter dem Perlonhemd des schweren Nichtrivalen leuchtete das Rot von 
      a.arrow(href="hahnenzierden.html") Hahnenzierden
      | , das röter und röter gestrahlt werden wollte und in seinem Eitelkeitseigensinn nicht an Behagen, Haut und Herz des Trägers dachte.
    p
      | »Gnädige Frau«, sagte ich leise und dunkel. (Müdes Überzeugtsein, daß auch dies wieder glückt, schwang mit.) »Ja?« Sie suchte durch massige Halsdrehung den Sprecher, der bisher nur am Volksfest ihres Rückens teilhatte. »Gestatten Sie?«, munkelte ich, ohne zu sagen, was. »Bit-tee«, sagte sie tief in der Kehle, wo Vögel ebenso zärtlich das Futter für ihre Jungen zubereiten. »Mein Name ist J., Chemieexport«, unser Tisch bog sich unter der süßen Mast, die ich meiner Odaliske kaufen durfte. Dazu trank Barbara (ich nannte sie noch »gnädige Frau«) Kaffee mit zehn Zentimeter süßer steifer Haube, in der schon gelbe Butterstücke steckten. »Wollen Sie nicht auch etwas für die Linie tun?«, fragte sie. Ich kam mir erstmals wegen meiner Sportsman-Figur ewas windig vor, aber stützte mich gleich an den Scheichs aus Mondo-Filmen ab, die, scheuchendürr, in nur rollbaren Riesenfrauen schwelgten. Ich gönnte mir einen langsamen schlammdicken Kräuterbitter. »Na, wenn Sie sich mit mir nicht genieren, Monsieur —? Ich kenne das 
      span.small-caps Domino
      |  auch.« (Das Dobváry vorzuschlagen, hatte ich multilaterale Hemmungen gehabt.) »Ja, Sie werden lachen«, setzte sie fort, »ich tanze gee-rn.« (Sie fütterte wieder ihre Jungen.) Ich fing unauffällig eine Fliege, um sie ihr aus der kleidfreien 
      a.arrow(href="achselhoehle.html") Achselhöhle
      |  nehmen zu können. »Aah? Ein freches Biest«, sagte sie. »Wollen Sie es im Kaffee?«, fragte ich. »Ich finde es sehr nett von Ihnen« (sie wiederholte die mit Babyhändchen auf meiner Visitenkarte ergänzte Privatnummer,) »daß Sie mir keinen Arzt empfehlen.« »Das wäre«, entrüstete ich mich, »wie den Eiffelturm aus Paris abtragen.« »Eher die sieben Hügel aus Rom«, lachte sie. Ich zählte unbemerkt nach. »Darf ich?«: sie kostete von meinem Bitterschlamm, und ich trank in ihrer Lippenspur aus, dann bestellte ich uns beiden. »Auf gutes Verstehen«, kam sie mir zuvor; sie belehrte mich: »das ist selten; und sehr wichtig.« Sie schluckte dick. »Ein Uhr. Begleiten Sie mich noch ein Stückchen zum Sonnendeck?«, fragte sie.
    p
      | 
      a.arrow.main-route(href="siesta.html") Siesta
      | .
