extends ../../templates/layout
block page-vars
  - const title = "Sättigung"
block main
  article#saettigung
    h2.inline-title Sättigung.
    p
      | Wenn bei Zimmertemperatur in 80 Gramm Wasser einmal 20 Gramm Caesiumnitrat aufgelöst sind, ist es aus. Soviel Caesiumnitrat man noch hineinwirft, so stürmisch man umrührt, kein weiteres Gramm löst sich mehr. Die Lösung ist gesättigt, sie nimmt nichts mehr auf. Ähnlich wehrt sich die Peterskirche gegen weitere Bausteine und Der alte Mann und das Meer gegen weitere Worte.
    p
      | Alkohol hingegen wird in jeder Menge aufgenommen. Zu unseren 80 Gramm Wasser können Sie 20 Gramm schütten, 20 Liter oder 20 Güterzüge. Hier herrscht die Unersättlichkeit. In der Donauau — der man Unvollständigkeit nicht nachsagen kann — können Sie noch 20.000 Bäume anpflanzen; wenn Sie sich daran gewöhnt haben, noch: 200 Häuschen hinstellen; und, wenn Sie sich dran gewöhnt haben, noch: 20 chemische Fabriken. Von diesem Typ ist mein Roman.
    p
      | Was hält mich davon ab, die sentimentale Reise des Chemiekaufmanns — diesen coitus prolongatus mit meiner Muse — ins Anagalaktische zu dehnen? J. könnte doch einen Gedanken über Stalingrad haben, der es mir ermöglicht, eine Geschichte des Zweiten Weltkriegs in mein Drudenbuch einzubauen; einen Gedanken über den Experimentierdrang Gottes — und schon wäre der Aufhänger für ein theologisches Lebenswerk eingeschraubt; einen Gedanken über arithmetische Reihen — und schon könnte ich ein 1000 Seiten starkes Mathematikdruden an die Hochschulen liefern.
    p
      | Ja: Kein künstlerisches Beschränkungsprinzip hält mich klein. Nur die Beschränktheit meiner vorkalkulierten Zeit und meines Denkformates. Am liebsten denke ich an Mädchen und Materialien, Lichtwellen und Landschaften. Und auch über die wären einige hundert Seiten Mehrgeschwätz möglich. Ich gleiche nicht dem Chemiker, der bei 20 Gramm Caesiumnitrat weise aufhört, sondern dem Wüstling, der sich zu seinen 80 Gramm heißem Tee Rum um Rum um Rum in die Teekanne schüttet, bis halt die Kanne voll ist.
