extends ../../templates/layout
block page-vars
  - const title = "Scharfer Hund"
block main
  article#scharfer-hund
    h2.inline-title Scharfer Hund.
    p
      | 
      a.arrow(href="hundeschaerfer.html") Hundeschärfer
      | .
