extends ../../templates/layout
block page-vars
  - const title = "Schildermalen"
block main
  article#schildermalen
    h2.inline-title Schildermalen.
    p
      | In Dosen stehen die ÖIfarben herum, alle offen, bunt und betäubend. Der Meister kommt und wirft uns den triefenden Pinsel an den Kopf. Das ist sein Gruß. Jetzt bist schön blau!, sagt er, denn er ist farbenblind. Wir sagen »ja«, damit er uns keine Maulschelle gibt. Dann dürfen wir selber streichen, in allen Farben der Kindheit. Das Großvaterblau, das es nie mehr gab — eine dicke Schmiere aus reinen Kornblumen. Das Onkelgelb — wie Senf ohne Grün —, mit dem man nur ausgesägte Buchstaben streichen darf. Das Für-immer-Weiß — denn wenn man in den klebrigen weißen Teig die Hände eintauchen wollte, sagte die Mutter, »daß dus ja nicht tust, du bleibst weiß für immer«. Und das Rot, nicht Weinrot, Zyklam, Rosen, Rubin, Koralle, Karmin, Kirsch, Zinnober, sondern das Nur-Rot: das Rot, das Anstrichrot, das zum Anstrichgelb, -grün, -weiß, -blau, -braun, -schwarz so gut paßt. Wenn alle Bretter und Buchstaben sattgestrichen sind, sind wunderbare neue Gegenstände entstanden, die man erst im Hof trocknen lassen muß und dann in die Welt einführen darf. Zum Abschied badet uns der Meister in Terpentin.
