extends ../../templates/layout
block page-vars
  - const title = "Schlager"
block main
  article#schlager-1
    h2.inline-title Schlager 1.
    .longest-line
      | Der dummböse Bill und die schlauschlechte Li,
      br
      | die machen dich fertig und wissen schon, wie;
      br
      | dein Bitten hilft wenig,
      br
      | da hilft nur Arsenik
      br
      | und eine geschmierte M. Pi.
  article#schlager-2
    h2.inline-title Schlager 2.
    .longest-line
      | Durch Paris, da fließt die Elbe,
      br
      | und die Olga ist ein Biest,
      br
      | und die Elbe ist dieselbe,
      br
      | die auch durch die Wolga fließt.
      br
      | Und die Wolga ist die gelbe,
      br
      | die den Yangtsekiang begießt,
      br
      | und die Schwalbe liebt die Schwälbe
      br
      | wenn man sie mit Salbe schießt.
  article#schlager-3
    h2.inline-title Schlager 3.
    .longest-line
      | In Indien werden die Witwen verbrannt, juchhe,
      br
      | in Hamburg, da bruzzelt der Elefant,
      br
      | da wird der Gesandte nach Bombay gesandt,
      br
      | und er sollte doch nach Tai-peh,
      br
      | juchhe, bombaidschi, juchhe.
