extends ../../templates/layout
block page-vars
  - const title = "Schleuse"
block main
  article#schleuse
    h2.inline-title Schleuse.
    p
      | Gut, daß wir nicht geschleust werden. Beim Schleusen werden den Leuten die Augen verbunden, ein Motor heult auf, eine Stahlplatte hebt sich, der Fluß wird auf die Leute geschüttet, das Schiff stellt sich auf den Kopf, die verbundenen Stirnen dringen in Taucherräume ein, in Kabinette aus schwarzem Wasser, das nach Eisen riecht. Die Stahlplatten haben Tausende ochsenkopfgroße Nieten. Die Leute spucken das Wasser aus und reißen sich die Binde von den Augen, sehen einen weißen Sprühregen und nach Entblindung himmelblauweißen Himmel, und sie sagen »eine frische Brise« und »jetzt sind wir in einem lustigen kleinen Flüßchen«.
    p
      | Nichts davon. Aber auf einem technischen weißen Gebäude (
      a.arrow(href="milchblau.html") milchblaue
      |  Zierstreifen. Ist es ein Wunder, daß sich die Fröhlichkeit an Bord in einem Lied Luft macht, das vom Hinterdeck (
      a.arrow(href="deck.html#deck-2") Deck 2
      | ), mädchengesungen, zartlaut herüberzieht?
    p.poetry
      | Nimm dir deinen besten Stresemann,
      br
      |zünd den Schnurrbart am Gebläse an,
      br
      |hab mich lieb
      br
      |bei pommes chips
      br
      |aus Prinzip.
      br
      br
      |Nimm dir deinen besten Stresemann,
      br
      |schmier das Klatschbonbon mit Käse an,
      br
      |hab mich lieb etc.
    p
      |
      a.arrow.main-route(href="ufermauer.html") Ufermauer
      | .
