extends ../../templates/layout
block page-vars
  - const title = "Schnitzel"
block main
  article#schnitzel-1
    h2.inline-title Schnitzel 1.
    p
      | Durch die knusprige mit dem Messer. Querschnitt liegt frei: Fleischblock, rundum Luftpolster und innengelbe außenbraune Panade. Zähne krachen an die Bröselkruste, durchtrennen dann dünnste Omelette, halten im Fleisch, Saftgeschmack breitet sich aus, Panade kratzt die Mundhöhle, erster Bissen schaukelt den Appetit auf. Ich wünsche mir immer eine Mahlzeit aus lauter ersten Bissen.
  article#schnitzel-2
    h2.inline-title Schnitzel 2.
    p
      | Ein Schnitzel zwischen den Zähnen, auf allen vieren davonjappen. Im Lauf trotz dem höllischen Hunger und göttlichen Appetit nicht zu tief ins Fleisch beißen, damit es nicht in zwei Teile zerfällt, deren einer mit der davonlaufenden Erde davonläuft. Gerade ein bißchen würzigen Saft (es ist ein paniertes Rindschnitzel!) darfst du herausfletschen; dein Gaumen und dein Rachen brennesseln vor Erwartung, gleich kuschst du dich irgendwo in sicherem Heu nieder, und nun gehört das Schnitzel wirklich deinen Zähnen und deinem Gehirn: 
      em dir!
