extends ../../templates/layout
block page-vars
  - const title = "Schreibübung"
block main
  article#schreibuebung-1
    h2.inline-title Schreibübung 1.
    p
      | »Schreib zwanzigmal: 
      span.small-caps Jedes Mädchen hat einen Körper
      | !« Die dreizehnjährigen Buben wehren sich, und der Lehrer darf keinen Schlagstock benutzen. Er ist jetzt erst draufgekommen, daß auch schlanke, kleine oder sonstwie unscheinbare Mädchen einen aufregenden (um die Mitte starkdimensionierten) Körper haben. Denn der Lehrer ist weder Schwimmer noch Illustriertenleser; was Bäder und Blätter ihn längst gelehrt hätten, mußte ihn ein Zufall im Kleingarten lehren: die junge Kollegin im Bikini. Die flache, aber breite Bauchpartie, die fettlosen, aber mächtigen Oberschenkel. Nun wird der Lehrer sich Anita ungehemmt nähern. Seine Schüler aber, die armen Unerlösten, in ihren muffigen Hosen und vorlauten Hemden, all die Fußtreter, Kehligschreier und Erröter, sollen schon jetzt, durch Strafschreiben geprägt, wissen: 
      span.small-caps Jedes Mädchen hat einen Körper!
  article#schreibuebung-2
    h2.inline-title Schreibübung 2.
    p
      | Das Schiff mußte beinahe beidrehen. Beiliegend übersende ich Ihnen ein Beilager. Die Beiladung fing Feuer, der Beifahrer verkohlte. Er wurde beiläufig beigesetzt, mein herzlichstes Beileid! Alles geht vorbei. Den Beisitzer nannten die Beigezogenen ein »Beiwagerl«, mit verächtlichem Beigeschmack, die Beischläfer der Angeklagten pflichteten beifällig bei. Sich was beiseitelegen, das werd ich dir schon beibringen! Die Indianer brachten dem Weißen, Beistrich, der ihnen beikommen wollte, Beistrich, beifolgende Wunden bei. Beileibe! Er aß sechs Schnitzel vom Beiried und sah auf den blühenden Beifuß. Gebt beizeiten klein bei.
  article#schreibuebung-3
    h2.inline-title Schreibübung 3.
    p.poetry
      | Wir haschen hinter Rüschen nach dem Röschen
      br
      | und lauschen einem Läuschen in dem Höschen.
  article#schreibuebung-4
    h2.inline-title Schreibübung 4.
    p
      | Elefanten möchten ein Huhn auf dem Kopf. Ich hielt meine Gattin für ein Krokodil; da rammte ich dem Tier ein Glas in den Hals. Das Auto wird mit einem Schweißbrenner zerlegt, sagt Samson, und dann esse ich pro Tag ein Kilo. Eines der Wesen brannte mit einem Gerät, das wie eine Lötlampe aussah, Zeichen auf unseren Wagen, das andere entnahm unseren Fingerspitzen Blut. Sie erschlug ihn; Anführungszeichen, er wollte mein Kind zu einer Ziege erziehen; Anführungszeichen oben. Der Vater verwechselt sein Töchterchen mit einem Trichterchen. Der Gegensatz von Nahtugend ist: Fernlaster. Vor der Trafik liegt ein Vollballen mit 25 Eltern.
  article#schreibuebung-5
    h2.inline-title Schreibübung 5.
    p
      | Wir sind stark, wir sind Stahl, sagte der Versicherungsbeamte Na Und.
    p
      | Sind Sie frei? Sind Sie verheiratet? Dann möchte ich Sie afrika sagte angeberisch der Lehrer zur Schülerin.
    p
      | Sind Sie blitzdumm? Diesen Einwurf verzeihe ich meinem Einwerfer nie. Der Tilsiter geruchloste im Einwurfzimmer. Potzblitz!
    p
      | Rätselhaft vom Anfang bis zum salzigen Ende bleibt das Leben. Und ob.
