extends ../../templates/layout
block page-vars
  - const title = "Schwarzmeer-Perspektive"
block main
  article#schwarzmeer-perspektive
    h2.inline-title Schwarzmeer-Perspektive.
    p
      | »... Wie gern verbrächte ich die späten Jahre unten, wo die weißbunten Dampfer anlegen und der Krimwein gerüttelt und dosiert wird, ehe ich ihn auf das Wohl der hoffentlich kommenden Zeiten knallen lasse...« So mag es wohl in einem Onkelbrief aus dem meerfernen MittelLand rhapsodieren, zB:
    p.moskau
      | Moskau, 17. 8.
    p.no-indent
      | ... Aber acht Krähen in kunstvoller Formation ziehen einen elliptischen Bogen um die Windfänge des Hauses gegenüber und erinnern an Sammlungen zum Südabflug von Sommervögeln oder an Wärmemanöver der Wintervögel
    p.no-indent
      | ... 
      em zuboden Weiden jagt die hohen
      | , schreibt Schewtschenko vom Wind — hier im Westhof hat er nur Kalinen und Flieder zu jagen, aber er jagt sie gründlich und oftmals zuboden, und diesen Wind, mein Neffe, lasse ich weit durch meine offenen Fenster
    p.no-indent
      | ... und etwas von meiner alten Landsucht hat mich flüchtig überzogen — 
      em wie gern verbrächte ich die späten Jahre unten, wo die weißbunten Dampfer etc.
      | 
    p.no-indent
      | ... Zinnoberwolken ändern den Himmel, alles in allem wendet sich das Jahr; der 21. Juni war nicht so leicht zu nehmen, wie wir ihn nahmen; wir sagten: erst der Frühling ist um; aber seht zum Teufel jetzt die verkümmernden Abende !
    p.no-indent
      | ... Mundharmonikaspiel (»Und als wir den Weizen dann haben geschnitten«) dringt in Triften, man könnte sie zeichnen, aus dem zweiten Nachbarblock; aus der oberen Wohnung aber treibt die Fassade abwärts ein Geruch von ernstzunehmender Suppe, wie aus einem blütenfeuchten Restaurant mit großen zyrillischen Leuchtbuchstaben.
