extends ../../templates/layout
block page-vars
  - const title = "Schwangere"
block main
  article#schwangere-1
    h2.inline-title Schwangere 1.
    p
      | Der Wunsch, aus Fleisch wie aus einer Modelliermasse Formen entwickeln zu können (
      a.arrow(href="deformation.html") Deformation
      | ), scheint bei schwangeren Frauen erfüllt. Der Bauch, in friedlichen Zeiten eine vorgegebene Größe, gewinnt Leben und beginnt sich phantastisch aufzublähen. In die Brüste gerät Hefe. Der Mann, der zufällig Schlanke vorzieht und eine Schlanke geheiratet hat, kann jetzt an seiner Frau dicke Abenteuer erleben, ein urweltliches Mastodon liebkosen, ohne die Nachteile der Mastodonschaft ein ganzes Leben lang in Kauf nehmen zu müssen. Auch aus diesem Grund ist es ungerecht, daß Männer nicht schwanger werden können; nur unwiderruflich dick.
    p
      | Das einzige, das einem sensiblen Mann solche Genüsse schmälert ist, daß ein guter Prozentsatz dieser Fülle unsexuelle Materie ist, Fleisch eines dritten Wesens, und daß in der 
      a.arrow(href="maennlich.html") männlich
      | -wilden Liebkosung der aufquellenden Frauenfülle eine brave Kindesliebkosung enthalten ist.
  article#schwangere-2
    h2.inline-title Schwangere 2.
    p
      | Ein Konzil wurde einberufen, träumte sie; die Linkspriester stellten lauter 20jährige Kardinäle auf, die Kurie wurde umfunktioniert, der Papst trat zurück, und der neue Generalsekretär (wie er sich nun nannte) verordnete den katholischen Ehe- und Liebespaaren ab sofort die Pille. Jeden Morgen aß Irmgard nun das rosa Kügelchen, und zu jeder Tagesstunde, wann immer sie und Erwin der Wunsch überfiel, durfte sie ihn in ihre bettwarmen Arme reißen, durften sie bis in den Traum ineinander verweilen.
    p
      | Durch den Reisewecker aus dem Wunschtraum entfernt, machte Irmgard die morgendlichen ersten Orientierungsversuche und erschrak wie meistens, als sie ihren aufgepumpten Bauch vorfand. Sie hatte in Wirklichkeit Erwin schon geheiratet, und bei der Taufe würde es vielleicht eine kleine Rüge wegen des weißgewesenen Hochzeitskleides setzen. Am Nachmittag kam Erwin vom Büro (das Studium hatte er aufgegeben), schmatzte dem Kind durch Irmgard hindurch einen Kuß, klapste die Frau dann noch wie ein Pferdchen und fragte, was es denn zum Essen gäbe.
  article#schwangere-3
    h2.inline-title Schwangere 3.
    p
      | Sie findet es spaßig, daß das Minifähnchen einen halben Meter weit von ihr absteht, das himmelblaue Kinderhemdchen. Sie gönnt den jungen Männern den tiefen Einblick, da, schaut, was ihr anrichten könnt, und den älteren Frauen das Skandalblabla. Na, schön, bin ich ein paar Wochen jetzt zum Tierchen gemacht, Abwechslung muß sein, schaut mich nur alle wie ein Weltwunder an. Sie verlangt ein Feinwaschmittel für Wolle und etwas Pfeifenton; sie schaut dabei schon jetzt, was es auf dem Babysektor gibt. Sie gönnt es sich, jeden Freitag den roten Wuschelkopf erneuern zu lassen, der nicht zuletzt ihren Mann vervatert hat, und sie freut sich auf größere Brüste. Das Kind wird ein Löwe, rechnet sie. Und Löwen sind die Beherrscher unserer 
      a.arrow(href="erfolg.html") Erfolgs
      | -Welt, erinnert sie sich. Ich bin gebärfreudig gebaut, hat mir mein Frauenarzt gesagt, tröstet sie sich, und ihr Mann und sie stimmen darin überein, daß es ein Mädchen werden sollte, weil es dann nicht zum Militär muß; wenn alles schiefgeht, zu einem weiblichen Hilfsdienst.
  article#schwangere-4
    h2.inline-title Schwangere 4.
    p
      | Er freute sich jeden Sommerabend, an dem er daheim war, auf 19.10 Uhr, denn da ging vor seinen Fenstern Anna vorüber. Er nannte sie für sich Anna, obwohl die Wahrscheinlichkeit, daß ein Mädchen Anna hieße, in dieser Zeit verschwindend klein war. Anna schien in der Küche eines nahen Wirtshauses zu arbeiten. Er war verrückt nach ihr, und viele andere waren auch verrückt nach ihr, und einer davon hatte in seiner Verrücktheit Annas Figur verändert. Anna trug zu ihrer Schwangerschaft zitronblondes Haar, ja, richtig wie die glänzende Zitronenschale, glatt und glänzendes gelbes Zitronenmetall. Das stimmte gut zu ihrer totgesonnten Haut. Sie mußte hübsch sein, wenn sie einen Kübel schwenkte oder Zwiebeln schnitt. Ob sie noch lange geldverdienen würde? Er kannte Annas Mann nicht. Er fand sie mit dem aufschwellenden Leib verrückt schön und wünschte (zumindest für die Minute von 19.10 Uhr), daß er sie so umgeformt hätte. Aber das war keine Eifersucht; er würde ohne Hemmungen dort weiterspielen, wo der andere aufgehört hat, wie am Schachtisch. Ich habe geliebt, schrie der füllige Bauch, und die Männer schauten fasziniert wie in ein Pornobuch. Ich habe geliebt, schrien ja auch die Kratzmale an den Inderinnen, und je mehr Male es waren, desto dichter hagelte es Kratzmaler.
    p
      | Um 19.11 ging dann ein Dackel vorbei. Eine Schnapsidee, diese Anna, eine fremde schwangere Frau ! Und ein Küchenmädchen würde schließlich zu mir Oberrevidenten niemals passen.
  article#schwangere-5
    h2.inline-title Schwangere 5.
    p
      | Es wird sich nicht viel ändern, sagt die Schwangere, mit einer ganzen Anzahl Verlangsamungen im Gesage.
    p
      | Wird sich also doch etwas ändern?, denkt der Mann. Sie will zwar 
      em noch
      |  ein Kind, aber dafür würde theoretisch ein einziges Mal genügen, oder wenn das jetzt Zwillinge werden, gar keines mehr, oder wenn es Drillinge werden, kann sie sogar eine unserer letzten Ekstasen widerrufen, die Erni. Sagt doch die Fachliteratur, — — —
    p
      | Frau Wirtin!, ruft nach diesen Gedanken dramatisch der Mann um einen neuen Müller-Thurgau. Ja, Herr Gast, antwortet die Wirtin und schickt sich an, die traurige Drohne mittelbar in Träume zu wiegen.
