extends ../../templates/layout
block page-vars
  - const title = "Schweinchenrosig"
block main
  article#schweinchenrosig
    h2.inline-title Schweinchenrosig.
    p
      | Spar dir ein Fleckchen Haut auf, um dort schweinchenrosig zu sein. Entgegen aller Bräunungsmode ist S. die Farbe der Intimität.
    div
      em Motivanalyse: 
    .indexed-grid
      .grid-index 1) 
      .grid-text »Die Welt sieht mich bronzegepanzert, für dich will ich nackt sein; nur Schweinchenrosig ist echtes Nackt.« 
      .grid-index 2) 
      .grid-text Das Ausstellen des S. setzt Fallen der letzten Hüllen voraus. »Die Ahnungslosen, die glaubten, intim gewesen zu sein, wenn sie mich im Bikini fraßen.« 
      .grid-index 3) 
      .grid-text Auf S. sieht man ganz anders Zärtlichkeitsspuren, Kraushaar und Schönheitspflästerchen. 
      .grid-index 4) 
      .grid-text »Nun wollen wir Schweinchen sein.« 
      .grid-index 5) 
      .grid-text 
        | Das Schweinchen als Masttier ist Symbol des stärkeren weiblichen Fettpolsters. (Zahlenangaben siehe 
        a.arrow(href="mastmaedchen.html") Mastmädchen
        | .) 
      .grid-index 6) 
      .grid-text
        | Schweinchenrosige 
        em Herren
        |  können eine gewisse Form von Weichheit, Ausschweifung, Luxuriosität, Vergeistigung bedeuten; eine verruchte Zeiteinteilung, in der der bräunende Sport nicht Platz hat. 
      .grid-index 7) 
      .grid-text Flitschchen, pudre dein S. mit rosa Staubzucker; schon liegst du im Bett der großen Kurtisanen, und Boucher wird dich malen
    p 
      em Nachbemerkungen: 
    .indexed-grid
      .grid-index 8) 
      .grid-text Außer für Haut, Textil, Kosmetikinhalte und -behälter sowie Zuckerwaren ist S. nicht anzuwenden. Schweinchen- rosige Bücher, Küchengeräte und Häuser sind der Müll- verbrennung zuzuleiten. Schweinchenrosiges Schmalz ist Kitsch. 
      .grid-index 9) 
      .grid-text Wenn du Trichinen befürchtest, führ einen Amtsarzt mit dir. 
      .grid-index 10) 
      .grid-text Die Freikörperkultur ist das Ende des S. Nur darum: Nieder mit ihr!
