extends ../../templates/layout
block page-vars
  - const title = "»Sehnsucht«"
block main
  article#sehnsucht
    h2.inline-title »Sehnsucht«.
    p
      | Der Terminus ist sträflich, das Vertexten seines semantischen Inhalts out.
    p
      | Die Menschensuchlaterne als Realität des Menschelns indessen ist so aktuell, daß sie, allenfalls auf den neuesten Stand der Plasma und Laser-Lampisterie gebracht, auf keiner Welt-Ausstellung fehlen sollte. Oder haben mehr als 99% Ihrer Bekannten die optimale Nachbarschaft gefunden?
