extends ../../templates/layout
block page-vars
  - const title = "Senf"
block main
  article#senf
    h2.inline-title Senf.
    p
      | Das ist jetzt erst richtig Stadt. Die Geschichtslehrbuchhäuser noch von Kublai Khan oder Kriemhild gekalkpinselt, voll Rinnspuren des siedenden Goldes, das Atezuaheketl (der eigentliche Beherrscher der Wachau) auf Raubritter Rinnomar, der aus dem Kamptal zu Brandbesuch geritten kam auf drei aneinandergebundenen bemesserten Eseln mit Fackelschwänzen, aus allen Fenstern träufeln ließ, und voll Tränenspuren der zwölf Nächte lang in Pfauensuppe gesottenen Jungfrauen (Emil Botokude, Greuelgeschichte der Wachau, Nürnberg 1892), die Augustus Livianus das ius primae noctis verwehrt hatten und dafür nun den waffenbraven Söldnern aus dem Kongo vorgesetzt werden sollten (aber ein Steinregen aus dem damals noch tätigen Senfer Kogel verhinderte es), die Backstube, in die zur Herstellung der berühmten Kindelwecken nicht so standhaft gebliebene Wachauerinnen ihre Schandgeburten trugen (die Bäckersfrau wurde 1332 vor die Hunde geworfen), die Wagenschmiede, in der die Fürstin von Senf ihrer Nebenbuhlerin eine Eisenkrone in den Kopf schlagen ließ, der Brunnen, in dem die Fürstin dann endete, vom Fürsten mit ertrinkenden Wieseln zugeschüttet, all die vor Schreck und Kummer blassen Fassaden — oder sind es zum Städtchenfest hellgepuderte Winzerinnen — rosa, lindgrün, puppenblau — rollen an der offenen Strecke meiner Optik ab, von uns DonauDingen nur durch die rascherlaufende Schneidscheibe des Ufer-Auto-Kontinuums getrennt. Hinter der Räuber-, Mörder- und Miss-Weinberg-Kulisse rennt noch eine Schneidscheibe: die Hauptstraße der Stadt; und dahinter Häuser, und dahinter Straßen und so weiter bis zum Ende der Welt, wo die Terrassen die nächste Miss-Wahl und den Trost-Missen-tröstenden Wein aushecken.
    p
      | Haustürme, Kampftürme, Schuldtürme, Mordtürme, Türme dreitausend Fuß ins Wasser, Türme voll rätselhaften grünen Feuers, Türme der rachsüchtigen blindgestochenen Katzen, Türme der vergeblichen Jungpriesterschreie. Und dahinter die Türme der Garnison: der Bastonaden- und der Füsilier-Turm, der turmförmige Pranger, von dem herab ehrlose Leutnante an nur einem Finger befestigt ins Land hingen, und die turmförmige Trommel, die be i Untreue des Offiziersburschen geschlagen wurde. Und dahinter die Türme des Frauenzuchthauses: der Turm der Splitternackten, der Turm der schwarzen Rüden, der Monatsturm und der von allen Ansichtskarten wegretuschierte Turm »Zur Wächterfreude«.
    p
      | Kein Wunder, wenn vor so vielen Türmen der Chemiekaufmann J. schließlich türmt und nahe einer neuerlichen Brücke die steinrohe Stadt um 13.55 ausklingen läßt. Er bleibt aber der Autostraße treu, die jetzt fort und fort an den Terrassenhügeln weiterführen wird. (
      a.arrow.main-route(href="autostrasse-an-den-terrassenhuegeln.html") Autostraße an den Terrassenhügeln
      | .)
