extends ../../templates/layout
block page-vars
  - const title = "Serviererin"
block main
  article#serviererin-1
    h2.inline-title Serviererin 1.
    p
      | Alphard Mutz kam nach Eginbrunn zur Zeit des Volksfestes. Er wurde deshalb in das Zimmer eines Hoteldienstmädchens eingewiesen. Er aß im Restaurantgarten bis spät in die Nacht, ließ teegelbe Lampione für seine Freude sorgen, irgendwann aber war es doch an der Zeit, zu Bett zu gehen. Er knarrte das Treppchen aufwärts, es gab kein Zimmerlicht, nur ein Eisenbett mit Mädchengeruch und einen abgesperrten Kasten mit Mädchensachen. So lehnte er noch länger am Fenster und sah in den Restaurantgarten hinunter. Dort gab es noch, wie vor Jahren, die weiche große Serviererin, sie war aber müde und klebte an einer Laternstange. Sprach ordinären Tonfalls mit einern oberflächlich feingemachten Gast, Kaufmann, der im Volksfest rummelte und Auftragbücher vollaufen ließ. Sie hatte noch den Messinghelm aus steifgelacktem Blondhaar anfrisiert, glänzte wie damals von hellockriger Buttercreme-Schminke und hatte noch das kalkuliert Liebesbereite in ihrem Geschau. Alphard Mutz war vor Jahren in seinen Bemühungen nicht weit gekommen, nicht weiter, als daß die Serviererin nach dem Inkasso auf eine Wetterbemerkung notdürftig antwortete, dann aber durch lärmvolles Neudecken des Tisches zum Aufbruch riet. Wodurch mochte der Volksfestfritze dort unten sich in die unwahrscheinliche Lage gezaubert haben, schon Rasierwasserwange an Ockercremewange mit der Müden zu flirten, von ihr des natürlichen Jargons gewürdigt Zu werden und vielleicht sogar der Nacht in einer ähnlich sozialromantischen Magdkammer? Alphard Mutz kam auf 
      em psychologische Vorzüge
      |  und 
      em verbindende Geschäfte
      |  wurde aber rasch müde und legte sich in die Abwesenheit der Magd. In der Gegenübermansarde trieben die beiden zusammengelegten Mädchen noch Ulk.
    p
      | Nächstentags wurde Alphard Mutz auf seine Beschwerde, die er eigentlich nur aus Ordnungssinn einlegte, in die leerstehende Zimmerflucht seines Generaldirektors eingewiesen, und die Serviererin ging mit der Restaurantkasse durch.
  article#serviererin-2
    h2.inline-title Serviererin 2.
    p
      | Manchen Serviererinnen verleiht das Seifensaubere der oftgewaschenen Hände und der täglich gewechselten (zB schwarz-weißen) Uniformen merkwürdigerweise etwas Schmieriges: die Glitschigkeit von Faßseife, die flotte Gebrauchshygiene der Prostitution duften durch.
  article#serviererin-3
    h2.inline-title Serviererin 3.
    p
      | Der Medizinstudent zählte der Serviererin, die in die schwarze Bluse 
      span.small-caps Anna
      |  eingenäht trug, auf lateinisch alles auf, was er mit ihr zu tun gedächte. Er benützte dazu aber eine Stimme von harmloser Nettigkeit. Die Serviererin lachte, ebenfalls nett, drehte sich beim Abschwänzeln noch mehrmals nach ihm um und sagte dann zu ihrer Kollegin, die 
      span.small-caps Linde
      |  eingenäht trug: »Diese Spanier haben ja doch einen ganz anderen Charme; sag der Nessy sie soll ihm viel Mayonnaise geben.«
  article#serviererin-4
    h2.inline-title Serviererin 4.
    p
      | Sie serviert alles. Sogar ihre Brust — vom Miederleibchen hoch — und in die 
      em Flucht nach vorn
      |  geschnürt — trägt sie in der tiefausgeschnittenen weißen Dirndlbluse geschickt dem Gast entgegen.
  article#serviererin-5
    h2.inline-title Serviererin 5.
    p
      | In 
      em seiner
      |  Arkade, nur innen, küchenseits, saßen die Serviererinnen alle auf einem Abendhaufen beisammen. Nach Rang: die abgenützte Ungarin, vierzig vorbei, kurzbeinig, viel glattgeschminkte Gesichtsfläche, kneifenden Blicks und Lächelns, gerissenfreundlich; die fade dünne Einheimische, von leichtentfernbarer Freundlichkeit; und die gastlichen zwei Gastarbeiterinnen mit den immerfort wackelnden Beinen. Sie aßen einträchtig ein Bedienungspausenessen, und unablässig machten sie sich über Gäste lustig, zB den upstair logierenden alten Amerikaner, der aufbegehrte, veil er nicht sofort mit Los Angeles gurgeln konnte, oder jenen jungen Mann, der dreier Puppen wegen den Chef kommen ließ, als die Ungarin ihm ein Messer, das er hinwarf, nicht aufhob.
    p
      | Das ukrainische Köchlein trat ein, ganz offenen Hemds, behaarter weißer Brust, schnaufte. Die eine Fremdarbeiterin stöhnte zurück, beide wischten sich die Stirnen. Eine Menge Hühner grillten auf Vorrat. »Ach, morgen um diese Zeit«, stöhnte die fade Einheimische. Sie freute sich auf den dienstfreien Tag, den sie auch wieder in einer Schenke zuabendführen wollte, aber bei Apfelwein, drübufers und als Gast.
  article#serviererin-6
    h2.inline-title Serviererin 6.
    p
      | Motive für das Begehren eines S.-Kontaktes: Attraktive Servierdame gesucht. Abendeinblicke ins Serviererinnenleben (Einblicknehmer besoffen). Sozialrührung: fleißig, treu und brav. Durch alle Suppen geschwommen. Serviert für Geld auch dem Einsamen. Mädchenuniformfetischismus. Anherrschbarkeit (Meinung gutgläubiger Sadisten). Manche haben freundliche patschige Hände. Manche setzen sich, nach Anfrage, zu einem. Manche haben selbst schon Kinder. Manche kennen Lokalprominenz, vermitteln Autokäufe, Untermietzimmer, Kolleginnen. Manche verdienen viel Trinkgeld und möchten es mit einem guten Kumpel teilen. Viele haben schöne weiße Brüste.
  article#serviererin-7
    h2.inline-title Serviererin 7.
    p
      | Als Anni von der Fachschule ging, machten sie alle ein Fest. Sie betranken sich tüchtig, und Anni schmorten sie mit einem glühenden Brieföffner ein großes Erinnerungskreuz in den Handrücken; daran erkannten sich die Absolventinnen, wo immer sie sich trafen. Es war die einzige Brandwunde in Annis Küchenausbildung, und darauf war sie stolz. Vor der Heimfahrt klebte sie sich ein großes Heftpflaster auf die Hand, denn die Eltern würden vielleicht schimpfen.
