extends ../../templates/layout
block page-vars
  - const title = "Sex"
block main
  article#sex
    h2.inline-title Sex.
    p
      | Seit der Sex flügge geworden ist, also nicht mehr des Verstecks, aber auch nicht mehr der Wärme bedarf und nur die Supermarkets noch so anachronisieren, ihn nicht in Tiefkühlpackung auszubieten, ist es regressiv, sich als Literat um die sogenannte menschliche Seite von erotischen Partnerschaften, also um das Freundschaftliche oder Traurige daran, zu kümmern. Von turbulenten Späßen und genialen Techniken darf allenfalls berichtet werden; im übrigen aber erfordert das neue Tabu, die Ehefrau wie eine Gemeindewohnung zu dulden, die Partnerschaften als eine Art Stuhlgang zu absolvieren und das Großhirn mit solchen Sachen nicht aus seiner Schwärmerei für die Sprache oder für die klassenlose Gesellschaft aufzustören.
    p
      | Da die Tabuiker die Sprache am Kragen halten und die Sprache das Denken terrorisiert, steht dem Fortschritt des Sexteilnehmers zur einsamen Bestie nichts mehr im Wege.
    p
      | 
      a.arrow(href="koerper.html") Körper
      | .
