extends ../../templates/layout
block page-vars
  - const title = "Siesta"
block main
  article#siesta
    h2.inline-title Siesta.
    p
      | »Noch einen kleinen Umweg«, sagte Barbara verschämt. Sie lockerte an ihrer Kleidung, unter der ein weißes Mieder krachte, das seine Fleischflut wohl bald — ich schätzte, in einer Frühsommernacht — über mich ausgießen würde.
    p
      | Artig stand ich vor der Tür des WC. 
      em »Alle WCs meines Lebens«
      | , meditierte ich, »wäre eine Sammlung sui generis.« (
      a.arrow(href="wc.html") WC
      | , mehrere.) Die Schiffs-WCs schienen im Augenblick ein wichtiger Umschlagplatz. Die Nestelnden, Watschelnden, Königlichen, Gehemmten ergaben eine Art Brandung um mich Riff. »Warum gehn Sie nicht rein?«, fragte sogar eine. »Das darf man doch nicht«, sagte ich treuherzig.
    p
      | Ich zog diskret Barbaras verdrückten Kleidrücken zurecht; ein Hauch von Ort hielt sich noch darin. »Dankee«, kröpfelte sie wieder zärtlich. »Jetzt hab ich einen Schlaf«, sagte sie. Ihre 
      a.arrow(href="achselhoehle.html") Achselhöhlen
      |  hatte sie mit Bergamott 
      a.arrow(href="nachgefrischt.html") nachgefrischt
      | , spürte ich. Auch die Lippen strotzten wieder in frischem Fett und Rot, aber um die so werbenden mußte noch eine Weile geworben werden. J. zog seinen Terminkalender, überschlug die erste Tanz-, die erste Vollschwelgerei. »Auch diesem Sommer werde ich nachwinken«, dachte er; »ich habe nicht verhindern können, daß der Mai vergeht, ich werde auch das Vergehn des Sommers nicht verhindern können«, dachte er laut weiter. »Ach Gott, reden Sie nicht so traurig«, sagte Barbara träg; »das ist das Leben.«
    p
      | Requiem für die Dahingeschlafene, schon schnarcht und schnurcht sie im Liegestuhl in einiger Entfernung von ihrem Bruder, dem sie mich gütigerweise nicht vorgestellt hat. Unter all den 
      a.arrow(href="schlaeflinge.html") Schläflingen
      | , Schwitzlingen, Sättlingen (mehrere nachlesen) ein Prachtexemplar, eine spezielle Barbara, vielleicht 35, vielleicht erst 32. 
      a.arrow(href="barbara.html") Barbara
      | , beschrieb er sie sich, und welche 
      a.arrow(href="perspektiven.html") Perspektiven
      |  läßt das zu, fragte er. (Mehrere nachlesen.) Mit unverwirrtem Gefühl für den nur relativen Wert mancher 
      a.arrow(href="geschaeftsbeziehung.html") Geschäftsbeziehung
      |  taxierte er das wie geschlachtet hingeschmissene Massiv seiner baldigen Lustbarkeiten, lobte die
    ul 
      li urbaren Täler,
      li saftigen Weiden
    p
      | und
    ul
      li Höhen, hoch genug, um in Älplerfreude von dort in sein sonstiges Leben hinunterzujodeln.
    p
      | Auf der breit herausgedrehten linken Hüfte der Schnarcherin ließ er sogar eine Weile seine Hand liegen, nicht daß er sich Besitz anmaßte, sondern daß er mittels Pfoten wie ein junger Hund die Welt bestaunte. »
      a.arrow(href="gesaess.html") Gesäß
      | «, er erprobte das schriftdeutsche Wort; »seßhaft; breites Bei-mir-Sitzen; Gesäß der Gefräßigen.« Nebstbei dachte er auch an »Gefäß«.
    p
      | Dann zuckte er, für einen eingebauten Regisseur, die Achseln (»Man ist halt so«) und ging ins Spritzbecken, denn J.s Vorrat an Schatten war aufgebraucht, und beide Decks erwarteten das Schmelzen. Von hier aus sah er durch einen bald verblasenen Stimmungsschleier in die 
      em Welt der ungebrochenen Erscheinungen
      | . (Empfohlenes Nachschlagen: je 1 Stück 
      a.arrow(href="auen.html") Au
      | , 
      a.arrow(href="auflockerung-im-allgemeinen.html") Auflockerung
      | , 
      a.arrow(href="huegel.html") Hügel
      | , 
      a.arrow(href="staedtchen.html") Städtchen
      | , 
      a.arrow(href="wasserereignisse.html") Wasserereignis
      | , in beliebiger Reihenfolge.)
    p
      | Um 13.15 tauchten weit vorn endlich die Hügel der 
      a.arrow.main-route(href="wachau.html") Wachau
      |  auf.
