extends ../../templates/layout
block page-vars
  - const title = "Silo"
block main
  article#silo
    h2.inline-title Silo.
    p
      | Zugeschüttet mit Korn fand man nach zweiunddreißig Jahren den Silowächter Swoboda. Mumifiziert in Rapsöl nach immerhin drei Jahren den Fremdarbeiter Dingac. Was der Silo einmal nimmt, das gibt er nicht zurück: nicht lebend. Er ist blind, sieht nicht, welchen Vornamen er tilgt: Janos, Oswald, auch Eva (die im Korndienst verblichene; die bis ans Fundament fiel und dort den Krieg über im durchbrochenen Gestänge hängen blieb). Grabmal. Unumheulbar vom Ebenensturm, der es umheult. Schwarze Messe, für all die Geschluckten, die Augen der Erblindeten, die Hälse der Stummgeschütteten im Sandsturm der Ackerstäube. Und Durstbauer, der das Thermometer schlecht las und in die Selbstentzündung kam. Mungl, der im Orkan des brennenden Hanfes nicht mehr die achte Innentreppe fand. Und die Kali-Toten! Requiescant, requiescant alle in deinem Frieden, Silo, schrecklicher, schwarzer, fensterloser. Vom Schiff aus mit meinem Chemiekaufmannsdaumen Zu überdecken, Loch in der Perfektion des vorhundstagblauen Himmels. Loch in der Weltbeglückung durch uns Ökonomen und Ingenieure. Paradies mit Loch und Moloch, mea culpa, mea culpa, Janos, Oswald, Eva, pfutsch.
    p
      | Kaufmannsschwamm drüber! Wann kommt der nächste Sulfatschluß? Durchrechnen? Oder lieber Au anschauen? Oder: jetzt stehen ja wieder ein paar Pfahlhäuser da? (Man rechne nach Wahl einen
    ul
      li 
        a.arrow(href="sulfatschluss.html") Sulfatschluß
        |  durch, mit C.I.F.-Kosten, Akkreditivspesen und Vermittlerprovision, zahlbar mit drei nicht prolongierbaren Sichttratten, ohne Kriegs- und Goldwertklausel,
      li schlage eine 
        a.arrow(href="auen.html") Au
        | 
      li oder ein 
        a.arrow(href="pfahlhaeuser.html") Pfahlhaus
        |  nach.)
    p
      | Dann fiel dem Chemiekaufmann J. das stundenlange 
      a.arrow.main-route(href="fehlen-von-bruecken-oder-faehren.html") Fehlen von Brücken oder Fähren
      |  auf der Donau auf.
