extends ../../templates/layout
block page-vars
  - const title = "Spezifisches Gewicht"
block main
  article#spezifisches-gewicht
    h2.inline-title Spezifisches Gewicht.
    p
      | Wie kann das spezifische Gewicht der Exporteurseele erklärt werden? Da J. doch ungeachtet seines Berufs ein Dichter, Maler, Schluchzer ist, ja, zeitweise fast eine Heloise oder Louise Labe: wie erträgt er sein Bluffen, Prahlen, Flirten, seine Klischeeglücklichkeit im Dobváry, sein Umspringen mit all den (zugegeben: robusten) Kurzfristdamen? Und da J. doch ein Bluffer Prahler, Flirter ist, wie duldet er seine Exzesse an Einsicht, Weltfreude, Trübsal?
    p
      | Ich erkläre mir das mit einer gesunden, wenn auch nicht edlen Schizophrenie: Haben Sie nicht selbst, gelegentlich, unter sympathischen Rohlingen jemand verlacht, den Sie im ernsten Gespräch respektierten? Und im nächsten ernsten Gespräch mit ihm wieder die Rohlinge als billiges Volk verkauft? Ich habe es.
    p
      | Und J. hat sich, was ihm meinen Respekt einträgt, wissend vom Unvollständigkeitscharakter seiner Liebesgelegenheiten, auf schizoides Umschalten dressiert. Es wäre ja doch schade, wenn er nicht wenigstens in den Mikrostrukturen seiner »unvollständigen« — dh recht zoologisch bleibenden — Liebschaften, also in der Wirkung von Hautoberfläche, Duft, Speck, Schmuck, Ausdruckselementen, etwas fände, das er 
      em (André Gide: Nathanael, lerne die Innigkeit!)
      |  intensiv wie eine Isoldenliebe apperzipieren kann.
    p
      | Der Mensch ist mit sich nicht im vollen Sinn identisch, obwohl Selbstkontrolle das auseinanderfliegende Bündel Eigenschaften und Motive zu einem schlecht und recht gepackten Rucksack ordnen könnte und dem Bilderwirrwarr einen Spür von Kontinuum geben.
