extends ../../templates/layout
block page-vars
  - const title = "Spielregel"
block main
  article#spielregel
    h2.inline-title Spielregel.
    p
      | Wenn ein Mensch vor einer Sekunde mit dem Schicksal; eines der üblichen Stadt-, Kaufmanns-, Alltags-, Junggesellenetc. -Leben führen zu »müssen«, gehadert hat und nun, nach Vorsatzfassung, sich in die ungebrochene, sorgenfreie, verliebtenfrische, immerrichtige Welt der Phänomene zu stürzen, sogleich kohlige Kähne, Kohlenstaub auf Kohlenkranen, verbeulte Fässer und schreiende Kreissägen wahrnimmt, halte sich der Leser vor Augen, daß kein Etwas, das man im Sonnenschein sieht, so häßlich wie die Wolke ist, die dem Besorgten alles verdeckt; ja, daß es in der freigewitterten Welt überhaupt nichts Häßliches gibt (
      a.arrow(href="kuhdreck.html") Kuhdreck
      | !); daß der Verladearbeiter, der lebenslang die Kohle schaufelt und siebt, sie wohl hassen und von ihr eine tote Lunge bekommen wird, daß diese Sorgen aber, so unsozial das fürs erste klingt, nur das Schwarz im 
      a.arrow(href="malkasten.html") Malkasten
      |  des Reisenden sind. J. würde selbstverständlich, wenn er die Macht hätte und es seine Gewinnspanne nicht schmälerte, dafür sorgen, daß kein Mensch mehr verkümmern und kaputtgehen müßte; er würde oft genug noch wegen des Häßlichen in der kommentierten Welt niedergeschlagen sein; nie aber würde er die Fähigkeit verlieren, zeitweise bei abgeschaltetem Trübsinn zu leben und die Welt einfach als vielfarbig Hingesetztes zu sehen, als bejahens-, ja bejubelnswertes Viel im Gegensatz zur Möglichkeit des Nitschewo und auch zum Wenig des verhangenen Krankenzimmers.
    p
      | 
      a.arrow(href="affirmative-dichtung.html") Affirmative Dichtung
      | .
