extends ../../templates/layout
block page-vars
  - const title = "Spinat"
block main
  article#spinat-1
    h2.inline-title Spinat 1.
    p
      | Dem Spinat hatte es J. zu danken, wenn sich ihm zum Hühnerdreck nie eine solche herzliche Beziehung wie zum 
      a.arrow(href="kuhdreck.html") Kuhdreck
      |  einstellte. J stand einmal vor einer grün gefüllten Hühnerjauchengrube, so wie er unzählige Male vor dem Zwangs-Teller geknofelten Spinates saß. Dem Vitaminträger, pfui Teufel. Er bat seinen Vater, ihm den Spinat doch in Pillenform zu kaufen, denn sein Vater fraß die Stierhoden ja auch nicht in Urform, doch für diesen Vergleich bekam J. eine Maulschelle.
  article#spinat-2
    h2.inline-title Spinat 2.
    p
      | Auch Spinat säten sie aus den dünnen windigen Papiersäckchen mit den großbunten lehrreichen Gemüsebildchen. Sie machten die Beete aus mooriger Erde, den Füßen und einer Schnur, und der Bub wußte, daß das irgendetwas bewirken würde. Er trampelte gern im hall-losen Weich, im feuchten Sattbraun und kam so zu guten Weglein zwischen den Beeten. Er kannte bald jede Samenart, spielte mit der Gottwillkür in seinen Säckchenhänden, genoß im dicken grünen und bunten Frühlingsommerherbst, in den zehn Jahrzehnten eines Bubenhalbjahrs, alle Ausgrünungen, Ausknäuelungen, Ausblühungen, all das Eßbare, das er hervorrief. Er bekam auf die Frage nach Menschensamen eine erdbraune Ohrfeige, und man erntete strunkigen Spinat, dessen schurzgroße Menge die Mutter dann durch den grüntriefenden Wolf drehte und dessen Knofelbreiheit, vom grünhölzernen Löffel patzend, trotz angebackenem gelbäugigem Spiegelei die enttäuschendste Ernte eines Gärtnerlebens wurde.
