extends ../../templates/layout
block page-vars
  - const title = "Stadtbibliothek"
block main
  article#stadtbibliothek-1
    h2.inline-title Stadtbibliothek 1.
    p
      | Die Bücher sind alle noch in grünes Papier geschlagen und handgestempelt.
  article#stadtbibliothek-2
    h2.inline-title Stadtbibliothek 2.
    p
      | Die Mauer rieselt. Eine Hilfsbibliothekarin geht umher.
  article#stadtbibliothek-3
    h2.inline-title Stadtbibliothek 3.
    p
      | Die Rechtfertigung für das »per se«?, fragte die Hilfsbibliothekarin (
      a.arrow(href="stadtbibliothek.html#stadtbibliothek-2") Stadtbibliothek 2
      | ) erbleichend. Du weißt es nicht, sagte der Hilfsbibliothekar nachlässig, aber durchaus unsicher. Die HB erschütterte ein Weinkrampf (
      a.arrow(href="stadtbibliothek.html#stadtbibliothek-1") Stadtbibliothek 1
      | ). Komm, sagte der HB unscharf. Was willst du, bohrte die HB, aber unsicher. Ich begehr dich, sagte der HB. Zu was?, fehlformulierte die HB; dennoch aber konnte sie in späteren Jahren außergewöhnliche Bücher schreiben. (Die Unsicherheit werden erst die Sirioten aus der Welt schaffen.)
