extends ../../templates/layout
block page-vars
  - const title = "Städtchen"
block main
  article#staedtchen-1
    p
      | 
      b Städtchen 1.
      | 
    ul.inside-indent-text
      li
        span.small-caps Grottenolm
        | ? Dann bitte eine andere Städtchen-Nummer aufsuchen.
      li
        span.small-caps Löwenfass
        | ? Dann bitte eine andere Städtchen-Nummer aufsuchen.
      li
        span.small-caps Irgendein Städtchen
        | ? Das nähert sich so: Am Anfang ist das Au-Ufer. Die Objekte des fernen Städtchens voraus sind zuerst in ihrer Kleinheit aussagelos, gewinnen dann Inhalt, kommen näher und werden dabei immer aufregender. Sie bleiben etwa zwei Minuten miterlebbar (eine Minute im Vor-, eine im Rückblick), in der Rückblickminute aber treten sie hinter neuen Objekten, die inzwischen ins Hauptfeld schwimmen, zurück.
    p 
      | Man übe a) die Inhaltgewinnung eines weißen Eckchens während seiner Entfaltung zum Haus, b) die Inhaltgewinnung eines 
      a.arrow(href="maria-theresien-gelb.html") maria-theresien-gelben
      |  Querstäbchens während seiner Entfaltung zum Gehöft. Wichtig: das Erkennbarwerden der Fenster, das Reifwerden für Interieurs. Man ertrage den ambivalenten Schmerz der flüchtigen, aber engen Kommunikation mit der fremden Wirklichkeit so lange wie möglich, denn das Abschalten bereut man.
  article#staedtchen-2
    p
      |
      b Städtchen 2.
      |
      | Die lehmstaubige Straße vom kalkstaubigen Frächter zum mehlstaubigen Bäcker (
      a.arrow(href="backstube.html") Backstube
      | ) war voll drückendem Sormenschein. Ein paar Tagsäufer kamen nach den Gesetzen des Torkelmotors vorwärts, schwiegen eigentlich; das Lied, das sich in dieser Straße aufhielt, war vielmehr ein altes unwahrscheinliches Lied, dessen Motivmädchen keiner Begebenheit, ja, keiner Sprache zuzuordnen ist:
    p.poetry
      | Von dir verlassen werden,
      br
      | Elate Yërond,
      br
      | wiegt mehr auf dieser Erden
      br
      | als Hochzeit auf dem Mond.
  article#staedtchen-3
    p
      b Städtchen 3.
      |
      | Ein Städtchen, das vexiert. Man watet an Land, schlägt die Büsche auseinander, um die Häuschen zu entblättern, findet auch richtig eine Kuppel kunstvoll aufgeschichteten Holzes, ärgert sich ökonomesk über das Zeitverschwenderische solcher Aufschichtkunst, sieht das Weiß einer Hausmauer aufleuchten, schließt von Efeu auf Winkelwerk (
      a.arrow(href="motive-fuer-die-freude-an-verwinkelungen.html") Motive für die Freude an Verwinkelungen
      | ), gerät aber so winkelab, daß ein Flüßchen da ist, ein weit zugewuchertes gerades, niemand ist da für die Frage, ob es denn hier Grachten gebe, solche Flüsse gibt es ja sonst nur an der Rückseite von Cafékonditoreien, man geht eine unbenamte unbebaute lange verwilderte Flußpromenade entlang, da und dort ragen Schwemmbretter in den Fluß, jetzt ein wäscheschwemmendes maulfaules blaues Sechsjähriges sehen oder doch wenigstens eine ausgefreute blaugraue Frau, eine schnappige, mit kantiggewordenem mannshartem Pflichtgesäß, um sie zumindest fragen zu können, wie man wieder zum Schiff komme, denn auch zurück wuchert nur das zugewucherte Flüßchen und die verwilderte Flußpromenade, soweit der Blick reicht, und man wird nun langsam müd und blattsaftgegerbt. Da fragt man einen Baum, doch der rät nur, die Österreichische Volkspartei zu wählen. Man setzt sich, geradewegs in die zuschnappende Futterfalle der zehntausend Ohrenschlüpfer, und sieht gerade noch durch die bisher mißachtete Baumreihe eine Straße, sogar die Hauptstraße des gesuchten Städtchens, blenden und hört das entrauschende Schiff hoffnungslos fern tuten.
  article#staedtchen-4
    p
      b Städtchen 4.
      |
      | Häuser. Nein: abgeschlagene alte Bauernhöfe oder Schmieden. Häuser. Nein: Häuser mit einem Stück Straße. Straße. Nein: Straße, stadtplatzwärts oder auf einen Hügel führend. Straße, ansteigend, oder Straße, hinter ein Haus biegend. An ihrem Zielpunkt liegt Pihnliches wie das, was wir sehen. Nein: Wenn man sie geht, ist man dann ganz wo anders. Freude an der zusätzlichen Dimension, dem Landeinwärts? Freizügigkeit im Möglichkeitenland? Oder Romantikercredo »dort, wo du nicht bist, ist das Glück«?
    p 
      | Bauernhäuser. Nein: Bauernhäuser mit Gelegenheit, einzudringen. Kirche. Nein: gelbes Kirchlein, wo einem Kind Langweile und Ohnmacht geschieht. Gasthaus. Noch ein Gasthaus. Nein: die zwei Gasthausschicksale des Ortes. Man zerlöse in Kraftlinien:
    p 
      | Verschiedene Häuser-Lagen
    p 
      | Radfahrerin
    p 
      | Zum Trocknen aufgeleinte Wäsche Blochlager
    p 
      | Pavillon + undefinierbare Zweckhäuschen im Garten
    p 
      | Flüßchenmündung mit Autos und Booten
    p 
      | Kamillenstrand mit Kindern in kleinem Boot Arkadenrathäuschen
    p 
      | Winkende Schulklasse.
    p 
      | Die Kraft der Linien prüfe man an der Heftigkeit des in 
      |
      a.arrow(href="staedtchen.html#staedtchen-1") Städtchen 1
      |
      | besprochenen ambivalenten KommunikationsSchmerzes (siehe auch 
      |
      a.arrow(href="f-erlebnis.html") F-Erlebnis
      | ).
  article#staedtchen-5
    p
      b Städtchen 5.
      |
      | Die Kleinstadt hat einen Ostvorort und einen Westvorort. Im Ostvorort liegt ein verwilderter Altlandhausgarten. Im Farnkraut, für das der stetige Wind gesorgt hat, sitzt Encore Edibelbek auf einem Stein und singt zur Ziehharmonika:
    p.poetry
      | Mytilla Mitil, wo find ich dich?, wo?,
      br
      | du Mädchen auf Edibelbek-Niveau?
      br   
    p 
      | Im Westvorort liegt ein gepflegter Bausparhausgarten. Am Kiesrand des frischgeduxten hellgrünen Englischrasens, denn den Rasen selbst darf sie nicht betreten, sitzt Mytilla Mitil auf einem rot-blau-gurtigen Feldhocker und singt zur Mandoline:
    p.poetry
      | Encore Edibelbek, wo find ich dich?, wo?,
      br
      | du Bub auf Mytilla-Mitil-Niveau?
      br
    p 
      | Der Wind vereint die beiden Gesänge an einem Ort, wo niemand was damit anfangen kann: im Assel- und Nesselgewirr unter der Kanalisationsbrücke.
  article#staedtchen-6
    p
      b Städtchen 6.
      |
      | Überraschend: hinter idyllisierenden Häusern + Hasel-
      p busch
      p(style="text-indent: 4ch") im Sonnenstaub
      p(style="text-indent: 16ch") unentwegtes Flüstergebrüll, sonnentagfüllend:
      p waa-u waa-u waa-u waa-u ... Walzen, Bahnen einer versprengten Kleiderfabrik. Der Pförtner verschläft wachsam Tageszeiten. Wir dürfen an dem Werkel vorbei, werden nicht eingesogen, sind etwas enttäuscht. Drinnen Arbeiterinnen, die man aus ihrem zugleich stattfindenden Werktag nicht lösen kann. Ein anderes System. (Als schaue man an einem Terrassennachmittag five-o'-clock-tea-siedend in den Kessel, in dem Mikroben sich errennen ) Vielleicht tragen manche das Dessin unserer Mädchen. Was hier rollt, läuft noch weit, wird appretiert und imprägniert, schlottert an Schneiderpuppen, brüstigen ohne Unterleib, riecht oft nach Feuer und Leimigem, ehe es langsam seinen Kennduft bekommt und verliert und Parfumchen und Menschgeruch annimmt. Ein großes Rechteck aus allseits schwabbelndem Stoff zu schneiden, ist ein Kunststück. An besonders jungen Mädchen oder besonders reifen Frauen küßt man Kleider oft mit. Die Kontrolluhr läßt sich mit allen Arbeiterinnen ein. Sie ist bei der Lieferung langweilig, aber reift, eingesetzt, zu einer Art von Glück.
  article#staedtchen-7
    p
      b Städtchen 7.
      | 
      | Dieses Städtchen sei als Urlaubsstädtchen festgelegt. Hierzu brauchen wir einen Urlauber, sei es allein, sei es mit etwas abseitsgehender Familie. Er kommt von einem jener modernen Buswartehäuschen, jener geräumigen, betonhellen, plattenflachen, mit Sonnenbänken und Überhangregendach und gutem Gehsteig, an einer Musterstraße, und schon mit Efeu sich einrankend und mit Blaurotgelbblumen sich färbend. Links und rechts von dem Häuschen schweigt die Straße die große Ruhe des Urlaubsortes, eine einzelne Frau geht über sie lautlos stadteinwärts, ein Spatz tschilpt, muß sich aber erst eintschilpen. Wind und Gräser werden sehr wichtig, ein Laden, der auch Zeitungen führt (
      a.arrow(href="magazine.html") Magazine
      | ), wird Oberkommando. Der Urlauber macht sich irgendwelche Notizen mit dem kleinen Urlaubskugelschreiber. Vielleicht notiert er: »Was ich mir auf Urlaubsreisen an Notizen abringe, genießt meine gesteigerte Bewunderung.« Er goutiert den Unterschied dieses Urlaubsortes von seinen Dienstreiseorten.
    p 
      | Beim Einmarsch in das Städtchen freut den Urlauber die Möglichkeit anderer Einmärsche, denn die Straße hat viele Parallelgäßchen. Auch freut ihn die Möglichkeit, verschiedene Teile des Tages beliebigen Stellen des Städtchens zuzuwenden, im Kirchlein des blauen und roten Fensterlichts ebensogut ein Amateurgebet zu schludern wie zu jammerschad heller Tageszeit im Ratskellerdüster zu trödeln oder zum Fischufer (
      a.arrow(href="fischer.html") Fischer
      | ) zu gehen, wo der Diluvium-Seebär in weinrotem Leibchen, mit Rahmenbart ums fette Kindergesicht und mit Matrosenmütze, darauf wartet, etwas hieven oder vertäuen zu können.
    p 
      | Bald aber bemerkt der Urlauber eine Einschränkung, ähnlich dem Pauliverbot, das es Elektronen unmöglich macht, in beliebigen Abständen um den Atomkern zu kreisen. Der Tag in dem Ort ist zerhackt von den Abfahrtzeiten der Busse, den Ankunftzeiten der Schiffe, den Eßzeiten in den wenigen Gasthöfen, den Ladenschlußzeiten dieser und jener Geschäfte. Um 15 Uhr 30 einen gebackenen Fisch oder an Zu lang verschlafenem Frühvormittag noch einen Kleinbus zur Richtstätte im Köpferlwald zu bekommen, ist ebensowenig möglich, wie im besten Sonnenschein mit Landwirtschaftschülerinnen spazierenzugehen, die um diese Zeit in einem nahen Mustergut festsitzen. Selbst der Abend ist Pauli, denn die Pension Lerchenruh verlangt von ihren Gästen, daß sie um 20 Uhr daheim seien und kein Radio mehr spielen.
    p 
      | Einen Tag früher als nötig, am zeitigen Nachmittag, reist daher unser Urlauber — belassen wir ihn vielleicht (wegen der Landwirtschaftschülerinnen) ohne Familie — ab, um am Abend in einer größeren Stadt, nördlich des Flusses, zu sein dort geht er in ein Tanzcafe mit Kegelbahn, ißt gebackenen Zander, hält ein blaßrosa, von daheim ausgerissenes Mädchen frei und ermöglicht ihr die Weiterfahrt in einen beliebten Selbstmörderort, resumiert in einem nächtlichen Bahnwartehäuschen den Urlaub, findet, es sei bis auf den scllönen Anfang eigentlich alles egal gewesen, kommt dann aber noch zu einem symmetrischen, nämlich aufregenden Abschluß, als die Tür in ein Bahnbeamtenzimmer jenseits der Gleise aufgeht und eine ferne verschlafene Atmosphäre mit einem richtigen Kachelofen opernglasnahe vor ihn gerät; er will aufstehen und nachforschen, was es mit seiner Kindheit und diesem Zimmer auf sich hat, aber da geht die Tür zu, Fliesen irrlichtern noch kurz einen Nachexzeß, und da wird die Nacht draußen auch schon unruhig, und der Zug fährt ein.
  article#staedtchen-8
    p
      b Städtchen 8.
      |
      | Vom Ufer führt eine Baumstraße zu 
      |
      a.arrow(href="element-x.html") Element X
      | , dem plötzlichen. Wir aber wandern im Sonnenlicht weiter, einen Weg nur aus Sonne und Staub, immer rechts, und kommen zu 
      |
      a.arrow(href="element-x.html") Element X
      | , oder wir kehrten unseren Entschluß um und gehen nun immer links, einen mühsameren, doch schattigeren Weg, an einer Rampe mit sumpfiger Autoschmiererei und vielen nichtsverratenden Häusern vorbei, bis wir auf 
      |
      a.arrow(href="element-x.html") Element X
      |
      | stoßen. Neugierig geworden, auch durstig, über Ziegen stolpernd, von Kindern verschrien, eine dürre Rispe weniger zur Erinnerung als aus Nervosität abreißend und uns ins Hemdknopfloch steckend, passieren wir 
      |
      a.arrow(href="element-x.html") Element X
      |
      | und stehen schließlich vor 
      |
      a.arrow(href="element-x.html") Element X
      | , wo wir traurig werden, weil wir glauben, nicht so leidenschaftlich, eindringlich, informativ, zauberisch, lebensändernd, wie es zu erwarten gewesen wäre, in die Stadt hineingenommen worden zu sein.
      .i (Es wird klarerweise empfohlen, jeweils eine andere Variante von Element X, in beliebiger Reihung, nachzuschlagen.)
  article#staedtchen-9
    p
      b Städtchen 9.
      |
      | Vorgang wie unter 
      |
      a.arrow(href="staedtchen.html#staedtchen-8") Städtchen 8
      | , nur mit anderen Varianten von Element X. Hier kann zusätzlich auf einem unserer Wege eine Schweineprüfanstalt stehen.
  article#staedtchen-10
    p
      b Städtchen 10.
      | Vorgang wie unter 
      |
      a.arrow(href="staedtchen.html#staedtchen-8") Städtchen 8
      | , nur mit anderen Varianten von Element X. Hier kann zusätzlich auf einem unserer Wege eine Kontrollstation für Lenkgeometrie stehen.
  article#staedtchen-11
    p
      b Städtchen 11.
      |
      | Vorgang wie unter 
      |
      a.arrow(href="staedtchen.html#staedtchen-8") Städtchen 8
      | , nur mit anderen Varianten von Element X. Hier können zusätzlich auf einem unserer Wege nonnenbeschattete Kranke ihre runden Köpfe auf die Anstaltmauer legen.
  article#staedtchen-12
    p
      b Städtchen 12.
      |
      | Man versetze sich in die Kindheit und freue sich in einem ebenso schönen, nur etwas kühleren Junitag juniblau, hügelhellgrün an dem hingeschütteten Netzsäckchen voll Holzklötzchen, Holzbäumchen etc, Weltbauelementen, frisch vom Großvater. Man schnitze sich ungeschickt die ergänzenden Teilchen hinzu, eine nötige Kuh, Nachbarin, Flußbank, bohre, glätte, leime, male, aus dem Räubervorrat an Kindheitsmaterialien, schmutzend, unrationell, ungeduldig, aber bis auf den Zeit-Faktor echt glücklich und einen schwervergeßlichen Geschmack für einst hinterlegend. Dann lasse man alle Weltelemente (außer dem Flüßchen) trocknen und stelle sie nach verschiedenen 
      |
      a.arrow(href="plaene.html") Plänen
      |
      | auf. Man spiele damit stunden-, tage-, wochenlang. Wenn man Encore Edibelbek ist, versäume man nicht, zu dem Spiel Mytilla Mitil einzuladen, denn nur in dieser Frühlandschaft besteht die Chance, daß die beiden einander finden.
  article#staedtchen-13
    p
      b Städtchen 13.
      |
      | Das Städtchen durchgehen. Rückseite des Städtchens dann: x.
    p 
      | x ist durch eine grüne Böschung, durch niedrige Kräuterwiese, die an einem Fluß böscht, durch einen Busch, der in der Wiese hinabböschend fast schon in den Fluß buscht, durch heranentende Enten im Heranenten an entenkindernde Kinder, die über eine abufernde Stange gebeugt sind, ein blaßblaues Mädchen und einen rot/grünen Buben, qaqaqaqaqa, kielwassernd, von einer großen gelb-weißen Rotziegeldachkirche im 
      |
      a.arrow(href="plankton.html") Plankton
      | -Spiegel angelockt, nicht zu ersetzen. Allein die Größe, die Temperatur, die Begehbarkeit! Photos und Geschwätz sind nicht begehbar (außer als Verbrechen). Auf der Rückseite einer photographischen Kirche kommt nicht der Mesner hervor, sondern stehen die Worte: Gimpelpietsch, 22. Juni 1968, 1/100 sec, ein bißl gewackelt.
  article#staedtchen-14
    p
      b Städtchen 14.
      |
      | In dieses Städtchen zogen vorigen Sommer die 
      |
      a.arrow(href="kinder-des-weidendorfes.html") Kinder des Weidendorfes
      | . Aber Jermilka, Jessica und Jentchen sind noch zu klein. So ließ sich Oberrevident Holstein, der mit dem verfließenden Leben, nicht bewegen, länger in dem Städtchen zu bleiben. In 
      |
      a.arrow(href="torschlusspanik.html") Torschlußpanik
      |
      | ließ er sich in die Großstadt versetzen 
      |
      a.arrow(href="katze.html") Katzen
      | , 
      |
      a.arrow(href="element-x.html") Element X
      | , 
      |
      a.arrow(href="element-x.html") Element X
      | , den 
      |
      a.arrow(href="blaugruener-liegestuhl.html") blaugrünen Liegestuhl
      |
      | und die 
      |
      a.arrow(href="oedstaetten.html") Ödstätte
      |
      | gegen kindheitserinnerte Großstadt 
      |
      a.arrow(href="kaufhaeuser.html") Kaufhäuser
      | , den Anblick von 
      |
      a.arrow(href="gemeindebauten.html") Gemeindebauten
      | , Morgenbüros, Abendautobussen eintauschend, neugierig diese oder jene 
      |
      a.arrow(href="serviererin.html") Serviererin
      |
      | betrachtend, das Versprechen dieses oder jenes 
      |
      a.arrow(href="parfum.html") Parfums
      |
      | einklagend, auch Handelsschülerinnen und 
      |
      a.arrow(href="schwangere.html") Schwangere
      |
      | nicht verschmähend, selbst 
      |
      a.arrow(href="korrupte-braeute.html") Korrupte Bräute
      | -Weiß in der Nähe duldend. Während er, die 
      |
      a.arrow(href="serviererin.html") Serviererin
      |
      | um sich, 
      |
      a.arrow(href="suppe.html") Suppe
      |
      | in halbdunklem Speisehaus löffelte, verspritzte, aus dem Oberrevidentenmund zurückträufeln ließ, wuchs das Städtchen um die Lücke, die er hinterlassen hatte, rasch zu: ein weiblicher Teenager wanderte in den Sommerferien ein, allerdings gelangweilte 
      |
      a.arrow(href="teenager-briefe.html") Teenager-Briefe
      |
      | in die frühere Stadt schreibend, aber auch der Oberrevident hätte dem Teenager nicht geholfen; so betrachtete sie die Muskeln starker 
      |
      a.arrow(href="pferde.html") Pferde
      |
      | nahe der Wagenschmiede und rekonstruierte sich 
      |
      a.arrow(href="muskeln.html") Muskeln
      |
      | weltschönster Männer. 
      |
      a.arrow(href="element-x.html") Element X
      |
      | lag unbeachtet, das Jahr verschlafend, 
      |
      a.arrow(href="kleine-dinge.html") kleine Dinge
      | , vorsommerliche, lebten nun in einem Vordergrund, und der unglückliche kleine Emil Ettlow war gestorben, bevor er alt genug für den gelangweilten weiblichen Teenager geworden wäre. Mit Jermilka, Jessica und Jentchen saß der Teenager öfters im 
      |
      a.arrow(href="eissalon.html") Eissalon
      | , sie sprachen über 
      |
      a.arrow(href="katze.html") Katzen
      | , Buben, 
      |
      a.arrow(href="oedstaetten.html") Ödstätten
      | , gingen zum 
      |
      a.arrow(href="kraemer.html") Krämer
      |
      | (lernten, daß Fremde sich aus diesem Städtchen unbedingt einen White Horse Whisky mitnehmen müßten, lernten, daß Maßgeschneidert der Schlüssel zum 
      |
      a.arrow(href="erfolg.html") Erfolg
      |
      | wäre, und waren unentschlossen, ob sie den maßgeschneiderten Erfolgreichen, der im Krämerladen für das nachbarliche Schneiderstübchen, mit dem Siegeszeichen 
      |
      a.arrow(href="v.html") V
      |
      | aus zwei großnageligen Fingern, warb, dämlich oder dämonisch finden sollten), atmeten 
      |
      a.arrow(href="plankengeruch.html") Plankengeruch
      |
      | ein, und der Teenager lehrte Jermilka, Jessica und Jentchen, sich die Langeweile mit chemisch reinen Büchern aus der 
      |
      a.arrow(href="stadtbibliothek.html") Stadtbibliothek
      |
      | zu modifizieren. Erzählt mir was vom Weidendorf, bat der Teenager endlich, und: erzähl du uns was von deiner früheren Stadt, baten Jermilka, Jessica und Jentchen zurück. (Der Leser stelle sich nun beiderlei Erzählungen vor.)
  article#staedtchen-15
    p
      b Städtchen 15.
      |
      | Ja, wir sehen einen Anlegesteg, grüne (!) Büsche, braune (!) Baumstämme und ein weißes Haus, erdigen Boden, Fliegen, Bienen, spüren fischelnde, weiter drinnen reine Luft, hören einen Traktor und die Ruhe, fühlen im Hinfallen einen scharfen Stein durch das zerscheuerte Hosenbein das Knie schinden, schmecken (nicht ohne Hilfe der Zunge) eine Blattlaus auf unseren Lippen, werden weitergehen und uns über Gassen und Plätze verzweigen, mit Kindern spielen, von Mädchen uns verwirren lassen, mit Frauen Zimmerluft essen, mit Männern raufen, mit Greisen in Schnapsschenken dämmern, Ziegen streicheln, von Ofeninnenseiten Ruß fingern, Halme knicken, Heilkräuter durchs Zimmer streuen Bauernstiefel probieren, in einen Brunnen klettern, einen Winkelherrngott gradhängen, einer Greisin ein Kreislaufmittel empfehlen und so weiter. Wir werden mit all dem eine frohe Zeitspanne oder doch frohe Momente verbringen, unproblematische wie eines ausgedehnt guten Essens bei Freunden. Vielleicht aber läuft ein Gehirnband mit, das die (:unveränderten) Eindrücke mit Anfallähnlichem kombiniert, eine Gassenabzweigung wird wahnsinnige Freude sein, ein zugewuchertes Haus ein unerklärlicher Schmerz, nicht 
      em metaphorisch und durch schöne Parallelen
      | , nein: ein Bauchschuß aus der Wirklichkeit, aus dem immanenten Trans, aus dem Hinterhalt Manitous. Das ist natürlich unmitteilbar. Wer es nicht selbst hat, erfährt davon nur wie von einer Drogennacht. Friß, Vogel, oder stirb.
    p 
      | Wenn nun gesagt wird »grüne Büsche«, empfängt der heutige Zuhörer einen semantischen Reiz, der wirksamer ist als der von »schöne Landschaft«. Wenn variiert wird »senfgelb/grüne in Brakkiges tauchende Zitterbüsche«, wird der Reiz noch wirksamer. Bis auf hochkomplizierte Fälle von Wunderwirkung durch Knappstes gilt die Regel der Proportionalität von Wirksamkeit und spezifizierender Konkretion. Wenn die Bezeichnungsvegetation (die übrigens nicht mit den rechtens verpönten Schmuckadjektiven verwechselt werden darf) allzustark auswuchert, kann die Wirkung freilich ersticken.
    p
      | Worin besteht diese Wirkung aber? Das bloße Vorstellen wäre ein noch zu kleiner Erfolg. Das Vorstellen mit der Begleitemotion, etwas »erstmals«, »frisch, wie ein Kind es sieht«, zu sehen, ist besser. Aber wird je das Umwerfende, das Schuß- oder Blitzhafte, das 
      |
      a.arrow(href="f-erlebnis.html") F-Erlebnis
      | , mit in die Information gehen? 1 erlebtes F-Phänomen ist Beweis für den Sinn des Lebens. Durch Eigenschaftswörter etc in günstiger Auswahl und Setzung Lebenssinn zu transportieren, wäre ein schöner Schreiber-Erfolg. Aber wird der je eintreten? Und wenn nicht, ist alles andere nütz? Ist es nicht, als malte ich, für ein abgedunkeltes Zimmer, aus »leuchtenden« aber unphosphoreszenten Farben ein Bild?
    p 
      | Helfen selbst jene Übertreibungen, Verdrehungen, die der Autor benutzt, um die ausgeleierten Gleise im Leser zu umfahren und das Besondere, vielleicht Märchenhafte der Situation karikierend zu suggerieren?
    p 
      | Wenn nicht, renn, Trottel, Autor, noch durch dreihundert Gäßchen und Gassen, Feldwege und Flußpromenaden und Weinsteige und Wildwechsel und Hurenpassagen, stolper, und krieg Schnupfen und Fuchsbisse und Lues und brich dir die Zunge, aber nicht beim adjektivischen Spezifizieren, sondern in Lesers Arsch.
