extends ../../templates/layout
block page-vars
  - const title = "Standard-Mariandl"
block main
  article#standard-mariandl-1
    h2.inline-title Standard-Mariandl 1.
    p
      | Man erinnere sich eines Kinderspielzeugs: eine junge dralle Bäuerin, Drechslerarbeit, aus nicht ganz spanfrei geglättetem politiertem oder blau/rot lackiertem Holz (Weich-, bessere Ausführung: Hartholz). Blau kann der Kittel, rot die Bluse sein; spektralreine, ungebrochene Farbtöne! Die Taille eng, die Hüften sehr breit. Bei besserer Ausführung Beine und Füße vorhanden, die Füße in Riesenschuhen (meist wieder rot) steckend.
    p
      | 
      a.arrow(href="standard-mariandl.html#standard-mariandl-2") Standard-Mariandl 2
      | .
  article#standard-mariandl-2
    h2.inline-title Standard-Mariandl 2.
    p
      | Auch bei mancherlei Festen wird man hier nicht zur sterilen Miß, sondern zum Standard-Mariandl gewählt. (
      a.arrow(href="standard-mariandl.html#standard-mariandl-1") Standard-Mariandl 1
      | .)
  article#standard-mariandl-3
    h2.inline-title Standard-Mariandl 3.
    p
      | Das Standard-Mariandl ist immer gut aufgelegt, liebt alle Dorfburschen, die kein anderes StandardMariandl haben, wartet aber zugleich einsam, den 
      a.arrow(href="rechen.html") Rechen
      |  in der Hand, auf jeden Schiffspassagier, der in ihr das StandardMariandl erkennt, und hat Haustiere, die immer die richtigen Geräusche machen: die Kuh muh, das Ferkel qui-qui, die Katze miau, das Küken piep, der Hahn kikerikah.
  article#standard-mariandl-4
    h2.inline-title Standard-Mariandl 4.
    p
      | Ich spaziere mit Standard-Mariandl in dem optikfüllenden Städtchentag, in dessen kilometerlangem und zehnmal uns überragendem Schachtel-Innerem sie und ich verschwindend klein werden, und gern fasse ich sie um die warme derbe Taille und fühle an Hand und Schenkel den knatternden Stoff ihres Landfrauenrocks. Ich sehe ihr Spektrum um einige Problemlinien ärmer als meines, bin mir aber klar, daß das eine Täuschung ist.
    p
      | Standard-Mariandls Echtheit wird erhöht durch den Perspektivzauber einiger Reservemariandln in Sichtweite, deren Sorte sie also eingemeindet ist und in deren Städtchen sie unverlierbar festsitzt.
