extends ../../templates/layout
block page-vars
  - const title = "Stationsgebäude"
block main
  article#stationsgebaeude
    h2.inline-title Stationsgebäude.
    ul
      li 
        | 
        em Rechte
        |  Treppe, da werden Sie wieder ein Kind, läufst in tagblauem Nachthemdchen steil aufwärts, weißt darfst wieder soeins tragen wasd als Exporteurlein nicht hast tragen dürfen.
      li 
        | 
        em Mittlere
        | , da ist gesperrt 
        em Glas auf Glas auf Quadratglas
        | , da schickt J. seinen Blick schlittschuhlaufen, und das inmitten des Sommers, eines verfrühten Mohnund 
        a.arrow(href="mindel.html") Mindel
        | -Sommers; ein Genuß von Stationsgebäude 
        a.arrow(href="on-the-rocks.html") on the rocks
        | .
      li 
        | 
        em Links
        | , da geht er nun wirklich, da geht er als Exporteur und ganz glatt und pflückt im Vorbeigehen ein paar Prospekte — Das ist aber alles nicht das Wesentliche des Stationsgebäudes (das könnte in einem Landesgericht, einem Patentamt, einem Eros-Center genauso sein). Das Wesentliche: die wenigen Schalter, realisierend Fischzüge von Naß nach Naß (
        a.arrow(href="schwarzmeer-perspektive.html") Schwarzmeer-Perspektive
        | !); fast nichts; etwas abgestützter leerer Raum; und: rasch erkauft, die wiedererlangte Freiheit, durchs Haus hindurch, direkt, ungeduldig, vornaß, an den Strom, an das fischelnde petrolgrüne 
        a.arrow.main-route(href="wasser.html") Wasser
        | .
