extends ../../templates/layout
block page-vars
  - const title = "Station Nixdorf"
block main
  article#station-nixdorf
    h2.inline-title Station Nixdorf
    p
      | naht da schon, naht, naht noch näher, wir fahren direkt in den Nixberg hinein, spalten das pritschelnde leuchtringeziehende Wasser, spalten das Ufer, spalten die Doppelreihe der mehrminderkleinen Mädchen und haben alle ihre Regenbogenfarben auf uns, ihr Feuerwerk geht mitten durch mich hindurch, meine Uhr läuft noch, zeigt 7.45, das katastrophte Dorf zeigt jetzt böse den Rücken, schreckt uns mit einem auf uns abgeschossenen grellblauen Blitzzug voll mehrminderkleiner Mädchen, der indessen irgendwieso in den Hügel verläuft, den grün mit Efeuhäuschen steilan beklebten. (
      a.arrow(href="bergklebesiedlung.html") Bergklebesiedlung
      | .)
    p
      | Hinter dem Nixberg der entferntere Nixberg, flacher. Die baumreiche Uferstraße mit ihrem Autoverkehr voll mehrminderkleiner Mädchen. Wieder eine 
      a.arrow(href="bergklebesiedlung.html") Bergklebesiedlung
      |  am Hügelrand, das ist jetzt der Nixberg. Der Hügel läuft aus, der 
      a.arrow(href="vulkankegel.html") Vulkankegel
      |  läuft an, der Nixberg, vorerst mit kunterbunten Weinäckern, zerschnippelter Landkarte, täuschend. Dann mit dickem dunklem vielschattiertem Baumpelz schon drohend und mit der Räude von 
      a.arrow(href="steinbruch.html") Steinbrüchen
      |  keine Unklarheit mehr lassend. So fraß der Berg, von Augenzeuginnen in Nixdorf gesehen, Bug, Chemiekaufmann und Heck des Drudenschiffes.
    p
      | 
      a.arrow.main-route(href="auen-im-allgemeinen.html") Auen im allgemeinen
      | .
