extends ../../templates/layout
block page-vars
  - const title = "Stationsgebäude, wasserseitig"
block main
  article#stationsgebaeude-wasserseitig
    h2.inline-title Stationsgebäude, wasserseitig.
    p
      | Weiß lag diese Fassade an Land, weiß überstrahlt von Sonnenhimmel, von den weißen Tröpfchenembryos über bewohntem Wasser und bewohnter Erde. Weiße Gitter zerschnitten 
      em für die drüben
      |  weiße Schiffe, einige kleine und zwei große. In die weiße Wasserfläche schauten weiße (und eine Prise bunter) Menschen. Jetzt formte sich eine Schulklasse 
      em zu kleiner
      |  Mädchen für den Einmarsch ins Schiff, bunt, weiß und etwas fleischfarben. Weiß flimmernd. Neben der Stationsfassade bot ein Strandcafé hinter weißem Drahtgitter an weißen Tischen für weiße Menschen weiße und bunte Drahtsesselchen. Der Kies drunter war weiß. (
      a.arrow(href="bunte-stuehle.html") Bunte Stühle
      | .)
