extends ../../templates/layout
block page-vars
  - const title = "Steinbruch"
block main
  article#steinbruch-1
    h2.inline-title Steinbruch 1.
    p
      | Verschrägte Perspektive der Aufwärtswege. Graue Perlschnüre über das Mattbeige geschleift. Fremdsteinmarken? Abgeschliffenglänzendes? Um x-zig Grad geschrägter Kessel, an dessen Wand die den ganzen Tag Spielenden Lebenslanggelbbraunen herumlaufen, für die der Tag des Försters schon ferne Luxusstadt ist.
  article#steinbruch-2
    h2.inline-title Steinbruch 2.
    p
      | Mit Sprengfahnen spielen, dann ohne Warnung sprengen. Den Wald mit Körpersäften des Zerborstenen sprengen, sprenkeln. Sprengen: Steine und Hasen zum Springen bringen. Sprenkelungen und Sprünge im Stein. Versprengte Touristen werden gesprengt. Im Steinbruch ist der Rahmen der Hügel gesprengt. Wie gerne spränge mancher in die Sprengung. Prometheus wollte seine Fesseln sprengen, mit denen er in den Steinbruch geschmiedet war, aber die Streife sprengte daher und streifte ihn mit Sprengschnur. Zu welchem Sprengel gehört dieser Steinbruch?
  article#steinbruch-3
    h2.inline-title Steinbruch 3.
    p
      | Bis in den Bruch wachsen moosig Gebüsche und Grasbüschel. Dem Bruch benachbart durchsichtigräudig Grasbewuchs. Steinbruchlehmig, bestäubtes Grün. Die Furcht des kletternden Buben. Noch so hoch bis zur Höhle. Kein Vor, kein Zurück. Kein Freund traut sich kommen. Die zitternden Kleinäste. Seine Schwächlingshände. Das Abrutschen im gelben Sand. Die Baumspieße tief unten: werden jetzt alle sein Magenblut trinken.
  article#steinbruch-4
    h2.inline-title Steinbruch 4.
    p
      | Bei Hartgesteinen wird der Abbau von Hand mit Brecheisen, durch Abkeilen und mit Drucklufthämmern vorgenommen, geschwind, in 50 Meter Höhe hängt ein Mädchen!, während die Lockermassen unter Benutzung von Schaufeln, Keilhauen und (Druckluft-)Spaten gewonnen werden. Ist sie schon tot? Ist sie schön? Zur kontinuierlichen Gewinnung eine blaue Seidenbluse hat sie an zählt der Abbau mit Hilfe von Fräser- und Schaufelradbaggern aber sie ist ganz blutdurchtränkt von dem groben Eisen, zieh sie ihr aus und mach ihr künstliche Atmung. Die Hereingewinnung von Blöcken ist durch den Einsatz von Drahtseilsägen, Gesteinssäge- und Schrämmaschinen gekennzeichnet jetzt ist nix mehr zu machen, hau sie weg, pfui schau sie nicht an. Bei Wandsturz- und Pfeilerbauverfahren für die Gewinnung von Bruchsteinen und dem Abdrücken von geschnittenen Blöcken werden Sprengstoffe geringer Brisanz eingesetzt. Hast sie tief versenkt? Schad um die Katz. Das Sprengen gliedert sich in Bohrlochschießen, Kammerminenschießen und die Sprengung mit auf-, unter- und angelegten Ladungen. Ich glaub überhaupt, es war eine Steinbruchnixe. Die ersten beiden Methoden dienen der Hereingewinnung größerer Mengen Haufwerks. Ja, ich glaub, ich hab gar keinen Bauch gesehen, Schwamm drüber, bleim wir bei der Mitzi.
