extends ../../templates/layout
block page-vars
  - const title = "Straßenbahn"
block main
  article#strassenbahn
    h2.inline-title Straßenbahn.
    p
      | Den Vorhundstag-Morgen mit der Straßenbahn statt mit dem Auto beginnen: würdiges Reisevorspiel.
    p
      | Bei Linden einsteigen. Der lieblingsblaue Terminkalender verrät Juni 1968 und entläßt einen einzelnen rosa Vorverkaufsfahrschein. Sie Person! Sie Gepäck! Sie Hund!, schreit der. Alles ist für J. ungewohnt. Wie gesagt: würdiges Vorspiel von TagAbenteuern.
    p
      | Werktag. Der Vorhundstaghimmel Europas hat viele in vorzeitige Ferien gehocht, in noch heißere aber meersalzige Süden und in frischere Waldberge mit Quellbären, Pilzrehen und Lichtungsgraskühen. Auch in Stadtstraßen, Bussen und Schiffen, auch in Feldern und Bädern lungert jetzt losgeeistes Menschenfleisch viel: Schraubenschlüsselhände, Produktionsprozeßpopos, Sekretärinnenhüpfendes, Kahlgeärgertes, entsprungene Schüler. Noch aber fährt genug in die Dienste, werden Nerven verdünnt, Hoffnungen verdunstet, Kalenderblätter gerupft.
    p
      | J. fährt wie im Abenteuerfahrzeug eines Traumfilms. Die Sonne noch nachtkühl, wärmt sich jetzt erst an Dächern auf. Die Köpfe und Dinge hochdeutlich, aus dem hellbunten aber noch matten Morgen herausgesägt. Die Häuser schatten, die Pflaster reliefen. Die Straßen der schmutzigen Großstadt sonderbar rein, vom Nachtheinzel ausgefegt.
    p
      | Schaufenster schwatzen: bleib da; in ein, zwei Stunden kannst du kauffauffen; Zweitfeldstecher, nachtscharf, versuchen schwarzriechend; angeberische Fachliteratur ledert den 
      a.arrow(href="exporteur.html") Exporteur
      | ; und natürlich hinter den toten PapierhandlungsTüren die 
      a.arrow(href="magazine.html") Magazine
      |  lockferkeln wie in der Bubenzeit. Nun schleudert aber die Straßenbahn um die Kioskkurve, und da sind schon Zeitungen in vielen Pfoten. 15 
      span.small-caps Katzen fressen ihr eigenes Frauchen. Wird Stierzeitalter Farahs Schicksal wenden? 
      | Und unverdrängbar: 
      span.small-caps Saigon: Raketengemetzel. Ratten-Schwarzmarkt in Biafra.
    p
      | Zusteigerschwarm drückt J. in Stadtlandschaftscherben. Drogerie: Besen schon draußen. 
      span.small-caps Jugendverbot
      |  wird angeleitert. Achtung Hochspann-. Einramm in eine aha die Molkereien haben schon offen. Will J. seiner Tanzkatz ein Minikleid kaufen?: gelb/orange/rosa/zyklam, verspätet op-streifig. Und schon durch den Via-; Notbremsungswumm.
    p
      | Das Haltestellengedränge dringt ein. Dämchen laufen, um in dreißig Minuten nicht angeschrieen zu werden; dies kleinlaut zerlächelnd. Kraftsommerschweiß achselt J. im Vorbeirummeln ab. Morgenschnäpse und Morgenwurstbrote transportarbeitern und knofeln in den allgegenwärtigen Kaffee. Essig? Im zerlegenen Weizenhaar eines Neuehefrauchens. Brillantine? Patzt in den strähnblondierten Haarpaketen eines Lehrbuben. Puder? Rosa übermehlte Ekzeme auf Kaumgesichtern. Chypre? Ja, vorgeschoben mit überdicken Brüsten. Schuhleder? Ja, aus dem Schuhsäckchen, das als Bürofreß-, -strickund -garderobesack dient. Aufräumefrauen tragen den Träger in Einkaufstaschen. Eine aufgeschwemmte Tranigschauerin mit geschwärztem Haar — wie gesponnenem Rußzucker — duckt mit in der Front der Krimileser. Geprügelte Frauen, kleingebliebene Fabrikangestellte, totgeölte Verkäufer, katalogskizzenhirnige Werkstättenleute. Frischgebürstete noch hoffende Adlaten. Frühbesoffene Nörgler aus Ressentimentzimmern, Grobiane von der Verladerampe, gute Jahrgänge Fabrikfrauen , wehrhaft vom Umgang mit solchem. Zwei Weiber, zusammdrängelnd, anscheinend glücklich, einander hier zufallbegegnet zu sein. Niedergeschlagene Werktag-, fade Ducker- und Kränklerinnen-Stimmen. Offene Kragen, Zahnfäule mit Menthol, bunte Hemden. Durchscheinen von Unterwäsche, Vorgehn von Trägern; Nesteln, Kratzen, Klebrigeslösen.
    p
      | Und jetzt, erstes Wasser, noch frisch aus der Morgenverpakkung, brist die Straßenbahnluft und bricht Freigrün und Urlaubsebene in die pflichttagzerstopften Stücke Fenster. Ein Knotenpunkt saugt die Massen hinaus, und J. bequemt, Beine weit vor, die letzten grüngrauen Etappen zum endgültig Blauen und Grünen.
