extends ../../templates/layout
block page-vars
  - const title = "Studien zum Fetischismus"
block main
  article#studien-zum-fetischismus-1
    h2.inline-title Studien zum Fetischismus 1.
    p
      | Ich möchte mit dir schlafen, sagte unter dem Klingeln des ödländlichen Erdnußautomaten der Besoffene, aber unter folgenden Bedingungen: Du mußt nach dem Parfum riechen, das meine Kinderwärterin, als sie mich wartete, unter der Brust und am Weißschenkel trug. Du mußt bellen, wie meine erste Liebe, wenn sie sich im Schwachsinnigeninternat ins grünspanbekettete Zapfenstreichbett legte. Du mußt jene Zigaretten rauchen, aus Mund, Nase und Fingerkuppen, die Fräulein Boyler rauchte, meine Leichtkunstlehrerin, ehe ich sie an einem herbstfahlen Moortag mit dem Fliegenersticker tötete. Du mußt —
    p
      | Jetzt hör auf, sagte die schielende Wollustbeinige, ich kann dein »Du mußt« nicht mehr hören. Ich rufe, sagte sie, meinen Zuhälter, und der wird aus dir Kleinhölzli machen. Er wird dich zerschrammen, durchkerben, entwobbeln, inkrusten, mißquirren.
    p
      | Jetzt hör auf, sagte der Besoffene und zahlte; um mit Sadistinnen an einem Tisch zu —
    p
      | Ist schon recht, sagte die Schielende und verdoppelte ihre Beine.
  article#studien-zum-fetischismus-2
    h2.inline-title Studien zum Fetischismus 2.
    p
      | 
      a.arrow(href="marktkundliches.html") Marktkundliches
      | .
  article#studien-zum-fetischismus-3
    h2.inline-title Studien zum Fetischismus 3.
    .raum
      | (Raum zum Übertragen eines Schulaufsatzes:
      br
      | »Mein erster Fetisch.«)
