extends ../../templates/layout
block page-vars
  - const title = "Sulfatschluß"
block main
  article#sulfatschluss
    h2.inline-title Sulfatschluß.
    p
      | Der junge Unterläufel versprach sich, den Tag, an dem er erstmals würde sagen können, »meine Lieferanten«, »meine Zahlungsbedingungen«, »mein Sulfatschluß«, rot oder blau einzurahmen und jährlich mit französischem Champagner zu feiern. Heute sagt er zu Champagner nie mehr »französisch« hinzu, wenngleich er öfters auch heimischen Sekt trinkt, und feiert mit ihm dies und jenes, aber nie den langverjährten blau-roten Tag, an dem er erstmals sagen konnte, »meine Lieferanten«, »meine Zahlungsbedingungen« und »mein Sulfatschluß«.
