extends ../../templates/layout
block page-vars
  - const title = "Susi"
block main
  article#susi-1
    h2.inline-title Susi 1.
    p
      | Wenn Sie zu »Susi« eigene elegische Assoziationen haben, stellen Sie sie auf das Optimum: auf jene Schärfe, vor und hinter der sie zu verschwimmen beginnen (Sie werden Gründe haben, dies Verschwimmen zu fördern..); auf jene (kurze) Dauer, nach deren Ablauf sie ins weitere Assoziationenfeld zerwimmeln.
    p
      | Verbannen Sie diese Susi in die traurige Ferne und Unbestimmtheit irgendeines Hauses auf irgendeinem Wachauer Hügel. Falls Sie nun jenen Stich ins vegetative Nervensystem bekamen, der schmerzlicher als die sogenannte Erfüllung, aber angenehmer als die Langeweile des Abgeklärten ist, brauchen Sie keine andere Susi-Variante aufzuschlagen.
  article#susi-2
    h2.inline-title Susi 2.
    p
      | Es gibt Orte, die geeignet, und Orte, die ungeeignet sind. Stunden, geeignete und ungeeignete. Randfiguren, geeignete und ungeeignete. Temperaturen, Gespräche, Kleidfarben, geeignete und ungeeignete. So kompliziert ist die Welt geworden, seit J. Susi liebt. Diese Bedeutung des Zufalls für das Gelingen von etwas so Unzufälligem wie Liebe wird J. auch als Erwachsener nie verstehen. Später bleiben die Leute trotz Amputation, Arbeitslosigkeit, Zuchthausstrafen beisammen, heute entscheidet noch eine dünne ausflugverhindernde Wolkendecke über Susi und ihn.
    p
      | J. weiß, Susi, seine Philosophier-Gefährtin, Mitstreiterin, Nahziel im Apfelgarten, Fernziel im Hemdchen, sein beliebtestes Grün, Orangerosa, Lila, die Zyklamduft- und Lederduft-Susi ist gestern, vor Beginn des neuen Schuljahres, mit unbestimmtem Ziel fortgezogen. Er wird sie immer suchen.
  article#susi-3
    h2.inline-title Susi 3.
    p
      | In der ersten Nacht nach dem Aufscheinen Susis, ohne Hoffnung auf Wiederkehr des Phänomens, lag der Schüler J. noch etwas wach, die Möglichkeiten abweisend, die sich kitschig anboten: zu weinen; zu stöhnen »Gott, Gott ...«; zu denken »ich fasse es nicht«; zu schimpfen und dergleichen. Am reinlichsten kam ihm Still-Liegen vor, ohne aktives Denken, ohne diese Bauchpresse des Gehirns. Wenn er still-lag, kamen ohnehin die richtigen Gedanken über ihn. Heute ja. Heute lag er im Säurebad und mußte, um bis zu den Knochen aufgelöst zu werden, gar nicht planschen und sich einreiben. Er wünschte sich, daß das immer so bliebe, daß das erste, noch authentische Susibild, das die Gespräche und Bewegungen der echten Susi noch ein Stück automatisch fortzusetzen imstande war (so wie ein geköpftes Huhn noch etwas weiterrennt), immer bestände. Er wußte aber, daß dies nicht möglich war, und genoß das unverdienbare Privileg der heutigen, einzigen Nacht, die je einer echten Susinacht vergleichbar sein würde. Schon erwartete er die Schmarotzgesichter, die jedes Susibild überwuchern, zerstören.
  article#susi-4
    h2.inline-title Susi 4.
    p
      | Der Schüler J. (
      a.arrow(href="susi.html#susi-3") Susi 3
      | ) sparte sich das nochmalige Erzählen von Susis Reizen nächsten Morgens auf die nächste, die übernächste Stunde, den Nachmittag auf, weil er wußte, daß es nach diesem Erzählen kein nächstes geben würde oder, wahrscheinlicher, doch, aber das dritte Erzählen würde das Thema schon ramponieren: es waren auf die Dauer zu wenig Details, nichts Neues wuchs nach.
    p
      | Er hatte es schwer, von Susi eine Rahmenvorstellung zu geben. Er beherrschte nicht die Kunst, mit wenigen Strichen eine prägnante Karikatur zu zeichnen. Er fühlte aber zugleich, daß die lahmlappigen Beschreibungsversuche (weiblich; ein Mädchen; mittelgroß; in einem Kleid; in einem bunten Kleid; braunhaarig; welche Augenfarbe eigentlich?; mit einem Mund versehen; etc) nicht nur so gut wie:
    p.poetry
      | khläduwäschkhäbäthl
    p
      | waren, sondern auch vor das eigene inwendige Susibild eine dummbemalte Figur aus dickem Pappdeckel stellten.
  article#susi-5
    h2.inline-title Susi 5.
    p
      | Irgendwann kam das Verhängnis, daß der Schüler J. (
      a.arrow(href="susi.html#susi-3") Susi 3
      | ) sich sein virtuelles Susibild ins Bett mitnahm, um darüber zu onanieren. Er stattete Susi mit schematischen Körperteilen aus, denn er hatte nicht viel authentische Erinnerung verfügbar. Außerdem zerging bei so intensivem Angriff das Susibild in ein Puzzle aus mehreren Mündern, Augen, Ohren, aus Wangen, die sich zu keiner überzeugenden Farbe entschlossen und zuletzt in das Rosaweiß von rohem Schweinespeck, den er gestern gesehen hatte, flüchteten. So war auch die Freude nur halb, und nachher lag er mit einem Wrack von Susibild da, als hätte er ein unfixiertes Pastellbild belegen, dessen Schmetterlingsstaub nun auf dem eigenen Bauch, Bein, Hintern zu finden wäre und niemals mehr in die künstlerische Ordnung zurückkehren würde. Diese Zerstörung konnte, außer durch Wiederbegegnen der echten Susi, kaum ungeschehen gemacht werden.
  article#susi-6
    h2.inline-title Susi 6.
    div
      | 
      em Susi morgens:
      |  Susi duscht. Susi trocknet sich die schönen kleinen Brustlaibe ab. Sie ist ärgerlich, daß der Rücken naß bleibt. Sie macht sich einen dünnen Kaffee, ziegenmilcht ihn und streicht sich Malz aufs Butterbrot. Aber Susi schreibt mit der zierlich runden Mädchenschrift der Schulen jener Tage in ihr grellrotes Tagebuch Datum, Wetter, ich liebe ihn richtig (unterstrichen), heute MathSchularbeit, ich fürchte mich vor dem Leben (unterstrichen).
    div
      | 
      em J. mittags:
      |  J. schiebt den leergegessenen Erbs-Teller weg. Die Mutter wäscht ab. J. schiebt lärmend den schäbigen Sessel auf den kleinen Gassenbalkon und lernt Materialien. Der Unterschied zwischen Gips und Alabaster. Der Kristallwassergehalt. Sinterungsprozeß. Die Susileute der neuen Susistadt singen Susilieder. (Der Susifrühling ist ausgebrochen.) Durch Susistraßen und Susiwände hindurch liest J. im Susitagebuch »Ich liebe ihn richtig«. Er antwortet mittels seines grellblauen Tagebuchs »Ich möchte Susi schon ganz haben.« Das ist damals für J. noch ein Monsterwunsch.
    div
      | 
      em Susi abends:
      |  Susi duscht. Susi geht nackt ins Bett. Susi denkt an 
      a.arrow(href="edelnaschwerk.html") Edelnaschwerk
      |  und ruiniert sich mit Elendsnaschwerk ein wenig die Zähne. Sie klatscht sich auf den schönen speckweißen Oberschenkel und erreicht mit dem rosakralligen LuxusMittelfinger den Druckknopf der Messinglampe. Liest ein wenig in Sartres »Ekel«. Mißversteht ihn als lebensverneinend, denn sie ist gegenwärtig sehr lebensbejahend. Susi liegt in Lichtblau. Susi träumt sich allmählich zur Frau. Nur für Susi und J. hat seinerzeit die Genesis stattgefunden, 
      em Ursprung und Ziel der Geschiche
      |  ist kein Buch von Jaspers, sondern liegt in Susis willkommenheißendem Bett.
