extends ../../templates/layout
block page-vars
  - const title = "Susi- und Eiske-Epilog"
block main
  article#susi--und-eiske-epilog
    h2.inline-title Susi- und Eiske-Epilog.
    p
      | Nach Ernest Bornemann (dessen andere Meinungen ich schätze) ist die ungeteilte Liebe zu einem Menschen eine merkwürdige Krankheit, die ausgerechnet Homosexuelle dem Abendland vererbt haben. Der Wunsch nach 
      .einer-einem
        .einer einer
        .einem einem 
      | Auserwählten ist ätiologisch Fetischismus aufgrund überlebender Kindheitseindrücke, teleologisch eine Triebkraft im Dienst des Aussterbens. Günstig wäre es, Starke, Fruchtbare, Unbesondere Zur Paarung zu wählen. Stabil sind die nivellierenden Kulturen, in denen (man verzeihe das Konsumbild) Susi, Eiske und Barbara nicht Birne, Apfel und Kürbis bedeuten, sondern austauschbares, gleichschmeckendes Einkeitsobst.
    p
      | Danke, schon gespeist.
