extends ../../templates/layout
block page-vars
  - const title = "Sympathisch"
block main
  article#sympathisch
    h2.inline-title Sympathisch
    p
      | (werbesprachlich): Das sympathische Rasierwasser. 
      span.small-caps Flokki
      | -
      span.small-caps Flokk
      |  macht Hunde sympathisch.
    p.poetry
      | Mundfrisch sein, schafft Sympathie,
      br
      | Mundgeruch erreicht das nie.
    p
      | Auch an kritischen Tagen beinsympathisch. Ercremen Sie Sympathieachseln. Kobolz — der magensympathische Kräuterlikör. Keine Rauchernägel mehr: Filter X handsympathisch. Minx — der twensympathische Lippenstift. Taschenmarlitt — die sympathische Reiselektüre. Scheiterhauff & Co, die sympathische Feuerbestattung. Suche sympathische Wicklerin/Löterin; suche sympathischen Geh-Beruf; suche sympathisches Darlehen.
    p
      | Hausse im Angeben. Hausse im Pfötchengeben. Wer weiß, wie man sich beliebt macht, macht sich beliebt. Nie so gut gekotzt.
    p
      | Suche sympathische Gegenwart, suche sympathische Vergangenheit, suche sympathische Zukunft.
