extends ../../templates/layout
block page-vars
  - const title = "Taufstelle"
block main
  article#taufstelle
    h2.inline-title Taufstelle.
    p
      | Ich ertappte mich beim Zögern, welchen Heldennamen ich verwenden soll. Daß
    ul
      li
        span.small-caps ich
        |  viel von J.s Reise mitgemacht habe, leugne ich nicht; daß ich wichtige Eigenschaften, zB die Katzenfreundschaft, mit ihm teile, erleichtert mir die Einfühlung; daß ich oft in seinen seltsamsten Momenten zu Ich übergehe, soll ihn vor meiner Überheblichkeit schützen; daß ich mit ihm identisch bin, endlich, wäre Irrtum, Schmeichelei und Verleumdung (bedenkt: er ist schlank! und er liebt nicht die Algebra!);
      li
        span.small-caps er
        |  kommt dem »erlebenden Subjekt«, das von allen anderen Subjekten unterschieden ist (denn ihm wird sein Sterben trotz Fortleben vieler Subjekte immer ein Weltuntergang scheinen), wesentlich näher als
      li 
        | J., das dem Leser nichts grundsätzlich anderes als K., L., M. bedeutet; wo ich den Helden in die Mitmenschenschar eintunken will, bleibe ich bei J.; vieles betrifft auch J. wie alle anderen, dort kann man sagen:
      li
        span.small-caps man.
      p 
        | Nun schulde ich dem Leser nichts mehr, als »Gute Anpassung!« zu wünschen. Damit ausgerüstet: rasch dem Kaufmann nachgerannt; er steht schon vor der 
        a.arrow(href="bruecke.html") Brücke
        | .
