extends ../../templates/layout
block page-vars
  - const title = "Teenager-Briefe"
block main
  article#teenager-briefe
    h2.inline-title Teenager-Briefe.
    p
      | »Hier ist es fad«, schreibt ein Teenager. »Pferde scheuchen die Mücken weg. Mücken scheuchen die Pferde weg. Das ist alles. Ein Hund bekotete ein Raubtier. Eine Wespe machte sich in Wein naß und trocknete sich an einem Filterkarton. Straßenarbeiter fluchten. Von einem Tisch troff Blut. Eine Biene schneuzte sich in ihre Nase und wurde traurig.«
