extends ../../templates/layout
block page-vars
  - const title = "Torschlußpanik"
block main
  article#torschlusspanik
    h2.inline-title Torschlußpanik.
    p
      | In diesem Dorf sperren sie schon um halb acht die Haustore. Alphard Mutz sitzt nach seiner sechsstündigen Wanderung, die ihn auf kalkigen und lehmigen Straßen zwischen Getreidefeldern und allerlei Dörfern herumführte, mit brennender 
      a.arrow(href="braun.html") brauner
      |  Haut vor einem Tisch mit frischen roten Mohnblumen und zartgrünen Mohnblumenknospen und weiB, daß ihn nun niemand mehr besuchen kann. Auf der Wanderung hat er Ysot, die man ihm versprach, nicht getroffen. Die anderen Männer des Werkwohnhauses sitzen jetzt alle in ihren Stuben und lieben ihre Frauen. Unter dem Fenster liegt ungemähter Rasen, mit einer gewissen Kühle und von sternförmig wucherndem Blattwerk überkrochen.
