extends ../../templates/layout
block page-vars
  - const title = "Torte"
block main
  article#torte-1
    h2.inline-title Torte 1.
    p
      | Biß durch Biskuit und Schaum. Plötzlich treffen die Zähne auf hartes Karamel.
  article#torte-2
    h2.inline-title Torte 2.
    p
      | Die ländliche Torte, von allen gepriesen, erwies sich als eine Art aufgeweichten Weißbrotes. Die Milch, noch dazu, böckelte.
  article#torte-3
    h2.inline-title Torte 3.
    p
      | Schmull, sagt der Tortenesser schmatzend zu seiner Frau. Schmaff, sagt die Frau, kokett sich die Lippen leckend. Ihre Torte ist überhaupt nur Creme. Darf ich deine Lippen reinigen, Schmätzchen?, fragt der Tortenesser, und seine Tortencremezunge fährt über die Tortencremelippen der allmählich aufschmerenden Frau. Sein Tortencremebart sticht ihr schmettengeschmiertes Tortendoppelkinn, aber Schmätzchen schmollt nicht, sondern schmurrt schmohlig.
  article#torte-4
    h2.inline-title Torte 4.
    p
      | Törtchen — sie waren wirklich keine Torten, sondern Genießerspielzeug. Man biß durch grüngefärbten nach herben Knospen schmeckenden Teig, leckte dann Mokka, stieß auf Pistaziennüsse, dann aber schockte ein Hirschhornsalzbrocken.
  article#torte-5
    h2.inline-title Torte 5.
    .vertical-margin
      | Magdalenentorte Wirtschaftstorte Puffertorte gerührte Linzertorte
      br
      | Polentatorte Käsetorte Knödeltorte Brottorte
      br
      | Windtorte Zebratorte Glastorte Sandtorte
      br
      | Napoleontorte Allianztorte Bleitorte Schrottorte
      br
      | Prophetentorte Blitztorte Krachtorte Torte von Heidenmehl
      div.prato (Prato, Süddeutsche Küche)
  article#torte-6
    h2.inline-title Torte 6.
    p
      | Sie bewarfen sich mit Torten. Es fehlte nicht die keusche Sachertorte, die geile Rohbuttertorte, die raffinierte Fliedercremetorte, die spartanische Sprudelmilchtorte, es fehlten nicht die blauen Torteletten, die blutsüßen Lungentorten mit eingebackenen Kalbsaugen, die Honigtorten, mit denen Jünglinge ihre Mädchen einreiben, wenn sie an Wildbienenbäumen und Bärenschulen vorbeistreunen —
    p
      | Aber plötzlich kam der Chef, die Lautstärke wechselte auf Mega-Phon, der Maulschellen war kein Ende, des Arbeitslohnes kein Anfang, der Schulden keine Grenze. Da haben wir uns heut was Scbönes eingebrockt, formulierte die kleine Schma ihrer aller Situation. Jetzt können wir nur mehr Verbrecher werden, folgerte Boxl. Aber wenn ich irgendmalwowieder angestellt werde, sagte die platzende Stoni, das Tortenwerfen laß ich mir nicht entgehen. Es ist ja doch zum Anscheißen lustig, bestätigte Scheißerl, schau, was wir alle für einen Tortenbart haben.
  article#torte-7
    h2.inline-title Torte 7.
    p
      | Diese Torte da, sagte schüchtern der 9jährige Willi. Das Wasser lief ihm rechts und links hinter der Zunge und vom unteren Gaumen her zusammen, weil er an das Mümmeln des durchcremten parfumierten Teigs dachte.
    p
      | Das Petroleum, meinst du!, sagte mürrisch der Krämer, der Menschenfeind, und schnell bildete sich eine Flasche in Willis Händen und der Krämer pumpte am glitschigen Hebel, und der Laden war ganz Petroleumgestank, und in Willi goß sich nichts als schmutziges Erdöl ein.
    p
      | Jugendträume, sagte der Physiker W. N. etwas blaß und hob sich, zu Ehren des 9jährigen Willi, dies aber leuchtkräftig, ein dickes Stück 
      em tarte à l a Mathilda
      |  vom Tortensilber der Internationalen Atomenergiekommission ab.
  article#torte-8
    h2.inline-title Torte 8.
    p
      | Jetzt werden wir rasten, sagten die Eltern. Ist das die Möglichkeit?, sagte Mytilla Mitil, da gibt es gar dieses von durcheinanderkaufenden Leuten durchwimmelte Fremdstadtcafé mit der schwerverständlichen Mundart; die Türkischrottorte?, verstand Mytilla da schon einen Kellner, ja, sagte sie begeistert, denn zuhaus gab es nur die langgewohnten Binsenkuchen, und haben Sie ein Krokodil drauf?, ergänzte sie schüchtern. Natürlich, frisch gefangen, munkelte der Kellner und zeigte ein Portefeuille mit drei verschieden großen Marzipanbiestern. O, o, stammelte Mytilla. Sie ist so gern in Calvestadt, entschuldigten die Eltern Mytillas undamenhafte Aufregung.
  article#torte-9
    h2.inline-title Torte 9.
    p
      | Mürb. Buttrig. Staubig. Alt. Despotisch. Konventionell. Mehlbrocken. Zuviel eingegrieselt. Zu heiß gebacken. Zu dünnflüssig übergossen. Zuwenig da. Sprachstreit Sahne/Obers. Mehrfarbige Schichten. Artigsein. Spitzenpapier. Tortenspritze. Vanillegeruch der Tortenläden. War Diplomatengattin und aß die Sacher »mit«! Sattgegessen. Unsere Mirli wird so dick, sie tortelt zuviel. Gebrannte Mandeln auf glutigem Blech. Karamelverklebt. Tortenbäcker, ach ein goldener Boden. Tortenböden.
    p
      | Torte, von »torqueo«, 
      em die Gedrehte
      | , ob sie auch ohne Drehung so rund wäre? Tortur, die schmerzhafte Verdrehung des Körpers zur Torte. Torquato Tasso, der qualgedrehte Liebhaber. Torquemada, der Torturenmacher der Inquisition.
    p
      | Bitte, bestellt die Frau des Geburtstagskindes, eine Torte wie diese hier, aber mit achtzig Kerzen.
