extends ../../templates/layout
block page-vars
  - const title = "Transvestiten"
block main
  article#transvestiten
    h2.inline-title Transvestiten.
    p
      | Man schließe von der Lust am Anlegen der Attribute des anderen Geschlechtes nicht voreilig auf gleichgeschlechtliche Veranlagung. Von unserer pseudo-fetischistischen Freude (
      a.arrow(href="fetischist.html") Fetischist
      | ) am Betrachten hübscher Teenagerkleidung am Teenager, über das Befühlen und Streicheln dieser Kleidung am Teenager oder nach Ablegen durch den Teenager, bis zum Anschmiegen dieser Textilien an unseren eigenen Körper führt ein Weg ohne Grenzstein. Der Autor selbst, wenn er das mädchenblaueste seiner Freizeithemden anzieht, also als Amateurtransvestit, fühlt ein Mädchen angeschmiegt. (Und nicht etwa sich als bubensüchtiges Mädchen.) So wird auch mancher zünftige Transvestit in seinem Handeln nicht Verweiblichung, sondern Vereinigung mit Weiblichem fühlen. (Vgl. Kinsey, Das sexuelle Verhalten der Frau: »Ein Mann kann sich zum Beispiel so stark zu Frauen hingezogen fühlen, daß er eine permanente Identifizierung mit ihnen anstrebt.«)
