extends ../../templates/layout
block page-vars
  - const title = "Ufer"
block main
  article#ufer
    h2.inline-title Ufer.
    p
      | Geographisch: 
      em rechtes
      | , in J.s Stromauf-Fahrt aber 
      em linkes
      | .
    p
      | (Das massige Stampfen und Rauschen hat ausgelärmt, der Schiffsjunge turnt nicht mehr in den Bäumen, der Kapitän ist im Kapitänkobel ganz Kapitän, jeden Tag Sonntag, ein Wolljäckchen gabelfrühstückt schon), langsam weicht der Dunst – der Himmel wird stärker blau, ein Nachleuchten der 
      a.arrow(href="bunte-stuehle.html") bunten Stühle
      |  im Schiffsstation-Café. Eintritt in die 
      a.arrow.main-route(href="verladelandschaft.html") Verladelandschaft
      | .
