extends ../../templates/layout
block page-vars
  - const title = "Ulli Ergänzungen"
block main
  article#ulli-ergaenzungen-1
    h2.inline-title Ulli Ergänzungen 1.
    p
      | Ulli kasperlt gern. Schüttelt sich vor Ekel, die Augen verdrehend, das Gesicht wie im Fliehkrafttester verschoben, wenn Leute ihr einen Tausendfüßler in die Hand drücken. Sie und die siebenjährige Elisabeth haben auf Gartenbänke Sessel gestellt: die Sessel reiten die Bänke, die Mädchen sitzen auf den Sesseln wie Maharanis hoch zu Elefant; so spielen sie Karten und Buchstabenspiele.
  article#ulli-ergaenzungen-2
    h2.inline-title Ulli Ergänzungen 2.
    p
      | Ulli bringt einen nicht ganz sattelfesten Ingenieur in schwere Verlegenheit durch Fragen nach physikalischen Ursachen und Wirkungen. Sie baut schrittweise auf und führt auf diese Weise einen Testprozeß, in dem man nicht schwindeln kann.
  article#ulli-ergaenzungen-3
    h2.inline-title Ulli Ergänzungen 3.
    p
      | Der Chemiekaufmann J. bedauert, daß er in Y., wo er neunjährig haselnußstreunte — gänzlich allein —, nicht die heutige neunjährige Ulli zur Kameradin hatte. Ulli versteht sogleich, daß sie dem Mann, der ihr das heute sagt, zur rechten Zeit die Einsamkeit genommen hätte. Denn sie sind, wie der Chemiker sagt, wahlverwandt, mißachten die Grenzen der Zeit und bedürfen, um einander die Einsamkeit zu nehmen, weder erklärender Worte noch der reifgeschlechtlichen Möglichkeiten.
  article#ulli-ergaenzungen-4
    h2.inline-title Ulli Ergänzungen 4.
    p
      | Ulli beschreibt, zum Erstaunen der Psychologen, Abenteuer aus ihrem zweiten Lebensjahr, von einem Ort, den sie damals für immer verlassen hat. Ihre Zeichnung der Stuben, Verschläge und Unebenheiten stimmt. Sie zeigt, wie sie ein sechzehntel Liter Johannisbeerwein im Garten der Großeltern austrinkt und »lustig« ins Bett wankt — ihre Eltern wundern sich, daß Ulli am nächsten Morgen so lange schläft. Ulli findet, es ist inzwischen gar keine Zeit vergangen, denn während man manches nur wie eine altväterliche Illustration vor sich sieht, wird die Umwelt der Zweijährigen mit der Umwelt der Neunjährigen identisch, und Ulli schlägt den längstveraschten Großvater beim Fangenspiel übermütig auf die Hand.
  article#ulli-ergaenzungen-5
    h2.inline-title Ulli Ergänzungen 5.
    p
      | Ulli ist von Spottlust nicht frei. Besonders im Team mit Elisabeth höhnt sie viel und unbarmherzig. Ist sie außer Dienst, wechseln ihre Gesichtszüge ins Milde, Ernste, Traurige, auch Leere — 
      em ein Engerl
      | , sagen Besucher. Sobald jemand Eßbarer das Spinnennetz betritt, verschiebt sich Ullis Gesicht ins Disharmonische des Hohns. Wie stolz dürfen daher jene Menschen sein, die von Ulli akzeptiert werden und an ihrem milden, traurigen oder leeren Dreinschauen teilhaben.
  article#ulli-ergaenzungen-6
    h2.inline-title Ulli Ergänzungen 6.
    p
      | Ulli fingert in der Stummensprache den langen Satz: »
      span.small-caps Schade dass ich noch nicht alt genug nin um einen Freund zu haben
      | .« Sie lutscht sich einen Fleck in den Oberarm, zeigt auch das ihrem Gesprächspartner, schaut ihn herausfordernd an, und als er fragt »Warum machst du denn das?«, zuckt sie die Schulter, schaut scheinheilig kindisch und sagt abschätzig einen schwerbestimmbaren Konsonanten.
  article#ulli-ergaenzungen-7
    h2.inline-title Ulli Ergänzungen 7.
    p
      | Ein bitterer Mensch schreibt in Ullis Stammbuch: 
      em Du bist gescheit. Aber benimm dich doch nicht wie in einer Welt, in der die Gescheiten gesiegt haben.
      | 
  article#ulli-ergaenzungen-8
    h2.inline-title Ulli Ergänzungen 8.
    p
      | Ein Ingenieur träumte von Ulli einen bösen Traum. Ullis Vernichtung. Weil Ulli zu gescheit war (
      a.arrow(href="ulli-ergaenzungen.html#ulli-ergaenzungen-2") Ulli Ergänzungen 2
      | ). Man nahm ihr vor der Verladung alles ab, den Apfel, in den sie gerade biß, durfte sie aber auf den Lastwagen mitnehmen, denn sie würde ihn ohnehin noch aufessen und der Butzen würde dann gemeinsam mit Ullis Körper verbrennen.
