extends ../../templates/layout
block page-vars
  - const title = "Ultraviolett"
block main
  article#ultraviolett
    h2.inline-title Ultraviolett.
    p
      | Myra Metelli, die Ordnung in Mädchengestalt, räumte alle Requisiten ihres Experiments in die waagrechtsenkrechte Ordnung ihres hellen Regals. Dann erst besah sie sich im Spiegel. Ihr Haar war weißblond geworden, nichts sonderlich Neues. Aufgeregt aber schaltete sie die UltraviolettBirne ein: in ihrem unsichtbaren Licht begann Myras duftiges, etwas wattiges Haar ein hellblauhellgrün-violettes Eigenleuchten auszustrahlen; hhhhhhh ! — hauchte Myra, von ihrem Gelingen und ihrer Schönheit selbst erschreckt. Kein Friseur der Welt hatte je noch die 
      span.small-caps Uv
      | -Fluoreszenz ausgenutzt, kein Star und keine Begum waren je in solcher Verzauberung aufgeleuchtet. Rasch holte sie den Sohn ihres Gemüsehändlers zum Zeugen.
