extends ../../templates/layout
block page-vars
  - const title = "Umschrieben"
block main
  article#umschrieben
    h2.inline-title Umschrieben
    p
      | wird im Computerwesen manches Kommunikationselement etwas abweichend. Zur L-förmigen Eins des Dualsystems tritt das durchgestrichene Zeichen für den Vokal O (»Ø«), das Verwechslungen mit Null ausschließen soll, und treten etwas verschobene Ziffern der Magnetschriften (zB der E 13.B amerikanischer Banken, die den laienhaften Empfänger von 200 Dollar hoffen lassen, er könne sich in seinem Kreditinstitut einen fix und fertigen ZOO abholen).
