extends ../../templates/layout
block page-vars
  - const title = "Unbestimmt"
block main
  article#unbestimmt
    h2.inline-title Unbestimmt.
    p
      | Ist die oft kuschelige Wirkung unbestimmt geformter weiblicher Gesichtspartien womöglich der patriarchalischen Vorliebe für unentschiedene Frauen zuzuschreiben? Ich hoffe, nein. Ich hoffe, auch Bewußtseinsentfaltung und Zielklarheit werden die Frau nicht verhärten (werden vielleicht sogar etwas von der unsympathischen Mesozoikerhärte des heutigen Männerbildes aufweichen).
