extends ../../templates/layout
block page-vars
  - const title = "V"
block main
  article#v
    h2.inline-title V
    p
      | (werbesprachlich): Veni, vidi, vici. Victory! (Churchills 2. u. 3. Finger). Deutschland siegt an allen Fronten, Victoria! V 1, V 2, Intercontinental Ballistic Missile. (Fotomodell hebt zwei Churchillfinger:) V-Kaffee, der Siegreiche. Mit dem Bullworker erhalten Sie einen schönen V-förmigen Oberkörper: massive Schultern, die sich bis zur Taille verjüngen, geben Ihnen das Aussehen eines stahlharten, dynamischen Mannes.
    p
      | V auf römischen Inschriften: 1) lebendig, 2) hat gesiegt, 3) lebwohl.
