extends ../../templates/layout
block page-vars
  - const title = "Verauung"
block main
  article#verauung
    h2.inline-title Verauung.
    p
      | Die Zigarette verzischt im Wasser, etwas 
      a.arrow(href="plankton.html") Plankton
      |  verbrennend. Die 
      a.arrow(href="huegel.html") Hügel
      |  ziehen sich vom Ufer, das Ufer vom Schiff zurück. Das Häuschenzeug wird fern und unansehnlich. Um 9.20 gibt es überhaupt keine Häuser mehr. Auwald beginnt für unabsehbare Zeiten. (
      a.arrow(href="auen.html") Au
      | ). Das Schiff fährt manchmal fern, manchmal nah dem Ufer. 
      a.arrow(href="wasserereignisse.html") Wasserereignisse
      | . J. tritt in ein 
      a.arrow.main-route(href="menschennaeheres-stadium.html") menschennäheres Stadium
      | .
