extends ../../templates/layout
block page-vars
  - const title = "Verwahrloste Fischerin"
block main
  article#verwahrloste-fischerin-1
    h2.inline-title Verwahrloste Fischerin 1.
    p
      | Und zwar einsame. Von der Sonne gebleichtes Haar, vom Alter noch kaum. Dazwischen helbraune Strähnen In grauem Herrenhemd, teils geflickt, teils zerrissen. Knielanger violetter Rock, männliche Knie. Hartes Gesicht, von schwierigen Jahren vermiest, vom Schmutz mehrerer Tage verschattet.
    p
      | Frage 1: Ißt sie diese Fische selber? (Über geklaubtem Holz gekocht, in einem Allzwecktopf, einem auf einer Lichtung gefundenen, den ihr der Pfannenflicker Josafat, für einen Beischlaf a posteriore im Gestrüpp einer August-, September-, Oktobernacht, zurechtgelötet hat?) Trägt sie sie auf den Markt? Wo ist der Fischmarkt? Wie kommt sie hin? (Hat sie ein Fahrrad noch aus ihren Arbeiterzeiten oder ein Jungmädchenrad, das der Besitzerin aus der Gepäckaufbewahrung der nächsten Bahnstation verlorenging? Mit rotem oder blauem Ziergespinst über den kleinen Rädern?)
    p
      | Frage 2: Wie ist ihr Bett? Eines der wenigen sauberen Refugien verwahrloster Menschen? Mit Liebe — wie jener, die man Rekruten einschreit — gemacht? Wäscht sie das Leintuch alle drei Wochen im nahen Bach? (Denn das Donauwasser ist voll des Öls der nahen Chemiewerke, thalliumhaltig.) Hat sie jemand, den sie stolz an der Hand auf ihr sauberes Bett zieht und der ihr dann seine Bartstoppeln einprägt, plötzlich ein schönes Gesicht der verwahrlosten Fischerin kennend?
    p
      | Frage 3: Wie wird sie in der Schenke behandelt? Trinkt sie den Schnaps dort oder holt sie ihn nur für ihr Daheim? Kommt es vor, daß sie im Bett lange über Mitternacht hinaus trinkt und, weil das Fenster mit Erdäpfelsäcken verhangen ist, gar nicht merkt, daß es schon vormittag ist? Speit sie manchmal oder verträgt sie jeden Fusel?
    p
      | Frage 4: Wie würde sie sich verhalten, wenn ich sie beim Fischen störte, zB mich neben sie setzte und ihr den Rock hinaufzöge? Gibt es ungeschriebene Gesetze in ihrem Stand, die das verbieten? Oder hat sie ein waches Aug für die faule Komik einer Situation? Oder hat sie auch schon Chemiekaufleute beherbergt und wundert sich über gar nichts mehr?
  article#verwahrloste-fischerin-2
    h2.inline-title Verwahrloste Fischerin 2.
    p
      | Und zwar gesellige. Soweit man bei Fischergruppen von Geselligkeit sprechen kann. (Aber nachher gehen die verwahrloste Frau und die zwei verwahrlosten Männer mitsammen in den Auwald, laut ein Kauderwelsch schnatternd. Der Mann der Verwahrlosten geht neben ihr mit der unaufdringlichen Selbstverständlichkeit vieler Eheleute, also: nicht händehaltend, eingehängt oder nach der Hüfte greifend, sondern einfach danebenher, mit jenem sparsamen Abstand, der gelegentliches Zusammenstoßen der Arme oder Becken ermöglicht. Der andere Mann treibt Scherze, packt die Frau an der Schulter, haucht sie an — er stinkt, weil er stundenlang nichts gegessen hat —, küßt sie sogar auf den Mund und tätschelt sie auf dem Schenkel ganz oben. Damit hat er das Maß des Duldbaren überschritten, und der Ehemann stößt ihm die Faust in den Rücken. Der Liebhaber lacht von einem Ohr zum anderen und greift dem Ehemann mit vollen Fäusten in die Mähne. Die Frau schreit vergnügt auf. Der Ehemann gibt dem Liebhaber noch einen Rippenstoß und geht dann an seiner Seite, ihn eng umschlingend. Die ungern vereinzelte Frau, zwei Schritt voraus, zwingt bald den Ehemannskopf in ihre scharfriechende Achselhöhle und lacht.)
