extends ../../templates/layout
block page-vars
  - const title = "Vorderdeckereignisse"
block main
  article#vorderdeckereignisse-1
    h2.inline-title Vorderdeckereignisse 1.
    p
      | Ein Pensionistenpaar erzählte einem anderen vom Urlaub in den Salinen. Salinen!, dachte J.: dort verdampfen wir das Meer, um es Kühen und Hirschen zum Lecken zu geben.
  article#vorderdeckereignisse-2
    h2.inline-title Vorderdeckereignisse 2.
    p
      | Sie haben erst jetzt einen Dackel, denkt Chemiekaufmann J. zu einer alten Dackelbesitzerin hinüber. Woher wissen Sie das?, denkt die Frau erstaunt zurück. Weil Ihr Gesicht nach einer langen Gemeinschaft mit einem Mops aussieht, antwortet J.
  article#vorderdeckereignisse-3
    h2.inline-title Vorderdeckereignisse 3.
    p
      | Zwei Pensionisten sahen einem Mädchen nach, deren weißer Minirock Teile eines gutgesonnten festen Gesäßes freigab. Dann schimpften sie; undankbar wie Kinder, die sich freuen, wenn sie auf eine schmutzige Windschutzscheibe schreiben können, aber »Schwein« hinschreiben.
  article#vorderdeckereignisse-4
    h2.inline-title Vorderdeckereignisse 4.
    p
      | 
      a.arrow(href="bordereignisse.html#bordereignisse-2") Bordereignisse 2
      | .
  article#vorderdeckereignisse-5
    h2.inline-title Vorderdeckereignisse 5.
    p
      | 
      a.arrow(href="bordereignisse.html#bordereignisse-4") Bordereignisse 4
      |  und 
      a(href="bordereignisse.html#bordereignisse-6") 6
      | .
  article#vorderdeckereignisse-6
    h2.inline-title Vorderdeckereignisse 6.
    p
      | 
      a.arrow(href="bordereignisse.html#bordereignisse-5") Bordereignisse 5
      |  und 
      a(href="bordereignisse.html#bordereignisse-7") 7
      | .
  article#vorderdeckereignisse-7
    h2.inline-title Vorderdeckereignisse 7.
    p
      | Penetrante Wiederholung von Ereignissen aus »
      a.arrow(href="deck.html#deck-1") Deck 1
      | «.
