extends ../../templates/layout
block page-vars
  - const title = "Vorworte"
block main
  article#vorworte
    h2.inline-title Vorworte.
    p
      | 
      a.arrow(href="nachworte.html") Nachworte
      | , aber überlegen Sie, bitte, erst noch, ob Sie sie nicht wirklich für 
      em danach
      |  aufsparen sollen; behalten Sie anderseits ihre jederzeitige Verfügbarkeit für Fragen, die sich während des Lesens aufdrängen, in Erinnerung.
