extends ../../templates/layout
block page-vars
  - const title = "Vulkankegel"
block main
  article#vulkankegel-1
    h2.inline-title Vulkankegel 1.
    p
      | Mißtraue dem Grün-in-Grün, den pelzigen Laubkronen: sie sind erstarrte Lavabutzen, verbrannte Schafwollkräusel, zu heiß gesengte Lockenpracht des neu-romantischen Mödleins, vulkanisierter Wald. Heuchlerisch riecht er nach dem Bitter der Laubbäume: Rindenabsud, Gallwespenknödel, Laubsaft und Laubmoder, Gerbstoff der Knickäste, nach dem Frisch des feinkanalisierten Wassers. Er läßt sich friedlich begehen, begeh ihn nur! Wenn du in seiner Mitte bist, beginnt er wie ein Bassist zu lachen, zu grüßen, er lüftet die Mütze, und schon fliegt sie dir und der Stadt entgegen und der Kegelstumpf zeigt seinen wahren Inhalt aus flüssiger Gelbglut, die nun, für dich aufgespart, zäh, aber viel schneller als du, deinen Fluchtabhang brandorkanstiftend und mit eisernem Höllengeruch herabrinnt. Die Vortruppzünglein tasten sich vorwärts, ein bißchen links, ein bißchen rechts, aber im ganzen imposant unbeirrbar dich einholend. Armer Unterlieger, Drunterlieger, brennender schwarzer Braten.
  article#vulkankegel-2
    h2.inline-title Vulkankegel 2.
    p
      | Ein ganz hoher aus der Vulkangruppe 
      span.small-caps Kindheit
      |  — recht genaue Kegel, waldgetarnt, mit der abnehmbaren Kuppe — Grün wurde Schwarz, Tagblau Nachtrot, Traum Alp, Vogelgezirp Gebläseschnaufen, Flüßchenstadt Kohlenkübel, Lieblingsmenschen Asche und Waldbummel Jetztrennwenndukannst. Er drohte, dich zu »Kurbél« zu brennen, im bordeauxroten Schlafzimmer der blau-salonigen Zimmervermieterin. Emilie ging dann mit euch in den schütteren politischen Laubwald des Grenzstädtchens, tröstlich, aber auf der Flucht vor den Feinden dann wimmelte es von unverläßlich erloschenen Kegeln und Kuppen, und du grubst dich vor Schrecken in Ödebene und ein späteres Geometriebuch.
