extends ../../templates/layout
block page-vars
  - const title = "Wachau"
block main
  article#wachau
    h2.inline-title Wachau.
    p
      | Jetzt müssen wir die Szenenbeleuchtung ändern, gleichsam vom Gelb und Rot der Sonnenträgheit auf Hellblau umschalten, denn jetzt kommt der quickere Nachmittag (Vorbote abendschattiger Ausgelassenheit an all den quellschwarzen Bestimmungsstationen).
    p
      | Die Schnarchenden fallen Stück für Stück aus dem Schlaf, die Schweigenden beginnen zu reden, die lustlos Murmelnden beginnen zu singen, sogar Mundharmonikas und Flaschen mit warmem Wein beginnen zu tanzen. Empfohlene Liköre werden weiterempfohlen. Der Hinterdeck-Teenager schält sich das Lack-007 ab, den Vorsprung der übrigen Haut kann die Restsonne nicht mehr einbräunen. »Du bist ein Trampel«, sagt die Mittelstürmerin zu ihr, als die Kennzahl rosig vom 
      a.arrow(href="braun.html") braunen
      |  Bauch leuchtet. Die Vorderdeck-Pensionistin fängt gar wieder ihren Mann zu schoppen an.
    p
      | Dabei sind nur ganz weit vorn die Hügel des Bestimmungslandes aufgetaucht, ohnehin noch nicht der Rede wert, die Hügel mit den lehmstaubigen Weinzuchtpyramiden der Terrassenkultur. Die Hügel nennt man »lieblich«, und sie tragen einzelne Häuser. Der allererste Hügel hat eine Seitenfront mit einer ganzen Anzahl Häuser, vielleicht Ausläufer einer Stadt.
    p
      | Im übrigen herrscht weiter die endlose Au, durch Auflockerungen nicht mehr so traurig, und da und dort gibt es Wasserereignisse.
    p
      | (Schlagen wir also nach einigen 
      a.arrow(href="nachmittagsgespraeche.html") Nachmittagsgesprächen
      |  und einem 
      a.arrow(href="haus-am-knopfer-huegel.html") Haus am Knopfer Hügel
      |  je eine 
      a.arrow(href="auen.html") Au
      | , 
      a.arrow(href="auflockerung-im-allgemeinen.html") Auflockerung
      |  und ein 
      a.arrow(href="wasserereignisse.html") Wasserereignis
      |  nach.)
    p
      | Meine dicke 
      a.arrow(href="barbara.html") Barbara
      |  ist bei ihrem Bruder untergetaucht, manchmal wirft sie mir einen kleinen betuschten Blick zu, dem ich nicht entnehmen könnte, daß sie mein nächstes Abenteuer wird, wenn ich es nicht von vornherein wüßte. Brauche ich euch zu sagen, daß dieses Weiblein von dem Unstillbaren, das aus der Landschaft und den Bordgesprächen jetzt wie Sickergas ausbricht, nichts stillt? Nicht mehr als ein gutes Glas 
      a.arrow(href="wein.html") Wein
      |  (dem ich auch schon sehr entgegenlebe), ein resch 
      a.arrow(href="gegrilltes-haehnchen.html") gegrilltes Hähnchen
      | , Schatten auf der Bank, Blumengeruch, Saufkumpanschaft, Herrenwitz, Schunkellied?
    p
      | Aber was heißt eigentlich »unstillbar«, was will sich stillen, und womit, wenn nicht mit Lied, Huhn, Barbara? Bei einem Säugling ist das Stillen eine klare Angelegenheit. Wenn ein Geschäftsfreund wegen eines Transits oder einer Lohnveredlung, die keine ist, Skrupel vorschützt, kann ich sein Gewissen mit einer Prozentvereinbarung stillen. Was aber schreit und greint aus den Bordgesprächen und der Harmonika, aus dem Suff, der Freude und der Dummheit, den Transistoren, Schiffsmotoren und Au-Lagerplätzen, so daß es durch alle Oropaxe® weiterschriee? Es schreit nicht 
      span.small-caps Bratwurst
      | , schreit nicht 
      span.small-caps Weinfass
      | , schreit nichtmal 
      span.small-caps Doppelbett
      | . Schreit es »Leben« — ja, aber man lebt doch sowieso? Schreit es »Alter« — ja, aber was soll ich aus der Jugend noch holen? Schreit es »Welterkenntnis« — die Donau entspringt im Schwarzwald, spielt mit Ulm, heiratet Wien, hurt Chilia Noua und stirbt im Russenmeer — gibts über die Welt noch mehr zu wissen? Verbleiben wir so: Die Dinge senden Wellen aus, die keine Botschaft bedeuten. Ein Fleck im tiefsten Weltall (ich habe ihn auf die. Urania-Warte gesehen) übergibt sich auch so an Ratiosignalen, und wenn man sie abhört, ists keine Beethovensendung. Am ehesten knirscht irgendeine Achse, um die sich was dreht.
    p
      | Aber zum Teufel warum, wenn ich an 
      a.arrow(href="eiske.html") Eiske
      |  in 
      a.arrow(href="grottenolm.html") Grottenolm
      |  oder an 
      a.arrow(href="susi.html") Susi
      |  im 
      a.arrow(href="haus-am-knopfer-huegel.html") Haus am Knopfer Hügel
      |  denke, ists wie essigsaure Tonerde aufs Weltwehweh? Obwohls selbst wieder schindet. Da lassen sich ja doch Heulregeln finden? 
      span.small-caps Eiske ja, Barbara nein
      |  —: Gibt es zwei Sorten von Frauen? Oder gibt es zwei Sorten von mir? Ist ein Psychiater doch kein blauer Hund? Ohhhhh, blinde Auen, blöde Hügel, warum speit das Menschenfüllhorn, in dem ich mich exportiere, nicht Eiske oder Susi aus oder gibt mir noch eine dritte Chance, nennen wir sie Ulrike.
    p
      | Was nach einer Flußbiegung, an einer Flüßchenmündung, die weiße Tafel um 13.25 viel zu früh versprochen hat, den Bordalarm eskalierend, wird nun, nach zehn Minuten, eingelöst: 
      a.arrow.main-route(href="knopf.html") Knopf
      |  liegt in Sicht.
