extends ../../templates/layout
block page-vars
  - const title = "Waffe"
block main
  article#waffe
    h2.inline-title Waffe
    p
      | (ein Sprachgebrauch): Man sehe zunächst einen Himmel vollgeräumt mit langen Bomben, Thermitschnüren, Zündtonnen. Man sehe einen zerstochenen Rücken, einen zu Riemen geschnittenen Gefangenenschenkel, einen Schrapnellbauch, ein Flammenwerfergesicht und ein Gelbkreuzgas-Auge.
    p
      | Dann überlege man kritisch, ob das Klischee »Waffen der Frau« im Sprachwert von »weibliche Reize« sinnvoll sei. Wenn man den Eindruck gewinnt, daß a) unsere Gesellschaft die Frau in einen Verzweiflungskampf treibt, der sie b) nicht einmal vor dem Mann, den sie mag, haltmachen läßt und in dem c) Instrumente wie Charaktereigenschaften, Verstand nichts, hingegen die Genießbarkeit alles gilt, so daß d) sowohl die PersonEntwertung als auch die Lustvergällung der Normalfall sind, e) also das Klischee »Waffen der Frau« wirklich sinnvoll ist, investiere man in diese Gesellschaft kein Elektronenvolt an Anteilnahme mehr.
