extends ../../templates/layout
block page-vars
  - const title = "Wallgraben"
block main
  article#wallgraben
    h2.inline-title Wallgraben.
    p
      | Im Wallgraben fußt das 
      a.arrow(href="haus-mit-dem-hochfruehlinghaften-zimmer.html") Haus mit dem hochfrühlinghaften Zimmer
      | ; es wäre kein Wunder, wenn nahe diesem Ortungspunkt Edibelbeks das mytillen-ortende 
      a.arrow(href="haeuschen.html#haeuschen-12") Häuschen 12
      |  läge und eines der raschwechselnden Quartiere der 
      a.arrow(href="kinder-des-weidendorfes.html") Kinder des Weidendorfes
      | : Jermilka, Jessica und Jentchen würden diesenfalls mit ihrer 
      a.arrow(href="katze.html") Katzen
      | -Schar zum Flüßchen Knopfbach hinunterpoltern, nur im heißesten Sommer nicht mit dem 
      a.arrow(href="leuchtendes-blau.html") leuchtendblauen
      | , mohnroten und zinnobergrünen 
      a.arrow(href="kopftuch.html") Kopftuch
      | .
