extends ../../templates/layout
block page-vars
  - const title = "Wasser"
block main
  article#wasser
    h2.inline-title Wasser.
    p
      | ...und feuchten kalten Fahrtwind erzeugen, kaltes Gesprühe, das Kopf und Oberkörper kalt anspritzt, naßtropft wie kaltes nasses Wasser, und die grauen Bojen auf dem petrolgrünen kalten Wasser, auf dem kalt fischelnden, sind Bomben voll kälterauchendem Eis ...
    p
      | Das Wichtigste am Wasser ist, daß es naß ist. Es gibt keinen Ersatz für Nässe. Die Beschreibung von Nässe ist kein Ersatz. Über einem Yucon-Gedicht (das eiskalte Alaska-Wasser wird durch seinen hohen Goldgehalt schroff deinen Durst löschen) kann dir in den 
      a.arrow(href="hundstage.html") Hundstagen
      | , vor leeren krustigen 
      a.arrow(href="mineralwasser.html") Mineralwasser
      | -Flaschen, die Kehle eintrocknen.
    p
      | Die Nässe ist am Wasser wichtiger als Kindheitserinnerungen, die daran hangen. Solange im Sand-Luft-Bad dein rotgesonnter Körper qualvoll trocknet oder dein Rachen sich verklebt wie eine Brandwunde, so lange ist es dir gänzlich egal, daß du einmal schulschwänzend ein paradiesisches Bad vorfandest mit glitschigen Fliesen und Eishauch und sechzig Meter Schwimmbahn in frostblauem Wasser für dich allein, oder daß um ein Uhr nacht während eines (die Schwüle nicht lösenden) Gewitters ein Wirt noch offen hatte und dir kältestes kohlensäurestechendes Bier ins eisbeschlagene Glas pritschte.
    p
      | Nässe ohne Kälte aber ist eine zweifelhafte Sache. Man denke an einen zu warmen Regen, an die Dunsthaube, die er über dem heißen Asphalt hinterläßt. Man denke an abgestandenes Wasser auf einem Spitalnachtkästchen, in einer fieberigen, sonst sehr hübschen Julinacht.
    p
      | Heiße Nässe ist etwas anderes: Durch physiologische Vorgänge, die brühheißer Tee in den Schluckorganen auslöst, entsteht eine merkwürdige Durstlosigkeit, eher Betäubung als Befriedigung des Dranges. Und der kochende Schwefel, der in bestimmten Teilen des mohammedanischen Jenseits ausgeschenkt wird, ist vielleicht nur scheinbar von orientalischer Grausamkeit; in Wahrheit ist solches Trinken möglicherweise die einzige Dauerkur für Durst in zu heißen Gebieten.
    p
      | Also: Gut Naß! Gut Kalt! Kalt Naß! Naß Kalt!
    p.poetry
      | Ein Schiff wird planschen
      br
      | auf kaltem nassem Wasser
    p
      | und feuchten kalten Fahrtwind erzeugen, kaltes Gesprühe, das Kopf und Oberkörper kalt anspritzt, naßtropft wie kaltes nasses Wasser, und die grauen Bojen auf dem petrolgrünen kalten Wasser, auf dem kalt fischelnden, sind Bomben voll kälterauchendem Eis, aus der Werkstatt des 
      a.arrow(href="ing-pozzi.html") Ing. Pozzi
      | , den ich vor dem 
      a.arrow.main-route(href="einmarsch-ins-schiff.html") Einmarsch ins Schiff
      |  kältestens grüße.
