extends ../../templates/layout
block page-vars
  - const title = "Wauß"
block main
  article#wauss
    h2.inline-title Wauß.
    p
      | Im Gegensatz zu Grauß, das das Nuancenfeld zwischen Grauweiß und Grau absteckt, das Nuancenfeld zwischen Weißgrau und Weiß.
