extends ../../templates/layout
block page-vars
  - const title = "WC"
block main
  article#wc-1
    h2.inline-title WC 1.
    p
      | Durch eine Tür, die sich schloß. Von jetzt an war alles automatisch. Absolute Dunkelheit umfing ihn und schob ihn weiter. Dann erschien Lumineszenzschrift. Links stand »Damen«, rechts stand »Herren«, inmitten stand »Vertilgung«. Er wählte artig rechts, worauf es dort zu surren begann. Auch eine Leuchtstoffröhre schaltete sich ein, und eine Transistorstimme sagte deutlich »Sie haben gut gewählt«. Nach Vollbringen wusch ihm ein Luftstrom Gesäß und Hände, ein Automat bot ihm »für abend« kleine Behelfe an. »Danke!«, klang es ihm nach, und ein sachter Orkan stellte den Anfangszustand für den nächsten Besucher her.
  article#wc-2
    h2.inline-title WC 2.
    p
      | Es roch nach 
      a.arrow(href="kuhdreck.html") Kuhdreck
      | , aber weit und breit waren keine Kühe. Eine Beamtin in den mittleren Jahren wartete auf ihre Kollegin, die drinnen saß. Er ging unbeirrt auf die andere Lattentür zu, auf die eine Lederhose gezeichnet war. Er schloß hinter sich ab, wippte ungeschickterweise erst dann den Schalter auf »Licht«. Sein rechter Schuh haftete schon an einem schmutzigen Zeitungspapier. Er studierte die pompejanischen Wandzeichnungen, bewunderte abgebildete Größenverhältnisse und las »Mahlzeit«. Das Brett hatte einen Spalt, in dem man sich empfindlich einklemmen konnte, zwei Kettenglieder der Spülung hingen zu lose aneinander, sodaß beim Ziehen der Handgriff abriß (»Jede Kette ist so stark wie ihr schwächstes Glied«). Aber total gesehen, hatte der Raum seine Funktion erfüllt.
  article#wc-3
    h2.inline-title WC 3.
    p
      | Bescheidenes, freundliches Interieur. Weiß, klein. Spülkästchen aus einem »Preßwerk«, jenem, das säuberlich, aber voll unheimlichen Feuers, an der Südstrecke lag. So klein auch die Zeitungsblättchen »zum Unterlegen«, durch mehrfaches sauberes Zerschneiden aus der »Kronen-Zeitung« gewonnen, mit ihrem ohnehin so kleinen Format. Daneben echtes, aber violettes Industriekrepp. Keine Sorge, es färbte nicht ab. An der hübschen weißen Tür hing, reinlich auf ein A 6-Zettelchen getippt:
    p.poetry
      | Ist die Sitzung nun dahin,
      br
      | sollst Du an der Spülung ziehn.
      br
      | So machst Du Deinem Thronfolger Freud',
      br
      | denn nichts ist schön wie Sauberkeit.
    p
      | Er bemühte sich während des Sitzens, ein besseres, nämlich zweisilbiges Wort für »Thronfolger« zu finden, keines aber schien ihm genug saftvoll.
  article#wc-4
    h2.inline-title WC 4.
    p
      | Hoch genug, um, wie in jenen französischen Feinschmeckerlokalen, zwei Toiletten übereinander zu beherbergen, mit durchsichtigem Trennboden. Oben, nur durch Besteigen des Sitzbrettes schaltbar, ein großes Fenster mit Aufblick zu den Schmidttöchtern in der 4. Etage. Die Schmidttöchter beobachteten die WC-Gänger gern, winkten ihnen mit Staubtüchern hinunter, die Verfolgten aber hatten sich bis heute nicht zu einem jener buntgeblumten duftigen Vorhänglein aufgerafft, wie sie in dieses WC mit seiner 
      a.arrow(href="maria-theresien-gelb.html") mariatheresien-gelben
      |  Malerei so gut passen würden.
    p
      | Er schnitt den vermutlichen Beobachterinnen, sicher ist sicher, eine Grimasse, zeigte die Zunge, machte Winkohren. Dann lockerte er seine Kleidung.
  article#wc-5
    h2.inline-title WC 5.
    p
      | Die Ratskellerküchentür öffnet sich. Die dicke alte Putzfrau watschelt heraus, eine Tasse Ratskellerküchenkaffee balancierend, und bezieht mit ihr den Platz bei den Ratskeller-
      span.small-caps Damen
      | .
  article#wc-6
    h2.inline-title WC 6.
    p
      | In die valeriansäuredurchwehten Labor-Toiletten gehen Chemikerinnen und Chemiker, wie sichs grad trifft. Das geschlechtertrennende D und H bedeutet für sie nur schweren und leichten Wasserstoff.
  article#wc-7
    h2.inline-title WC 7.
    p
      | Ein grüngestrichenes Hüttchen im Weinberg, 80 cm im Quadrat. Die Kleider lösen oder ordnen konnte man nur bei offener Tür. Das Hüttchen stand unmittelbar neben J.s Heurigentisch. J. verfolgte mit allen Sinnen die schöne schwarzhaarige Frau, die hineinging; was half es, daß sie wütend an ihrem elektrisch eingeklebten Kleidchen zerrte; daß sie, eine intelligente Dame, nicht als Schaustück dienen wollte? J. tat genau das, was sie fürchtete: er ging nicht fort. Da resignierte sie, gab sich als Mensch und hielt nicht einmal den Innenknauf zu.
  article#wc-8
    h2.inline-title WC 8.
    .grid
      .schild-container
        | Ein Schild
        .schild DAMEN
        | für Damen,
      .schild-container
        | ein Schild
        .schild HERREN
        | für Herren
      .schild-container
        | und ein Schild
        .schild PISSOIR
      .schild-container
        .fuer-solche für solche, die in keiner Lage gern allein sind.
  article#wc-9
    h2.inline-title WC 9.
    p
      | Auf einem WC in Pottschollach stand mit gelber ÖIfarbe 
      span.small-caps Ami raus aus Vietnam
      | , was die Amerikaner mit einem sofortigen Friedensschluß in Saigon beantworteten.
