extends ../../templates/layout
block page-vars
  - const title = "Weg zur Schiffsstation"
block main
  article#weg-zur-schiffsstation
    h2.inline-title Weg zur Schiffsstation.
    p
      | An der Brücke vorbei ging J., die K.-Straße entlang, bis die L.-Straße kam. Dort wuchs frühe 
      a.arrow(href="kamille.html") Kamille
      | . Ein Betrunkener in altem singendem Lloyd überfuhr ihn fast, trotz grüner Fußgängerampel. »Tod alleinstehenden Chemiekaufmanns« sah J. in der »Tageschronik«, »Trinker-wüstling mordet Passanten« im »Express«. Hinter dem Baum- und Buschwerk spürte man weiße Motorschiffe. Firmlingskutschenweiß, zuckerbäckerweiß, 
      a.arrow(href="korrupte-braeute.html") korrupte Bräute
      | -weiß. Wind an diesem verfrühten 
      a.arrow(href="hundstage.html") Hundstag
      |  (Junimitte) blähte J.s Rock zum Segel und half ihm so weiter zum Schiff.
    .grid
      .ein-schiff Ein Schiff wird kommen,
      .fuelte-er fühlte er,
      .und-zwar und zwar geschwommen.
        br
        | (Käm es geflattert,
        br
        | wär ich verdattert.)
    p
      | 
      a.arrow(href="melina-mercouri.html") Melina Mercouri
      |  muß Weiß gut passen. Weißere Wäsche wird durch 
      span.small-caps Blitz
      | ® noch weißerer. 
      span.small-caps Polyfibron Dr. Wurz
      | ® soll ein neuerliches Absetzen gelöster Schmutzteilchen auf der Faser verhindern. In weißer Wäsche vergißt selbst Melina für eine Nacht den Diktator. 
      em Rauschend von Rüschen
      | . Militärjunta — unwahrscheinlicher Tagtraum aus siestaträgem Wolkenkratzer-Athen. Dem Tüchtigen schlägt keine Stunde; bis ihm die Stunde schlägt. »Stärkste Gifte, besonders die MerkuriSalze, die gleichzeitig ätzend wirken.« Melina hin und her: ein halber 
      a.arrow(href="brotlaib.html") Brotlaib
      |  lag im Rasen, für fühlte er, 
      a.arrow(href="pferde.html") Pferde
      | , etwaige. Und als der Blick wieder hochkam, stand da schon, wasserluftverpackt, das 
      a.arrow.main-route(href="stationsgebaeude.html") Stationsgebäude
      | .
