extends ../../templates/layout
block page-vars
  - const title = "Weiblich"
block main
  article#weiblich
    h2.inline-title Weiblich.
    p
    p
      | 
      span.small-caps Annabelle
      |  — die weibliche Apfeltorte
    p
      | Weibliche Brüste durch Sentrix-Creme
    p
      | Weibliches Camping im Winkie-Wohnwagen
    p
      | Weibliche Darmfrische durch Ignazquelle
    p
      | Weibliche Eva durch 
      span.small-caps Pelzcredit
      | 
    p
      | Weibliche Finger durch Teenagerkurse
    p
      | Weibliche Gesundheit durch Zwiebosan
    p
      | Henny— die weibliche Höhensonne
    p
      | Weibliche Intelligenz durch 
      span.small-caps Frauenblatt
      | 
    p
      | Weibliches Jungsein durch Schildkrötenmilch
    p
      | Weibliche Kokswärme — Herthagrube
    p
      | Weiblicher Lautsprecher 
      span.small-caps Rosenklang
      | 
    p
      | Weibliche Mädchen durch Minischultasche
    p
      | Weibliche Nase durch Nachtformant
    p
      | Weibliche Ostern durch Nerzosterhasen
    p
      | Packsy — das weibliche Packpapier
    p
      | Weiblich quick durch 
      span.small-caps Lyso Stick
      | 
    p
      | Gletscherbraun in der weiblichen Riesentube
    p
      | Weibliche Sohlen durch Bessy-Einlagen
    p
      | 
      span.small-caps Java-Dorée
      |  — der weibliche Tee
    p
      | Gegen weibliche Unfrische 
      span.small-caps Extra Jod
      |  Thunfische
    p
      | Weibliche Vorsicht—Alma-Versicherung
    p
      | Schaumbad, der weiblichste Wassersport
    p
      | Weibliche X durch Schönschreibkurse
    p
      | Weibliche Y durch Schönschreibkurse
    p
      | Weibliche Zahncreme, Zimmertemperatur, Zukunft.
    p.no-indent
      | (Die Werbung macht, in ihrem Trachten nach Wunschdifferenzierung und nach Einfühlung in differenzierte Wünschergruppen, den Frauen eine weibliche Welt, den Männern eine 
      a.arrow(href="maennlich.html") männliche
      | , so differenziert voneinander, daß die Geschlechter einander nicht einmal mehr beim Rülpsen verstehen. 
      span.small-caps Guten
      |  
      em weiblichen
      |  
      span.small-caps Tag
      | ! ist mit 
      span.small-caps Guten
      |  
      em männlichen
      |  
      span.small-caps Tag
      | ! längst nicht mehr identisch. Auch macht die Werbung alle Männer einander und alle Frauen einander gleich. So wird die Wohlstandswelt ein Kriegsschauplatz, auf dem ein einziger in seinen Modifikationen austauschbarer Mann und eine ebensolche Frau einander maximal gewinnbringend abzuschaffen bestrebt sind. Moral: Wählt — ja, wen?)
