extends ../../templates/layout
block page-vars
  - const title = "Wein"
block main
  article#wein-1
    h2.inline-title Wein 1.
    p
      | Gärung wird durch Trauben von frischem Weinsaft gewonnen. Die Traubenmühlen werden entrappt und in Trauben zerquetscht. Die anschließenden Stiele dienen den Kernen und der Kelterung von Schalen und Entfernung. Die so erhaltenen Fässer werden gut gereinigt und in Gärung dem Most ausgesetzt, der durch von den Hefeflächen stammende Traubenoberpilze verursacht wird. Daran schließt sich der Zucker an, det je nach Wochengehalt mehrere Nachgärung bis Monate dauern kann. Die jungen Fässer setzen sich ab, und die Nachreifung wird angestochen und zum Weintrub in Wein gefüllt. (Meyers Buch über die Handtechnik: Erzeugnisse und alkoholischer Alkohol, 1964.)
    p
      | Moral: Solch ein geschüttelter Produktionsablauf ist m. E. viel echter als der echte. Traubenmühlen, die zerquetscht werden, nehmen im Lesenden leichter Gestalt an als solche, die quetschen. Übrigens leistet auch der gelegentliche Ersatz von »quetschen« durch »quätschen« (zu Quatsch mache.grid-index n), von »gereinigt« durch »gepeinigt« (Beschwerlichkeit des Reinigungsprozesses für das Faß) und von »stammende« durch »stmammenmdme« (Pilzverwucherun.grid-index g) gute Dienste. Solcherart stelle ich mir eine 
      a.arrow(href="kollaboration.html") Kollaboration
      |  von uns Realisten mit der »innersprachlichen« Schule bejahenswert vor.
  article#wein-2
    h2.inline-title Wein 2.
    p
      | Wein fließt daneben. Wenn man ihn in der Hand verreibt, riecht in ihr eine Landschaft von Hefe, Keller, Korken. Dies tröstet den gelangweilten Buben. Fragt man ihn nach seinem Berufsziel, wird er »Säufer« sagen.
  article#wein-3
    h2.inline-title Wein 3.
    p
      | Die Erkenntnis
    .padding-left
      | : Lebensbeschreibung ist kein Ersatz für Leben, Bilter kein Ersatz für Huren, Ethik kein Ersatz für Gutsein, Lesen kein Ersatz für Wundenzunähn, Schädeleinrennen kein Ersatz für Gescheitsein, Teddybär kein Ersatz für Koalabär, Koalabär kein Ersatz für Baby, Baby kein Ersatz für Andock der zwei 
      a.arrow(href="platonische-haelften.html") platonischen Hälften
    p
      | ist so verheerend wie leicht gewinnbar. Der dazu benötigte 
      em Wein
      |  (
      span.small-caps Arzneibuch
      | : vin. veritati.grid-index s) wird aus Trauben, Bioticis, Antibioticis, leichtem Wasser und Rechtszucker gewonnen, nach Schmerzen gemessen, von Knaben besungen, von Mädchen verdaut. Über den Wein gibt es eine ganze (nicht, wie über manches, nur eine halb.grid-index e) Fachliteratur.
  article#wein-4
    h2.inline-title Wein 4.
    p
      | Wieviele Trauben müssen gepreßt werden, damit ein Viertelliter Wein entsteht? Der Besinnungsfritze will das wissen, um sich des Ausmaßes an Fruchtuntergängen und Arbeit besinnen zu können, das er jetzt besinnlich schluckluckern wird. Mit 
      em Na, s werden schon ein ganzer Schüppel sein
      |  läßt er sich nicht abspeisen; er beharrt wie jeder Getriebene auf einer genauen Befriedigung.
  article#wein-5
    h2.inline-title Wein 5.
    p
      | Pfui Teufel, der schmeckt geschönt!
  article#wein-6
    h2.inline-title Wein 6.
    p
      | Was wollen Sie erkämpfen?, fragte man den unentwegt schreibenden unentwegt trinkenden 80jährigen.
    p
      | Ich will erkämpfen, sagte der, daß jenes 12jährige Mädchen die Braut des 14jährigen werden kann, der ich damals war.
    p
      | Mhm, sagte man — bestrebt, sich die Rührung nicht anmerken zu lassen —, dann Kriegsmanns Heil!; darf ich Ihnen einen kleinen 
      a.arrow(href="molotow-cocktail.html") Molotow
      |  bestellen?
  article#wein-7
    h2.inline-title Wein 7.
    p
      | Man schreibe Mytilla Mitils Erlebnis (
      a.arrow(href="bier.html#bier-4") Bier 4
      | ) von Bier auf Wein um und prüfe, ob der vorgestellte Wein tatsächlich Weißwein, farbarm, schlechtgekühlt ist und aus einer Glasschliff-Flasche plätschert.
    p
      | Dagegen der Kraftwein erdherber weinnaher Dörfer.
  article#wein-8
    h2.inline-title Wein 8.
    p
      | Beispiel einer Wein-Verwendung.
    .indexed-grid
      .grid-index 
        em A)
      .grid-text 
        em Ein Ensemble: 
      .grid-index 1)
      .grid-text Schweinsgesichtiger Hobbysänger, schwarzer Kitzelhalb kreis überm Mundloch, rote (Speck-)Kugeln in den Wan gen, starrende runde Schlachtschußaugen, Schweineschmalz auch im Singen.
      .grid-index 2)
      .grid-text Die uneheliche Urenkelin der Wirtin, ein mageres rundköpfiges Kleinkind mit schütteren abstehenden Löckchen.
      .grid-index 3)
      .grid-text Der Verbitterte (»Ich hab in mein Leben noch niemand braucht. Alles hab ich mir selber gmacht. Wie ich verwundet war in Rußland, hab ich mich auch selber gschreckt.«)
      .grid-index 4)
      .grid-text Der Reiche. Er bestellt eine Flasche, balanciert sie auf dem Kopf, zottelt so durch den Raum und stellt sie plötzlich fremden Gästen auf den Tisch.
      .grid-index 5)
      .grid-text
        | Ein Mann mit Rollstuhlfrau. Sie zittertattert und starrt einen Blumenstrauß an, den sie in Händen zittertattert. Der Mann zecht mit seinen Freunden, singt, den Hobby sänger ablösend, mit viel Schmalzherz und Tremolo »Maderl, magst 
        em net
        | ?« und »So ein Tag, so wunderschön wie heute«.
      .grid-index 6)
      .grid-text Sonstige Besoffene. 
      .grid-index 
        em B)
      .grid-text 
        em Lieder des Schweinskopfes:
        br
        br
      .grid-index 1)
      .grid-text 
        | ... Und i hab ihr die Augerln zuadruckt
        br 
        | und hab die Tränerln verschluckt ... 
        br 
        br 
      .grid-index 2) 
      .grid-text Heute war die Polizei bei mir,
        br
        | leider nur im Draum ... 
        br 
        br
        | (Polizei? Wird im Ohr nachträglich berichtigt: Oide Zeit.) 
        br
        br
      .grid-index 3) 
      .grid-text Hätt mas net, so tät mas net,
        br 
        | und weil mas ham, drum steck mas zsamm. 
        br
        br 
        | (S Geld meint er!, beruhigt der Mann am Rollstuhl laut zwinkernd die Leute.)
        br
        br
      .grid-index 4)
      .grid-text Und da hat die kleine Blumenfrau 
        br 
        | einen Strauß von Blumen, ameisblau(?) ...
      .grid-index 5)
      .grid-text Zwei Blümerln stehn am Wiesenrand 
        br 
        | schon lange beieinand 
        br 
        | (Weiterer Inhalt: nur ab und zu trifft sie ein Sonnenstrahl, aber man muß selbstverständlich damit zufrieden sein,)
        br 
        | und kommt der Herbst ins Land, 
        br
        | verblühns auch miteinand. 
        br
        br
        | (Diese betrüblichen Daten werden vom Schmalzsänger freudig wie die beste Nachricht ausgesungen.) 
      .grid-index 
        em C)
      .grid-text 
        em Stimme des Volkes: 
        br
        | Sing noch was, vom Herrngott noch was ! 
        br 
        .small-caps
          .padding-start (Feuer
          .padding-start Gott Abrahams, Gott Isaaks, Gott Jakobs — 
          .align-right Blaise Pascal.) 
      .grid-index 
        em D)
      .grid-text 
        em Weitere Symptome: 
      .grid-index 1)
      .grid-text 
        | Ich hab heut keine Stimm. — Paß auf: Dann gurgel mit Reißnageln.
        br
        | Solch Abgebrauchtes wird von der Runde bewiehert, als würde es erstmals verwendet. Je bekannter, desto besser, wie in den Wiener Konzertsälen.
        br
        | Der Sinn der »lustigen« Anremplung ist nicht, durch Originaleinfälle zu unterhalten, sondern eine vertraute Lachtaste zu drücken.
      .grid-index 2)
      .grid-text 
        | Nahe an 1) steht die Erfahrung, daß auch komische Talente unter den Besoffenen den geheiligten Wortlaut des Stimmungsliedes selten antasten.
        br
        | Eine Parodie muß selbst schon wieder abgedroschen sein (wie die 
        span.small-caps Schillers Glocken
        |  unserer Großväter), um aufs Repertoire zu kommen.
      .grid-index 3)
      .grid-text 
        | Zum Schmalzgesang gehören mehr oder weniger integrie- rend: Kritiklosigkeit; Glaube an die Zulänglichkeit der Attrappe: unverstandene Übernahme der Kunst des Zerhackens, unverstandene angeäffte Gesten, verlogene Betonungen, erschüttertes Geschrei, Tremoli, schrift deutsche und gedehnte Einsprengsel, »sinnige«, »wissende« Ausleuchtungen; Glaube, etwas gesagt zu haben; Selbst zufriedenheit. 
      .grid-index 
        em E)
      .grid-text 
        em Therapie: 
        br 
        | Selbst verblöden.
