extends ../../templates/layout
block page-vars
  - const title = "Wildenten"
block main
  article#wildenten-1
    h2.inline-title Wildenten 1.
    p
      | Wildenten schwimmen: kratzen das Wasser mit ihren Gräbbeln; plaudern: bäp bäp.
  article#wildenten-2
    h2.inline-title Wildenten 2.
    p
      | Bäp bäp — ich habe mitten im Grau weiße Federn; meine Mutter hatte es mit einem Haus-Erpel—bäp bäp bäp.
  article#wildenten-3
    h2.inline-title Wildenten 3.
    p
      | Eine graugesprenkelte Wildente mit tintengrüner Verzierung spielt Motorboot.
  article#wildenten-4
    h2.inline-title Wildenten 4.
    p
      | Eine Beat-Ente schreit sehr laut: Ah! Ah! Ah!
  article#wildenten-5
    h2.inline-title Wildenten 5.
    p
      | Die Flotte der Wildenten. (
      a.arrow(href="flotte.html") Flotte
      | .)
  article#wildenten-6
    h2.inline-title Wildenten 6.
    p
      | Auf einem alten Anlegefloß spazieren Wildenten. (
      a.arrow(href="plankengeruch.html") Plankengeruch
      | .)
  article#wildenten-7
    h2.inline-title Wildenten 7.
    p
      | Eine Wildente haus-entet ruhig am Ufer, nimmt ein Fußbad, legt sich ins Wasser, zupft an ihrer Brust.
  article#wildenten-8
    h2.inline-title Wildenten 8.
    p
      | Wildenten auf der Flußfläche — ja. Aber in jenem Betonreservoir auf dem Weinberg? Wie kommen die hinein? Was machen sie, wenn das Reservoir austrocknet?
