extends ../../templates/layout
block page-vars
  - const title = "Wolfi-Bauer"
block main
  article#wolfi-bauer
    h2.inline-title Wolfi-Bauer.
    p
      | 
      a.arrow(href="gasthaeuser.html#gasthaeuser-1") Gasthäuser 1
      | .
