extends ../../templates/layout
block page-vars
  - const title = "Zero"
block main
  article#zero
    h2.inline-title Zero.
    p
      | Alles kann man nicht auf Null stellen. Niemehr kann man von Null ausgehen. Ich möchte von Null ausgehen. So wie ich meinen 1200 M in der 
      a.arrow(href="garage.html") Garage
      |  Zentrum-Nord abgestellt habe und als Schiffspassagier beginne. Aber man müßte als blinder Passagier beginnen. Oder, noch besser, als Flußpirat. Zillenfahrer, stromauf kämpfend. Behaarter Schwimmer, einem Affen davonschwimmend, aber einen schönen rot-blau-gesprenkelten Stein für die Höhlengattin im Schnappsack.
    p
      | Ich habe meinen Wagen weggestellt, weil Druden nur aus hundert Häusern besteht, in denen drei Tage fachgesimpelt wird, gefressen und gesoffen und von denen auf Nachbarhügel gestiegen wird, damit der Exporteurbauch in Grenzen bleibe. Ich habe keinen Exporteurbauch, sondern bin ein stattlicher Mann, 40 Jahre, 1.78 groß, gut gebräunt, volles schwarzbraunes Haar, genaues nachgetöntes Bärtchen, 
      a.arrow(href="maennlich.html") männlich
      |  eau-decologniert (aber wenig, damit ich die Frauenparfums besser spüre), Filterraucher (in der Jugend exzedierte ich mit Chesterfields), 
      a.arrow(href="katze.html") Katzen
      | -Liebhaber:
    ul 
      li Katzen leben unbeeinträchtigt vom Menschen; wahre Gleichberechtigung;
      li Katzen geben im Spiel mit Menschen Liebesreserven, die sie im Spiel der Geschlechter nicht antasten; das rührt mich: etwas unverdiente Gabe und etwas faul im Weltbau;
    p
      | was bin ich sonst noch? Ganz flott bei Kasse, redlich im Geschäft, gewinnend im Umgang, tüchtig in Sprachen, zögernd im Rechnen; träumend im Wachen und dabei abermals gewinnend; Junggeselle, fremder Pyjamas kundig, doch 
      em keine
      |  machte mir verständlich, was mir die Landschaft in noch verträumteren Jahren eigentlich versprochen hatte; weiter: lyrisch im Gefühl, auch für schönverpackte Chemikalienpröbchen, für Messeplakate, Stahlmöbel, froschgrüne Saugzuganlagen, aber ohne Vertrauen zu Schriftstellern, daß sie den lyrischen Rohstoff auch richtig verwerten; und rationelle Fertigung ist mir als Ökonomen Grundprinzip.
    p
      | Meine Sekretärin wird Chwala urgieren und Anni mit den fälligen Prolongationsakzepten zur Bank schicken. Vertreterbesuch Ölwein erst, wenn ich wieder im Büro bin, Christa überdenkt nicht vif genug die Lieferkonditionen. Eine Wohltat, daß kein Telephon an Bord ist; aber vielleicht versucht Schmidt mich per Schiffsfunk zu erreichen: »Soll ich die grünen oder blauen Reiter nehmen?«. SOS, spreizt die Antenne in die Luft, SOS, ich bin 40 Jahre, das war die schönere Hälfte eines langen Lebens; die häßlichere, mit immer höherer Tourenzahl, liegt vor mir; 40; mit 13 tat ich was das erste Mal, sind 27 Jahre; plus 40 sind 67, da tut sich was vielleicht zum letzten Mal. Also mitten drin in jeder Karriere.
    p
      | Aber es wäre irrig zu glauben, daß J. in der Abfahrtsekunde traurig war. Rings, im platschenden Wasser, den wackelnden Ufern, den langsam Teilkreise beschreibenden Uferhäusern, dem fahlblauen Wasserdunsthimmel, dem Öhr im Horizont hinten, wo die Donau in andere Länder floß, und der Unschärfe vorn, die wieder zu weiter Landschaft auskeilen würde, lagen die Möglichkeiten der Welt, ein unendlich kleiner, aber immer noch unendlicher Bruchteil der Welt, denn Unendlich durch Unendlich kann lt.
      em  Mathematik für die Mittelstufe
      |  immer noch unendlich sein.
    p
      | Ich bin frei. Ich bin zu vielem noch fähig:
    ul
      li 
        | Ein bestimmtes 
        a.arrow(href="leuchtendes-blau.html") leuchtendes Blau
        |  kann mir zustoßen und die Fahrt rechtfertigen. (Nicht als Kunstgenuß, sondern umwerfend, mir Kraft zu einem neuen Anfang gebend, endlich zu richtigem Leben. Wieso eigentlich? Man müßte Denker sein, um draufzukommen. Aber die Tatsache bleibt, die kann ich jedem zeigen. Kann ich das? Hat das irgendein anderer, und wenn, kann ich diese elektrische Entladung durch leuchtendes Blau in ihm gerade freisetzen, wenn ich will? Man müßte Dichter sein, um sich zu verständigen. Aber die Dichter verständigen sich ja auch nicht, sie tanzen vor ihrem Spiegel und küssen die eigenen Grimassen.)
      li 
        | Ein Ort kann auftauchen mit dem Haus und dem langgezogenen fliesenbelegten Vorgarten, dem Zimmer voll Kastanienmilch und schattig aufgehängten roten 
        a.arrow(href="kopftuch.html") Kopftüchern
        | , dem Brettspiel, auf das ich immer neugierig war, dem gelben schwarzgefleckten Teddyhund und der Zwölfjährigen, deren Gesicht ich mein Leben lang nicht zu erklären weiß — etwas Volles in einer meist blechdosenleeren Welt.
      li 
        | Ich könnte mir einen Inhalt auffinden, indem ich für einen kleinen Buben, der nicht lang leben wird und seltsam gründelnd ins Wasser schaut, mit Exporteurhemd und dunkler Hose über Bord hechte und einen riesigen blau frischen Karpfen ertauche; so kommt dem Buben Welt ins baufällige Haus — und ich habe einem Gleichgestimmten gedient, bin nicht allein.
      li 
        | Mir könnte jemand etwas erzählen: nicht das, was ich mir selbst auf meinen Plattenteller legen kann, sondern etwas, womit ich nicht fertig werde; was mir eine neue Perspektive gibt, eine neue Seite in einem Kunstbuch, die garantiert nicht ich gemalt habe. Oder, wer wagt die Vorstellung?, jemand könnte sich für mich inter- 
    p.triple-indent
      | Nein. Aber es ist genug, wenn ich
    ul
      li 
        | endlich erfahre, wie man auf Krk die echten Cevapcici macht (als ob ein zubereitetes Gemisch von Etwas mit Etwas nicht 
        em überall
        |  echt wäre; zwei Teile serbischen Schweins und ein Teil kroatischen Hammels nicht ebenso wie je anderthalb Teile österreichischen Schweins und österreichischen Mehls).
      li 
        | Oder wenn ich einen überzeugenden Ausspruch lese (zB 
        em Die Krähe kann nie bergauf fließen, sondern immer nur der Bach bergab;
        |  oder: 
        em Wer weiß? Vielleicht hat sich Bluff aufgehängt?)
        | 
      li 
        | oder, damit ichs fürn Bedarfsfall weiß: »So wurde Klein-Gerti erdrosselt«.
      li 
        | Oder ich sehe einen jener japanischen Teenager, für die ich bei Bellini schockweise die magischen Lanzettchen bestelle, die bunten Hautaufreißer zum 
        a.arrow(href="taetowieren.html") Tätowieren
        | ; seltsames Volk: wegen Sprechfehlers bei einem Stapellauf Harakiri, wegen Nichtgrüßens der Schwägerin 
        em Harakiri;
        |  wenn das Bettleben am ergiebigsten wird, gemeinsam in einen Wasserfall (ersäufen, erschlagen, ersticken); im Schlaf die Frisur nicht zerstören, den Ehemann anlächeln, selbst wenn er hinten ist; unsere optische und Spielzeugindustrie unterbieten; den Siegerkindern die Statussymbole vorprägen (Margie Doll®, sechs Wechselköpfe, 54 Kleider, funktionierender Straßenkreuzer, funktionierender Puppenplattenspieler, galoppieren des und trabendes Damenpony mit Zaum- und Pflegzeug, Puppen-Make-up und Puppenschuhpaste, elf Gefährtinnen für Puppenparties, jede wieder mit sechs Wechselköpfen usw, 
        em Made in Nippon);
        |  einen Gott haben, der gestürzt weiterlebt, nicht etwa auferstanden nach einem 
        em Harakiri;
        |  ... aber wir werden euch mit unseren Handelsattachés, Hit-Textern und Nonkonformisten schon konformkriegen. 
    p 
      | Das Schiff hat sich eingeschlingert und rauscht nun gradaus durchs nasse Wasser; ich muß mich an sein langsames Vorwärtskommen erst gewöhnen.
    p
      | Ich, Chemiekaufmann J., beende meine Gedanken zur Lage, nein ich bin wirklich nicht zynisch, ich tauche mit besten Vorsätzen und elementar wie einer dieser zahllosen kühlen sparfarbigen Schattenfische ringsum in die bessere Welt, die Welt der außerichlichen Erscheinungen. Ein Trost, daß ich außerhalb meiner auch zu dieser ungebrochenen Welt gezählt werde. Schon von der dicken Gemüsehändlerin neben mir, die sich soeben den heroischen Büstenhalter nachstrafft: er ist schwarz (er dampft schon frühmorgens) und hat rote Blüten und grüne Blätter. Von solch weichem Trampolin hinein ins Wasser, meine Optik, und hinüber ans 
      a.arrow.main-route(href="ufer.html") Ufer
      | .
