extends ../../templates/layout
block page-vars
  - const title = "Zukunft des Rotgebrauchs"
block main
  article#zukunft-des-rotgebrauchs
    h2.inline-title Zukunft des Rotgebrauchs.
    p
      | Eine Zeit, die nichtmehr patriarchalisch ist, vielmehr den Geschlechtern gleichen Wert einräumt, wird gewisse uneigentliche Geschlechtsmerkmale abbauen. Allgemeine Prosperität vorausgesetzt, wird nach einiger Zeit auch der männlichempfindende Mann durchwegs bunte Kleidung tragen und sich geeignet schminken. (Was schon dann weniger befremdlich scheinen wird, wenn die Chemie ihn vom Bartstoppelgraus befreit.) Die von Kinsey erhobene Regel, daß Frauen im Geschlechtsleben den Gesichtssinn unbetätigt lassen, ist, sofern derzeit korrekt, weder phylonoch ontogenetisch bindend. Man denke an Stämme bei denen der Mann in Schönheitspflege versinkt, während die Frau jagen geht, und an jenen Teil der Tierwelt, in dem das Männchen so schmuck wie das Weibchen oder das Weibchen unscheinbar ist. Die Kinseysche Regel könnte leicht dem männlichen Diktat unserer ausklingenden Epoche zuzuschreiben sein: Wähl nicht, sondern laß dich wählen, und verbirg deine Aktivität im gelöschten Nachtkästchen-Licht. Im Zug der erotisch-visuellen Emanzipation wird Rot auch eine Männerfarbe werden. (Man betrachte schon heute die roten, orange, rosa Arbeits- und Freizeitdressen der Männer.) Wird Rot an Frauen dadurch seinen Reiz verlieren? Wohl kaum, so wie Seide an einer Frau wirksam bleibt, obwohl es seidene Herrenhemden und Herrenfallschirme gibt. Die rote Kornelkirsche wird, wo sie »Dirndl« heißt, Dirndl bleiben (
      a.arrow(href="fehlen-von-rot.html") Fehlen von Rot
      | ), auch wenn ganz in der Nähe der rote männliche Fliegenpilz wächst. Die Sehnsucht nach Rot an rotlosen Orten wird dem Mann auch in jener Zeit Sehnsucht nach weiblichen Röten enthalten, und selbst für die Lust des 
      a.arrow(href="transvestiten.html") Transvestiten
      |  werden gewiß kleine Reservate bleiben.
