extends ../../templates/layout
block page-vars
  - const title = "Zunächst aber"
block main
  article#zunaechst-aber
    h2.inline-title Zunächst aber
    p
      | vermochte ihn wieder die Welt der 
      em ungebrochenen Dinge
      |  zu fesseln (
      a.arrow(href="auen.html") Au
      | , 
      a.arrow(href="pfahlhaeuser.html") Pfahlhaus
      | , 
      a.arrow(href="wasserereignisse.html") Wasserereignis
      | , in beliebiger Reihenfolge);
    p
      | um 8.30 querte dann endlich das schräggespannte etwas durchhängende Stahlseil einer Königskinder-Fähre das Schiff;
    p
      | sodann nahmen bis 8.50 neben dem Exerzitium, wieweit Fährenbenützung die Garantienkette eines versicherten Transportes durchbrechen könnte, folgende Eindrücke (in beliebiger Reihenfolge) seine Aufmerksamkeit in Anspruch: 
      a.arrow(href="auen.html") Au
      | , 
      a.arrow(href="bordereignisse.html") Bordereignis
      | , 
      a.arrow(href="huegel.html") Hügel
      | , 
      a.arrow(href="pfahlhaeuser.html") Pfahlhaus
      | , 
      a.arrow(href="wasserereignisse.html") Wasserereignis
      | .
    p
      | Etwa um 8.50 traten hinter den Pfahlhäuschen, die die Au dauernd idylldurchsetzten, die sehr saftigen Wald-/Wiesen-Hügel ganz nahe heran, es wetterleuchtete nach einem baldigen Städtchen (da und dort ein von Wildrosen umrötetes Haus, echt, massiv, dauerbewohnbar; Spuren von Gassen ins Land hinein, nichtbloßimmer die Uferbegleitschnur);
    p
      | und um 9.00 bog das Schiff ganz eng am Steinbruchufer in die große Überraschung 
      a.arrow.main-route(href="grottenolm.html") Grottenolm
      | .
