extends ../../templates/layout
block page-vars
  - const title = "Zz"
block main
  article#zz
    h2.inline-title Zz.
    p
      | Sie sind es gewohnt, zuerst nachzulesen, ob sie sich kriegen, Napoleon und Désirée, oder der Bulle und der Kunde. Sehr praktisch. Diesmal aber erfahren Sie auf diese Weise nur, daß Zz bei den alten Apothekern Myrrhe, bei den neueren Ingwer bedeutet. Wollen Sie besser informiert werden, schlagen Sie, bitte, zur 
      a.small-caps(href="gebrauchsanweisung.html") Gebrauchsanweisung
      |  zurück. Denn Sie selbst müssen dieses Buch erst zum Roman machen. Im neuen Theater spielt das Publikum mit. Warum nicht im neuen Roman?
